Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Reenable lost rebase onto feature from revision grid
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/GitUICommands.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

FileStatusList: Avoid blocking check for Visual Studio (#10887)
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusList.cs
  GitUI/VisualStudioIntegration.cs
Due: production

Fix lost "Open github from blame" feature
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

Adding changes
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPage.Designer.cs
  test.txt
Due: production

Update fabricbot.json
  .github/fabricbot.json
Due: none

Update UI elements on the UI thread
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Update UI elements on the UI thread (#10910)
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Intercept and convert \\wsl.localhost\ to \\wsl$\ paths
  GitCommands/Git/GitModule.cs
  GitCommands/PathUtil.cs
  GitExtensions/Program.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Upload trx whenever CI build fails
  appveyor.yml
Due: none

Intercept and convert \\wsl.localhost\ to \\wsl$\ paths (#10908)
  GitCommands/Git/GitModule.cs
  GitCommands/PathUtil.cs
  GitExtensions/Program.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Decode url-encoded repository folder's name
  GitCommands/PathUtil.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
  contributors.txt
Due: production, tests

Do not delay Dashboard start for invalid Git repos
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
Due: production

Git 2.40.1
  GitCommands/Git/GitVersion.cs
Due: production

Git 2.40.1 (#10922)
  GitCommands/Git/GitVersion.cs
Due: production

Do not delay Dashboard start for invalid Git repos (#10918)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
Due: production

Decode url-encoded repository folder's name (#10920)
  GitCommands/PathUtil.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
  contributors.txt
Due: production, tests

Remove DotnetRuntimeBootstrapper
  GitExtensions/GitExtensions.csproj
  Packages.props
Due: none

Remove SettingsCache entry when setting empty value
  GitCommands/Settings/SettingsCache.cs
  UnitTests/GitCommands.Tests/Settings/ConfigSectionTests.cs
Due: production, tests

Remove DotnetRuntimeBootstrapper (#10923)
  GitExtensions/GitExtensions.csproj
  Packages.props
Due: none

Portable information in EnvironmentInfo
  GitUI/UserEnvironmentInformation.cs
Due: production

Extract the working directory / recent repositories dropdown as a standalone component
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/Menus/ToolStripMenuItemEx.cs
  GitUI/CommandsDialogs/Menus/WorkingDirectoryToolStripSplitButton.cs
Due: production

Add "Close (go to Dashboard) to repos dropdown
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/Menus/WorkingDirectoryToolStripSplitButton.cs
Due: production

Allow to filter the recent repositories dropdown
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/Menus/WorkingDirectoryToolStripSplitButton.cs
  GitUI/Translation/English.xlf
Due: production

Portable information in EnvironmentInfo (#10925)
  GitUI/UserEnvironmentInformation.cs
Due: production

Remove SettingsCache entry when setting empty value (#10924)
  GitCommands/Settings/SettingsCache.cs
  UnitTests/GitCommands.Tests/Settings/ConfigSectionTests.cs
Due: production, tests

HACK: move the mouse if the DropDown is opened besides the split button
  GitUI/CommandsDialogs/Menus/WorkingDirectoryToolStripSplitButton.cs
Due: production

Current selection can be null, if the dialog is empty
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Current selection can be null, if the dialog is empty (#10928)
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Replace sync CommitMessageManager API with async
  GitCommands/CommitMessageManager.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormRevertCommit.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitCommands.Tests/CommitMessageManagerTests.cs
Due: production, tests

Update System.IO.Abstractions
  GitUI/Avatars/FileSystemAvatarCache.cs
  Packages.props
  UnitTests/GitUI.Tests/Avatars/AvatarPersistentCacheTests.cs
Due: production, tests

Update translations at 95% and change log
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.Plugins.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Polish.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).Plugins.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Traditional Chinese.Plugins.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.xlf
  Setup/Product.wxs
Due: production

Being able to do an action on multiple repositories at the same time
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
Due: production

Being able to see the repository selected in the lists
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.Designer.cs
Due: production

Double click on a list item move it in other list
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.resx
Due: production

Always display a separator between pinned and all recent repositories
  GitUI/RepositoryHistoryUIService.cs
Due: production

Show tooltips containing the full path of repositories
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
Due: production

Resize column size to prevent bad display
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
Due: production

Display 'Anchored' repositories in bold
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
Due: production
