Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

ROT: Replace PreviewKeyDown with Hotkeys (#9898)
  GitUI/BranchTreePanel/ContextMenu/MenuItemsGenerator.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Command.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

FormCommit: Replace OnKeyUp & ProcessCmdKey with Hotkeys (#9898)
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

RevisionGridControl: Replace KeyUp/Down with Hotkeys (#9898)
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

FormCommit: Reset commit options after push (#9917)
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Handle detached HEAD for orphan branches
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Package missing assemblies
  Setup/Product.wxs
Due: none

Init sidepanel only when loading
  GitUI/BranchTreePanel/RepoObjectsTree.BranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/GridLoadEventArgs.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/GitUIEventArgs.cs
Due: production

FormBrowse: RefreshRevisions() when updating (#9888)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Add files via upload
  AR_Add_to_Apple_Wallet_RGB_101421.svg
  Add to Apple Wallet Guidelines.webloc
  Apple - WebTrust (WTCA).pdf
  Apple-Developer-Program-License-Agreement-20211213-English.doc
  CAES_Add_to_Apple_Wallet_CMYK_101421.eps
Due: none

Fix test View_reflects_applied_branch_filter
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Replace ShortcutKeys Ctrl+F with Hotkeys
  GitUI/BranchTreePanel/RepoObjectsTree.Command.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

Increase contrast between graph colors
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphLaneColor.cs
Due: production

CommitInfo: Clear RevisionInfo if no real revision
  GitUI/CommitInfo/CommitInfo.cs
Due: production

fixup! Package missing assemblies
  Setup/Product.wxs
Due: none

Fix test View_reflects_applied_branch_filter (#9930)
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Package missing assemblies (#9923)
  Setup/Product.wxs
Due: none

Bump to .NET 6.0
  Directory.Build.props
  Externals/NetSpell.SpellChecker/SpellChecker.csproj
  GitCommands/PathUtil.cs
  GitExtensions.sln
  GitExtensions/Program.cs
  GitExtensions/app.manifest
  GitUI/Avatars/AvatarDownloader.cs
  GitUI/Avatars/CustomAvatarProvider.UriTemplateData.cs
  GitUI/Avatars/GravatarProvider.cs
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.cs
  GitUI/CommandsDialogs/BuildReportTabPageExtension.cs
  GitUI/Translation/English.xlf
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/GitHub3/GitHubPullRequest.cs
  Plugins/Gource/GourcePlugin.cs
  ResourceManager/Xliff/TranslationSerializer.cs
  appveyor.yml
  global.json
  scripts/RepoLayout.props
  scripts/native.proj
Due: production

fixup! Bump to .NET 6.0
  GitUI/Avatars/AvatarDownloader.cs
  GitUI/Avatars/CustomAvatarProvider.UriTemplateData.cs
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.cs
  Plugins/Gource/GourcePlugin.cs
Due: production

squash! Bump to .NET 6.0
  GitUI/VisualStudioIntegration.cs
  Packages.props
  appveyor.yml
Due: production

Installer: Remove stdole.dll
  Setup/Product.wxs
Due: none

Revert back to VS 2022
  appveyor.yml
Due: none

IT: Avoid C:\ as non-repo directory
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: tests

Debug test execution
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
  IntegrationTests/UI.IntegrationTests/UITest.cs
Due: tests

fixup! Bump to 6.0.3
  appveyor.yml
Due: none

Bump to 6.0.3
  global.json
Due: none

Remove invalid test
  IntegrationTests/UI.IntegrationTests/Properties/AssemblyInfo.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
  appveyor.yml
Due: tests

Correct ownership of Push taskdialog
  GitUI/CommandsDialogs/FormPush.cs
Due: production

fixup! Correct ownership of Push taskdialog
  GitUI/CommandsDialogs/FormPush.cs
Due: production

fixup! Remove invalid test
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: production, tests

fixup! merge commit parents
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

Correct ownership of Push taskdialog (#9924)
  GitUI/CommandsDialogs/FormPush.cs
Due: production

Increase contrast between graph colors (#9932)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphLaneColor.cs
Due: production

fixup! Debug test execution
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: tests

fixup! Replace ShortcutKeys Ctrl+F with Hotkeys
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production
