Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Keep persistent ssh settings in registry
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/Settings/AppSettings.cs
  GitCommands/SshPathLocator.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  GitUI/Infrastructure/Telemetry/AppEnvironmentTelemetryInitializer.cs
  UnitTests/GitCommands.Tests/SshPathLocatorTest.cs
Due: production, tests

Dispose GitExtSettingsCache in settings tests
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitCommands.Tests/Settings/SettingTests.cs
Due: tests

Delete temp files from settings tests
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitCommands.Tests/Settings/SettingTests.cs
Due: tests

Keep persistent ssh settings in registry (#9188)
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/Settings/AppSettings.cs
  GitCommands/SshPathLocator.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  GitUI/Infrastructure/Telemetry/AppEnvironmentTelemetryInitializer.cs
  UnitTests/GitCommands.Tests/SshPathLocatorTest.cs
Due: production, tests

OpenSSH presented as OtherSSH in settings (#9149)
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/SshPathLocator.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  UnitTests/GitCommands.Tests/SshPathLocatorTest.cs
Due: production, tests

Set GIT_SSH only if path exists
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/Settings/AppSettings.cs
  GitCommands/SshPathLocator.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  GitUI/Infrastructure/Telemetry/AppEnvironmentTelemetryInitializer.cs
Due: production

Use enum interface for GetRefs() filters
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/Commands/GitRefsEnum.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Remotes/ConfigFileRemoteSettingsManager.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGoToCommit.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormDeleteTag.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/FormReflog.cs
  GitUI/CommandsDialogs/FormRemotes.cs
  GitUI/CommandsDialogs/FormVerify.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.cs
  GitUI/FilterBranchHelper.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  GitUI/UserControls/BranchSelector.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  Plugins/GitUIPluginInterfaces/RefsFilter.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/Remote/ConfigFileRemoteSettingsManagerTests.cs
Due: production, tests

Handle more exceptions as failed external operation
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

Add ExternalOperationException.ExitCode
  GitCommands/Git/Executable.cs
  GitExtUtils/ExternalOperationException.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/NBugReports/BugReportInvoker.cs
  GitUI/NBugReports/UserExternalOperationException.cs
  GitUI/Script/ScriptRunner.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  UnitTests/GitUI.Tests/NBugReports/BugReportInvokerTests.cs
Due: production, tests

Avoid exit code 1 when checking for valid git exe
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
Due: production

Do not crash on exception if debugger is attached
  GitExtensions/Program.cs
Due: none

Check ExitedSuccessfully in GetStashDiffFiles
  GitCommands/Git/GitModule.cs
Due: production

CreatePullRequestForm: better handle error on one remote
  GitUI/CommandsDialogs/RepoHosting/CreatePullRequestForm.cs
Due: production

Display errors to the user
  GitUI/CommandsDialogs/RepoHosting/CreatePullRequestForm.cs
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

ViewPullRequestsForm: fix selection of first remote with a pull request
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.cs
Due: production

ViewPullRequestsForm: better handle error on one remote
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.cs
Due: production

CreatePullRequestForm: increase width of dropdown
  GitUI/CommandsDialogs/RepoHosting/CreatePullRequestForm.Designer.cs
Due: production

Use enum interface for GetRefs() filters (#9206)
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/Commands/GitRefsEnum.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Remotes/ConfigFileRemoteSettingsManager.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGoToCommit.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormDeleteTag.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/FormReflog.cs
  GitUI/CommandsDialogs/FormRemotes.cs
  GitUI/CommandsDialogs/FormVerify.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.cs
  GitUI/FilterBranchHelper.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  GitUI/UserControls/BranchSelector.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  Plugins/GitUIPluginInterfaces/RefsFilter.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/Remote/ConfigFileRemoteSettingsManagerTests.cs
Due: production, tests

Add BugReporter.exe.config
  Setup/Product.wxs
Due: none

Log errors
  GitCommands/Settings/AppSettings.cs
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

Enable publishing MSI for pull requests on a release branch
  appveyor.yml
Due: none

Fixup RevisionGridControlTests
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Improve RevisionGridControlTests stability
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Replace PathUtil.Combine and GetExtension with Path.
  GitCommands/FileAssociatedIconProvider.cs
  GitCommands/FullPathResolver.cs
  GitCommands/Git/GitItemStatusFileExtensionComparer.cs
  GitCommands/GitRevisionInfoProvider.cs
  GitCommands/PathUtil.cs
  GitCommands/Settings/FileSettingsCache.cs
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeController.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormChooseTranslation.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormFixHome.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPageController.cs
  GitUI/Editor/FileViewer.cs
  Plugins/Statistics/GitStatistics/LineCounter.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Replace PathUtil.Combine and GetExtension with Path. (#9217)
  GitCommands/FileAssociatedIconProvider.cs
  GitCommands/FullPathResolver.cs
  GitCommands/Git/GitItemStatusFileExtensionComparer.cs
  GitCommands/GitRevisionInfoProvider.cs
  GitCommands/PathUtil.cs
  GitCommands/Settings/FileSettingsCache.cs
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeController.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormChooseTranslation.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormFixHome.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPageController.cs
  GitUI/Editor/FileViewer.cs
  Plugins/Statistics/GitStatistics/LineCounter.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Update GitUI/NBugReports/BugReportInvoker.cs
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

Do not attempt to checkout not existing submodules
  GitUI/CommandsDialogs/FormMergeSubmodule.cs
Due: production

Suppress git warning for safecrlf
  GitExtUtils/GitCommandConfiguration.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Let git filter for merge commits
  GitCommands/Git/GitModule.cs
Due: production

Avoid git error in Left Panel
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
Due: production

Do not attempt to checkout not existing submodules (#9230)
  GitUI/CommandsDialogs/FormMergeSubmodule.cs
Due: production

Check TreeViewNode.TreeView for null
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
Due: production

Check TreeViewNode.TreeView for null (#9233)
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
Due: production

Use System.Windows.Forms.TaskDialog instead of Microsoft.WindowsAPICodePack.Dialogs.TaskDialog
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/InvalidRepositoryRemover.cs
  GitUI/CommandsDialogs/RepoHosting/CreatePullRequestForm.cs
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.cs
  GitUI/MessageBoxes.cs
  GitUI/NBugReports/BugReportInvoker.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
Due: production

Log errors (#9227)
  GitCommands/Settings/AppSettings.cs
  GitUI/NBugReports/BugReportInvoker.cs
Due: production
