Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

FormLocks modified to contain files list
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormLocks.cs
Due: production

Add Date options to rebase dialog
  GitCommands/Git/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormRebase.Designer.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/FormRebase.resx
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormRebaseTests.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
Due: production, tests

Add Date options to rebase dialog (#8289)
  GitCommands/Git/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormRebase.Designer.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/FormRebase.resx
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormRebaseTests.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
Due: production, tests

DiffTools: add 'tortoisediff' as a tool alias
  GitCommands/DiffMergeTools/TortoiseDiff.cs
  UnitTests/GitCommands.Tests/DiffMergeTools/RegisteredDiffMergeToolsTests.cs
Due: production, tests

SubmoduleTests: Setup repos once for all tests
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: tests

Avoid round brackets in testcase argument strings
  UnitTests/GitUI.Tests/Editor/FindAndReplaceFormTests.cs
Due: tests

Improve "Limit number of commits" option
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

RevDiff custom difftool
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUICommands.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
Due: production, tests

fixup! End parse on header for unavailable tools
  GitCommands/Git/GitCommandHelpers.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
Due: production, tests

Fix SubmoduleStatusProviderTests tests
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
Due: tests

RevDiff custom difftool (#8194)
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUICommands.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
Due: production, tests

Update packages
  GitCommands/StringPool.cs
  GitUI/GitUIExtensions.cs
  GitUI/Interops/UxTheme/SetWindowTheme.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/GitUIPluginInterfaces/CredentialsManager.cs
  Solution.Versions.props
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphMultiThreadingTests.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererTests.cs
Due: production, tests

form locks file list
  GitUI/CommandsDialogs/FormLocks.cs
  GitUI/GitUICommands.cs
Due: production

locked files listed
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormLfsLocks.Designer.cs
  GitUI/CommandsDialogs/FormLfsLocks.cs
  GitUI/CommandsDialogs/FormLfsLocks.resx
  GitUI/CommandsDialogs/FormLocks.cs
  GitUI/GitUI.csproj
Due: production

refresh added and ui tweaked
  GitUI/CommandsDialogs/FormLocks.Designer.cs
  GitUI/CommandsDialogs/FormLocks.cs
  GitUI/CommandsDialogs/FormLocks.resx
  GitUI/CommandsDialogs/FormPush.Designer.cs
Due: production

unlock works in locks list
  GitUI/CommandsDialogs/FormLocks.Designer.cs
  GitUI/CommandsDialogs/FormLocks.cs
Due: production

lock/unlock icon
  GitUI/CommandsDialogs/FormLocks.Designer.cs
  GitUI/CommandsDialogs/FormLocks.resx
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.resx
  GitUI/Resources/Icons/lock.png
  GitUI/Resources/Icons/locks.jpg
  GitUI/Resources/Icons/unlock.png
Due: production

show locks image
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.resx
Due: production

update version number to 33.88.33
  CommonAssemblyInfo.cs
Due: none

Revert "update version number to 33.88.33"
  CommonAssemblyInfo.cs
Due: none

add lock/unlock to shell
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
Due: production

Move NetSpell.SpellChecker to Externals/NetSpell.SpellChecker
  Externals/NetSpell.SpellChecker/Dictionary/Affix/AffixEntry.cs
  Externals/NetSpell.SpellChecker/Dictionary/Affix/AffixRule.cs
  Externals/NetSpell.SpellChecker/Dictionary/Affix/AffixUtility.cs
  Externals/NetSpell.SpellChecker/Dictionary/Phonetic/PhoneticRule.cs
  Externals/NetSpell.SpellChecker/Dictionary/Phonetic/PhoneticUtility.cs
  Externals/NetSpell.SpellChecker/Dictionary/Word.cs
  Externals/NetSpell.SpellChecker/Dictionary/WordDictionary.cs
  Externals/NetSpell.SpellChecker/Properties/AssemblyInfo.cs
  Externals/NetSpell.SpellChecker/ReplaceWordEventArgs.cs
  Externals/NetSpell.SpellChecker/SpellChecker.csproj
  Externals/NetSpell.SpellChecker/Spelling.cs
  Externals/NetSpell.SpellChecker/SpellingEventArgs.cs
  Externals/NetSpell.SpellChecker/TraceWriter.cs
  GitExtensions.sln
  GitUI/GitUI.csproj
  TranslationApp/TranslationApp.csproj
Due: production

Convert to .NET Core / .NET Standard
  Directory.Build.props
  GitCommands/Git/Executable.cs
  GitCommands/GitCommands.csproj
  GitExtUtils/GitExtUtils.csproj
  GitExtensions.sln
  GitExtensions/GitExtensions.csproj
  GitUI/CommandsDialogs/FormCleanupRepository.cs
  GitUI/GitUI.csproj
  GitUI/Infrastructure/Telemetry/DiagnosticsClient.cs
  GitUI/OsShellUtil.cs
  GitUI/Properties/Settings.Designer.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  IntegrationTests/UI.IntegrationTests/UI.IntegrationTests.csproj
  NetSpell.SpellChecker/SpellChecker.csproj
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityIntegration.csproj
  Plugins/GitHub3/GitHub3.csproj
  Plugins/GitUIPluginInterfaces/GitUIPluginInterfaces.csproj
  Plugins/Statistics/GitStatistics/PieChart/PieChartControl.resx
  ResourceManager/ResourceManager.csproj
  Solution.Versions.props
  TranslationApp/TranslationApp.csproj
  UnitTests/CommonTestUtils/CommonTestUtils.csproj
Due: production, tests

Disable theming (no remoting)
  GitExtensions.sln
  GitExtensions/Program.cs
  GitUI/Theming/Renderers/ThemeRenderer.cs
  GitUI/Theming/ThemeModule.cs
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

display user name in the locks list
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitItemStatus.cs
  GitUI/CommandsDialogs/FormLocks.cs
Due: production

update version to 35
  CommonAssemblyInfo.cs
Due: none

TODO: namespace/name clash
  Plugins/Statistics/GitStatistics/LineCounter.cs
Due: production

Remove TFS plugins due to incompatibility
  GitExtensions.sln
  Plugins/BuildServerIntegration/TfsIntegration/ITfsHelper.cs
  Plugins/BuildServerIntegration/TfsIntegration/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/TfsIntegration/Settings/TfsSettingsUserControl.Designer.cs
  Plugins/BuildServerIntegration/TfsIntegration/Settings/TfsSettingsUserControl.cs
  Plugins/BuildServerIntegration/TfsIntegration/Settings/TfsSettingsUserControl.resx
  Plugins/BuildServerIntegration/TfsIntegration/TfsAdapter.cs
  Plugins/BuildServerIntegration/TfsIntegration/TfsIntegration.csproj
  Plugins/BuildServerIntegration/TfsIntegration/app.config
  Plugins/BuildServerIntegration/TfsInterop.Common/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/TfsInterop.Common/TfsHelper.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2012/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2012/TfsInterop.Vs2012.csproj
  Plugins/BuildServerIntegration/TfsInterop.Vs2012/app.config
  Plugins/BuildServerIntegration/TfsInterop.Vs2013/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2013/TfsInterop.Vs2013.csproj
  Plugins/BuildServerIntegration/TfsInterop.Vs2013/app.config
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/TfsHelper2015.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/TfsInterop.Vs2015.csproj
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/app.config
Due: production

Load plugins
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Fix tests
  GitCommands/EnvironmentPathsProvider.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormInitTests.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/EnvironmentPathsProviderTests.cs
  UnitTests/GitCommands.Tests/Git/GitBranchNameOptionsTest.cs
  UnitTests/GitCommands.Tests/Remote/ConfigFileRemoteSettingsManagerTests.cs
  UnitTests/GitCommands.Tests/Settings/FileSettingsCacheTests.cs
  UnitTests/GitExtUtils.Tests/TableLayoutPanelExtensionsTests.cs
  UnitTests/GitUI.Tests/ControlThreadingExtensionsTests.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
  UnitTests/GitUI.Tests/ThreadHelperTests.cs
Due: production, tests

Fix commit info message display
  GitUI/CommitInfo/CommitInfo.cs
Due: production

fix test: SaveImpl_should_throw_if_invalid_path
  GitCommands/Settings/FileSettingsCache.cs
  GitCommands/Settings/SaveSettingsException.cs
  GitUI/CommandsDialogs/FormSettings.cs
  UnitTests/GitCommands.Tests/Settings/FileSettingsCacheTests.cs
Due: production, tests

Improve FormSettings missing git message
  GitUI/CommandsDialogs/FormSettings.cs
Due: production

Darksilver theme update. (#8333)
  GitUI/Themes/darksilver.css
  Setup/Product.wxs
Due: production

Added darksilver theme v2.
  GitUI/GitUI.csproj
  GitUI/Themes/darksilver.css
  Setup/Product.wxs
Due: production

Release 3.4.3
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
  Setup/Prepare-Release.ps1
  appveyor.yml
Due: production

Update README.md
  README.md
Due: none

lfs basic operations(lock/unlock/show locks)
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/AppSettings.cs
  GitExtUtils/GitArgumentBuilder.cs
  GitExtensionsShellEx/GitExtensionsShellEx.cpp
  GitExtensionsShellEx/GitExtensionsShellEx.h
  GitExtensionsShellEx/GitExtensionsShellEx.rc
  GitExtensionsShellEx/GitExtensionsShellEx.vcxproj
  GitExtensionsShellEx/GitExtensionsShellEx.vcxproj.filters
  GitExtensionsShellEx/Resources/lock.ico
  GitExtensionsShellEx/Resources/locks.ico
  GitExtensionsShellEx/Resources/unlock.ico
  GitExtensionsShellEx/resource.h
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowse.resx
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/FormLocks.Designer.cs
  GitUI/CommandsDialogs/FormLocks.cs
  GitUI/CommandsDialogs/FormLocks.resx
  GitUI/CommandsDialogs/FormPush.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/FilterRevisionsHelper.cs
  GitUI/GitUI.csproj
  GitUI/GitUICommands.cs
  GitUI/Resources/Icons/icon_levels_Locked_hi_16px.png
  GitUI/Resources/Icons/lock.png
  GitUI/Resources/Icons/locks.jpg
  GitUI/Resources/Icons/unlock.png
  GitUI/Translation/English.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Release 3.4.3
  GitExtensions.releases
Due: none

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
