Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Log
  GitCommands/Git/ExecutableExtensions.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: production, tests

speed up tests
  appveyor.yml
Due: none

Wait for the grid to load
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
Due: tests

More logging
  GitCommands/Git/ExecutableExtensions.cs
Due: production

Remove unit tests
  GitExtensions.sln
Due: none

More
  GitCommands/Git/ExecutableExtensions.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
Due: production, tests

.
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
Due: tests

Fix
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
Due: tests

Revert
  GitCommands/Git/ExecutableExtensions.cs
  GitExtensions.sln
  GitUI/CommandsDialogs/FormBrowse.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  appveyor.yml
Due: production, tests

Stabilise left panel tests (#9607)
  GitCommands/Git/ExecutableExtensions.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
Due: production, tests

Allow hiding stash references on revision grid (#9555)
  GitCommands/RevisionReader.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  contributors.txt
Due: production, tests

Select HOME where .gitconfig is accessible first (#9583)
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormFixHome.cs
Due: production

Simplify the ISettingsSource class (#9539)
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/RepoDistSettings.cs
  GitCommands/Settings/Setting.cs
  GitCommands/Settings/SettingsCache.cs
  GitCommands/Settings/SettingsContainer.cs
  GitCommands/Settings/SettingsPath.cs
  GitUI/Plugin/GitPluginSettingsContainer.cs
  Plugins/GitUIPluginInterfaces/ISettingsSource.cs
  Plugins/GitUIPluginInterfaces/Settings/NumberSetting.cs
  Plugins/Gource/GourcePlugin.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Don't apply empty filters on start up
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Move the init logic from OnLoad to InternalInitialize
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Invoke UICommandsChanged event when loading the form
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitModuleForm.cs
Due: production

Fix branch copy menu and Open with difftool menu switching back to System style
  GitExtUtils/GitUI/ToolStripExtensions.cs
Due: production

Try to make sense of FormBrowse .ctor - break functionality out into dedicated methods
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.InitCommitDetails.cs
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.UpdateTargets.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Bundle input args for FormBrowse
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormBrowse.BrowseArguments.cs
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/GitUICommands.cs
Due: production

Use the same code path for switching repositories
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Ensure all grid views could be sorted
  GitUI/CommandsDialogs/FormReflog.cs
  GitUI/CommandsDialogs/FormRemotes.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/FormViewPatch.cs
  GitUI/UserControls/PatchGrid.cs
Due: production

Add CLA signoff
  contributors.txt
Due: none

Submodules: ignore bad submodules instead of crashing
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
Due: production

wip
  GitExtUtils/GitUI/Theming/ThemeFix.cs
  GitExtUtils/GitUI/ToolStripExProfessionalRenderer.cs
  GitExtUtils/GitUI/ToolStripExSystemRenderer.cs
  GitExtUtils/GitUI/ToolStripExThemeAwareRenderer.cs
  GitExtUtils/GitUI/ToolStripExtensions.cs
  GitUI/UserControls/RevisionGrid/MenuUtil.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

NBug: Include GE specific exception info
  BugReporter/BugReportForm.cs
  BugReporter/ErrorReportMarkDownBodyBuilder.cs
  BugReporter/GitHubUrlBuilder.cs
  BugReporter/Program.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/NBugReports/BugReportInvoker.cs
  IntegrationTests/BugReporter.IntegrationTests/BugReportFormTests.cs
  UnitTests/GitUI.Tests/NBugReports/BugReportInvokerTests.cs
Due: production, tests

Add some keyboard hotkeys to some menu items
  GitUI/BranchTreePanel/ContextMenu/MenuItemsStrings.cs
  GitUI/Translation/English.xlf
  contributors.txt
Due: production

Add keyboard hotkeys in “reset branch” dialog
  GitUI/HelperDialogs/FormResetCurrentBranch.Designer.cs
  GitUI/Translation/English.xlf
Due: production

Improve RevisionDataGridView responsiveness
  GitUI/Interops/Messages.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.BackgroundUpdater.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  UnitTests/GitCommands.Tests/Config/ConfigFileTest.cs
Due: production, tests

NBug: Include GE specific exception info (#9564)
  BugReporter/BugReportForm.cs
  BugReporter/ErrorReportMarkDownBodyBuilder.cs
  BugReporter/GitHubUrlBuilder.cs
  BugReporter/Program.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/NBugReports/BugReportInvoker.cs
  IntegrationTests/BugReporter.IntegrationTests/BugReportFormTests.cs
  UnitTests/GitUI.Tests/NBugReports/BugReportInvokerTests.cs
Due: production, tests

Add keyboard hotkeys to one menu and one dialog (#9603)
  GitUI/BranchTreePanel/ContextMenu/MenuItemsStrings.cs
  GitUI/HelperDialogs/FormResetCurrentBranch.Designer.cs
  GitUI/Translation/English.xlf
  contributors.txt
Due: production

Rebase and Apply Patch dialogs: add mnemonics, fix tab order
  GitUI/CommandsDialogs/FormApplyPatch.Designer.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormRebase.Designer.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/Translation/English.xlf
Due: production

Pull dialog: Add mnemonics, fix tab order
  GitUI/CommandsDialogs/FormPull.Designer.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/Translation/English.xlf
Due: production

Don't update filters or issue CD command to the terminal
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

IDE0090: Statement can be simplified
  GitCommands/Git/SubmoduleHelpers.cs
  GitExtUtils/ArgumentBuilder.cs
  GitExtUtils/GitArgumentBuilder.cs
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormEditor.cs
  GitUI/CommandsDialogs/FormFormatPatch.cs
  GitUI/CommandsDialogs/FormSubmodules.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitSettingsPage.cs
  GitUI/GitUICommands.cs
  GitUI/OsShellUtil.cs
  GitUI/Script/ScriptOptionsParser.cs
  GitUI/Theming/Renderers/ButtonRenderer.cs
  GitUI/Theming/Renderers/ListViewRenderer.cs
  GitUI/Theming/Renderers/TreeViewRenderer.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  Plugins/Gource/GourcePlugin.cs
  Plugins/ReleaseNotesGenerator/HtmlFragment.cs
  UnitTests/CommonTestUtils/MEF/ExportProviderCache.SimpleAssemblyLoader.cs
  UnitTests/CommonTestUtils/MEF/TestComposition.cs
  UnitTests/GitUI.Tests/SplitterManagerTest.cs
Due: production, tests

Remove "process: null" for most FormProcess (#9619)
  GitUI/CommandsDialogs/BrowseDialog/FormBisect.cs
  GitUI/CommandsDialogs/FormAddFiles.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormArchive.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutRevision.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
  GitUI/CommandsDialogs/FormCleanupRepository.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormCreateBranch.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormDeleteTag.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/FormRevertCommit.cs
  GitUI/CommandsDialogs/FormSparseWorkingCopyViewModel.cs
  GitUI/CommandsDialogs/FormSubmodules.cs
  GitUI/CommandsDialogs/FormVerify.cs
  GitUI/CommandsDialogs/RepoHosting/ForkAndCloneForm.cs
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/SubmodulesDialog/FormAddSubmodule.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.cs
  GitUI/GitUICommands.cs
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/HelperDialogs/FormRemoteProcess.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  GitUI/HelperDialogs/FormResetCurrentBranch.cs
  GitUI/Script/ScriptRunner.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
Due: production
