Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Correct Sort context menu placement
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.ReorderNodes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: production, tests

Hide filtered out refs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/ICheckRefs.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
Due: production, tests

FileViewer: ViewMode to track what is currently displayed
  GitUI/CommandsDialogs/FormVerify.cs
  GitUI/CommandsDialogs/FormViewPatch.cs
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.cs
  GitUI/Editor/FileViewer.cs
Due: production

Longer GPG key input box (8 -> 16)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCreateTag.Designer.cs
Due: production

Don't refresh revision grid invoking toolstrip actions
  GitUI/FilterBranchHelper.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Fixed "Show in folder" for paths with spaces
  GitUI/OsShellUtil.cs
Due: production

Update with an extension method per suggestion
  GitUI/OsShellUtil.cs
Due: production

Fixes #8327 push commit does clear commit message when confirm box appears
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Update contributors.txt
  contributors.txt
Due: none

Push multiple: Set default push to false
  GitUI/CommandsDialogs/FormPush.Designer.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/Translation/English.xlf
Due: production

Revert "Fixes #8327 push commit does clear commit message when confirm box appears"
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Fixes #8327 push commit does clear commit message when confirm box appears
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

CLA
  contributors.txt
Due: none

Added myself as a contributor.
  contributors.txt
Due: none

Change The user facing text explanations on the action where git.exe is not found on computer. Issue #7726
  GitUI/Translation/English.xlf
  ResourceManager/Strings.cs
Due: production

Replace translation sources to rewritten English text
  GitUI/Translation/Czech.xlf
  GitUI/Translation/Dutch.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Italian.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Latvian.xlf
  GitUI/Translation/Polish.xlf
  GitUI/Translation/Portuguese (Brazil).xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/en_pseudo.xlf
Due: production

Update english translations on request to AppVeyor build validation failure
  GitUI/Translation/English.xlf
Due: production

FormPush: Add context menu to easily manage multiple push selection
  GitUI/CommandsDialogs/FormPush.Designer.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormPush.resx
  GitUI/Translation/English.xlf
Due: production

Apply action to all selected files in solve merge conflict
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/ResolveConflictsDialog/FormModifiedDeletedCreated.Designer.cs
  GitUI/CommandsDialogs/ResolveConflictsDialog/FormModifiedDeletedCreated.cs
  GitUI/CommandsDialogs/ResolveConflictsDialog/FormModifiedDeletedCreated.resx
  GitUI/Translation/English.xlf
  contributors.txt
Due: production

Disabled "Reset" mnemonic key in Reset form
  GitUI/CommandsDialogs/FormResetChanges.Designer.cs
  GitUI/Translation/English.xlf
Due: production

Use SelectedNode property to track target for context menu
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

RevisionGrid: Prevent inopportune crash
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Fix invisible row selection in the file status list control when Windows Classic theme is used.
  GitUI/UserControls/FileStatusList.cs
  contributors.txt
Due: production

color for highlighted gray text
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitUI/UserControls/FileStatusList.cs
  UnitTests/GitExtUtils.Tests/ColorTransformationTests.cs
Due: production, tests

update RemoveFiles to use GetBatchOutput and add unit tests.
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Agree to The Developer Certificate of Origin.
  contributors.txt
Due: none

Fixes #8263 by catching file IO exception and showing message box
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/FormVerify.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/MessageBoxes.cs
Due: production

Agree to The Developer Certificate of Origin. (#8536)
  contributors.txt
Due: none

Submodules window now keeps the splitter position
  GitUI/CommandsDialogs/FormSubmodules.cs
  contributors.txt
Due: production

Add ability to Copy to Clipboard, similar to commit context menu from left panel
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/CopyContextMenuItem.cs
Due: production

RevDiff: Remove irrelevant context menu items for CombinedDiff
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

Ensure focus on cancel button by changing tabIndex
  GitUI/CommandsDialogs/FormResetChanges.Designer.cs
Due: production

FileStatusList: Refactor FileStatusDiffCalculator to own file
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/FileStatusWithDescription.cs
Due: production

Show range-diff for commits in separate branches
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUIExtensions.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusItem.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/FileStatusWithDescription.cs
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_ignored_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_modified_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_staged_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_untracked_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_with_spaces.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_spaces_are_not_trimmed_in_file_names.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree1.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree2.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Ignore_unmerged_in_conflict_if_revision_is_work_tree.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Include_unmerged_in_conflict_if_revision_is_index.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Rename_with_spaces.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree1.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree2.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree3.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree4.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.fatal_error.approved.json
Due: production, tests

VisualStudio designer stuffs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.Designer.cs
Due: production

Being able to open Application and User theme folders
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.resx
  GitUI/Translation/English.xlf
Due: production

Use a table layout
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
Due: production

BackgroundFetch: add a warning message
  Plugins/BackgroundFetch/BackgroundFetchPlugin.cs
Due: production

Detect when Azure DevOps token is invalid/expired
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/ApiClient.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
Due: production

Being able to open Build Server Integration Settings Page
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/GitUI.csproj
  GitUI/GitUICommands.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsAdapter.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/BuildServerIntegration/TfsIntegration/TfsAdapter.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/IBuildServerAdapter.cs
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
  Solution.Versions.props
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/AppVeyorAdapterTests.cs
Due: production, tests
