Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Update instructions for portable in README.md
  README.md
Due: none

Fix for #8030 URL in "Edit Remote Details"is case insensitive (#8038)
  GitCommands/Remotes/ConfigFileRemoteSettingsManager.cs
  GitUI/CommandsDialogs/FormRemotes.Designer.cs
  GitUI/UserControls/CaseSensitiveComboBox.cs
Due: production

Lighten up the control panel
  GitUI/GitExtensionsDialog.cs
Due: production

Dialogs layout alignment - `FormCheckoutBranch`
  GitUI/CommandsDialogs/FormCheckoutBranch.Designer.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormClone.Designer.cs
  GitUI/CommandsDialogs/FormInit.Designer.cs
  GitUI/HelperDialogs/FormStatus.Designer.cs
Due: production

Added support for showing multi-line commit messages in the revision graph.
  GitCommands/RevisionReader.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/Translation/English.xlf
Due: production

Update code style
  .editorconfig
Due: none

Speed up settings dialog load
  GitUI/CommandsDialogs/FormSettings.Designer.cs
  GitUI/CommandsDialogs/FormSettings.cs
Due: production

Code maintenance, no functional changes.
  GitUI/CommandsDialogs/FormSettings.cs
Due: production

Removing settings, using body in MessageColumnProvider if needed, calling RevisionGrid.Refresh() if a body change is detected.
  GitCommands/RevisionReader.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
Due: production

Added menu option to toggle multi-line display
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Signed cla
  contributors.txt
Due: none

Fixes #8348. Allow to create patch for the root commit.
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Fix up splitter positions
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Removed menu setting, multiline is now enabled by default.
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Added support for showing multi-line commit messages in the revision graph (#8371)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  contributors.txt
Due: production

fix test: SaveImpl_should_throw_if_invalid_path
  GitCommands/Settings/FileSettingsCache.cs
  GitCommands/Settings/SaveSettingsException.cs
  GitUI/CommandsDialogs/FormSettings.cs
  UnitTests/GitCommands.Tests/Settings/FileSettingsCacheTests.cs
Due: production, tests

Remove FormSettings.Save check for git
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/Translation/English.xlf
Due: production

theme variations for colorblindness
  GitUI/Themes/bright-colobrlind.css
  GitUI/Themes/dark-colorblind.css
  GitUI/Themes/darksilver-colorblind.css
Due: production

theme variations for colorblindness (#8408)
  GitUI/Themes/bright-colobrlind.css
  GitUI/Themes/dark-colorblind.css
  GitUI/Themes/darksilver-colorblind.css
Due: production

Ensure consistent margins
  GitUI/CommandsDialogs/FormClone.Designer.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormInit.Designer.cs
  GitUI/GitExtensionsDialog.Designer.cs
  GitUI/HelperDialogs/FormStatus.Designer.cs
  GitUI/HelperDialogs/FormStatus.cs
  GitUI/Interops/User32/DestroyIcon.cs
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
Due: production

Fix for issue:#8327 Push commit does clear commit message when confirm box appears
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Sign CLA
  contributors.txt
Due: none

Increase readability of DoActionOnRepo method
  GitUI/GitUICommands.cs
Due: production

Reorder input args and simplify callsites
  GitUI/GitUICommands.cs
Due: production

Don't refresh revision grid if FormInit is cancelled
  GitUI/GitUICommands.cs
Due: production

Fix NRE while opening FormCommit
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Update ChangeLog.md for v3.4.3
  GitUI/Resources/ChangeLog.md
Due: production

Fix links toward PRs in ChangeLog.md
  GitUI/Resources/ChangeLog.md
Due: production

Fix PR numbers of v3.4.1
  GitUI/Resources/ChangeLog.md
Due: production

Add checkbox to prune tags
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormPull.Designer.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/Translation/English.xlf
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormPullTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Fix CommitTemplateManager can reference incorrect git module
  GitCommands/CommitTemplateManager.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/GitUICommands.cs
  UnitTests/GitCommands.Tests/CommitTemplateManagerTests.cs
Due: production, tests

Move stray command defs from GitModule to GitCommandHelpers
  GitCommands/Git/CleanMode.cs
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/IgnoreSubmodulesMode.cs
  GitCommands/Git/ResetMode.cs
  GitCommands/Git/UntrackedFilesMode.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Break out SSH related into GitSshHelpers
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormRemotes.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  GitUI/HelperDialogs/FormRemoteProcess.cs
  GitUI/Infrastructure/Telemetry/AppEnvironmentTelemetryInitializer.cs
  GitUI/UserControls/EditboxBasedConsoleOutputControl.cs
Due: production

Move git commands implementations under Git/Commands
  GitCommands/Git/Commands/GitCheckoutBranchCmd.cs
  GitCommands/Git/Commands/GitCommand.cs
  GitCommands/Git/Commands/GitCreateTagArgs.cs
  GitCommands/Git/Commands/GitCreateTagCmd.cs
  GitCommands/Git/Commands/GitDeleteBranchCmd.cs
  GitCommands/Git/Commands/GitDeleteRemoteBranchesCmd.cs
  GitCommands/Git/Extensions/TagOperationExtensions.cs
  GitCommands/Git/Tag/GitTagController.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormVerify.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCheckoutBranchCmdTest.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCreateTagCmdTests.cs
  UnitTests/GitCommands.Tests/Git/Tag/GitTagControllerTest.cs
Due: production, tests

Break out parsing of GitCommandHelpers.GetAllChangedFilesCmd output into GetAllChangedFilesOutputParser
  GitCommands/Git/GetAllChangedFilesOutputParser.cs
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/BrowseDialog/GitWorkingDirectoryStatusEventArgs.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_ignored_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_modified_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_staged_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_untracked_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_with_spaces.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: production, tests

Break out submodules related into SubmoduleHelpers
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SubmoduleHelpers.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  ResourceManager/LocalizationHelpers.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/Git/SubmoduleHelpersTest.cs
Due: production, tests

Break out GitItemStatusConverter.FromStatusCharacter
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitItemStatusConverter.cs
Due: production

Break out GitModule related methods
  GitCommands/Git/GetAllChangedFilesOutputParser.cs
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_spaces_are_not_trimmed_in_file_names.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree1.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree2.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Ignore_unmerged_in_conflict_if_revision_is_work_tree.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Include_unmerged_in_conflict_if_revision_is_index.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Rename_with_spaces.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree1.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree2.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree3.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree4.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Break out FormFileHistory related methods
  GitCommands/Git/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
Due: production

Break out process related extensions into ProcessExtensions
  GitCommands/Git/Extensions/ProcessExtensions.cs
  GitCommands/Git/GitCommandHelpers.cs
  GitUI/UserControls/EditboxBasedConsoleOutputControl.cs
Due: production
