Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Remove reference to ResourceManager from ProxySwitcher plugin project
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/ProxySwitcher/Plugin.cs
  Plugins/ProxySwitcher/Properties/Images.Designer.cs
  Plugins/ProxySwitcher/Properties/Images.resx
  Plugins/ProxySwitcher/Properties/Strings.Designer.cs
  Plugins/ProxySwitcher/Properties/Strings.cs.resx
  Plugins/ProxySwitcher/Properties/Strings.de.resx
  Plugins/ProxySwitcher/Properties/Strings.es.resx
  Plugins/ProxySwitcher/Properties/Strings.fr.resx
  Plugins/ProxySwitcher/Properties/Strings.ja.resx
  Plugins/ProxySwitcher/Properties/Strings.nl.resx
  Plugins/ProxySwitcher/Properties/Strings.pl.resx
  Plugins/ProxySwitcher/Properties/Strings.pt-BR.resx
  Plugins/ProxySwitcher/Properties/Strings.resx
  Plugins/ProxySwitcher/Properties/Strings.ru.resx
  Plugins/ProxySwitcher/Properties/Strings.zh-CN.resx
  Plugins/ProxySwitcher/ProxySwitcher.csproj
  Plugins/ProxySwitcher/ProxySwitcherForm.cs
  Plugins/ProxySwitcher/ProxySwitcherPlugin.cs
Due: production

Remove reference to ResourceManager from CreateLocalBranches plugin project
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/CreateLocalBranches/CreateLocalBranches.csproj
  Plugins/CreateLocalBranches/CreateLocalBranchesForm.cs
  Plugins/CreateLocalBranches/CreateLocalBranchesPlugin.cs
  Plugins/CreateLocalBranches/Plugin.cs
  Plugins/CreateLocalBranches/Properties/Images.Designer.cs
  Plugins/CreateLocalBranches/Properties/Images.resx
  Plugins/CreateLocalBranches/Properties/Strings.Designer.cs
  Plugins/CreateLocalBranches/Properties/Strings.cs.resx
  Plugins/CreateLocalBranches/Properties/Strings.de.resx
  Plugins/CreateLocalBranches/Properties/Strings.es.resx
  Plugins/CreateLocalBranches/Properties/Strings.fr.resx
  Plugins/CreateLocalBranches/Properties/Strings.ja.resx
  Plugins/CreateLocalBranches/Properties/Strings.nl.resx
  Plugins/CreateLocalBranches/Properties/Strings.pl.resx
  Plugins/CreateLocalBranches/Properties/Strings.pt-BR.resx
  Plugins/CreateLocalBranches/Properties/Strings.resx
  Plugins/CreateLocalBranches/Properties/Strings.ru.resx
  Plugins/CreateLocalBranches/Properties/Strings.zh-CN.resx
Due: production

Remove reference to ResourceManager from ReleaseNotesGenerator plugin project
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/ReleaseNotesGenerator/Properties/Strings.Designer.cs
  Plugins/ReleaseNotesGenerator/Properties/Strings.cs.resx
  Plugins/ReleaseNotesGenerator/Properties/Strings.de.resx
  Plugins/ReleaseNotesGenerator/Properties/Strings.es.resx
  Plugins/ReleaseNotesGenerator/Properties/Strings.fr.resx
  Plugins/ReleaseNotesGenerator/Properties/Strings.ja.resx
  Plugins/ReleaseNotesGenerator/Properties/Strings.nl.resx
  Plugins/ReleaseNotesGenerator/Properties/Strings.pl.resx
  Plugins/ReleaseNotesGenerator/Properties/Strings.pt-BR.resx
  Plugins/ReleaseNotesGenerator/Properties/Strings.resx
  Plugins/ReleaseNotesGenerator/Properties/Strings.ru.resx
  Plugins/ReleaseNotesGenerator/Properties/Strings.zh-CN.resx
  Plugins/ReleaseNotesGenerator/ReleaseNotesGenerator.csproj
  Plugins/ReleaseNotesGenerator/ReleaseNotesGeneratorForm.cs
Due: production

Remove reference to ResourceManager from BackgroundFetch plugin project
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/BackgroundFetch/BackgroundFetch.csproj
  Plugins/BackgroundFetch/Plugin.cs
  Plugins/BackgroundFetch/Properties/Images.Designer.cs
  Plugins/BackgroundFetch/Properties/Images.resx
  Plugins/BackgroundFetch/Properties/Strings.Designer.cs
  Plugins/BackgroundFetch/Properties/Strings.cs.resx
  Plugins/BackgroundFetch/Properties/Strings.de.resx
  Plugins/BackgroundFetch/Properties/Strings.es.resx
  Plugins/BackgroundFetch/Properties/Strings.fr.resx
  Plugins/BackgroundFetch/Properties/Strings.ja.resx
  Plugins/BackgroundFetch/Properties/Strings.nl.resx
  Plugins/BackgroundFetch/Properties/Strings.pl.resx
  Plugins/BackgroundFetch/Properties/Strings.pt-BR.resx
  Plugins/BackgroundFetch/Properties/Strings.resx
  Plugins/BackgroundFetch/Properties/Strings.ru.resx
  Plugins/BackgroundFetch/Properties/Strings.zh-CN.resx
Due: production

Remove reference to ResourceManager from AutoCompileSubmodules plugin project
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/AutoCompileSubmodules/AutoCompileSubmodules.csproj
  Plugins/AutoCompileSubmodules/Plugin.cs
  Plugins/AutoCompileSubmodules/Properties/Images.Designer.cs
  Plugins/AutoCompileSubmodules/Properties/Images.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.Designer.cs
  Plugins/AutoCompileSubmodules/Properties/Strings.cs.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.de.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.es.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.fr.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.ja.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.nl.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.pl.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.pt-BR.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.ru.resx
  Plugins/AutoCompileSubmodules/Properties/Strings.zh-CN.resx
Due: production

Remove reference to ResourceManager from GitStatistics plugin project
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/Statistics/GitStatistics/FormGitStatistics.cs
  Plugins/Statistics/GitStatistics/GitStatistics.csproj
  Plugins/Statistics/GitStatistics/LineCounter.cs
  Plugins/Statistics/GitStatistics/Plugin.cs
  Plugins/Statistics/GitStatistics/Properties/Images.Designer.cs
  Plugins/Statistics/GitStatistics/Properties/Images.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.Designer.cs
  Plugins/Statistics/GitStatistics/Properties/Strings.cs.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.de.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.es.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.fr.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.ja.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.nl.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.pl.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.pt-BR.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.ru.resx
  Plugins/Statistics/GitStatistics/Properties/Strings.zh-CN.resx
Due: production

Remove reference to ResourceManager from GitImpact plugin project
  GitCommands/Git/GitModule.cs
  GitExtensions.Core/Module/IGitModule.cs
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/Statistics/GitImpact/ExecutableExtensions.cs
  Plugins/Statistics/GitImpact/FormImpact.cs
  Plugins/Statistics/GitImpact/GitImpact.csproj
  Plugins/Statistics/GitImpact/ImpactControl.cs
  Plugins/Statistics/GitImpact/ImpactLoader.cs
  Plugins/Statistics/GitImpact/Plugin.cs
  Plugins/Statistics/GitImpact/Properties/Images.Designer.cs
  Plugins/Statistics/GitImpact/Properties/Images.resx
  Plugins/Statistics/GitImpact/Properties/Strings.Designer.cs
  Plugins/Statistics/GitImpact/Properties/Strings.cs.resx
  Plugins/Statistics/GitImpact/Properties/Strings.de.resx
  Plugins/Statistics/GitImpact/Properties/Strings.es.resx
  Plugins/Statistics/GitImpact/Properties/Strings.fr.resx
  Plugins/Statistics/GitImpact/Properties/Strings.ja.resx
  Plugins/Statistics/GitImpact/Properties/Strings.nl.resx
  Plugins/Statistics/GitImpact/Properties/Strings.pl.resx
  Plugins/Statistics/GitImpact/Properties/Strings.pt-BR.resx
  Plugins/Statistics/GitImpact/Properties/Strings.resx
  Plugins/Statistics/GitImpact/Properties/Strings.ru.resx
  Plugins/Statistics/GitImpact/Properties/Strings.zh-CN.resx
Due: production

Remove reference to ResourceManager from GitFlow plugin project
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/GitFlow/ExecutableExtensions.cs
  Plugins/GitFlow/ExecutionResult.cs
  Plugins/GitFlow/GitFlow.csproj
  Plugins/GitFlow/GitFlowForm.cs
  Plugins/GitFlow/Plugin.cs
  Plugins/GitFlow/Properties/Images.Designer.cs
  Plugins/GitFlow/Properties/Images.resx
  Plugins/GitFlow/Properties/Strings.Designer.cs
  Plugins/GitFlow/Properties/Strings.cs.resx
  Plugins/GitFlow/Properties/Strings.de.resx
  Plugins/GitFlow/Properties/Strings.es.resx
  Plugins/GitFlow/Properties/Strings.fr.resx
  Plugins/GitFlow/Properties/Strings.ja.resx
  Plugins/GitFlow/Properties/Strings.nl.resx
  Plugins/GitFlow/Properties/Strings.pl.resx
  Plugins/GitFlow/Properties/Strings.pt-BR.resx
  Plugins/GitFlow/Properties/Strings.resx
  Plugins/GitFlow/Properties/Strings.ru.resx
  Plugins/GitFlow/Properties/Strings.zh-CN.resx
  Plugins/GitFlow/Resources/StatusBadgeError.png
  Plugins/GitFlow/Resources/StatusBadgeSuccess.png
  Plugins/GitFlow/Resources/StatusBadgeWaiting.png
Due: production

Remove reference to ResourceManager from DeleteUnusedBranches plugin project
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/DeleteUnusedBranches/DeleteUnusedBranches.csproj
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesPlugin.cs
  Plugins/DeleteUnusedBranches/ExecutableExtensions.cs
  Plugins/DeleteUnusedBranches/ExecutionResult.cs
  Plugins/DeleteUnusedBranches/Plugin.cs
  Plugins/DeleteUnusedBranches/Properties/Images.Designer.cs
  Plugins/DeleteUnusedBranches/Properties/Images.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.Designer.cs
  Plugins/DeleteUnusedBranches/Properties/Strings.cs.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.de.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.es.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.fr.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.ja.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.nl.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.pl.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.pt-BR.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.ru.resx
  Plugins/DeleteUnusedBranches/Properties/Strings.zh-CN.resx
Due: production

Remove reference to ResourceManager from Bitbucket plugin project
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/Bitbucket/Bitbucket.csproj
  Plugins/Bitbucket/BitbucketPullRequestForm.cs
  Plugins/Bitbucket/Plugin.cs
  Plugins/Bitbucket/Properties/Images.Designer.cs
  Plugins/Bitbucket/Properties/Images.resx
  Plugins/Bitbucket/Properties/Strings.Designer.cs
  Plugins/Bitbucket/Properties/Strings.cs.resx
  Plugins/Bitbucket/Properties/Strings.de.resx
  Plugins/Bitbucket/Properties/Strings.es.resx
  Plugins/Bitbucket/Properties/Strings.fr.resx
  Plugins/Bitbucket/Properties/Strings.ja.resx
  Plugins/Bitbucket/Properties/Strings.nl.resx
  Plugins/Bitbucket/Properties/Strings.pl.resx
  Plugins/Bitbucket/Properties/Strings.pt-BR.resx
  Plugins/Bitbucket/Properties/Strings.resx
  Plugins/Bitbucket/Properties/Strings.ru.resx
  Plugins/Bitbucket/Properties/Strings.zh-CN.resx
  Plugins/Bitbucket/Resources/BitBucket.png
  Plugins/Bitbucket/Settings.cs
Due: production

Remove reference to ResourceManager from FindLargeFiles plugin project
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  Plugins/FindLargeFiles/FindLargeFiles.csproj
  Plugins/FindLargeFiles/FindLargeFilesForm.cs
  Plugins/FindLargeFiles/Plugin.cs
  Plugins/FindLargeFiles/Properties/Images.Designer.cs
  Plugins/FindLargeFiles/Properties/Images.resx
  Plugins/FindLargeFiles/Properties/Strings.Designer.cs
  Plugins/FindLargeFiles/Properties/Strings.cs.resx
  Plugins/FindLargeFiles/Properties/Strings.de.resx
  Plugins/FindLargeFiles/Properties/Strings.es.resx
  Plugins/FindLargeFiles/Properties/Strings.fr.resx
  Plugins/FindLargeFiles/Properties/Strings.ja.resx
  Plugins/FindLargeFiles/Properties/Strings.nl.resx
  Plugins/FindLargeFiles/Properties/Strings.pl.resx
  Plugins/FindLargeFiles/Properties/Strings.pt-BR.resx
  Plugins/FindLargeFiles/Properties/Strings.resx
  Plugins/FindLargeFiles/Properties/Strings.ru.resx
  Plugins/FindLargeFiles/Properties/Strings.zh-CN.resx
Due: production

Update merge scripts from TortoiseSVN
  Bin/Diff-Scripts/diff-dll.vbs
  Bin/Diff-Scripts/diff-doc.js
  Bin/Diff-Scripts/diff-nb.vbs
  Bin/Diff-Scripts/diff-odt.vbs
  Bin/Diff-Scripts/diff-ppt.js
  Bin/Diff-Scripts/diff-sxw.vbs
  Bin/Diff-Scripts/diff-xls.vbs
  Bin/Diff-Scripts/merge-doc.js
  Bin/Diff-Scripts/merge-ods.vbs
Due: none

Disable tortoisemerge as a difftool
  GitCommands/DiffMergeTools/TortoiseDiff.cs
  GitCommands/DiffMergeTools/TortoiseGitMerge.cs
  UnitTests/GitCommands.Tests/DiffMergeTools/RegisteredDiffMergeToolsTests.cs
Due: production, tests

Add TortoiseGitIDiff as difftool
  GitCommands/DiffMergeTools/TortoiseGitIDiff.cs
  UnitTests/GitCommands.Tests/DiffMergeTools/RegisteredDiffMergeToolsTests.cs
Due: production, tests

DiffMerge: Incorrect suggested exe name
  GitCommands/DiffMergeTools/DiffMerge.cs
Due: production

Add Sublime Merge (smerge) as a difftool
  GitCommands/DiffMergeTools/Smerge.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  UnitTests/GitCommands.Tests/DiffMergeTools/RegisteredDiffMergeToolsTests.cs
Due: production, tests

Exception closing GE when shutting down Windows
  GitUI/Editor/FindAndReplaceForm.cs
Due: production

GitExtensions.Extensibility split from main repo
  GitExtensions.Extensibility/Events/ILoadHandler.cs
  GitExtensions.Extensibility/Events/IPostBrowseInitializeHandler.cs
  GitExtensions.Extensibility/Events/IPostCommitHandler.cs
  GitExtensions.Extensibility/Events/IPostRegisterPluginHandler.cs
  GitExtensions.Extensibility/Events/IPostRepositoryChangedHandler.cs
  GitExtensions.Extensibility/Events/IPostSettingsHandler.cs
  GitExtensions.Extensibility/Events/IPostUpdateSubmodulesHandler.cs
  GitExtensions.Extensibility/Events/IPreCommitHandler.cs
  GitExtensions.Extensibility/Events/IUnloadHandler.cs
  GitExtensions.Extensibility/GitExtensions.Extensibility.csproj
  GitExtensions.Extensibility/IGitPlugin.cs
  GitExtensions.Extensibility/IGitPluginConfigurable.cs
  GitExtensions.Extensibility/IGitPluginExecutable.cs
  GitExtensions.Extensibility/IGitPluginForAvatars.cs
  GitExtensions.Extensibility/IGitPluginForRepository.cs
  GitExtensions.Extensibility/RepositoryHosts/GitBlameContext.cs
  GitExtensions.Extensibility/RepositoryHosts/GitProtocol.cs
  GitExtensions.Extensibility/RepositoryHosts/GitProtocolExtensions.cs
  GitExtensions.Extensibility/RepositoryHosts/IHostedRemote.cs
  GitExtensions.Extensibility/RepositoryHosts/IHostedRepository.cs
  GitExtensions.Extensibility/RepositoryHosts/IPasswordHelper.cs
  GitExtensions.Extensibility/RepositoryHosts/IPullRequestInformation.cs
  GitExtensions.Extensibility/RepositoryHosts/IRepositoryHostPlugin.cs
  GitExtensions.Extensibility/Settings/BoolSetting.cs
  GitExtensions.Extensibility/Settings/ChoiceSetting.cs
  GitExtensions.Extensibility/Settings/CredentialsManager.cs
  GitExtensions.Extensibility/Settings/CredentialsSetting.cs
  GitExtensions.Extensibility/Settings/IGitPluginSettingsContainer.cs
  GitExtensions.Extensibility/Settings/ISetting.cs
  GitExtensions.Extensibility/Settings/ISettingControlBinding.cs
  GitExtensions.Extensibility/Settings/NumberSetting.cs
  GitExtensions.Extensibility/Settings/PasswordSetting.cs
  GitExtensions.Extensibility/Settings/PseudoSetting.cs
  GitExtensions.Extensibility/Settings/StringSetting.cs
  GitExtensions.Extensibility/Settings/UserControls/CheckBoxExtensions.cs
  GitExtensions.Extensibility/Settings/UserControls/CredentialsControl.Designer.cs
  GitExtensions.Extensibility/Settings/UserControls/CredentialsControl.cs
  GitExtensions.Extensibility/Settings/UserControls/CredentialsControl.resx
  GitExtensions.sln
Due: none

Add Extensibility submodule
  .gitmodules
  GitExtUtils/GitExtUtils.csproj
  GitExtensions.sln
  Plugins/AutoCompileSubmodules/AutoCompileSubmodules.csproj
  Plugins/BackgroundFetch/BackgroundFetch.csproj
  Plugins/Bitbucket/Bitbucket.csproj
  Plugins/CreateLocalBranches/CreateLocalBranches.csproj
  Plugins/DeleteUnusedBranches/DeleteUnusedBranches.csproj
  Plugins/FindLargeFiles/FindLargeFiles.csproj
  Plugins/GitFlow/GitFlow.csproj
  Plugins/GitHub3/GitHub3.csproj
  Plugins/GitUIPluginInterfaces/GitUIPluginInterfaces.csproj
  Plugins/Gource/Gource.csproj
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.csproj
  Plugins/ProxySwitcher/ProxySwitcher.csproj
  Plugins/ReleaseNotesGenerator/ReleaseNotesGenerator.csproj
  Plugins/Statistics/GitImpact/GitImpact.csproj
  Plugins/Statistics/GitStatistics/GitStatistics.csproj
Due: production

fix left panel broken sort and filtering
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/TreeViewExtensions.cs
Due: production

correct selection for current ref
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
Due: production

Prefer correct local and remote branches sort to tags
  GitCommands/Git/Commands/GitCommandHelpers.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Blame: Spinner not dismissed for empty files and errors
  GitUI/UserControls/BlameControl.cs
Due: production

FileHistory: Git command log
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/Translation/English.xlf
Due: production

Fix #8630: better handle "forbidden" filename
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseUtil.cs
Due: production

Add IGitExtensionCommand and IGitExtensionCommandFactory interfaces
  GitUI/Commands/IGitExtensionCommand.cs
  GitUI/Commands/IGitExtensionCommandFactory.cs
Due: production

Add GitExtensionCommandFactory class
  GitUI/Commands/GitExtensionCommandFactory.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Separate the GE "browse" command
  GitExtensions/Program.cs
  GitUI/Commands/BrowseGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Separate the GE "about" command
  GitUI/Commands/AboutGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "synchronize" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/SynchronizeGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "checkoutrevision" command
  GitUI/Commands/CheckoutRevisionGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "clone" command
  GitUI/Commands/CloneGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "merge" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/MergeGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "searchfile" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/SearchFileGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "rebase" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/RebaseGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "apply" and "applypatch" commands
  GitUI/Commands/ApplyPatchGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "blame" command
  GitUI/Commands/BlameGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests
