Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Fix locs
  GitUI/Translation/English.xlf
  update-loc.cmd
Due: production

fixup! GitHub PR template - merge strategies
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Improve handling of encodings with conflicting names (#9396)
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/FormAvailableEncodings.cs
  GitUI/Editor/FileViewer.cs
Due: production

Suppress encodings which cannot be distinguished
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/FormAvailableEncodings.cs
Due: production

Improve handling of encodings with conflicting names (#9455)
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/FormAvailableEncodings.cs
Due: production

Fix tests
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

Fix locs
  GitUI/Translation/English.xlf
Due: production

Release 3.5.2
  GitExtensions.releases
Due: none

Fix #9456
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Fix tests
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

BAH!
  GitCommands/Settings/AppSettings.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: production, tests

Added DotnetRuntimeBootstrapper NuGet package.
  GitExtensions/GitExtensions.csproj
  Packages.props
Due: none

Attempt to fix tests failure for MEF
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
  IntegrationTests/UI.IntegrationTests/UI.IntegrationTests.csproj
  IntegrationTests/UI.IntegrationTests/UITest.cs
Due: production, tests

Diff to actual parent in filtered grids
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/UserControls/FileStatusDiffCalculator.FileStatusDiffCalculatorInfo.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
Due: production

Diff to actual parent in filtered grids (#9426)
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/UserControls/FileStatusDiffCalculator.FileStatusDiffCalculatorInfo.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
Due: production

Artificial commits: Invalidate rowcache when inserting
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Attempt to fix tests failure for MEF (#9454)
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
  IntegrationTests/UI.IntegrationTests/UI.IntegrationTests.csproj
  IntegrationTests/UI.IntegrationTests/UITest.cs
Due: production, tests

Clean up `FilterToolBar` logic (#9446)
  GitCommands/Settings/AppSettings.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowse.resx
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/FormFileHistory.resx
  GitUI/FilterBranchHelper.cs
  GitUI/FilterRevisionsHelper.cs
  GitUI/GitUI.csproj
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionFilter.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
  update-loc.cmd
Due: production, tests

Don't show delete dialog on CTRL+ALT+DEL
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Stabilise RevisionGridControl filtering tests
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Infrastructure/Telemetry/FormBrowseDiagnosticsReporter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Stabilise RevisionGridControl filtering tests (#9461)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Infrastructure/Telemetry/FormBrowseDiagnosticsReporter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Artificial commits: Invalidate rowcache when inserting (#9459, #9393)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

ConEmu require ExecutableCommandLine to be set
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Shells/ShellProvider.cs
Due: production

Ignore warnings reading merged remote branches
  GitCommands/Git/GitModule.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Reset revision filter when switching repos
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

Takes 2 at trying to fix failing tests
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

fixup! Takes 2 at trying to fix failing tests
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Add recent repository search
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/Dashboard.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesListController.cs
  GitUI/Translation/English.xlf
Due: production

fixup! rename SetPathFilters -> SetPathFilter
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Disable Advanced filter when switching repos
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

ConEmu require ExecutableCommandLine to be set (#9474)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Shells/ShellProvider.cs
Due: production

ConEmu require ExecutableCommandLine to be set (#9474)
  GitUI/Shells/ShellProvider.cs
Due: production

Takes 2 at trying to fix failing tests (#9478)
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Don't show delete dialog on CTRL+ALT+DEL (#9460)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Reset revision filter when switching repos (#9477)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

SetDiff: Init for CommitDiff
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/FormLog.cs
  GitUI/UserControls/CommitDiff.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Do not throw if process exits with 0
  GitCommands/Git/Executable.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
