Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Restore the working loc verification
  appveyor.yml
Due: none

Do not check if path exists before settings GIT_SSH
  GitCommands/Git/GitSshHelpers.cs
Due: production

Cleanup ListView control
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/ExListView.cs
  GitUI/UserControls/FileStatusList.Designer.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/NativeListView.cs
Due: production

Update layout of ConfirmationsSettingsPage
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.resx
Due: production

Invert confirmation settings (UI only) to positive wording.
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Make showing commit message body in the revision graph optional (#9301)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  contributors.txt
Due: production

Make showing commit message body in the revision graph optional (#9374)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  contributors.txt
Due: production

fixup! Invert confirmation settings (UI only) to positive wording.
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

fixup! Invert confirmation settings (UI only) to positive wording.
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.resx
  GitUI/Translation/English.xlf
Due: production

Update contributors.txt
  contributors.txt
Due: none

Update contributors.txt (#9384)
  contributors.txt
Due: none

Incorrect subject for commits with no parents
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
Due: production, tests

RevisionReader: Minor optimizations
  GitCommands/RevisionReader.cs
  Plugins/GitUIPluginInterfaces/ObjectId.cs
Due: production

RevisionReader: Trace parse errors
  GitCommands/RevisionReader.cs
Due: production

Remove PuTTY binaries
  Bin/pageant.exe
  Bin/plink.exe
  Bin/puttygen.exe
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  Setup/Product.wxs
Due: production

Update layout of ConfirmationsSettingsPage (#9372)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.resx
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Enable use of the designer
  GitCommands/Settings/AppSettings.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitExtensionsForm.cs
  GitUI/GitModuleForm.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsControlInitialiser.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

Addendum to #9372
  GitCommands/Settings/AppSettings.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Addendum to #9372 (#9389)
  GitCommands/Settings/AppSettings.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Add recent repository search
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/Dashboard.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesListController.cs
  GitUI/Translation/English.xlf
Due: production

Enable use of the designer (#9387)
  GitCommands/Settings/AppSettings.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitExtensionsForm.cs
  GitUI/GitModuleForm.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsControlInitialiser.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

fixup! Dialogs layout alignment - `FormDeleteBranch`
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/UserControls/BranchComboBox.Designer.cs
Due: production

Dialogs layout alignment - `FormDeleteBranch`
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormDeleteBranch.Designer.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteBranch.resx
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/GitUICommands.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/BranchComboBox.Designer.cs
Due: production

fixup! Dialogs layout alignment - `FormDeleteBranch`
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/Translation/English.xlf
Due: production

fixup! Dialogs layout alignment - `FormDeleteBranch`
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteBranch.resx
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.cs
  GitUI/Translation/English.xlf
Due: production

Do not blame folders
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

squash! Use default value for ShowUncommittedChangesIfPossible
  GitUI/CommandsDialogs/FormLog.Designer.cs
  GitUI/HelperDialogs/FormChooseCommit.cs
Due: production

FileHistory: Default text when no changes
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/Translation/English.xlf
Due: production

Show artificial commits also for filtered grid
  GitCommands/RevisionReader.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

squash! remove PuTTY from installer
  Setup/Product.wxs
  Setup/UI/SSHClientDlg.wxs
  Setup/UI/WixUI.wxs
Due: none

Show a message if encodings have same HeaderName
  GitUI/CommandsDialogs/SettingsDialog/FormAvailableEncodings.cs
Due: production

fixup! artificial connected also for HEAD
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

squash! Blame the same file for Artificial commits as for HEAD
  GitUI/CommandsDialogs/FormFileHistory.cs
Due: production

On drag save to Temp, copy path
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

Sign contributors document
  contributors.txt
Due: none

Revert "Sign contributors document"
  contributors.txt
Due: none

Update translation file
  GitUI/Translation/English.xlf
Due: production

Fix temporary typo
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production
