Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

SubmoduleStatus: Check that a path exist before updating
  GitCommands/Submodules/SubmoduleStatusProvider.cs
Due: production

SubmoduleStatus: Use all info about submodules info from git-status
  GitCommands/Submodules/SubmoduleStatusProvider.cs
Due: production

SubmoduleStatus: Prune recursive calls when module is not dirty
  GitCommands/Submodules/SubmoduleStatusProvider.cs
Due: production

Submodule status: Present dirty submodules
  GitCommands/Git/GitModule.cs
  ResourceManager/LocalizationHelpers.cs
Due: production

RevFileTree: Submodule info missing
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

RevDiff: Collapse empty groups by default
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/ExListView.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! Use GitItemStatus to handle special "No Changes" item
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUIExtensions.cs
  GitUI/UserControls/FileStatusList.cs
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_spaces_are_not_trimmed_in_file_names.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree1.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree2.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Ignore_unmerged_in_conflict_if_revision_is_work_tree.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Include_unmerged_in_conflict_if_revision_is_index.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Rename_with_spaces.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree1.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree2.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree3.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree4.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_ignored_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_modified_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_staged_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_untracked_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_with_spaces.approved.json
Due: production, tests

fixup! Show menu for showalldiffitems only if possibleto see more than one diff
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! Use GitItemStatus to handle special "No Changes" item
  GitUI/GitUIExtensions.cs
Due: production

fixup! RevDiff: Collapse empty groups by default
  GitUI/UserControls/FileStatusList.cs
Due: production

Refactor: Align FirstParentId name
  GitCommands/CommitData.cs
  GitCommands/CommitDataManager.cs
  GitCommands/Git/GitRevision.cs
  GitUI/GitUIExtensions.cs
  GitUI/RevisionDiffInfoProvider.cs
  GitUI/UserControls/BlameControl.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  ResourceManager/CommitDataRenders/CommitDataHeaderRenderer.cs
  UnitTests/GitCommands.Tests/CommitDataManagerTest.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererIntegrationTests.cs
Due: production, tests

Use "--root" for first revision if null
  GitUI/RevisionDiffInfoProvider.cs
  UnitTests/GitUI.Tests/Helpers/DiffKindRevisionTests.cs
Due: production, tests

RevDiff: FirstRevision is null for the initial commit
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Add extension methods for FileStatusItem
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/UserControls/FileStatusItemExtensions.cs
  GitUI/UserControls/FileStatusList.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FileStatusListTests.cs
Due: production, tests

fixup! rename IsNonFile to IsStatusOnly
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUIExtensions.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Fixup NREs for user scripts without icon
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/Script/ScriptInfo.cs
Due: production

Fixup condition for showing scripts args cheat sheet
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
Due: production

Display shortcuts assigned to scripts
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
Due: production

!fixup tests IsNonFile -> IsStatusOnly
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_spaces_are_not_trimmed_in_file_names.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree1.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree2.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Ignore_unmerged_in_conflict_if_revision_is_work_tree.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Include_unmerged_in_conflict_if_revision_is_index.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Rename_with_spaces.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree1.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree2.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree3.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree4.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_ignored_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_modified_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_staged_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_untracked_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_with_spaces.approved.json
Due: tests

Fix up user scripts without icon (#8118)
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/Script/ScriptInfo.cs
Due: production

fixup! review comments
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Invalid escape character in .gitmodule leads to crash
  GitCommands/Config/ConfigFile.cs
  GitCommands/Config/GitConfigurationException.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormSubmodules.cs
  GitUI/MessageBoxes.cs
  GitUI/Translation/English.xlf
  Plugins/Statistics/GitStatistics/FormGitStatistics.cs
  ResourceManager/Strings.cs
  UnitTests/CommonTestUtils/SubmoduleTestHelpers.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: production, tests

Fix 8077 (#8088)
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUIExtensions.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/ExListView.cs
  GitUI/UserControls/FileStatusList.cs
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_spaces_are_not_trimmed_in_file_names.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree1.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree2.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Ignore_unmerged_in_conflict_if_revision_is_work_tree.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Include_unmerged_in_conflict_if_revision_is_index.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Rename_with_spaces.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree1.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree2.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree3.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree4.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_ignored_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_modified_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_staged_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_untracked_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_with_spaces.approved.json
Due: production, tests

Fix 7097 crash invalid escape character in .gitmodule (#8049)
  GitCommands/Config/ConfigFile.cs
  GitCommands/Config/GitConfigurationException.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormSubmodules.cs
  GitUI/MessageBoxes.cs
  GitUI/Translation/English.xlf
  Plugins/Statistics/GitStatistics/FormGitStatistics.cs
  ResourceManager/Strings.cs
  UnitTests/CommonTestUtils/SubmoduleTestHelpers.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: production, tests

Update contributors.txt
  contributors.txt
Due: none

Fix RestSharp bindingRedirect to correct version
  GitExtensions/app.config
Due: none

Add myself as contributor
  contributors.txt
Due: none

Add myself as contributor (#8125)
  contributors.txt
Due: none

Restore FormBrowse layout after base.OnLoad
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Support 0 options in ScriptOptionsParser.AskToSpecify
  GitUI/Script/ScriptOptionsParser.cs
Due: production

Fix 8055 add sign-off to FormApplyPatch (#8067)
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormApplyPatch.Designer.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
  contributors.txt
Due: production, tests

Add 'Reset another branch to here' feature
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitRef.cs
  GitUI/CommandsDialogs/FormReflog.cs
  GitUI/GitUICommands.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.Designer.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.resx
  GitUI/HelperDialogs/FormResetCurrentBranch.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/GitRefListsForRevision.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production
