Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

RevDiff: Possible to Blame files instead of view/diff
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

RevDiff: HotKey to view FileTree
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

Update UnitTests/GitCommands.Tests/Git/GitBlameCommitTests.cs
  UnitTests/GitCommands.Tests/Git/GitBlameCommitTests.cs
Due: tests

Change string concatenation in the Git Blame tests to string interpolation for future performance purposes.
  UnitTests/GitCommands.Tests/Git/GitBlameCommitTests.cs
Due: tests

Truncate tooltips for blame commit long summary (#9519)
  GitCommands/Git/GitBlame.cs
  GitUI/UserControls/BlameControl.cs
  UnitTests/GitCommands.Tests/Git/GitBlameCommitTests.cs
Due: production, tests

Check that directory exists before running submodule command
  GitCommands/Git/GitModule.cs
  ResourceManager/LocalizationHelpers.cs
Due: production

Additional cancellation handling viewing diffs (#9561)
  GitUI/GitUIExtensions.cs
Due: production

Do not throw if Git cmd exits with 0
  GitCommands/CommitDataManager.cs
  GitCommands/FileHelper.cs
  GitCommands/Git/AheadBehindDataProvider.cs
  GitCommands/Git/Executable.cs
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SubmoduleHelpers.cs
  GitCommands/Git/SystemEncodingReader.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/Editor/FileViewer.cs
  GitUI/OsShellUtil.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/GitFlow/GitFlowForm.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/Config/ConfigFileTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: production, tests

Do not throw if Git cmd exits with 0 (#9562)
  GitCommands/CommitDataManager.cs
  GitCommands/FileHelper.cs
  GitCommands/Git/AheadBehindDataProvider.cs
  GitCommands/Git/Executable.cs
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SubmoduleHelpers.cs
  GitCommands/Git/SystemEncodingReader.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/Editor/FileViewer.cs
  GitUI/OsShellUtil.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/GitFlow/GitFlowForm.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/Config/ConfigFileTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: production, tests

Select HOME where .gitconfig is accessible first
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormFixHome.cs
Due: production

SHIFT+DEL = quick delete branch
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/GitUICommands.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Show toolbar grips
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

Show toolbar grips (#9586)
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

Show toolbar grips
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

Show toolbar grips (#9589)
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

Dispose brushes created by `new SolidBrush()`
  GitExtUtils/GitUI/Theming/BrushScope.cs
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
  GitUI/Editor/Diff/DiffViewerLineNumberControl.cs
Due: production

Cache brushes created by NativeMethods.CreateSolidBrush
  GitUI/Interops/Gdi32/DeleteObject.cs
  GitUI/Theming/Renderers/EditRenderer.cs
  GitUI/Theming/SystemBrushesCache.cs
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

Reduce amount of TaskCanceledException
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Fix leaking brushes (#9566)
  GitExtUtils/GitUI/Theming/BrushScope.cs
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
  GitUI/Editor/Diff/DiffViewerLineNumberControl.cs
  GitUI/Interops/Gdi32/DeleteObject.cs
  GitUI/Theming/Renderers/EditRenderer.cs
  GitUI/Theming/SystemBrushesCache.cs
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

v3.5.4
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/French.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.xlf
  appveyor.yml
Due: production

Configuration to use Browse instead of FileHistory (#9445)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.cs
  GitUI/GitUICommands.cs
  GitUI/Translation/English.xlf
Due: production

Browse: command line arguments to filter paths
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommandlineHelp.resx
  GitUI/GitUICommands.cs
Due: production

RevDiff/FileTree: FilterFileInGrid context command
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeController.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Include filtered path in AppTitle
  GitCommands/AppTitleGenerator.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockAppTitleGenerator.cs
  UnitTests/GitCommands.Tests/AppTitleGeneratorTests.cs
Due: production, tests

Filter: Disable ignorecase if no search
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

Fix leaking brushes (#9590)
  GitExtUtils/GitUI/Theming/BrushScope.cs
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
  GitUI/Editor/Diff/DiffViewerLineNumberControl.cs
  GitUI/Interops/Gdi32/DeleteObject.cs
  GitUI/Theming/Renderers/EditRenderer.cs
  GitUI/Theming/SystemBrushesCache.cs
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

Move the init logic from OnLoad to InternalInitialize
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

fixup! Move the init logic from OnLoad to InternalInitialize
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Move the init logic from OnLoad to InternalInitialize (#9591)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Release 3.5.4
  GitExtensions.releases
Due: none

Allow hiding latest stash on revision grid (#9554)
  GitCommands/RevisionReader.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  contributors.txt
Due: production, tests
