Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Straighten multiple segments, including when there are merges
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Avoid straightening segments when this has undesired effects:
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphRowTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Relax the limit on how wide a changed row may become
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Stop loop when segments have been moved
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Rename variable; inline a temporary
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

FIX: Periodic Background Fetch: Only use standard error instead of all outputs to get the git fetch result details (#9643)
  Plugins/BackgroundFetch/BackgroundFetchPlugin.cs
Due: production

fixup! RevisionGraph: Retry Sort if it stumbled upon rewritten Score
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

FIX: Periodic Background Fetch was not automatically refreshing the UI after a successful fetch (#10793)
  Plugins/BackgroundFetch/BackgroundFetchPlugin.cs
  contributors.txt
Due: production

Fix GitExtSshAskPass x86 build command
  scripts/native.proj
Due: none

`RevisionGraph`: Retry `Sort` if it stumbled upon rewritten `Score` (#10712)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Copy relative or full path(s) to clipboard (#10732)
  GitCommands/PathUtil.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormDiff.Designer.cs
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/Menus/CopyPathsToolStripMenuItem.Designer.cs
  GitUI/CommandsDialogs/Menus/CopyPathsToolStripMenuItem.cs
  GitUI/CommandsDialogs/Menus/ToolStripMenuItemEx.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffControl.resx
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Make GitVersion.ToString replace with regex
  GitCommands/Git/GitVersion.cs
Due: production

Blame: open current diff/view line
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUIExtensions.cs
  GitUI/UserControls/BlameControl.cs
Due: production

fixup! GitStatusMonitor: Correctly handle cancellation
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
Due: production

Blame: open current diff/view line (#9925)
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUIExtensions.cs
  GitUI/UserControls/BlameControl.cs
Due: production

Remove Brittle Version Replace (#10346)
  GitCommands/Git/GitVersion.cs
Due: production

Replace IProcess.WaitForProcessExitAsync with WaitForExitAsync
  GitCommands/Git/Executable.cs
  GitCommands/Git/ExecutableExtensions.cs
  Plugins/GitUIPluginInterfaces/IProcess.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
Due: production, tests

fixup! Replace IProcess.WaitForProcessExitAsync with WaitForExitAsync
  Plugins/GitUIPluginInterfaces/IProcess.cs
Due: production

Replace IProcess.WaitForProcessExitAsync with WaitForExitAsync (#10802)
  GitCommands/Git/Executable.cs
  GitCommands/Git/ExecutableExtensions.cs
  Plugins/GitUIPluginInterfaces/IProcess.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
Due: production, tests

Set taskbar overlay icon also if unchanged (#10796)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Close modal form on application close request (#10796)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Interops/Messages.cs
Due: production

Add CloseAll WindowsThumbnailToolbarButton (#10796)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Interops/User32/PostMessageW.cs
  GitUI/Interops/User32/RegisterWindowMessageW.cs
  GitUI/Translation/English.xlf
  GitUI/WindowsJumpListManager.cs
  GitUI/WindowsThumbnailToolbarButtons.cs
Due: production

RefreshGrid without revisions
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

RefreshGrid without revisions (#10799)
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Enabled tolltip translation in all remaining forms
  GitUI/CommandsDialogs/BrowseDialog/FormOpenDirectory.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormOpenDirectory.cs
  GitUI/CommandsDialogs/FormClone.resx
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormCreateBranch.Designer.cs
  GitUI/CommandsDialogs/FormCreateBranch.cs
  GitUI/CommandsDialogs/FormPush.Designer.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormRebase.Designer.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/FormRemotes.Designer.cs
  GitUI/CommandsDialogs/FormRemotes.cs
  GitUI/CommandsDialogs/FormStash.Designer.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/Translation/English.xlf
  contributors.txt
Due: production

CommitInfoTests: Disable GitNotes
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
Due: tests

SidePanel: Disallow copy context for not visible stashes
  GitUI/BranchTreePanel/BaseRevisionNode.cs
  GitUI/BranchTreePanel/NodeBase.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

Decouple reflog from other branch filters
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

CommitInfoTests: Disable GitNotes (#10827)
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
Due: tests

SidePanel: Disallow copy context for not visible stashes (#10829)
  GitUI/BranchTreePanel/BaseRevisionNode.cs
  GitUI/BranchTreePanel/NodeBase.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

Make tooltips set by using `.SetToolTip()` in designer forms translatable
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/English.xlf
  ResourceManager/Xliff/TranslationUtil.cs
Due: production

Make tooltips set by using `.SetToolTip()` in designers translatable (#10825)
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/English.xlf
  ResourceManager/Xliff/TranslationUtil.cs
Due: production

FormPush: Popup when no branch is checked out
  GitUI/CommandsDialogs/FormPush.cs
Due: production

WslGit: Configurable path to Git executable
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/AppSettings.cs
Due: production

WslGit: Configurable path to Git executable (#10835)
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/AppSettings.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
