Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

fixup! review comment
  GitUI/UserControls/CommitDiff.cs
Due: production

GitHub PR template - merge strategies (#9453)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Show ChecklistSettings also for settings without an autosolver
  GitExtensions/Program.cs
Due: none

fixup! Show ChecklistSettings also for settings without an autosolver
  GitExtensions/Program.cs
Due: none

Recent repo search (#9380)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/Dashboard.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesListController.cs
  GitUI/Translation/English.xlf
Due: production

Avoid popup at successful FileViewer patching
  GitUI/Editor/FileViewer.cs
Due: production

Show ChecklistSettings also for settings without an autosolver (#9494)
  GitExtensions/Program.cs
Due: none

Avoid popup at successful FileViewer patching (#9468)
  GitUI/Editor/FileViewer.cs
Due: production

fixup! review comment
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

CommitDiff: Do not Join() in Dispose()
  GitUI/CommitInfo/CommitInfo.cs
Due: production

3.5.3 RC
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.xlf
  Setup/Product.wxs
  appveyor.yml
Due: production

Update readme and changelog
  GitUI/Resources/ChangeLog.md
  README.md
Due: production

3.5.3 RC (#9503)
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.xlf
  Setup/Product.wxs
  appveyor.yml
Due: production

fixup! Update readme and changelog
  GitUI/Resources/ChangeLog.md
  README.md
Due: production

Update readme and changelog (#9508)
  GitUI/Resources/ChangeLog.md
  README.md
Due: production

Release 3.5.3
  GitExtensions.releases
Due: none

Fix issue #9168 with large tooltips in Blame Control by truncating the summary
  GitUI/UserControls/BlameControl.cs
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
Due: production, tests

Add yerudako (myself) to the list of project contributors
  contributors.txt
Due: none

Add yerudako (myself) to the list of project contributors (#9518)
  contributors.txt
Due: none

Add git@github example URL
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: tests

Make clone form use the "CanBeGitURL" function again
  GitUI/CommandsDialogs/FormClone.cs
Due: production

Add myself to contributors.txt
  contributors.txt
Due: none

SetDiff: Init for CommitDiff (#9483)
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/FormLog.cs
  GitUI/UserControls/CommitDiff.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Execution: Adjust use of exit status, alloutput
  GitCommands/FileHelper.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/GitFlow/GitFlowForm.cs
Due: production

Execution interface cleanup (#9488)
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SystemEncodingReader.cs
  GitUI/Script/ScriptRunner.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/Statistics/GitImpact/ImpactLoader.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/GitCommands.Tests/Config/ConfigFileTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: production, tests

CommitDiff: Do not Join() in Dispose() (#9505)
  GitUI/CommitInfo/CommitInfo.cs
Due: production

Implemented F2 rename branch in RepoObjectsTree.
  GitUI/BranchTreePanel/RepoObjectsTree.LocalBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

GetRangeDiff() should be Async
  GitCommands/Git/GitModule.cs
  GitUI/GitUIExtensions.cs
Due: production

Update function remark
  GitUI/CommandsDialogs/FormClone.cs
Due: production

Fix Clone URL Population (#9521)
  GitUI/CommandsDialogs/FormClone.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
  contributors.txt
Due: production, tests

Added shortcut key (F2) mnemonic for rename branch in RepoObjectsTree.
  GitUI/BranchTreePanel/ContextMenu/MenuItemsGenerator.cs
Due: production

Implemented F2 rename branch in RepoObjectsTree. (#8709)
  GitUI/BranchTreePanel/ContextMenu/MenuItemsGenerator.cs
  GitUI/BranchTreePanel/RepoObjectsTree.LocalBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

GetRangeDiff() should be Async (#9524)
  GitCommands/Git/GitModule.cs
  GitUI/GitUIExtensions.cs
Due: production

Add "Show Reflogs" to the filter toolbar
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

Don't cycle through options
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production
