Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

ImpactGraph: Handle 1st day of the week depending of culture
  Plugins/Statistics/GitImpact/ImpactLoader.cs
Due: production

ImpactGraph: Use DateOnly instead of DateTime
  Plugins/Statistics/GitImpact/ImpactControl.cs
  Plugins/Statistics/GitImpact/ImpactLoader.cs
Due: production

ImpactGraph: Dispose resources
  Plugins/Statistics/GitImpact/FormImpact.cs
  Plugins/Statistics/GitImpact/ImpactControl.cs
  Plugins/Statistics/GitImpact/ImpactLoader.cs
Due: production

perf(ImpactGraph): prevent multiple object instantiations and lookups
  Plugins/Statistics/GitImpact/ImpactControl.cs
  Plugins/Statistics/GitImpact/ImpactLoader.cs
Due: production

ImpactGraph: more user friendly command option
  Plugins/Statistics/GitImpact/ImpactLoader.cs
Due: production

perf(ImpactGraph): Switch between with or without submodule is immediate
  Plugins/Statistics/GitImpact/ImpactLoader.cs
Due: production

refactor(ImpactGraph): remove the strange way to handle selected author
  Plugins/Statistics/GitImpact/FormImpact.cs
  Plugins/Statistics/GitImpact/ImpactControl.cs
Due: production

perf(ImpactGraph): display graph at the end with all commits
  Plugins/Statistics/GitImpact/ImpactControl.cs
  Plugins/Statistics/GitImpact/ImpactLoader.cs
Due: production

ImpactGraph: avoid doing a lot of times the same thing during OnPaint
  Plugins/Statistics/GitImpact/ImpactControl.cs
Due: production

ImpactGraph: remove useless `lock() {}`
  Plugins/Statistics/GitImpact/ImpactControl.cs
Due: production

ImpactGraph: refactoring & formating
  Plugins/Statistics/GitImpact/ImpactControl.cs
Due: production

Follow file names in merge commits and all refs (#11275)
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormFileHistoryTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/RevisionFileNameTests.cs
Due: production, tests

FormFileHistory: Do not refresh revision grid twice on load (#11462)
  GitUI/CommandsDialogs/FormFileHistory.cs
Due: production

Browse FileHistory mode: Open diff by default
  GitUI/CommandsDialogs/FormBrowse.BrowseArguments.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/GitUICommands.cs
Due: production

Do not get stash count in bare repos
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Do not get stash count in bare repos (#11468)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Quote git-log --pretty options
  GitCommands/Git/GitModule.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

Quote git-log --pretty option quoting (#11470)
  GitCommands/Git/GitModule.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

GetObsoleteBranches: Restore linefeed in arguments
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

GetObsoleteBranches: Restore linefeed in arguments (#11477)
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

Ignore remote/HEAD references
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/DeleteUnusedBranches/GitBranchOutputCommandParser.cs
  UnitTests/Plugins/DeleteUnusedBranches.Tests/GitBranchOutputCommandParserTests.cs
Due: production, tests

DeleteObsoleteBranches: Parse symbolic references (#11471)
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/DeleteUnusedBranches/GitBranchOutputCommandParser.cs
  UnitTests/Plugins/DeleteUnusedBranches.Tests/GitBranchOutputCommandParserTests.cs
Due: production, tests

fixup! Browse FileHistory mode: Open diff by default
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

Browse FileHistory mode: Open diff by default (#11466)
  GitUI/CommandsDialogs/FormBrowse.BrowseArguments.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
Due: production

Invalidate graph column on width change
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
Due: production

Invalidate graph column on width change (#11481)
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
Due: production

Skip moving invisible graph lanes
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.MoveVisibleAndInvisibleLanesRight_moveFirstLane=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.MoveVisibleAndInvisibleLanesRight_moveFirstLane=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

fixup! Skip moving invisible graph lanes
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Check for cancellation before accessing non-locals
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

FileViewer Replace
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/Editor/IFileViewer.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
Due: production

git-blame should use git-diff options
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/GitBlameParser.cs
  IntegrationTests/UI.IntegrationTests/UserControls/GitBlameParserTest.cs
Due: production, tests

fixup! comments
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/GitBlameParser.cs
Due: production

CI: allow click on status cell to open build report
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Scripts: Focus property grids when creating a new one
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
Due: production

amend! Blame: options to git-diff to get line in previous commit
  IntegrationTests/UI.IntegrationTests/UserControls/GitBlameParserTest.cs
Due: tests

Agreed to CONTRIBUTING.md and signed contributors.txt
  contributors.txt
Due: none

Include operating system default code page encoding to default encodings
  GitCommands/Settings/AppSettings.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
