Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

RemoteBranches: Show ahead/behind for remotes (10258)
  GitCommands/Git/AheadBehindDataProvider.cs
  GitUI/BranchTreePanel/BaseBranchLeafNode.cs
  GitUI/BranchTreePanel/LocalBranchNode.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/ToolStripPushButton.cs
  UnitTests/GitUI.Tests/UserControls/ToolStripPushButtonTests.cs
Due: production, tests

Side panel: Refactor classes and names
  GitCommands/Git/GitModule.cs
  GitUI/BranchTreePanel/BaseBranchLeafNode.cs
  GitUI/BranchTreePanel/BasePathNode.cs
  GitUI/BranchTreePanel/BaseRefTree.cs
  GitUI/BranchTreePanel/BaseRevisionNode.cs
  GitUI/BranchTreePanel/BaseRevisionTree.cs
  GitUI/BranchTreePanel/LocalBranchNode.cs
  GitUI/BranchTreePanel/LocalBranchTree.cs
  GitUI/BranchTreePanel/NodeBase.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/BranchTreePanel/RemoteRepoFolderNode.cs
  GitUI/BranchTreePanel/RemoteRepoNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/SubmoduleFolderNode.cs
  GitUI/BranchTreePanel/SubmoduleNode.cs
  GitUI/BranchTreePanel/SubmoduleTree.cs
  GitUI/BranchTreePanel/TagNode.cs
  GitUI/BranchTreePanel/TagTree.cs
  GitUI/BranchTreePanel/Tree.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

SidePanel: Show Stashes
  GitCommands/Settings/AppSettings.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SettingsContextMenu.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/StashNode.cs
  GitUI/BranchTreePanel/StashTree.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/GitUICommands.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionLoadEventArgs.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.ReorderNodes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

SidePanel: Visibility for branches and tags was not updated.
  GitUI/BranchTreePanel/BaseRefTree.cs
  GitUI/BranchTreePanel/BaseRevisionTree.cs
  GitUI/BranchTreePanel/LocalBranchTree.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/TagTree.cs
  GitUI/BranchTreePanel/Tree.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

git settings: new setting to be able to enable rebase of dependent branches (#10289)
  GitCommands/Git/GitVersion.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.cs
  GitUI/Translation/English.xlf
Due: production

Teach Run-BisectTest script --first-parent (#10277)
  scripts/Bisect-Test.ps1
  scripts/Run-BisectTest.ps1
Due: none

range-diff with path filter
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUIExtensions.cs
Due: production

FormBrowse: Hide Reflog button by default
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Move merge strategies help tooltip to online documentation, open link on click
  GitUI/CommandsDialogs/FormMergeBranch.Designer.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormMergeBranch.resx
  GitUI/Translation/English.xlf
Due: production

#6564 - make labels in putty "please load key" modal not overlap
  GitUI/FormPuttyError.Designer.cs
  contributors.txt
Due: production

#6564 - make labels in putty "please load key" modal not overlap (#10298)
  GitUI/FormPuttyError.Designer.cs
  contributors.txt
Due: production

perf: ensure compiled regex are compiled only once
  GitCommands/Git/AheadBehindDataProvider.cs
  GitCommands/Git/GitModule.cs
Due: production

FormCreateWorktree: Build potential worktree path using repository path
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.Designer.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.cs
Due: production

RevDiff: Allow path filter for several files
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

FormBrowse: Hide Reflog button by default (#10294)
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

perf: ensure compiled regex are compiled only once (#10291)
  GitCommands/Git/AheadBehindDataProvider.cs
  GitCommands/Git/GitModule.cs
Due: production

Remove duplicate sub-expression
  GitUI/UserControls/RevisionGrid/IndexWatcher.cs
Due: production

Treat treeNode as nullable
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

Update README.md
  README.md
Due: none

Update ChangeLog.md
  GitUI/Resources/ChangeLog.md
Due: production

Update GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

Misc fixes (#10309)
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/UserControls/RevisionGrid/IndexWatcher.cs
Due: production

Fixup standalone blame
  GitExtensions/Properties/launchSettings.json
  GitUI/UserControls/BlameControl.cs
Due: production

Release 4.0
  GitExtensions.releases
Due: none

.NET 6.0.10
  global.json
  scripts/RepoLayout.props
Due: none

SidePanel: Context menu at no selection
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

SidePanel: AheadBehind null check
  GitCommands/Git/AheadBehindDataProvider.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

GitFlow: Do not throw if git-flow is not init
  Plugins/GitFlow/GitFlowForm.cs
Due: production

Side panel: FileAndForget.
  GitUI/BranchTreePanel/BaseRefTree.cs
  GitUI/BranchTreePanel/StashTree.cs
Due: production

RemoteNames: Do not throw outside repos when cloning
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormClone.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

range-diff with path filter (#10295)
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUIExtensions.cs
Due: production

RevDiff: Allow path filter for several files (#10303)
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production
