Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

fixup! FormPush: Popup when no branch is checked out
  GitUI/Translation/English.xlf
Due: production

Fixup GetAllBranchesWhichContainGivenCommit
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

CommitInfo: Fixup handling of detached head
  GitUI/CommitInfo/CommitInfo.cs
  ResourceManager/LinkFactory.cs
  UnitTests/GitUI.Tests/UserControls/CommitInfo/BranchComparerTests.cs
  UnitTests/ResourceManager.Tests/LinkFactoryTests.cs
Due: production, tests

fixup! Fixup GetAllBranchesWhichContainGivenCommit
  GitCommands/Git/GitModule.cs
Due: production

Handle ToolTipTitle in tooltips translations
  GitUI/Translation/English.xlf
  ResourceManager/Xliff/TranslationUtil.cs
Due: production

Fix bad tooltip on local branch label
  GitUI/CommandsDialogs/FormPull.Designer.cs
  GitUI/Translation/English.xlf
Due: production

fixup! CommitInfo: Fixup handling of detached head
  GitUI/CommitInfo/CommitInfo.cs
  UnitTests/GitUI.Tests/UserControls/CommitInfo/BranchComparerTests.cs
Due: production, tests

fixup! CommitInfo: Fixup handling of detached head
  GitUI/CommitInfo/CommitInfo.cs
Due: production

Fixup GetAllBranchesWhichContainGivenCommit (#10836)
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

RevisionGraph.GetSegmentsForRow: Handle negative row
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Improve tooltips translation (#10839)
  GitUI/CommandsDialogs/FormPull.Designer.cs
  GitUI/Translation/English.xlf
  ResourceManager/Xliff/TranslationUtil.cs
Due: production

Decouple reflog from other branch filters (#10831)
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

FormPush: Popup when no branch is checked out (#10834)
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/Translation/English.xlf
Due: production

CommitInfo: Fixup handling of detached head (#10837)
  GitUI/CommitInfo/CommitInfo.cs
  ResourceManager/LinkFactory.cs
  UnitTests/GitUI.Tests/UserControls/CommitInfo/BranchComparerTests.cs
  UnitTests/ResourceManager.Tests/LinkFactoryTests.cs
Due: production, tests

Use TaskDialog
  GitUI/Editor/FileViewer.cs
Due: production

fixup! add comments for Split(null) and quoting
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
Due: production

Filtered branches: Check validility of branch filter box
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

fixup! spelling
  GitUI/UserControls/FilterToolBar.cs
Due: production

Improve robustness of GitStatusMonitor (#10743)
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
Due: production

Filtered branches: Check validility of filter toolbar branch filter box (#10832)
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

FormCommit: Read committer info using git asynchronously
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production, tests

fixup! FormCommit: Read committer info using git asynchronously
  GitUI/CommandsDialogs/FormCommit.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: production, tests

Improve slightly blame performance
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/BlameControl.cs
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
Due: production, tests

Make UpdateVisibleRowRangeInternalAsync and StraightenLanes clearer
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Fixup incomplete condition for graph cache loaded
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Avoid unnecessary and incomplete graph lookahead
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Fixup endless graph loading loop
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Preload next graph page
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Improve slightly blame performance (#10840)
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/BlameControl.cs
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
Due: production, tests

Refactor and fixup graph loading (#10842)
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

FormCommit: Read committer info using git (#10843)
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production, tests

Restore from minimized: Configurable avoid async Git
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

Tests: Add a trait to all the tests ('Unit' or 'Integration')
  IntegrationTests/BugReporter.IntegrationTests/Properties/AssemblyInfo.cs
  IntegrationTests/UI.IntegrationTests/Properties/AssemblyInfo.cs
  UnitTests/BugReporter.Tests/Properties/AssemblyInfo.cs
  UnitTests/CommonTestUtils/Properties/AssemblyInfo.cs
  UnitTests/GitCommands.Tests/Properties/AssemblyInfo.cs
  UnitTests/GitExtUtils.Tests/Properties/AssemblyInfo.cs
  UnitTests/GitUI.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/BuildServerIntegration/AzureDevOpsIntegration.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/DeleteUnusedBranches.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/GitUIPluginInterfaces.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/ReleaseNotesGenerator.Tests/Properties/AssemblyInfo.cs
  UnitTests/ResourceManager.Tests/Properties/AssemblyInfo.cs
Due: tests

Tests: Add a trait to all the tests ('Unit' or 'Integration') (#10848)
  IntegrationTests/BugReporter.IntegrationTests/Properties/AssemblyInfo.cs
  IntegrationTests/UI.IntegrationTests/Properties/AssemblyInfo.cs
  UnitTests/BugReporter.Tests/Properties/AssemblyInfo.cs
  UnitTests/CommonTestUtils/Properties/AssemblyInfo.cs
  UnitTests/GitCommands.Tests/Properties/AssemblyInfo.cs
  UnitTests/GitExtUtils.Tests/Properties/AssemblyInfo.cs
  UnitTests/GitUI.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/BuildServerIntegration/AzureDevOpsIntegration.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/DeleteUnusedBranches.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/GitUIPluginInterfaces.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/ReleaseNotesGenerator.Tests/Properties/AssemblyInfo.cs
  UnitTests/ResourceManager.Tests/Properties/AssemblyInfo.cs
Due: tests

IScriptHostControl.CurrentBranch() to decrease overhead
  GitUI/BranchTreePanel/LocalBranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/Script/IScriptHostControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! review comments
  GitUI/BranchTreePanel/LocalBranchTree.cs
  GitUI/CommandsDialogs/FormFormatPatch.Designer.cs
  GitUI/Script/IScriptHostControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
