Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Do not throw when cancelling current token
  GitExtUtils/GitUI/CancellationTokenSequence.cs
Due: production

FormResolveConflicts: Clearer label and confirmation messages for Reset button (#9942)
  GitUI/CommandsDialogs/FormResolveConflicts.Designer.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/Translation/English.xlf
Due: production

Bump version to 4.1
  appveyor.yml
Due: none

Update changelog and contributors
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
Due: production

CommitInfo: Ensure empty line between sections
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/RefsFormatter.cs
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_handle_ShowAll_branches_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_render_links_correctly.approved.txt
  UnitTests/GitUI.Tests/UserControls/CommitInfo/RefsFormatterTests.cs
Due: production, tests

Replace hard-coded Ctrl+O shortcuts with Hotkeys
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

fixup! CommitDataManager: Remove unused TreeGuid
  GitCommands/CommitDataManager.cs
Due: production

CommitInfo: Ensure empty line between sections (#10026)
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/RefsFormatter.cs
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_handle_ShowAll_branches_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_render_links_correctly.approved.txt
  UnitTests/GitUI.Tests/UserControls/CommitInfo/RefsFormatterTests.cs
Due: production, tests

Remove unused `TreeGuid` (#9903)
  GitCommands/CommitData.cs
  GitCommands/CommitDataManager.cs
  UnitTests/GitCommands.Tests/CommitDataManagerTest.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataBodyRendererTests.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererIntegrationTests.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererTests.cs
Due: production, tests

Replace hard-coded Ctrl+O shortcuts with Hotkeys (#10027)
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

RevisionGrid: Cancel previous refresh instead of skipping
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Don't build direct branches from Transifex integration
  appveyor.yml
Due: none

FormDiff: Set HEAD for diff calculator
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/UserControls/CommitDiff.cs
Due: production

Transifex integration
  transifex.yml
Due: none

Do not throw when cancelling current token (#10021)
  GitExtUtils/GitUI/CancellationTokenSequence.cs
Due: production

squash! FormDiff: Request only single diff
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/FormLog.cs
  GitUI/UserControls/CommitDiff.cs
  GitUI/UserControls/FileStatusDiffCalculator.FileStatusDiffCalculatorInfo.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! clarified logic, updated comments
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

Blame: No change of control at double click
  GitUI/UserControls/BlameControl.cs
Due: production

FormDiff: Set HEAD for diff calculator (#10072)
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/FormLog.cs
  GitUI/UserControls/CommitDiff.cs
  GitUI/UserControls/FileStatusDiffCalculator.FileStatusDiffCalculatorInfo.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Blame: No change of control at double click (#10073)
  GitUI/UserControls/BlameControl.cs
Due: production

RevisionGrid: Cleanup PerformRefreshRevisions
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

RevisionGrid: Cleanup PerformRefreshRevisions (#10030)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Exclude boundary commits with --grep
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
Due: production

Improve the clarity of tooltips for Rebase UI date options
  GitUI/CommandsDialogs/FormRebase.Designer.cs
Due: production

fixup! Add test for FilterInfo.Message
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

fixup! Add test for FilterInfo.Message
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
Due: production

RevGrid: Optimize onlyFirstParent handling
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Select remote branch on [Ctrl+]Alt+Click in ROT
  GitUI/BranchTreePanel/BaseBranchNode.cs
  GitUI/BranchTreePanel/BranchTree.cs
Due: production

Git 2.37.1
  GitCommands/Git/GitVersion.cs
Due: production

ConEmu 220418
  Packages.props
Due: none

Git 2.37.1 (#10085)
  GitCommands/Git/GitVersion.cs
Due: production

ConEmu 220418 (#10086)
  Packages.props
Due: none

Improve the clarity of tooltips for Rebase UI date options (#10079)
  GitUI/CommandsDialogs/FormRebase.Designer.cs
Due: production

RevGrid: Optimize onlyFirstParent handling (#10082)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Exclude boundary commits with --grep (#10076)
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

Add most recent repos to all recent list
  GitCommands/UserRepositoryHistory/RecentRepoInfo.cs
Due: production
