Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

rebase: fix accuracy of data in list of commits displayed
  GitCommands/Git/GitModule.cs
Due: production

tests: Add integration tests for `GetInteractiveRebasePatchFiles()`
  IntegrationTests/UI.IntegrationTests/GitCommands/GitModuleTests.cs
Due: tests

refactor ReferenceRepository test util class
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: tests

refactor and clean tests
  IntegrationTests/UI.IntegrationTests/GitCommands/GitModuleTests.cs
Due: tests

Rebase: fix accuracy of data in list of commits displayed (#11206)
  GitCommands/Git/GitModule.cs
  IntegrationTests/UI.IntegrationTests/GitCommands/GitModuleTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: production, tests

Optimize ObjectId parsing (#11208)
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
  Plugins/GitUIPluginInterfaces/ObjectId.cs
  UnitTests/GitCommands.Tests/Git/ObjectIdTests.cs
  UnitTests/GitCommands.Tests/GitRevisionInfoProviderTests.cs
Due: production, tests

Remove ObjectId.Equals(string)
  GitCommands/Git/GitDescribeProvider.cs
  Plugins/GitUIPluginInterfaces/ObjectId.cs
  UnitTests/GitCommands.Tests/Git/ObjectIdTests.cs
Due: production, tests

Optimize ObjectId.ToString()
  Plugins/GitUIPluginInterfaces/ObjectId.cs
Due: production

fixup! remove obsolete test
  UnitTests/GitCommands.Tests/Git/ObjectIdTests.cs
Due: tests

Remove ObjectId.Equals(string) (#11222)
  GitCommands/Git/GitDescribeProvider.cs
  Plugins/GitUIPluginInterfaces/ObjectId.cs
  UnitTests/GitCommands.Tests/Git/ObjectIdTests.cs
Due: production, tests

Optimize ObjectId.ToString() (#11224)
  Plugins/GitUIPluginInterfaces/ObjectId.cs
Due: production

Store ObjectId in uint64
  Plugins/GitUIPluginInterfaces/ObjectId.cs
Due: production

Store ObjectId in uint64 (#11223)
  Plugins/GitUIPluginInterfaces/ObjectId.cs
Due: production

Decode revision reader directly to Span
  GitCommands/GitCommands.csproj
  GitCommands/RevisionReader.cs
Due: production

fixup! Debug.Assert only if debugger is attached
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
Due: production, tests

fixup! code review comments
  GitCommands/GitCommands.csproj
  GitCommands/RevisionReader.cs
Due: production

fixup! Debug.Assert only if debugger is attached
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/reflogselector.bin
Due: production, tests

fixup! channge LogFormat to a method
  GitCommands/RevisionReader.cs
Due: production

RevisionGridControl: Hide tooltip on Escape (#11218)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridToolTipProvider.cs
Due: production

squash! Utf8Parser to parse unix timestamps
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
Due: production, tests

fixup! use managed memory for the subject decode buffer
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/reflogselector.bin
Due: production, tests

squash! consistently use ReadOnlySpan/Memory
  GitCommands/RevisionReader.cs
  GitCommands/StreamExtensions.cs
  UnitTests/GitCommands.Tests/StreamExtensionsTests.cs
Due: production, tests

Replace MEF service injection with ServiceProvider
  GitCommands/AppTitleGenerator.cs
  GitCommands/Git/GitDirectoryResolver.cs
  GitCommands/UserRepositoryHistory/RepositoryDescriptionProvider.cs
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Script/ScriptOptionsParser.cs
  GitUI/Script/ScriptRunner.cs
  GitUI/WindowsJumpListManager.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.ReorderNodes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormFileHistoryTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockAppTitleGenerator.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockLinkFactory.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockRepositoryDescriptionProvider.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockWindowsJumpListManager.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPageTests.WithPlugins.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  IntegrationTests/UI.IntegrationTests/MEF/MockGenericBuildServerAdapter.cs
  IntegrationTests/UI.IntegrationTests/MEF/MockGenericBuildServerIntegrationMetadata.cs
  IntegrationTests/UI.IntegrationTests/MEF/MockGenericBuildServerSettingsUserControl.Designer.cs
  IntegrationTests/UI.IntegrationTests/MEF/MockGenericBuildServerSettingsUserControl.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
  IntegrationTests/UI.IntegrationTests/UI.IntegrationTests.csproj
  IntegrationTests/UI.IntegrationTests/UITest.cs
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
  Plugins/GitUIPluginInterfaces/ServiceProviderExtensions.cs
  ResourceManager/LinkFactory.cs
  TranslationApp/Program.cs
  UnitTests/GitCommands.Tests/AppTitleGeneratorTests.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
  UnitTests/GitUI.Tests/TranslationTest.cs
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
Due: production, tests

fixup! review comments
  GitCommands/RevisionReader.cs
Due: production

Convert GitCommandHelpers.CheckoutCmd() -> GitCheckoutRevisionCmd
  GitCommands/Git/Commands/GitCheckoutBranchCmd.cs
  GitCommands/Git/Commands/GitCheckoutRevisionCmd.cs
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormCheckoutRevision.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCheckoutBranchCmdTest.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCheckoutRevisionCmdTest.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

VS reformat
  GitUI/CommandsDialogs/FormCheckoutRevision.Designer.cs
Due: production

Modernise FormCheckoutRevision
  GitUI/CommandsDialogs/FormCheckoutRevision.Designer.cs
  GitUI/CommandsDialogs/FormCheckoutRevision.cs
Due: production

fixup! avoid allocation when not replacing \v
  GitCommands/RevisionReader.cs
Due: production

fixup! Modernise FormCheckoutRevision
  GitUI/CommandsDialogs/FormCheckoutRevision.Designer.cs
  GitUI/CommandsDialogs/FormCheckoutRevision.cs
Due: production

CommitMessageManager: Fixup ThrowIfNull
  GitCommands/CommitMessageManager.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitCommands.Tests/CommitMessageManagerTests.cs
Due: production, tests

CommitMessageManager: Fixup ThrowIfNull (#11232)
  GitCommands/CommitMessageManager.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitCommands.Tests/CommitMessageManagerTests.cs
Due: production, tests

Decode revision reader directly to Span (#11225)
  GitCommands/Git/GitModule.cs
  GitCommands/GitCommands.csproj
  GitCommands/RevisionReader.cs
  GitCommands/StreamExtensions.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/StreamExtensionsTests.cs
Due: production, tests

RevisionReader: No reflog for notes
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=reflogselector_empty.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/reflogselector_empty.bin
Due: production, tests

RevisionReader: No reflog for notes (#11234)
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=reflogselector_empty.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/reflogselector_empty.bin
Due: production, tests

FormPush: Allow push even if no branch is selected in first tab
  GitUI/CommandsDialogs/FormPush.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
