Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

fixup! Set custom difftool list to empty if parsing is cancelled
  GitCommands/CustomDiffMergeToolCache.cs
Due: production

Verify PuTTY executables exist before invoking those (#10357)
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/BrowseForPrivateKey.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormRemotes.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  GitUI/HelperDialogs/FormRemoteProcess.cs
  GitUI/Infrastructure/Plink.cs
  GitUI/Infrastructure/PuttyHelpers.cs
  GitUI/Infrastructure/Telemetry/AppEnvironmentTelemetryInitializer.cs
  GitUI/MessageBoxes.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/EditboxBasedConsoleOutputControl.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitUI.Tests/Infrastructure/PlinkTests.cs
Due: production, tests

Better handle git "Dubious ownership" security exception
  GitUI/CommandsDialogs/FormEditor.cs
  GitUI/NBugReports/BugReportInvoker.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Stop endless dashboard repaint loop
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/Dashboard.cs
Due: production

Reinstate dev build start-up optimisation reverted in 7bd205f23c0654df7f40c45b3eac7fa2003c8fb4
  Plugins/GitUIPluginInterfaces/GitUIPluginInterfaces.csproj
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Stop endless dashboard repaint loop (#10455)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/Dashboard.cs
Due: production

Reinstate dev build start-up optimisation reverted in 7bd205f23c0654df7f40c45b3eac7fa2003c8fb4 (#10456)
  Plugins/GitUIPluginInterfaces/GitUIPluginInterfaces.csproj
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Test for pullAction failed if defaults were changed (#10452)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormPullTests.cs
Due: tests

AssemblyName include GitExtensions prefix
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityIntegration.csproj
  Setup/Product.wxs
Due: production

Add gpg sign setting keys
  GitCommands/Config/SettingKeyString.cs
Due: production

Get secret keys from GPG
  GitCommands/Git/GPGLine.cs
  GitCommands/Git/GPGSecretKeysParser.cs
  GitCommands/Git/GitGpgController.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GpgKeyInfo.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production

Add tests to validate getting key info
  UnitTests/GitCommands.Tests/Git/Gpg/GitGpgControllerTests.cs
Due: tests

Prevent gpg signing
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
Due: tests

Add GPGKeysUIController to abstract out driving GitGpgController
  GitUI/Translation/English.xlf
  GitUI/UserControls/GPGKeys/GPGKeysUIController.cs
  GitUI/UserControls/GPGKeys/GpgKeyDisplayInfo.cs
Due: production

Add Tests for GPGKeysUIController
  UnitTests/GitUI.Tests/UserControls/GPGKeys/GPGKeysUIControllerTests.cs
Due: tests

Get GPG program from git config
  GitCommands/Git/GitModule.cs
Due: production

Add GPG keys dropdown controls
  GitUI/Properties/DataSources/GitUI.UserControls.GPGKeys.GpgKeyDisplayInfo.datasource
  GitUI/UserControls/GPGKeys/GPGSecretKeysCombobox.Designer.cs
  GitUI/UserControls/GPGKeys/GPGSecretKeysCombobox.cs
  GitUI/UserControls/GPGKeys/GPGSecretKeysCombobox.resx
  GitUI/UserControls/GPGKeys/ToolStripGPGSecretKeysComboBox.cs
Due: production

Use GPG dropdowns in CreateTag form
  GitUI/CommandsDialogs/FormCreateTag.Designer.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormCreateTag.resx
Due: production

Use GPG dropdowns in FormCommit form
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Do not add BOM when commitEncoding is set to upcase UTF-8
  GitCommands/Settings/ConfigFileSettings.cs
  UnitTests/GitCommands.Tests/CommitMessageManagerTests.cs
Due: production, tests

Sign as a contributor
  contributors.txt
Due: none

Do not add BOM when commitEncoding is set to upcase UTF-8 (#10434)
  GitCommands/Settings/ConfigFileSettings.cs
  UnitTests/GitCommands.Tests/CommitMessageManagerTests.cs
  contributors.txt
Due: production, tests

First, check encodingName for null
  GitCommands/Settings/ConfigFileSettings.cs
Due: production

AssemblyName include GitExtensions prefix
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityIntegration.csproj
  Plugins/Directory.Build.props
Due: production

First, check encodingName for null (#10475)
  GitCommands/Settings/ConfigFileSettings.cs
Due: production

[NBug] An error occurred trying to start process
  Plugins/Gource/GourceStart.cs
Due: production

Add tests for FormFileHistory
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormFileHistoryTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: production, tests

Filters_should_behave_as_expected: Current branch is persisted
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
Due: tests

signed off - contributors.txt
  contributors.txt
Due: none

fixup! Add tests for FormFileHistory
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormFileHistoryTests.cs
Due: tests

modified:Plugins/Gource/GourceStart.cs
  Plugins/Gource/GourceStart.cs
Due: production

Filters_should_behave_as_expected: Current branch is persisted (#10480)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
Due: tests

Set custom difftool list to empty if parsing is cancelled (#10451)
  GitCommands/CustomDiffMergeToolCache.cs
Due: production

Update URL of Gource Readme (#10477)
  Plugins/Gource/GourceStart.cs
  contributors.txt
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
