Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Fix tab control flickering in dark theme (#9049) (#9067)
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
  GitExtUtils/GitUI/Theming/TabControlRenderer.cs
  GitExtUtils/GitUI/Theming/ThemeFix.cs
  GitUI/Theming/Renderers/TabRenderer.cs
  GitUI/Theming/Win32ThemeHooks.cs
  GitUI/UserControls/RevisionGrid/RevisionGridRefRenderer.cs
Due: production

Remove false comment regarding ColorSettingsPage
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPageController.cs
  GitUI/Theming/ThemeModule.cs
  UnitTests/GitUI.Tests/CommandsDialogs/SettingsDialog/Pages/ColorsPageSettingsPageControllerTests.cs
Due: production, tests

Restore "Commit & push" if amending
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Do not reset a valid AppSettings.GitBinDir
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
  UnitTests/GitCommands.Tests/Git/ExecutableExtensionsTests.cs
Due: production, tests

AutoComplete: Avoid Git for non tracked files
  GitCommands/Git/GitModule.cs
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Due: production

review
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPageController.cs
  GitUI/Theming/ThemeModule.cs
Due: production

Remove false comment regarding ColorSettingsPage (#9073)
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPageController.cs
  GitUI/Theming/ThemeModule.cs
  UnitTests/GitUI.Tests/CommandsDialogs/SettingsDialog/Pages/ColorsPageSettingsPageControllerTests.cs
Due: production, tests

Straighten lanes over multiple rows
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphRowTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Left Panel: Fixup "is merged" status issues
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

ExecutableExtensions: CommandCache for Execute()
  GitCommands/Git/ExecutableExtensions.cs
Due: production

Use exit status instead of IsGitErrorMessage()
  GitCommands/CommitDataManager.cs
  GitCommands/Git/GitModule.cs
  ResourceManager/LocalizationHelpers.cs
Due: production

Left Panel: Fixup "is merged" status issues (#9078)
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

Straighten lanes over multiple rows (#9050)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphRowTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

FormCommitDiff cannot handle artificial commits
  GitUI/UserControls/PatchGrid.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fix-9085 Change DialogResult only after saving before closing
  GitUI/CommandsDialogs/FormSettings.Designer.cs
  GitUI/CommandsDialogs/FormSettings.cs
Due: production

Update changelog
  GitUI/Resources/ChangeLog.md
  Setup/Prepare-Release.ps1
Due: production

Update translations
  .tools/transifex/.tx/config
  .tools/transifex/DownloadTransifexTranslations.ps1
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.gif
  GitUI/Translation/Turkish.xlf
  Setup/Product.wxs
Due: production

Add AssertEx.SequenceEqual
  UnitTests/CommonTestUtils/AssertEx.cs
Due: tests

Add LazyStringSplit and tests
  GitExtUtils/LazyStringSplit.cs
  UnitTests/GitExtUtils.Tests/LazyStringSplitTests.cs
Due: production, tests

Rename constants
  GitCommands/CommitDataManager.cs
  GitCommands/FileHelper.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitTreeParser.cs
  GitCommands/Patches/PatchManager.cs
  GitCommands/Patches/PatchProcessor.cs
  GitExtUtils/Delimiters.cs
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Editor/Diff/DiffLineNumAnalyzer.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  ResourceManager/LocalizationHelpers.cs
Due: production

Handle more exceptions as failed external operation
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

GitHub token: Add a link to let the user generate its Personal Access Token (PAT)
  Plugins/GitHub3/GitHub3Plugin.cs
  Plugins/GitHub3/GitHubCredentialsPrompt.Designer.cs
  Plugins/GitHub3/GitHubCredentialsPrompt.cs
  Plugins/GitHub3/GitHubCredentialsPrompt.resx
Due: production

GitHub token: Add a link to open tokens page on GitHub
  Plugins/GitHub3/GitHub3Plugin.cs
Due: production

Compatibility with .net 5 to open urls
  Plugins/GitHub3/GitHub3Plugin.cs
Due: production

Use regex for detecting potential URLs
  GitCommands/PathUtil.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
  contributors.txt
Due: production, tests

Get BLOB of first revision for deleted file
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Allocate HashSet only if lanes are straightened
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
Due: production

Restore splitter persistence
  GitUI/SplitterManager.cs
  UnitTests/GitUI.Tests/SplitterManagerTest.cs
Due: production, tests

fixup! Restore splitter persistence
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
