Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Avatar: better cache size (#11561)
  GitCommands/Settings/AppSettings.cs
Due: production

Avatar: Clean cache in "file and forget" (#11561)
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/UserControls/AvatarControl.cs
Due: production

Avatar: cache avatars in %LocalAppData% (#11561)
  GitCommands/Settings/AppSettings.cs
Due: production

fix(avatars): fix crash due to disposed image from cached download (#11561)
  GitUI/Avatars/AvatarDownloader.cs
Due: production

refactor(InitialsAvatarProvider): better naming (#11561)
  GitUI/Avatars/InitialsAvatarProvider.cs
  UnitTests/GitUI.Tests/Avatars/InitialsAvatarGeneratorTests.cs
Due: production, tests

perfs(AvatarColumnProvider): don't draw the placeholder avatar if not needed (#11561)
  GitUI/UserControls/RevisionGrid/Columns/AvatarColumnProvider.cs
Due: production

perf(Avatar): cache previous avatar displayed (#11561)
  GitUI/UserControls/RevisionGrid/Columns/AvatarColumnProvider.cs
Due: production

perfs(InitialsAvatarProvider): cache fonts & simplify algorithm (#11561)
  GitUI/Avatars/AvatarService.cs
  GitUI/Avatars/InitialsAvatarProvider.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Avatar: fix ClearCache feature (#11561)
  GitUI/Avatars/AvatarMemoryCache.cs
  GitUI/Avatars/AvatarService.cs
  GitUI/Avatars/FileSystemAvatarCache.cs
Due: production

perfs(avatar): bypass filesystem for very fast avatar providers (#11561)
  GitUI/Avatars/AvatarMemoryCache.cs
  GitUI/Avatars/ChainedAvatarProvider.cs
  GitUI/Avatars/CustomAvatarProvider.UriTemplateResolver.cs
  GitUI/Avatars/CustomAvatarProvider.cs
  GitUI/Avatars/FileSystemAvatarCache.cs
  GitUI/Avatars/GithubAvatarProvider.cs
  GitUI/Avatars/GravatarProvider.cs
  GitUI/Avatars/HotSwapAvatarProvider.cs
  GitUI/Avatars/IAvatarProvider.cs
  GitUI/Avatars/InitialsAvatarProvider.cs
  GitUI/Avatars/SafetynetAvatarProvider.cs
  GitUI/Avatars/StaticImageAvatarProvider.cs
  UnitTests/GitUI.Tests/Avatars/AvatarTestBase.cs
Due: production, tests

perf(FileSystemAvatarCache): always apply workaround to prevent frequent exceptions (#11561)
  GitUI/Avatars/FileSystemAvatarCache.cs
  UnitTests/GitUI.Tests/Avatars/AvatarPersistentCacheTests.cs
Due: production, tests

AvatarDownloader: don't try to convert as image if request is not a success (#11561)
  GitUI/Avatars/AvatarDownloader.cs
Due: production

perfs(FileSystemAvatarCache): improve image cache (#11561)
  GitCommands/Settings/AvatarProvider.cs
  GitUI/Avatars/FileSystemAvatarCache.cs
  GitUI/Avatars/StaticImageAvatarProvider.cs
Due: production

AvatarControl: remove double CacheClear() call (#11561)
  GitUI/UserControls/AvatarControl.cs
Due: production

Fixup MigrateColorSettings
  GitUI/Theming/ThemeRepository.cs
Due: production

Add TargetPlatform property,
  Directory.Build.props
  GitExtensions/Project.Publish.targets
  Setup/Product.wxs
  scripts/native.proj
Due: none

Combined diff error presentation
  GitCommands/Git/GitModule.cs
  GitUI/GitUIExtensions.cs
Due: production

Fixup MigrateColorSettings (#11624)
  GitUI/Theming/ThemeRepository.cs
Due: production

Combined diff error presentation (#11626)
  GitCommands/Git/GitModule.cs
  GitUI/GitUIExtensions.cs
Due: production

FileViewer: Restructure HighlightService
  GitUI/Editor/Diff/CombinedDiffHighlightService.cs
  GitUI/Editor/Diff/DiffHighlightService.cs
  GitUI/Editor/Diff/DiffLineInfo.cs
  GitUI/Editor/Diff/DiffLineNumAnalyzer.cs
  GitUI/Editor/Diff/DiffLineType.cs
  GitUI/Editor/Diff/DiffLinesInfo.cs
  GitUI/Editor/Diff/DiffViewerLineNumberControl.cs
  GitUI/Editor/Diff/ITextHighlightService.cs
  GitUI/Editor/Diff/LinePrefixHelper.cs
  GitUI/Editor/Diff/LineSegmentGetter.cs
  GitUI/Editor/Diff/PatchHighlightService.cs
  GitUI/Editor/Diff/RangeDiffHighlightService.cs
  GitUI/Editor/Diff/TextHighlightService.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/Editor/ViewMode.cs
  GitUI/Editor/ViewModeExtension.cs
  GitUI/GitUIExtensions.cs
  UnitTests/GitUI.Tests/Editor/Diff/DiffLineNumAnalyzerTests.cs
  UnitTests/GitUI.Tests/Editor/FileViewerInternal.CurrentViewPositionCacheTests.cs
Due: production, tests

Git diff coloring
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SubmoduleHelpers.cs
  GitCommands/Patches/PatchProcessor.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPage.cs
  GitUI/Editor/Diff/AnsiEscapeUtilities.cs
  GitUI/Editor/Diff/CombinedDiffHighlightService.cs
  GitUI/Editor/Diff/DiffHighlightService.cs
  GitUI/Editor/Diff/HighlightInfo.cs
  GitUI/Editor/Diff/PatchHighlightService.cs
  GitUI/Editor/Diff/RangeDiffHighlightService.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/GitUIExtensions.cs
  GitUI/Translation/English.xlf
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/Editor/FileViewerInternal.CurrentViewPositionCacheTests.cs
Due: production, tests

Git word diff coloring (#11590)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.cs
  GitUI/Editor/Diff/AnsiEscapeUtilities.cs
  GitUI/Editor/Diff/DiffHighlightService.cs
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/Editor/Diff/AnsiEscapeUtilitiesTest.Get8bitColor.cs
  UnitTests/GitUI.Tests/Editor/Diff/AnsiEscapeUtilitiesTest.ParseEscape.cs
  UnitTests/GitUI.Tests/Editor/Diff/AnsiEscapeUtilitiesTest.TryGetColors.cs
  UnitTests/GitUI.Tests/Editor/Diff/DiffLineNumAnalyzerTests.cs
  UnitTests/GitUI.Tests/Editor/Diff/LinePrefixHelperFixture.cs
Due: production, tests

refactor: clean usage of delimiters (#11622)
  GitCommands/Git/GetAllChangedFilesOutputParser.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Patches/PatchManager.cs
  GitExtUtils/Delimiters.cs
  GitUI/Avatars/InitialsAvatarProvider.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormVerify.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/LeftPanel/BaseRefTree.cs
  GitUI/UserControls/RevisionGrid/CopyContextMenuItem.cs
  GitUI/UserControls/TextBoxSilencer.cs
  Plugins/CreateLocalBranches/CreateLocalBranchesForm.cs
  Plugins/CreateLocalBranches/GitExtensions.Plugins.CreateLocalBranches.csproj
  Plugins/FindLargeFiles/FindLargeFilesForm.cs
  Plugins/GitFlow/GitExtensions.Plugins.GitFlow.csproj
  Plugins/GitFlow/GitFlowForm.cs
  ResourceManager/LocalizationHelpers.cs
Due: production

KeyShortcuts: use UI culture instead (#11620)
  GitUI/Hotkey/KeysExtensions.cs
Due: production

FormBrowse: Display shortcuts in tooltips (#11620)
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/Menus/StartToolStripMenuItem.cs
  GitUI/CommandsDialogs/Menus/ToolStripMenuItemEx.cs
  GitUI/CommandsDialogs/Menus/ToolsToolStripMenuItem.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ControlHotkeys.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/TextboxHotkey.cs
  GitUI/CommandsDialogs/ToolStripPushButton.cs
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsFormBase.cs
  ResourceManager/Hotkey/HotkeyCommand.cs
  ResourceManager/Hotkey/KeysExtensions.cs
  ResourceManager/Hotkey/ShortcutHelper.cs
  ResourceManager/ResourceManager.csproj
  UnitTests/GitUI.Tests/UserControls/ToolStripPushButtonTests.cs
Due: production, tests

FormBrowse: Fix missing shortcuts in menus (#11620)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Add rebase shortcut in contextual menu (#11620)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Ignore OperationCanceledException in ProcessCmdKey
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

Support F# files
  Plugins/Statistics/GitStatistics/GitStatisticsPlugin.cs
  contributors.txt
Due: production

Support F# files (#11637)
  Plugins/Statistics/GitStatistics/GitStatisticsPlugin.cs
  contributors.txt
Due: production
