Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

FormBrowse init optimizations
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

FormBrowse init optimizations (#9729)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Tests: Ignore flaky UI tests
  GitCommands/Settings/AppSettings.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

Ensure toggle buttons are providing visual feedback when activated
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/ToggleToolStripPushButton.cs
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
Due: production

Add toogle behavior to advanced filter button
  GitUI/UserControls/FilterToolBar.Designer.cs
Due: production

Tests: Ignore flaky UI tests (#9753)
  GitCommands/Settings/AppSettings.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

Let RTB extension GetPlainText ignore links
  GitUI/Editor/RichTextBoxXhtmlSupportExtension.cs
Due: production

RevDiff: Count number of changed files per FileList group
  GitUI/UserControls/FileStatusList.cs
Due: production

RevDiff: Count number of changed files per FileList group (#9718)
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! Let RTB extension GetPlainText ignore links
  GitUI/Editor/RichTextBoxXhtmlSupportExtension.cs
Due: production

GitStatusMonitor could start multiple commands (#9700)
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitorState.cs
Due: production

GitStatusMonitor could start multiple commands (#9699)
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
Due: production

RevDiff: Move RangeDiff to A->B group
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

RevDiff: Move RangeDiff to A->B group (#9757)
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Avoid running Git commands in dashboard
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/BuildReportTabPageExtension.cs
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

LeftPanel: Limit operations with no revision selected
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

LeftPanel: Init in PostRepositoryChangedAsync() only (#9734)
  GitUI/BranchTreePanel/RepoObjectsTree.BranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

SidePanel: Eliminate Git GetRefs()/remote commands (#9734)
  GitCommands/Remotes/ConfigFileRemoteSettingsManager.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchTree.cs
  UnitTests/GitCommands.Tests/Remote/ConfigFileRemoteSettingsManagerTests.cs
Due: production, tests

GitVersion: Remove support for obsolete versions
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
Due: production

Simplify FileStatus list image
  GitUI/UserControls/FileStatusList.cs
Due: production

Let RTB extension `GetPlainText` ignore links (#9727)
  GitUI/Editor/RichTextBoxXhtmlSupportExtension.cs
Due: production

GitVersion: Remove support for obsolete versions (#9763)
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
Due: production

Simplify FileStatus list image (#9764)
  GitUI/UserControls/FileStatusList.cs
Due: production

Update .NET Runtime Bootstrapper
  GitCommands/Settings/AppSettings.cs
  Packages.props
Due: production

Sign the PR
  contributors.txt
Due: none

Don't reference bootstrapper conditionally
  GitExtensions/GitExtensions.csproj
Due: none

Update .NET Runtime Bootstrapper (#9767)
  GitCommands/Settings/AppSettings.cs
  GitExtensions/GitExtensions.csproj
  Packages.props
  contributors.txt
Due: production

Add "Enable Windows Explorer integration" check box to shell extension settings page
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/ShellExtension/ShellExtensionManager.cs
  GitUI/Translation/English.xlf
Due: production

Use Environment.Is64BitOperatingSystem to check whether x64 shell extension must be registered
  GitUI/CommandsDialogs/SettingsDialog/ShellExtension/ShellExtensionManager.cs
Due: production

Extract shell extension registration logic
  GitUI/CommandsDialogs/SettingsDialog/CommonLogic.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/ShellExtension/ShellExtensionManager.cs
Due: production

Update contributors.txt
  contributors.txt
Due: none

Reload shell integration settings on page shown
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
