Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Experimental support of dashboard details list view
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
Due: production

Some more mnemonics
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
Due: production

Fix interactive add for new files
  GitCommands/Git/GitModule.cs
Due: production

Fix #7863: Add option to move context menu to Extended menu (accessed by Shift right click on Windows)
  GitCommands/Settings/AppSettings.cs
  GitExtensionsShellEx/GitExtensionsShellEx.cpp
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.resx
Due: production

Make "Initialize submodules?" message box respect "Update submodules on checkout" settings option (#9651)
  GitUI/CommandsDialogs/FormPull.cs
  contributors.txt
Due: production

Automatically initialize submodules on pull if settings entry is true (#9651)
  GitUI/CommandsDialogs/FormPull.cs
Due: production

Make "Initialize submodules?" message box respect "Update submodules on checkout" settings option (#9673)
  GitUI/CommandsDialogs/FormPull.cs
  contributors.txt
Due: production

Add Shortcut for Create Branch in Commit Form
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  contributors.txt
Due: production

Incorporate PR comments
  GitCommands/Git/GitModule.cs
Due: production

Add Shortcut for Create Branch in Commit Form (#9696)
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  contributors.txt
Due: production

Fix interactive add for new files (#9695)
  GitCommands/Git/GitModule.cs
Due: production

Change IExternalLinksStorage dependency from RepoDistSettings class to ISettingsSource
  GitCommands/ExternalLinks/ExternalLinksStorage.cs
Due: production

Change ExternalLinksManager to work with RepoDistSettings
  GitCommands/ExternalLinks/ExternalLinksManager.cs
  GitCommands/Settings/RepoDistSettings.cs
Due: production

Change ConfiguredLinkDefinitionsProvider class
  GitCommands/ExternalLinks/ConfiguredLinkDefinitionsProvider.cs
  GitCommands/ExternalLinks/ExternalLinksStorage.cs
  GitCommands/Settings/RepoDistSettings.cs
Due: production

Add "CompositeSettingsContainer" class
  GitCommands/Settings/SettingsContainer.cs
Due: production

Apply suggestions
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/CompositeSettingsContainer.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/ConfigFileSettingsCache.cs
  GitCommands/Settings/SettingsContainer.cs
Due: production

Use "CompositeSettingsContainer" class as base for "ConfigFileSettings" class
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/ConfigFileSettingsCache.cs
  GitUI/CommandsDialogs/SettingsDialog/CommonLogic.cs
  GitUI/GitUICommands.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
Due: production, tests

Some more mnemonics (#9693)
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
Due: production

Change Revision Links separator (#9668)
  GitUI/Editor/RichTextBoxXhtmlSupportExtension.cs
  UnitTests/GitUI.Tests/Editor/RichTextBoxXhtmlSupportExtensionTests.cs
Due: production, tests

Reset another branch to here path format
  GitCommands/Git/Commands/GitCommandHelpers.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Revert 5e1352bbc306189af23165ecd0bdc3d6dc124aba
  GitCommands/Git/GitVersion.cs
  GitCommands/RevisionReader.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.RevisionGridInMemFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Update FormRevisionFilter
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.resx
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Rebase onto: Display only the current branch to make selection easier
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/HelperDialogs/FormChooseCommit.cs
Due: production

Rebase onto: Display only the current branch to make selection easier (#9686)
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/HelperDialogs/FormChooseCommit.cs
Due: production

Rework filter
  GitCommands/RevisionReader.cs
  GitExtensionsTest.ruleset
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.Designer.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/FilterChangedEventArgs.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_with_Raw_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

GitVersion: Popup if version is too low
  GitCommands/Git/GitVersion.cs
Due: production

GitVersion: Remove support for obsolete versions (#9680)
  GitCommands/CommitDataManager.cs
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GetAllChangedFilesOutputParser.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormClone.Designer.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/FormVerify.LostObject.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.cs
  GitUI/Translation/English.xlf
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitCommands.Tests/CommitDataManagerTest.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.empty_commit.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.multi_pathfilter.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.no_subject.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.normal.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.simple_pathfilter.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.subject_no_body.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/empty_commit.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/multi_pathfilter.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/no_encoding.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/no_subject.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/normal.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/simple_pathfilter.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/subject_no_body.bin
Due: production, tests

GitStatusMonitor could start multiple commands
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitorState.cs
Due: production

revDiff: Separate group for both changed
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

Change Revision Links separator (#9687)
  GitUI/Editor/RichTextBoxXhtmlSupportExtension.cs
  UnitTests/GitUI.Tests/Editor/RichTextBoxXhtmlSupportExtensionTests.cs
Due: production, tests

Added DotnetRuntimeBootstrapper NuGet package.
  GitExtensions/GitExtensions.csproj
  Packages.props
Due: none

Generate .NET installer
  Directory.Build.props
  GitExtensions/GitExtensions.csproj
  GitExtensions/Project.Publish.targets
  GitExtensions/app.config
  Packages.props
  Setup/Config.wxi
  Setup/EnableUpgrades.wxi
  Setup/Product.wxs
  appveyor.yml
  scripts/native.proj
Due: none

Speed up testing
  appveyor.yml
Due: none

fixup! Generate .NET installer
  GitExtensions/Project.Publish.targets
Due: none

RevisionGridControl: prevent exception when switching repository
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

RevisionGridControl: prevent exception when switching repository (#9708)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Apply suggestions
  GitCommands/Settings/AppSettings.cs
  GitExtensions.sln
  GitExtensions/Program.cs
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/CommandsDialogs/BuildReportTabPageExtension.cs
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  Plugins/BuildServerIntegration/Adapters/TfsIntegration/TfsAdapter.cs
  Plugins/BuildServerIntegration/BuildServerIntegrationPlugin.cs
  Plugins/BuildServerIntegration/BuildServerIntegrationSettingsControl.Designer.cs
  Plugins/BuildServerIntegration/BuildServerIntegrationSettingsControl.cs
  Plugins/BuildServerIntegration/BuildServerIntegrationSettingsControl.resx
  Plugins/BuildServerIntegration/GitExtensions.Plugins.BuildServerIntegration.csproj
  Plugins/BuildServerIntegration/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/Settings.cs
  UnitTests/Plugins/BuildServerIntegration/Adapters/AppVeyorIntegration/AppVeyorAdapterTests.cs
  UnitTests/Plugins/BuildServerIntegration/Adapters/AppVeyorIntegration/ApprovedFiles/AppVeyorAdapterTests.Should_return_a_build_Info_When_Json_content_is_the_one_of_a_master_build.approved.txt
  UnitTests/Plugins/BuildServerIntegration/Adapters/AppVeyorIntegration/ApprovedFiles/AppVeyorAdapterTests.Should_return_a_build_Info_When_Json_content_is_the_one_of_a_pull_request_build.approved.txt
  UnitTests/Plugins/BuildServerIntegration/Adapters/AppVeyorIntegration/MockData/AppVeyorResult_master.json
  UnitTests/Plugins/BuildServerIntegration/Adapters/AppVeyorIntegration/MockData/AppVeyorResult_pull_request_build.json
  UnitTests/Plugins/BuildServerIntegration/Adapters/AzureDevOpsIntegration/AzureDevOpsAdapterTests.cs
  UnitTests/Plugins/BuildServerIntegration/Adapters/AzureDevOpsIntegration/ProjectUrlHelperTests.cs
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/AppVeyorIntegration.Tests.csproj
  UnitTests/Plugins/BuildServerIntegration/AzureDevOpsIntegration.Tests/AzureDevOpsIntegration.Tests.csproj
  UnitTests/Plugins/BuildServerIntegration/AzureDevOpsIntegration.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/BuildServerIntegration/Directory.Build.props
  UnitTests/Plugins/BuildServerIntegration/GitExtensions.Plugins.BuildServerIntegration.Tests.csproj
  UnitTests/Plugins/BuildServerIntegration/Properties/AssemblyInfo.cs
Due: production, tests

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
