Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Move GitHub3 plugin to "GitExtensions.Plugins" namespace
  GitExtensions.sln
  Plugins/GitHub3/GitExtensions.Plugins.GitHub3.csproj
  Plugins/GitHub3/GitHub3Plugin.cs
  Plugins/GitHub3/GitHubBranch.cs
  Plugins/GitHub3/GitHubCredentialsPrompt.Designer.cs
  Plugins/GitHub3/GitHubCredentialsPrompt.cs
  Plugins/GitHub3/GitHubHostedRemote.cs
  Plugins/GitHub3/GitHubPullRequest.cs
  Plugins/GitHub3/GitHubPullRequestDiscussion.cs
  Plugins/GitHub3/GitHubRepo.cs
  Plugins/Github3/Properties/Resources.Designer.cs
  Setup/Product.wxs
Due: production

Move GitFlow plugin to "GitExtensions.Plugins" namespace
  GitExtensions.sln
  Plugins/GitFlow/GitExtensions.Plugins.GitFlow.csproj
  Plugins/GitFlow/GitFlowForm.Designer.cs
  Plugins/GitFlow/GitFlowForm.cs
  Plugins/GitFlow/GitFlowPlugin.cs
  Plugins/GitFlow/Properties/Resource.Designer.cs
  Setup/Product.wxs
Due: production

Move DeleteUnusedBranches plugin to "GitExtensions.Plugins" namespace
  GitExtensions.sln
  Plugins/DeleteUnusedBranches/Branch.cs
  Plugins/DeleteUnusedBranches/CheckBoxHeaderCellEventArgs.cs
  Plugins/DeleteUnusedBranches/DataGridViewCheckBoxHeaderCell.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.Designer.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesFormSettings.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesPlugin.cs
  Plugins/DeleteUnusedBranches/GitBranchOutputCommandParser.cs
  Plugins/DeleteUnusedBranches/GitExtensions.Plugins.DeleteUnusedBranches.csproj
  Plugins/DeleteUnusedBranches/Properties/Resources.Designer.cs
  Plugins/DeleteUnusedBranches/SortableBranchesList.cs
  Setup/Product.wxs
  UnitTests/Plugins/DeleteUnusedBranches.Tests/DeleteUnusedBranches.Tests.csproj
  UnitTests/Plugins/DeleteUnusedBranches.Tests/GitBranchOutputCommandParserTests.cs
Due: production, tests

Move JiraCommitHintPlugin plugin to "GitExtensions.Plugins" namespace
  GitExtensions.sln
  Plugins/JiraCommitHintPlugin/GitExtensions.Plugins.JiraCommitHintPlugin.csproj
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
  Plugins/JiraCommitHintPlugin/Properties/Resources.Designer.cs
  Setup/Product.wxs
Due: production

Move ReleaseNotesGenerator plugin to "GitExtensions.Plugins" namespace
  GitExtensions.sln
  Plugins/ReleaseNotesGenerator/GitExtensions.Plugins.ReleaseNotesGenerator.csproj
  Plugins/ReleaseNotesGenerator/GitLogLineParser.cs
  Plugins/ReleaseNotesGenerator/HtmlFragment.cs
  Plugins/ReleaseNotesGenerator/LogLine.cs
  Plugins/ReleaseNotesGenerator/Properties/Resources.Designer.cs
  Plugins/ReleaseNotesGenerator/ReleaseNotesGeneratorForm.Designer.cs
  Plugins/ReleaseNotesGenerator/ReleaseNotesGeneratorForm.cs
  Plugins/ReleaseNotesGenerator/ReleaseNotesGeneratorPlugin.cs
  Setup/Product.wxs
  UnitTests/Plugins/ReleaseNotesGenerator.Tests/GitLogLineParserTests.cs
  UnitTests/Plugins/ReleaseNotesGenerator.Tests/MainFixture.cs
  UnitTests/Plugins/ReleaseNotesGenerator.Tests/ReleaseNotesGenerator.Tests.csproj
Due: production, tests

Move ProxySwitcher plugin to "GitExtensions.Plugins" namespace
  GitExtensions.sln
  Plugins/ProxySwitcher/GitExtensions.Plugins.ProxySwitcher.csproj
  Plugins/ProxySwitcher/Properties/Resources.Designer.cs
  Plugins/ProxySwitcher/ProxySwitcherForm.Designer.cs
  Plugins/ProxySwitcher/ProxySwitcherForm.cs
  Plugins/ProxySwitcher/ProxySwitcherPlugin.cs
  Setup/Product.wxs
Due: production

Move ImpactLoader.cs from GitCommands.Statistics to GitExtensions.Plugins.GitImpact
  Plugins/Statistics/GitImpact/FormImpact.cs
  Plugins/Statistics/GitImpact/GitExtensions.Plugins.GitImpact.csproj
  Plugins/Statistics/GitImpact/ImpactControl.cs
  Plugins/Statistics/GitImpact/ImpactLoader.cs
Due: production

readthedoc: use version specific links
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/GitExtensionsDialog.cs
  GitUI/UserManual/StandardHtmlUserManual.cs
  UnitTests/GitCommands.Tests/TestData/README.blame
  UnitTests/GitUI.Tests/UserManual/StandardHtmlUserManualFixture.cs
  scripts/set_version_to.py
Due: production, tests

Improve display of exceptions
  GitUI/NBugReports/BugReporter.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  UnitTests/GitUI.Tests/NBugReports/BugReporterTests.cs
Due: production, tests

Jira plugin configuration - Password renamed to Password/API token (#8836)
  Plugins/GitUIPluginInterfaces/UserControls/CredentialsControl.Designer.cs
Due: production

Disable CodeCov integration (#8950)
  scripts/tools/NUnit/NUnit.targets
Due: none

Dialogs layout alignment - `FormDeleteBranch`
  GitUI/CommandsDialogs/FormDeleteBranch.Designer.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteBranch.resx
  GitUI/GitUICommands.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/BranchComboBox.Designer.cs
Due: production

Dialogs layout alignment - `FormDeleteRemoteBranch`
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.Designer.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.resx
  GitUI/Translation/English.xlf
Due: production

Fixup the initial view menu item state of #8942
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
Due: production

Include spelling dictionaries
  GitExtensions/Project.Publish.targets
Due: none

Fix "Commit & push" button color when ameding is enabled
  GitExtUtils/GitUI/Theming/OtherColors.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Add special colos for SolveMergeconflicts and PanelMessage
  GitExtUtils/GitUI/Theming/OtherColors.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormEditor.cs
  GitUI/CommandsDialogs/FormRebase.cs
Due: production

Include spelling dictionaries (#8992)
  GitExtensions/Project.Publish.targets
Due: none

fixup! Improve display of exceptions
  GitUI/NBugReports/BugReporter.cs
Due: production

#8684 Avatars are misaligned in blame form
  GitUI/Editor/BlameAuthorMargin.cs
Due: production

Improve display of exceptions (#8988)
  GitUI/NBugReports/BugReporter.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  UnitTests/GitUI.Tests/NBugReports/BugReporterTests.cs
Due: production, tests

Don't use the plugin description field and switch to using the name field
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/Dashboard.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RepoHosting/ForkAndCloneForm.cs
  GitUI/CommandsDialogs/SettingsDialog/Plugins/PluginSettingsPage.cs
  GitUI/Script/ScriptRunner.cs
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
  ResourceManager/GitPluginBase.cs
Due: production

Change localization from description field to name field
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/en_pseudo.Plugins.xlf
  ResourceManager/GitPluginBase.cs
Due: production

Add Id field to the plugin interface
  Plugins/GitUIPluginInterfaces/IGitPlugin.cs
  ResourceManager/GitPluginBase.cs
Due: production

Remove the use of the SetNameAndDescription method in plugins
  Plugins/AutoCompileSubmodules/AutoCompileSubModulesPlugin.cs
  Plugins/BackgroundFetch/BackgroundFetchPlugin.cs
  Plugins/Bitbucket/BitbucketPlugin.cs
  Plugins/CreateLocalBranches/CreateLocalBranchesPlugin.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesPlugin.cs
  Plugins/FindLargeFiles/FindLargeFilesPlugin.cs
  Plugins/GitFlow/GitFlowPlugin.cs
  Plugins/GitHub3/GitHub3Plugin.cs
  Plugins/Gource/GourcePlugin.cs
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
  Plugins/ProxySwitcher/ProxySwitcherPlugin.cs
  Plugins/ReleaseNotesGenerator/ReleaseNotesGeneratorPlugin.cs
  Plugins/Statistics/GitImpact/GitImpactPlugin.cs
  Plugins/Statistics/GitStatistics/GitStatisticsPlugin.cs
Due: production

Implement Id field in plugins
  Plugins/AutoCompileSubmodules/AutoCompileSubModulesPlugin.cs
  Plugins/BackgroundFetch/BackgroundFetchPlugin.cs
  Plugins/Bitbucket/BitbucketPlugin.cs
  Plugins/CreateLocalBranches/CreateLocalBranchesPlugin.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesPlugin.cs
  Plugins/FindLargeFiles/FindLargeFilesPlugin.cs
  Plugins/GitFlow/GitFlowPlugin.cs
  Plugins/GitHub3/GitHub3Plugin.cs
  Plugins/Gource/GourcePlugin.cs
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
  Plugins/ProxySwitcher/ProxySwitcherPlugin.cs
  Plugins/ReleaseNotesGenerator/ReleaseNotesGeneratorPlugin.cs
  Plugins/Statistics/GitImpact/GitImpactPlugin.cs
  Plugins/Statistics/GitStatistics/GitStatisticsPlugin.cs
Due: production

Change getting and saving plugin settings using Id field
  GitUI/CommandsDialogs/SettingsDialog/Plugins/PluginSettingsPage.cs
  GitUI/Plugin/GitPluginSettingsContainer.cs
  GitUI/Plugin/PluginRegistry.cs
  ResourceManager/GitPluginBase.cs
Due: production

FileSettingsCache: No exception if Git config is inaccessible
  GitCommands/Settings/FileSettingsCache.cs
Due: production

Add contributor
  contributors.txt
Due: none

Check BeforeCommit script failure to abort commit
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Script/ScriptManager.cs
  GitUI/Script/ScriptRunner.cs
Due: production

Add contributor (#9004)
  contributors.txt
Due: none

FileSettingsCache: No exception if Git config is inaccessible (#9003)
  GitCommands/Settings/FileSettingsCache.cs
Due: production

Avoid invalid line number in DiffHighlightService
  GitUI/Editor/Diff/DiffHighlightService.cs
Due: production

Update transifex
  .tools/transifex/.tx/config
  .tools/transifex/DownloadTransifexTranslations.ps1
Due: none

Inject current branch slug into the documentation link
  GitCommands/Properties/AssemblyInfo.cs
  GitCommands/Settings/AppSettings.cs
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserManual/StandardHtmlUserManual.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/CopyContextMenuItemTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/UserManual/StandardHtmlUserManualFixture.cs
Due: production, tests
