Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Display deleted or unavailable repositories in red
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
Due: production

Move BeginUpdate() / EndUpdate() in a better place (in `RefreshRepos()`)
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
Due: production

Better UX for combobox minimum width
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
Due: production

Update GitCommands/CommitMessageManager.cs
  GitCommands/CommitMessageManager.cs
Due: production

Update GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Update GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
Due: production

Some recent repositories settings improvements (#10903)
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.resx
  GitUI/RepositoryHistoryUIService.cs
Due: production

Replace sync CommitMessageManager API with async (#10930)
  GitCommands/CommitMessageManager.cs
  GitUI/Avatars/FileSystemAvatarCache.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormRevertCommit.cs
  Packages.props
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitCommands.Tests/CommitMessageManagerTests.cs
  UnitTests/GitUI.Tests/Avatars/AvatarPersistentCacheTests.cs
Due: production, tests

Update change log
  GitUI/Resources/ChangeLog.md
Due: production

Update translations at 75%
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.Plugins.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Polish.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).Plugins.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Traditional Chinese.Plugins.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.xlf
  Setup/Product.wxs
Due: production

CommitAutoComplete: Retry if first attempt fail
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Due: production

CommitAutoComplete: Retry if first attempt fail (#10934)
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Due: production

Write info async on Commit dialog close
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormRevertCommit.cs
Due: production

Write info async on Commit dialog close (#10935)
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormRevertCommit.cs
Due: production

Before packaging check if all files in $(PublishDir) are delcared in Setup/Product.wxs
  GitExtensions/Project.Publish.targets
  Setup/Check-BundlesConsistent.ps1
  Setup/Product.wxs
Due: none

Add missing assemblies
  Setup/Product.wxs
Due: none

Fix setup (#10937)
  GitExtensions/Project.Publish.targets
  Setup/Check-BundlesConsistent.ps1
  Setup/Product.wxs
Due: none

Convert AppSettings.ConEmuConsoleFont.Size to int
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
Due: production

Convert AppSettings.ConEmuConsoleFont.Size to int (#10938)
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
Due: production

WIP
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
Due: production

Handle all message filters starting with -- as git-log options
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

ShowCurrentBranchOnly: Filter also if no branch checkout
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Open VS Code in a new window
  GitCommands/DiffMergeTools/VsCode.cs
  GitUI/CommandsDialogs/SettingsDialog/EditorHelper.cs
Due: production

amend! ShowCurrentBranchOnly: Filter also if no branch is checked out
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

amend! ShowCurrentBranchOnly: Filter also if no branch is checked out
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

squash! capture previousCheckout
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Handle all message filters starting with -- as git-log options (#10943)
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Open VS Code in a new window (#10945)
  GitCommands/DiffMergeTools/VsCode.cs
  GitUI/CommandsDialogs/SettingsDialog/EditorHelper.cs
Due: production

Desktop-Int.
  .vscode/extensions.json
Due: none

ShowCurrentBranchOnly: Filter also if no branch checkout (#10944)
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Update translations
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
Due: production

Update translations / changelog
  GitUI/Resources/ChangeLog.md
Due: production
