Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

fixup! offset a few pixels compared to FindAndReplaceForm
  GitUI/UserControls/FileStatusList.cs
Due: production

Call OpenWithDifftool with named arguments (#11650)
  GitCommands/Git/GitModule.cs
Due: production

fixup! rename to FormSearchCommit
  GitUI/Editor/FormSearchCommit.Designer.cs
  GitUI/Editor/FormSearchCommit.cs
  GitUI/Editor/FormSearchCommit.resx
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusList.cs
Due: production

Adding comment to explain why RestoreSplitters(); is in the Designer.cs file
  GitUI/CommandsDialogs/FormCommit.Designer.cs
Due: production

Turn on DoubleBuffered mode for the NativeTreeView control to prevent flickering (#11647)
  GitUI/LeftPanel/Node.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/UserControls/NativeTreeView.cs
Due: production

Set ForceDesignerDpiUnaware prop for GitUI project
  GitUI/GitUI.csproj
Due: production

fixup! various dropdown issues
  GitUI/Editor/FormSearchCommit.Designer.cs
  GitUI/Editor/FormSearchCommit.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Restore splitter positions early in the layout process for FormCommit (#11646)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: production, tests

Set ForceDesignerDpiUnaware prop for the GitUI project (#11653)
  GitUI/GitUI.csproj
Due: production

Remove pointless call to DiffFiles.ProcessHotkey (#11654)
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Add GitExtensionsControl.GetShortcutKeyDisplayString (#11654)
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Editor/FileViewer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/Hotkey/ShortcutHelper.cs
Due: production

Improve ShowGitWordColoring hotkey (#11654)
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

Display shortcuts in tooltips of FileViewer toolbar (#11654)
  GitUI/Editor/FileViewer.cs
  ResourceManager/GitExtensionsControl.cs
Due: production

Replace KeysExtensions.UpdateTooltipWithShortcut (#11654)
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/ToolStripPushButton.cs
  GitUI/UserControls/FilterToolBar.cs
  ResourceManager/Hotkey/KeysExtensions.cs
Due: production

Fix theme migration bug (#11629)
  GitCommands/Settings/AppSettings.cs
  Plugins/GitUIPluginInterfaces/SettingsSource.cs
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
Due: production, tests

fixup! Fix theme migration bug (#11629)
  contributors.txt
Due: none

fixup! Fix theme migration bug (#11629)
  GitCommands/Settings/AppSettings.cs
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
Due: production, tests

fixup! Fix theme migration bug (#11629)
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
Due: tests

fixup! translation and update popup from searchbox
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusList.cs
Due: production

Fixup FormResetAnotherBranch combobox handling
  GitUI/HelperDialogs/FormResetAnotherBranch.Designer.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
Due: production

Improve stability of show stashes test
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
Due: tests

fixup! focus search when relaunching
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Editor/FormSearchCommit.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Fix theme migration bug (#11655)
  Plugins/GitUIPluginInterfaces/SettingsSource.cs
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
  contributors.txt
Due: production, tests

Improve stability of show stashes test (#11652)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
Due: tests

fixup! focus search when relaunching
  GitUI/Editor/FormSearchCommit.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! tweak to update pop from searchbox
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! Review comment: Make Label mnemonic work
  GitUI/HelperDialogs/FormResetAnotherBranch.Designer.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.resx
Due: production

Send GitHub authentication when fetching diff data
  Plugins/GitHub3/GitHubPullRequest.cs
Due: production

Parse patch header with escape sequences (#11641)
  GitCommands/Patches/PatchProcessor.cs
  Plugins/GitUIPluginInterfaces/Patch.cs
  UnitTests/GitCommands.Tests/GitCommands.Tests.csproj
  UnitTests/GitCommands.Tests/Patches/PatchProcessorTest.cs
  UnitTests/GitCommands.Tests/Patches/PatchTest.cs
  UnitTests/GitCommands.Tests/Patches/testdata/color-binary.diff
  UnitTests/GitCommands.Tests/Patches/testdata/color.diff
Due: production, tests

git-word-diff navigation and line index marking
  GitUI/Editor/Diff/CombinedDiffHighlightService.cs
  GitUI/Editor/Diff/DiffHighlightService.cs
  GitUI/Editor/Diff/DiffLineNumAnalyzer.cs
  GitUI/Editor/Diff/DiffLineType.cs
  GitUI/Editor/Diff/DiffViewerLineNumberControl.cs
  GitUI/Editor/Diff/GrepHighlightService.cs
  GitUI/Editor/Diff/ITextHighlightService.cs
  GitUI/Editor/Diff/PatchHighlightService.cs
  GitUI/Editor/Diff/RangeDiffHighlightService.cs
  GitUI/Editor/Diff/TextHighlightService.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Editor/FileViewerInternal.cs
  UnitTests/GitUI.Tests/Editor/Diff/DiffLineNumAnalyzerTests.cs
  UnitTests/GitUI.Tests/Editor/Diff/SampleGitWordDiff.diff
  UnitTests/GitUI.Tests/Editor/FileViewerInternal.CurrentViewPositionCacheTests.cs
Due: production, tests

Add SubscribableTraceListener
  GitExtUtils/ServiceContainerRegistry.cs
  GitExtUtils/ServiceProviderExtensions.cs
  GitExtUtils/SubscribableTraceListener.cs
  GitExtensions/ServiceContainerRegistry.cs
Due: production

Add ProcessHistoryModel
  GitCommands/Settings/AppSettings.cs
  GitUI/Models/ProcessHistoryModel.cs
  GitUI/Models/RunProcessInfo.cs
  GitUI/ServiceContainerRegistry.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Fill ProcessHistoryModel from FormStatus
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/HelperDialogs/FormStatus.cs
  IntegrationTests/UI.IntegrationTests/GlobalServiceContainer.cs
Due: production, tests

FormStatusOutputLog: Normalize line endings
  GitUI/FormStatusOutputLog.cs
Due: production

Add ProcessHistoryControl and controller
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.InitCommitDetails.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/ProcessHistoryControl.Designer.cs
  GitUI/UserControls/ProcessHistoryControl.cs
  GitUI/UserControls/ProcessHistoryControl.resx
  GitUI/UserControls/ProcessHistoryControllerBase.cs
  GitUI/UserControls/ProcessHistoryPanelController.cs
  GitUI/UserControls/ProcessHistoryTabController.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.SplitterPositionsShouldBeDefault.verified.json
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.SplitterPositionsShouldBeSaved_commitInfoPosition=BelowList.verified.json
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.SplitterPositionsShouldBeSaved_commitInfoPosition=LeftwardFromList.verified.json
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.SplitterPositionsShouldBeSaved_commitInfoPosition=RightwardFromList.verified.json
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

test: Add unit tests (#11649)
  UnitTests/GitCommands.Tests/UserRepositoryHistory/RecentRepoSplitterTests.cs
Due: tests

RecentRepos: don't use Graphics to measure string length (#11649)
  GitCommands/UserRepositoryHistory/RecentRepoInfo.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesListController.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/RepositoryHistoryUIService.cs
Due: production

RecentRepos: better display of shortening user path (#11649)
  GitCommands/UserRepositoryHistory/RecentRepoInfo.cs
Due: production

PathUtil: cache user profile path (#11649)
  GitCommands/PathUtil.cs
Due: production
