Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Add "Show Xyz branches" to the filter toolbar
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/BranchFilter.png
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

Show dropdown on click
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Fix translation issues
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  ResourceManager/Xliff/TranslationUtil.cs
Due: production

Reset filters when reflogs enabled
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Reset filters when reflogs enabled
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

Remove CorePath class
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
  GitUI/Editor/FileViewer.cs
Due: production

Update translations at 75%+
  .tools/transifex/.tx/config
  .tools/transifex/DownloadTransifexTranslations.ps1
  GitUI/Translation/Czech.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/Dutch.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.Plugins.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Latvian.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Polish.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.gif
  GitUI/Translation/Turkish.xlf
  GitUI/Translation/en_pseudo.Plugins.xlf
  GitUI/Translation/en_pseudo.xlf
  Setup/Product.wxs
Due: production

Remove CorePath class (#9540)
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
  GitUI/Editor/FileViewer.cs
Due: production

Update translations at 75%+ (#9541)
  .tools/transifex/.tx/config
  .tools/transifex/DownloadTransifexTranslations.ps1
  GitUI/Translation/Czech.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/Dutch.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.Plugins.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Latvian.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Polish.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.gif
  GitUI/Translation/Turkish.xlf
  GitUI/Translation/en_pseudo.Plugins.xlf
  GitUI/Translation/en_pseudo.xlf
  Setup/Product.wxs
Due: production

Reinstate SmartFormat legacy error handling
  ResourceManager/TranslatedStrings.cs
Due: production

Reinstate SmartFormat legacy error handling (#9542)
  ResourceManager/TranslatedStrings.cs
Due: production

Dialogs layout alignment - `FormDeleteRemoteBranch`
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.Designer.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.resx
  GitUI/Translation/English.xlf
Due: production

Restore splitter persistence
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/SplitterManager.cs
  UnitTests/CommonTestUtils/MemorySettings.cs
  UnitTests/CommonTestUtils/MemorySettingsCache.cs
  UnitTests/GitUI.Tests/SplitterManagerTest.cs
Due: production, tests

Simplify the ISettingsSource class
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/RepoDistSettings.cs
  GitCommands/Settings/Setting.cs
  GitCommands/Settings/SettingsCache.cs
  GitCommands/Settings/SettingsContainer.cs
  GitCommands/Settings/SettingsPath.cs
  GitUI/Plugin/GitPluginSettingsContainer.cs
  Plugins/GitUIPluginInterfaces/ISettingsSource.cs
  Plugins/GitUIPluginInterfaces/Settings/NumberSetting.cs
  Plugins/Gource/GourcePlugin.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Restore splitter persistence (#9106)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/SplitterManager.cs
  UnitTests/CommonTestUtils/MemorySettings.cs
  UnitTests/CommonTestUtils/MemorySettingsCache.cs
  UnitTests/GitUI.Tests/SplitterManagerTest.cs
Due: production, tests

Restore splitter persistence
  UnitTests/CommonTestUtils/MemorySettings.cs
  UnitTests/CommonTestUtils/MemorySettingsCache.cs
  UnitTests/GitUI.Tests/SplitterManagerTest.cs
Due: tests

fix: Show current branch resets when switch repos
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Restore splitter persistence (#9550)
  UnitTests/CommonTestUtils/MemorySettings.cs
  UnitTests/CommonTestUtils/MemorySettingsCache.cs
  UnitTests/GitUI.Tests/SplitterManagerTest.cs
Due: tests

CustomDiffTools: catch failed parsing
  GitCommands/CustomDiffMergeToolCache.cs
Due: production

Cancellation for Executable
  GitCommands/Git/Executable.cs
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  Plugins/GitUIPluginInterfaces/IProcess.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
Due: production, tests

Cancellation support for CustomDiffMergeTools (#9522)
  GitCommands/CustomDiffMergeToolCache.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/FormResolveConflicts.Designer.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CustomDiffMergeToolProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

RangeDiff: Cancellation token for Git command
  GitCommands/Git/GitModule.cs
Due: production

Clear custom tool caches in sequence after updating settings
  GitCommands/CustomDiffMergeToolCache.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CustomDiffMergeToolProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fix: Show current branch resets when switch repos (#9551)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Enhance the filters toolbar (#9528)
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/BranchFilter.png
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  ResourceManager/Xliff/TranslationUtil.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

Apply suggestions from code review
  GitUI/UserControls/BlameControl.cs
Due: production

Add more code according to the suggestions
  GitCommands/Git/GitBlame.cs
  GitUI/UserControls/BlameControl.cs
  UnitTests/GitCommands.Tests/Git/GitBlameCommitTests.cs
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
Due: production, tests

Remove unused using.
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
Due: tests

fix: Show current branch resets when switch repos
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: production, tests

Populate ToolStripFilters branch combo when switch repos
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
Due: production, tests

Blame: Hide EnableAutomaticContinuousScroll
  GitUI/Editor/FileViewer.cs
  GitUI/UserControls/BlameControl.cs
Due: production

RevFileTree: Blame instead of View
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeController.cs
Due: production

LoadBlame: CancellationToken (#9424)
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/UserControls/BlameControl.cs
Due: production

RevDiff/FileTree: Start blaming on current file line
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Editor/FileViewerInternal.cs
Due: production

Hide CommitInfo in FileTree
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/UserControls/BlameControl.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
