Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

ImageView: View failures as dump
  GitUI/Editor/FileViewer.cs
Due: production

Increase the number of commit templates
  GitUI/CommandsDialogs/CommitDialog/FormCommitTemplateSettings.cs
Due: production

Store finished builds
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/CacheAzureDevOps.cs
Due: production

Flag to avoid trying to store when builds come already from cache
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
Due: production

Fix toolbar order (revisited)
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Ignore VS service logs
  .gitignore
Due: none

Bump version to 3.6.0
  appveyor.yml
Due: none

Prioritize main as master in CommitInfo
  GitUI/CommitInfo/CommitInfo.cs
Due: production

Adjust name for test variable in ScriptRunnerTests
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: tests

review
  GitCommands/RevisionReader.cs
Due: production

fix tab control border in high dpi
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
  GitExtUtils/GitUI/Theming/TabControlRenderer.cs
  GitExtUtils/GitUI/Theming/ThemeFix.cs
  GitUI/Theming/Renderers/TabRenderer.cs
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

fix indent
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

fix tab border color and some bugs
  GitUI/Theming/Renderers/TabRenderer.cs
Due: production

Fix filter by branch with globbing characters *?[] (#8801)
  GitCommands/RevisionReader.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Fix tab control border in high dpi (#8815)
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
  GitExtUtils/GitUI/Theming/TabControlRenderer.cs
  GitExtUtils/GitUI/Theming/ThemeFix.cs
  GitUI/Theming/Renderers/TabRenderer.cs
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

Correct padding increase
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Fix dark theme visually corrupt after dpi change
  GitExtensions/Program.cs
Due: none

Incorrect colors for left panel icons
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

Variety of accessibility-related fixes for config dialog
  GitExtensions/app.config
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
  GitUI/Translation/English.xlf
  contributors.txt
Due: production

Restore/expose IGitUICommands.StartRemotesDialog
  GitUI/GitUICommands.cs
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
Due: production

Reset Another branch: prevent special characters in path to fail command
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Jenkins: requery new running jobs
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
Due: production

Jira plugin configuration - Password renamed to Password/API token
  Plugins/GitUIPluginInterfaces/UserControls/CredentialsControl.Designer.cs
Due: production

Jira plugin configuration - swap Password/API token
  Plugins/GitUIPluginInterfaces/UserControls/CredentialsControl.Designer.cs
Due: production

Check if path exists before creating FileInfo
  GitCommands/FileInfoExtensions.cs
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseUtil.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Less awful looking tab hottrack color
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitUI/Theming/Renderers/TabRenderer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridRefRenderer.cs
Due: production

remove unused method
  GitExtUtils/GitUI/ControlUtil.cs
Due: production

Fix dark theme visually corrupt after reconnecting to RDP session
  GitExtensions/Program.cs
  GitUI/Theming/Renderers/ThemeRenderer.cs
  GitUI/Theming/ThemeModule.cs
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

dotnet/winforms .editorconfig
  .editorconfig
  GitExtensions.ruleset
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: tests
