Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Bug 8742 fix
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

Make showing commit message body in the revision graph optional (#9301)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  contributors.txt
Due: production

Fixup RevisionGraph.GetCachedCount (#9286)
  GitUI/UserControls/RevisionGrid/Columns/ColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Fixup condition in DrawItem of RevisionGraphColumnProvider (#9286)
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
Due: production

Fixup theoretical race condition (#9286)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Prepopulate Delete Tag dialog with FullName of tag
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
Due: production

Adding to contributors.txt
  contributors.txt
Due: none

Prepopulate Delete Tag dialog with FullName of tag (#9303)
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
Due: production

Added comments and moved logic to a common function
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

member functions moved as local methods
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

Make RevisionGridControlTests more robust
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

Fix PathUtil handling of spaces in file names
  GitCommands/PathUtil.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Reduce long path test-case path
  UnitTests/GitCommands.Tests/FullPathResolverTests.cs
Due: tests

Release DC retrieved using GetWindowDC
  GitUI/Interops/User32/GetWindowDC.cs
  GitUI/UserControls/TextBoxEx.cs
Due: production

Revert "Flip the colors of the branches"
  GitExtUtils/GitUI/Theming/AppColorDefaults.cs
  GitUI/Themes/bright.css
  GitUI/Themes/dark.css
  GitUI/Themes/darksilver.css
  GitUI/Themes/invariant.css
Due: production

Create empty settings file if missing (#9289)
  GitCommands/Settings/AppSettings.cs
Due: production

Workaround for flaky RevisionGridControlTests
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Merge pull request #9305 from mdonatas/path-util-fix
  GitCommands/PathUtil.cs
  UnitTests/GitCommands.Tests/FullPathResolverTests.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Exclude vimdiff1 from custom difftools
  GitCommands/CustomDiffMergeToolCache.cs
Due: production

Workaround for flaky RevisionGridControlTests (#9309)
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Add mnemonics to `FormStash`
  GitUI/CommandsDialogs/FormStash.Designer.cs
  GitUI/Translation/English.xlf
Due: production

Stash: Replace CustomMessage button with label
  GitUI/CommandsDialogs/FormStash.Designer.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/Translation/English.xlf
Due: production

FormStash: Hotkey to move in stash list, refresh
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

Exclude vimdiff1 from custom difftools (#9314)
  GitCommands/CustomDiffMergeToolCache.cs
Due: production

Fix PathUtil handling of spaces in file names (for 3.5) (#9313)
  GitCommands/PathUtil.cs
  UnitTests/GitCommands.Tests/FullPathResolverTests.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

StreamExtensions: Read double null terminated records
  GitCommands/RevisionReader.cs
  GitCommands/StreamExtensions.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/StreamExtensionsTests.cs
Due: production, tests

Create empty AppSettings file
  GitCommands/Settings/AppSettings.cs
Due: production

Quick search Body instead of Subject if available
  GitCommands/Git/GitRevisionTester.cs
Due: production

Added Select method to allow usage of .NET 5 ToHashSet method.
  GitCommands/Git/GitRef.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Removed unused methods.
  GitExtUtils/Linq/LinqExtensions.cs
Due: production

Fixed compile error.
  Plugins/Statistics/GitStatistics/LineCounter.cs
Due: production

Load plugins
  GitUI/Plugin/PluginRegistry.cs
  GitUI/Translation/English.xlf
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
  ResourceManager/Xliff/TranslationUtil.cs
  scripts/RepoLayout.props
Due: production

GitRevision: Remove Name property
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
Due: production, tests

Correctly convert bitmap to icon
  GitUI/BitmapExtensions.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/HelperDialogs/FormStatus.cs
  GitUI/WindowsJumpListManager.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionFileTreeControllerTests.cs
Due: production, tests

Dispose resources in WindowsJumpListManager.MakeIcon
  GitUI/WindowsJumpListManager.cs
Due: production

Release DC retrieved using GetWindowDC
  GitUI/Interops/User32/ReleaseDC.cs
  GitUI/UserControls/TextBoxEx.cs
Due: production

fixup! Correctly convert bitmap to icon
  GitUI/BitmapExtensions.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/HelperDialogs/FormStatus.cs
  GitUI/WindowsJumpListManager.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionFileTreeControllerTests.cs
Due: production, tests

Cache Icons drawn for Taskbar overlay / Jump List
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/WindowsJumpListManager.cs
Due: production
