Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Update GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Display 'Plugin Manager" next to "Plugin settings" in the menu (#8238)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Draw CurrentCheckout of any type with bold message
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
Due: production

MergeTool Setting: Exception if mergetool is not set
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
Due: production

fix crash when merge tool is null
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
Due: production

Update changelog and translations
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Simplified Chinese.xlf
Due: production

Addendum to 33da5fdc238c73119c070452d70b7879b29086bc
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
Due: production

Release 3.4.2
  GitExtensions.releases
Due: none

Update README.md
  README.md
Due: none

Fix "selection only" text search on Diff view (#7784)
  GitUI/Editor/FindAndReplaceForm.cs
  UnitTests/GitUI.Tests/Editor/FindAndReplaceFormTests.cs
Due: production, tests

Sign CLA
  contributors.txt
Due: none

Fix ssh not found
  GitCommands/SshPathLocator.cs
  UnitTests/GitCommands.Tests/SshPathLocatorTest.cs
Due: production, tests

Refactor RunFileHistoryCommand and RunBlameCommand
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/GitUICommands.cs
Due: production

Run FormFileHistory in a separate GE instance
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  UnitTests/GitUI.Tests/GitUICommands/NormalizeFileNameTests.cs
Due: production, tests

ExitCode -1 on error parsing command line arguments
  GitExtensions/Program.cs
  GitUI/GitUICommands.cs
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
Due: production

Disable CLI test "settings" with exception popup
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: tests

Add hint for updating portable builds
  README.md
Due: none

Avoid console printouts when submodule updates are throttled
  GitCommands/Submodules/SubmoduleStatusProvider.cs
Due: production

RevDiff: Allow difftool menu for untracked
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

RevDiff: diff menu Selected -> Second
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Translation/English.xlf
Due: production

DiffTool should always detect rename and copy
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormArchive.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/GitUICommands.cs
  GitUI/GitUIExtensions.cs
  GitUI/RevisionDiffInfoProvider.cs
  ResourceManager/LocalizationHelpers.cs
  UnitTests/GitUI.Tests/Helpers/DiffKindRevisionTests.cs
Due: production, tests

RevDiff: Diff submenu: Keep Second before First
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

RevDiff: Diff any two selected items
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RememberFileContextMenuController.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Translation/English.xlf
  UnitTests/GitUI.Tests/CommandsDialogs/RememberFileContextMenuControllerTests.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffContextMenuControllerTests.cs
Due: production, tests

Track theme colors
  GitUI/Infrastructure/Telemetry/DiagnosticsClient.cs
  GitUI/Infrastructure/Telemetry/ThemingTelemetryInitializer.cs
Due: production

review
  GitUI/Infrastructure/Telemetry/ThemingTelemetryInitializer.cs
Due: production

RevFileTree: DiffTool failed for files in a folder
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

RevFile: Diff any two files
  GitUI/CommandsDialogs/RememberFileContextMenuController.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
Due: production

Add gpg sign setting keys
  GitCommands/Config/SettingKeyString.cs
Due: production

Add config ui for gpg signing
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.resx
Due: production

Get secret keys from GPG
  GitCommands/Git/GitGpgController.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production

Plan for user to be able to select a private key
  GitCommands/Git/GitGpgController.cs
Due: production

Use gpgSecretKeysComboboxControl in git config settings page
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
Due: production

Add GPGSecretKeysComboboxControl to allow user to select one of their keys
  GitCommands/Git/GitGpgController.cs
  GitUI/GitUI.csproj
  GitUI/Properties/DataSources/GitUI.UserControls.GPGSecretKeysComboboxControl+GpgKeyDisplayInfo.datasource
  GitUI/UserControls/GPGSecretKeysComboboxControl.Designer.cs
  GitUI/UserControls/GPGSecretKeysComboboxControl.cs
  GitUI/UserControls/GPGSecretKeysComboboxControl.resx
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
