Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

TODO in Refresh(), update the fonts + Minor fixes
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Only block user-initiated close
  GitUI/Editor/FindAndReplaceForm.cs
Due: production

Fix revision lane order
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
Due: production

Switch to ConcurrentQueue
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
Due: production

Reduce access to ConcurrentQueue to avoid excessive synchronization
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
Due: production

Make sure that customized hotkeys show up in the menu correctly, including after Settings dialog close
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Fixup splitter persistence for CommitInfo (#9639)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
Due: production, tests

Fix #6276: "Show messages of annotated tags" truncates to ten lines without notice (#9616)
  GitCommands/Git/GitModule.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Only block user-initiated close (#9652)
  GitUI/Editor/FindAndReplaceForm.cs
Due: production

Fix revision lane order (#9650)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
Due: production

• Move SetShortcutKeyDisplayStringsFromHotkeySettings() outside of InternalInitialize() and call it (instead of InternalInitialize()) after the Settings dialog
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Remove hardcoded ShortcutKeys and ShortcutKeyDisplayStrings
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Add mnemonics to almost every menu item in FormBrowse
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Improve RevisionDataGridView responsiveness (#8809)
  GitUI/Interops/Messages.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.BackgroundUpdater.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UITest.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/GitCommands.Tests/Config/ConfigFileTest.cs
Due: production, tests

Remove extraneous addition to English.xlf
  GitUI/Translation/English.xlf
Due: production

Fix loading user plugins.
  GitExtensions/Program.cs
  GitUI/Plugin/PluginRegistry.cs
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Fix build
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
Due: tests

Fix build (#9664)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
Due: tests

NBug copy text were url encoded
  BugReporter/BugReportForm.cs
  BugReporter/ErrorReportUrlBuilder.cs
  UnitTests/BugReporter.Tests/ErrorReportUrlBuilderTests.cs
Due: tests

NBug copy text were url encoded (#9666)
  BugReporter/BugReportForm.cs
  BugReporter/ErrorReportUrlBuilder.cs
  UnitTests/BugReporter.Tests/ErrorReportUrlBuilderTests.cs
Due: tests

Add mnemonics to every menu item in FormBrowse (#9655)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Make reset "Soft" the default option
  GitUI/HelperDialogs/FormResetCurrentBranch.Designer.cs
  GitUI/HelperDialogs/FormResetCurrentBranch.cs
Due: production

PushLocalCmd: path must be absolute
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

"--format" must be quoted
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormArchive.cs
  GitUI/CommitInfo/CommitInfo.cs
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
  Plugins/FindLargeFiles/FindLargeFilesForm.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

"--format" must be quoted (#9679)
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormArchive.cs
  GitUI/CommitInfo/CommitInfo.cs
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
  Plugins/FindLargeFiles/FindLargeFilesForm.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

PushLocalCmd: path must be absolute (#9678)
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Make reset "Soft" the default option (#9672)
  GitUI/HelperDialogs/FormResetCurrentBranch.Designer.cs
  GitUI/HelperDialogs/FormResetCurrentBranch.cs
Due: production

Fix running scripts without arguments
  GitUI/Script/ScriptRunner.cs
Due: production

Update Feature request template to use the new template
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Revert: stack commit message
  GitUI/CommandsDialogs/FormRevertCommit.cs
Due: production

Fix toolbar dpi scaling issue
  GitUI/UserControls/FilterToolBar.cs
Due: production

Remove transitive dependencies already included by other projects
  GitUI/GitUI.csproj
  Plugins/AutoCompileSubmodules/GitExtensions.Plugins.AutoCompileSubmodules.csproj
  Plugins/Bitbucket/GitExtensions.Plugins.Bitbucket.csproj
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityIntegration.csproj
  UnitTests/GitCommands.Tests/GitCommands.Tests.csproj
  UnitTests/GitUI.Tests/GitUI.Tests.csproj
Due: production, tests

Fix loading user plugins. (#9661)
  GitExtensions/Program.cs
  GitUI/Plugin/PluginRegistry.cs
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Update Feature request template to use the new template (#9682)
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Rebase & Apply Patch: add mnemonics, fix tab order, add a shortcut (#9621)
  GitUI/CommandsDialogs/FormApplyPatch.Designer.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormRebase.Designer.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
Due: production

Revert: stack commit message (#9671)
  GitUI/CommandsDialogs/FormRevertCommit.cs
Due: production

Remove transitive dependencies already included by other projects (#9685)
  GitUI/GitUI.csproj
  Plugins/AutoCompileSubmodules/GitExtensions.Plugins.AutoCompileSubmodules.csproj
  Plugins/Bitbucket/GitExtensions.Plugins.Bitbucket.csproj
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityIntegration.csproj
  UnitTests/GitCommands.Tests/GitCommands.Tests.csproj
  UnitTests/GitUI.Tests/GitUI.Tests.csproj
Due: production, tests

Fix toolbar dpi scaling issue (#9684)
  GitUI/UserControls/FilterToolBar.cs
Due: production

Fix running scripts without arguments (#9683)
  GitUI/Script/ScriptRunner.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
