Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Fix applying patch not selected when opening the form
  GitUI/CommandsDialogs/FormApplyPatch.Designer.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
Due: production

Highlight currently applying commit/patch
  GitUI/UserControls/PatchGrid.cs
Due: production

Fix rebase displayed status
  GitCommands/Git/GitModule.cs
Due: production

Calling DisableMergeOptionsWhenCurrentBranchIsLocal on every part that reenables merge and rebase options.
  GitUI/CommandsDialogs/FormPull.cs
Due: production

Custom Mergetool
  GitUI/CommandsDialogs/FormResolveConflicts.Designer.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/Translation/English.xlf
Due: production

Improve printout for flaky test
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: tests

Avoid assert for null syntax color
  GitUI/Theming/ThemeBasedHighlighting.cs
Due: production

Don't persist or restore the state of the main menu
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Missing bits
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.resx
Due: production

Move NetSpell.SpellChecker to Externals
  Externals/NetSpell.SpellChecker/Dictionary/Affix/AffixEntry.cs
  Externals/NetSpell.SpellChecker/Dictionary/Affix/AffixRule.cs
  Externals/NetSpell.SpellChecker/Dictionary/Affix/AffixUtility.cs
  Externals/NetSpell.SpellChecker/Dictionary/Phonetic/PhoneticRule.cs
  Externals/NetSpell.SpellChecker/Dictionary/Phonetic/PhoneticUtility.cs
  Externals/NetSpell.SpellChecker/Dictionary/Word.cs
  Externals/NetSpell.SpellChecker/Dictionary/WordDictionary.cs
  Externals/NetSpell.SpellChecker/Properties/AssemblyInfo.cs
  Externals/NetSpell.SpellChecker/ReplaceWordEventArgs.cs
  Externals/NetSpell.SpellChecker/SpellChecker.csproj
  Externals/NetSpell.SpellChecker/Spelling.cs
  Externals/NetSpell.SpellChecker/SpellingEventArgs.cs
  Externals/NetSpell.SpellChecker/TraceWriter.cs
  GitExtensions.sln
  GitUI/GitUI.csproj
  NetSpell.SpellChecker/SpellChecker.csproj
  TranslationApp/TranslationApp.csproj
Due: production

Improve handling of Drag and drop
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Set Forms Ico
  Plugins/GitHub3/GitHubCredentialsPrompt.Designer.cs
Due: production

Set Forms Ico
  Plugins/GitHub3/GitHubCredentialsPrompt.resx
Due: production

Use Icon from active form
  Plugins/GitHub3/GitHubCredentialsPrompt.Designer.cs
  Plugins/GitHub3/GitHubCredentialsPrompt.resx
Due: production

Set GitCommit status as gray when refreshing
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

remove auto generate line
  Plugins/GitHub3/GitHubCredentialsPrompt.Designer.cs
Due: production

GitStatusMonitor: Display when status is inactive
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitorState.cs
Due: production

GitStatusMonitor: Run first update with locks
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
Due: production

GitStatusMonitor: When changing repo, indicate that status is inactive
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
Due: production

Handle multi-part names for author initials
  GitUI/Avatars/InitialsAvatarGenerator.cs
  UnitTests/GitUI.Tests/Avatars/InitialsAvatarGeneratorTests.cs
Due: production, tests

FormCommit: remove context menu to copy to message
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: production, tests

Better exception presentation
  GitCommands/Git/Executable.cs
  GitCommands/Git/ExternalOperationException.cs
  GitCommands/Git/UserExternalOperationException.cs
  GitExtensions/Program.cs
  GitUI/MessageBoxes.cs
  GitUI/NBugReports/BugReportForm.cs
  GitUI/NBugReports/BugReporter.cs
  GitUI/Script/ScriptRunner.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/ExecutableExtensionsTests.cs
Due: production, tests

Loc script error messages
  GitUI/Script/ScriptRunner.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
Due: production

Update UserExternalOperationException and use it throughout script execution call
  GitCommands/Git/UserExternalOperationException.cs
  GitUI/NBugReports/BugReporter.cs
  GitUI/Script/ScriptRunner.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: production, tests

FormResolveConflict: Allow open without cmd/path
  GitUI/CommandsDialogs/FormResolveConflicts.cs
Due: production

TranslationApp: Include "AccessibleName", "AccessibleDescription"
  ResourceManager/Xliff/TranslationUtil.cs
Due: production

Fix high CPU usage of TeamCityAdapter
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  contributors.txt
Due: production

Add ability to change border color for search text box in the left panel
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/SearchControl.Designer.cs
  GitUI/CommandsDialogs/SearchControl.cs
  GitUI/Interops/Messages.cs
  GitUI/Interops/User32/GetWindowDC.cs
  GitUI/UserControls/TextBoxEx.cs
Due: production

Add toolbar to the left panel
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SettingsContextMenu.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.resx
  GitUI/Translation/English.xlf
Due: production

Remove "Search:" label
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/Translation/English.xlf
Due: production

FileViewer: Consistently use Stage/Reset Lines
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
Due: production

Use class Executable for OsShellUtil
  GitCommands/Git/Executable.cs
  GitUI/OsShellUtil.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
Due: production, tests

Submodule browse: Select both first/second commits
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommandlineHelp.resx
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUICommands.cs
  GitUI/HelperDialogs/FormChooseCommit.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Use OsShellUtil instead of plain Process.Start
  GitExtensions/Program.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/Dashboard.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/BrowseDialog/FormDonate.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGoToCommit.cs
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.cs
  GitUI/CommandsDialogs/BuildReportTabPageExtension.cs
  GitUI/CommandsDialogs/FormAbout.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormGitIgnore.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/RepoHosting/ForkAndCloneForm.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitSettingsPage.cs
  GitUI/HelperDialogs/FormResetCurrentBranch.cs
  GitUI/NBugReports/BugReportForm.cs
  GitUI/Script/ScriptRunner.cs
  GitUI/UserControls/AvatarControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Move user-facing exceptions to UI layer
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/NBugReports/BugReporter.cs
  GitUI/NBugReports/UserExternalOperationException.cs
  GitUI/Script/ScriptRunner.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: production, tests

fixup! C#8 using to reduce nesting
  GitUI/Theming/Renderers/ButtonRenderer.cs
  GitUI/Theming/Renderers/HeaderRenderer.cs
Due: production

Handle non-app related I/O exceptions that a user can resolve
  GitCommands/Git/FileDeleteException.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/NBugReports/BugReporter.cs
  GitUI/Translation/English.xlf
Due: production
