Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Avoid double quoting while showing File History dialog (#10546)
  GitExtensions/Properties/launchSettings.json
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
Due: production, tests

Add support for SourceLink
  Directory.Build.props
  Directory.Build.targets
  Packages.props
Due: none

Load/store console style settings (#10544)
  GitUI/CommandsDialogs/SettingsDialog/Pages/AdvancedSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceFontsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/CommitDialogSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/HotkeysSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/RevisionLinksSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Plugins/PluginRootIntroductionPage.cs
Due: production

Reduce string allocation in StringExtensions.ShortenTo
  GitCommands/StringExtensions.cs
Due: production

Reduce string allocation in PathUtil.GetDisplayPath
  GitCommands/PathUtil.cs
Due: production

Reduce byte array allocation in JsonSerializer.Serialize
  GitCommands/Utils/JsonSerializer.cs
Due: production

Add support for SourceLink (#10538)
  Directory.Build.props
  Directory.Build.targets
  Packages.props
Due: none

Update French.Plugins.xlf
  GitUI/Translation/French.Plugins.xlf
Due: production

ConEmu 221218
  Packages.props
Due: none

Store plugins translations in *.Plugins.xlf
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/English.xlf
  Plugins/FindLargeFiles/FindLargeFilesForm.cs
  Plugins/GitFlow/GitFlowForm.cs
  Plugins/Gource/GourceStart.cs
  ResourceManager/Xliff/TranslationUtil.cs
  TranslationApp/TranslationHelpers.cs
Due: production

Do not throw if SSH key is missing
  GitUI/Infrastructure/PuttyHelpers.cs
  IntegrationTests/UI.IntegrationTests/Infrastructure/PuttyHelpersTests.cs
Due: production, tests

Store plugins translations in *.Plugins.xlf (#10581)
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/English.xlf
  Plugins/FindLargeFiles/FindLargeFilesForm.cs
  Plugins/GitFlow/GitFlowForm.cs
  Plugins/Gource/GourceStart.cs
  ResourceManager/Xliff/TranslationUtil.cs
  TranslationApp/TranslationHelpers.cs
Due: production

Do not throw if SSH key is missing (#10545)
  GitUI/Infrastructure/PuttyHelpers.cs
  IntegrationTests/UI.IntegrationTests/Infrastructure/PuttyHelpersTests.cs
Due: production, tests

ShellExtension: being able to hide some items in the contextual menu
  GitExtensionsShellEx/GitExtensionsShellEx.cpp
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
Due: production

ShellExtension: redesign setting page
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.resx
  GitUI/Translation/English.xlf
Due: production

ConEmu 221218 (#10590)
  Packages.props
Due: none

Delete files if resetting new, not yet committed files
  GitCommands/Git/GitItemStatus.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/MessageBoxes.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_ignored_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_modified_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_staged_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_untracked_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_with_spaces.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_spaces_are_not_trimmed_in_file_names.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree1.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree2.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Ignore_unmerged_in_conflict_if_revision_is_work_tree.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Include_unmerged_in_conflict_if_revision_is_index.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Rename_with_spaces.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree1.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree2.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree3.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree4.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.fatal_error.approved.json
Due: production, tests

Notify left panel of filtered refs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_with_Raw_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

squash! Notify left panel of filtered refs
  GitUI/BranchTreePanel/BaseRefTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_with_Raw_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

fixup! Delete files if resetting new, not yet committed files
  GitCommands/Git/GitItemStatus.cs
Due: production

fixup! Delete files if resetting new, not yet committed files
  GitUI/CommandsDialogs/FormResetChanges.Designer.cs
  GitUI/CommandsDialogs/FormResetChanges.cs
  GitUI/CommandsDialogs/FormResetChanges.resx
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Translation/English.xlf
Due: production

fixup! Delete files if resetting new, not yet committed files
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Fixing RestSharp dependency version mismatch by updating Atlassian.SDK
  Packages.props
Due: none

#9659 Fixing MEF and assembly probing
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Fixing Translation
  GitUI/Translation/English.xlf
Due: production

Fixes comments
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Fixes for \AppData\Local\GitExtensions\UserPlugins\
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Fixes by update-loc.cmd after rebase on fresh master
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/English.xlf
Due: production

RevisionReader: Always append "--" after revision filter
  GitCommands/RevisionReader.cs
Due: production

Delete files if resetting new, not yet committed files (#10556)
  GitCommands/Git/GitItemStatus.cs
  GitUI/CommandsDialogs/FormResetChanges.Designer.cs
  GitUI/CommandsDialogs/FormResetChanges.cs
  GitUI/CommandsDialogs/FormResetChanges.resx
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/MessageBoxes.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_ignored_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_modified_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_staged_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_untracked_files.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.status_with_spaces.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_spaces_are_not_trimmed_in_file_names.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree1.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree2.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Ignore_unmerged_in_conflict_if_revision_is_work_tree.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Include_unmerged_in_conflict_if_revision_is_index.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.Rename_with_spaces.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree1.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree2.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree3.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.WorkTree4.approved.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString.ForScenario.fatal_error.approved.json
Due: production, tests

Always update visibility of refs in Left Panel (#10559)
  GitUI/BranchTreePanel/BaseRefTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_with_Raw_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Stabilize FormBrowseTests regarding left panel
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UITest.cs
Due: tests

UITest.ProcessUntil: Double maxIterations
  IntegrationTests/UI.IntegrationTests/UITest.cs
Due: tests

Enable production of reference assemblies
  Directory.Build.props
  Externals/Directory.Build.props
Due: none

Opt in to Build Acceleration in Visual Studio
  Directory.Build.props
  Setup/Setup.wixproj
Due: none

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
