Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

More user friendly error popup when setting conversion failed
  GitCommands/Settings/ConfigFileSettings.cs
  GitUI/NBugReports/BugReportInvoker.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  Plugins/GitUIPluginInterfaces/ISettingsValueGetter.cs
  Plugins/GitUIPluginInterfaces/Settings/GitConfigFormatException.cs
Due: production

Settings: refactor getting true/false settings
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/ConfigFileSettingsCache.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.cs
  Plugins/GitUIPluginInterfaces/IConfigFile.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  Plugins/GitUIPluginInterfaces/ISettingsValueGetter.cs
Due: production

Use RebaseOptions
  GitCommands/Git/Commands.Arguments.cs
  GitCommands/Git/Commands.RebaseOptions.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
Due: production, tests

Form Rebase: Add rebase dependent branches `--update-refs` rebase option
  GitCommands/Git/Commands.Arguments.cs
  GitUI/CommandsDialogs/FormRebase.Designer.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
Due: production, tests

Add GitExtensions.Extensibility
  .gitmodules
Due: none

Tests runnable under dotnet 8 and latest R#
  GitCommands/Settings/AppSettings.cs
  contributors.txt
Due: production

Ignore fetch/push options in RemoteVerboseLineRegex (#11429)
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Allow user scripts to operate on selected files
  GitCommands/StringExtensions.cs
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/ScriptOptionsProvider.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
  GitUI/LeftPanel/RepoObjectsTree.ContextActions.cs
  GitUI/ScriptsEngine/IScriptOptionsProvider.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptEvent.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/StringExtensionTests.cs
Due: production, tests

Checkout tag using DoActionOnRepo
  GitUI/LeftPanel/TagNode.cs
Due: production

Checkout tag using DoActionOnRepo (#11437)
  GitUI/LeftPanel/TagNode.cs
Due: production

FormResetAnotherBranch: remove useless failing assert on posix path
  GitCommands/Git/Commands.Arguments.cs
Due: production

Create .git/info/ before creating exclude file
  GitExtUtils/Validates.cs
  GitUI/CommandsDialogs/FormAddToGitIgnore.cs
Due: production

fixup! Create .git/info/ before creating exclude file
  GitUI/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPage.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
Due: production

Tests runnable under dotnet 8 and latest R# - allow dotnet.exe as host (#11432)
  GitCommands/Settings/AppSettings.cs
  contributors.txt
Due: production

fixup! Create .git/info/ before creating exclude file
  GitExtUtils/Validates.cs
  GitUI/CommandsDialogs/FormAddToGitIgnore.cs
  GitUI/CommandsDialogs/FormGitIgnore.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPage.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
Due: production

Extract method ParseFileNames
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Parse file names from missing commits when needed
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Extract test repository to a field
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormFileHistoryTests.cs
Due: tests

Add integration test for the history of renamed files
  GitUI/CommandsDialogs/FormFileHistory.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormFileHistoryTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: production, tests

Add unit test for GetRevisionFileName
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/RevisionFileNameTests.cs
Due: tests

BugReportForm: Remove badly used `DpiUtil.Scale()`
  BugReporter/BugReportForm.cs
Due: none

Trace exceptions from graph rendering
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
Due: production

Add testcases MoveVisibleAndInvisibleLanesRight
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.MoveVisibleAndInvisibleLanesRight_moveFirstLane=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.MoveVisibleAndInvisibleLanesRight_moveFirstLane=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedIfThisCausesAShiftForPrimarySegment_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedIfThisCausesAShiftForPrimarySegment_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightenedAlthoughThisCausesWidthIncrease_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightenedAlthoughThisCausesWidthIncrease_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithCommitsAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithCommitsAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithIncomingMergesAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithIncomingMergesAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingPrimaryMergesAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingPrimaryMergesAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingSecondaryMergesAreNotStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingSecondaryMergesAreNotStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: tests

Improve graph tests (#11448)
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.MoveVisibleAndInvisibleLanesRight_moveFirstLane=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.MoveVisibleAndInvisibleLanesRight_moveFirstLane=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedIfThisCausesAShiftForPrimarySegment_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedIfThisCausesAShiftForPrimarySegment_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightenedAlthoughThisCausesWidthIncrease_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightenedAlthoughThisCausesWidthIncrease_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithCommitsAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithCommitsAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithIncomingMergesAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithIncomingMergesAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingPrimaryMergesAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingPrimaryMergesAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingSecondaryMergesAreNotStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingSecondaryMergesAreNotStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Revert "Straighten all visible graph segments (#10864)"
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Remove assert in CalculateGraphIndices()
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

LeftPanel: prevent concurrency updates that change visibility while reloading
  GitUI/LeftPanel/BaseRevisionTree.cs
  GitUI/LeftPanel/Tree.cs
Due: production

perfs(LeftPanel): Update node text only when it has changed
  GitUI/LeftPanel/Node.cs
Due: production

perfs(LeftPanel): more efficient way to build left panel node data
  GitUI/LeftPanel/BaseRevisionNode.cs
Due: production

perfs(LeftPanel): keep full path in memory instead of building it multiple times
  GitUI/LeftPanel/BaseRevisionNode.cs
Due: production

LeftPanel: Empty left panel trees while loading another repository
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/LeftPanel/RepoObjectsTree.SettingsContextMenu.cs
  GitUI/LeftPanel/Tree.cs
Due: production

fixup! PerformRefreshRevisions: Cancel and restart reload
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production
