Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Add a default shortcut for "CreateSquashCommit"
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

fix(FormCommit): better manage commit template separators
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

JiraCommitHintPlugin: display an error message if configuration is incomplete
  GitUI/Translation/English.Plugins.xlf
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
Due: production

Form commit: Improve commit templates menu (#11584)
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Translation/English.Plugins.xlf
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
Due: production

Avoid test hangs due to grid background task (#11586)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.BackgroundUpdater.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Cancel SwitchToMainThreadAsync on AfterTest (#11586)
  GitExtUtils/GitUI/TaskManager.cs
  GitExtUtils/GitUI/ThreadHelper.cs
  UnitTests/CommonTestUtils/ConfigureJoinableTaskFactoryAttribute.cs
Due: production, tests

Move JoinPendingOperations to AsyncTestHelper (#11586)
  GitExtUtils/GitUI/ThreadHelper.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  UnitTests/CommonTestUtils/AsyncTestHelper.cs
Due: production, tests

Tests: Avoid direct use of ThreadHelper.JoinPendingOperationsAsync (#11586)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
  UnitTests/GitUI.Tests/RepositoryHistoryUIServiceTests.cs
Due: tests

TaskManager.JoinPendingOperations with timeout (#11586)
  GitExtUtils/GitUI/TaskManager.cs
Due: production

Catch exceptions in TaskManager.JoinPendingOperations[Async] (#11586)
  GitExtUtils/GitUI/TaskManager.cs
Due: production

Do not straighten graph if it is too wide (#11528)
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphConfig.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

fixup! amend! RevisionFileTreeControl: Ignore ReloadHotkeys
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageBase.cs
Due: production

squash! RevisionFileTreeControl: Ignore ReloadHotkeys
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageBase.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsControlInitialiser.cs
  ResourceManager/TranslatedControl.cs
Due: production

fixup! squash! RevisionFileTreeControl: Ignore ReloadHotkeys
  ResourceManager/TranslatedControl.cs
Due: production

Skip LoadHotkeys if control not loaded yet (#11533)
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageBase.cs
  GitUI/GitModuleControl.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsControlInitialiser.cs
  ResourceManager/TranslatedControl.cs
Due: production

Split ColumnProvider.Refresh (#11582)
  GitUI/UserControls/RevisionGrid/Columns/AuthorNameColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/AvatarColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/ColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/CommitIdColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/DateColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Render graph with diagonals (#10637)
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/Context.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/DiagonalSegmentInfo.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/GraphRenderer.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/SegmentLanesInfo.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/SegmentRenderer.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphConfig.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Straighten multi-lane crossings (#10637)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DetailedSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DetailedSettingsPage.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphConfig.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotUnfoldOneLaneShiftFollowedByDiagonal_commitSpecs=0-1,5 1-2   2-R,3 3-R,4 4-R   5-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotUnfoldOneLaneShiftFollowedByDiagonal_commitSpecs=0-1,R 1-2,R 2-4,3 3-R   4-5,R 5-6   6-7   7-8,R 8-9 9-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotUnfoldOneLaneShiftFollowedByDiagonal_commitSpecs=0-1,R 1-2,R 2-4,3 3-R 4-5,8 5-6,R 6-7,R 7-R,R 8-9 9-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotUnfoldOneLaneShiftFollowedByDiagonal_commitSpecs=0-5,1,2,3,4 1-5 2-5 3-6 4-8 5-R 6-7 7-8,B 8-9 9-R,A A-R   B-R     R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotUnfoldOneLaneShiftFollowedByDiagonal_commitSpecs=0-5,1,2,3,4 1-5 2-5 3-6 4-8 5-R 6-7 7-8,B 8-9 9-R,A A-R,C B-R C-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedOverMultiLaneCrossings.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedOverMultiLaneCrossings_NoMergeGraphLanesHavingCommonParent.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedOverMultiLaneCrossings_NoMergeGraphLanesHavingCommonParent_StraightenGraphDiagonals.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.TurnMultiLaneCrossingsIntoDiagonals_commitSpecs=R 5-R 4-R 3-R 2-R,5,4 1-2 0-1,3.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.TurnMultiLaneCrossingsIntoDiagonals_commitSpecs=R 7-R 6-R 5-R 4-R 3-R,7,6,5 2-3 1-2 0-1,4.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.TurnMultiLaneCrossingsIntoDiagonals_commitSpecs=R 8-R 7-R 6-R 5-R 4-R 3-R,8,7,6,5 2-3 1-2 0-1,4.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.UnfoldOneLaneShiftsToDiagonals_commitSpecs=0-1,4 1-2 2-R,3 3-R 4-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.UnfoldOneLaneShiftsToDiagonals_commitSpecs=0-1,R 1-2,R 2-4,3 3-R 4-5,8 5-6 6-7,R 7-R,R 8-9 9-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.UnfoldOneLaneShiftsToDiagonals_commitSpecs=0-4 1-3,2 2-6 3-8,B 4-5 5-A,6 6-7 7-8 8-C,R 9-A A-B,R B-R C-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.UnfoldOneLaneShiftsToDiagonals_commitSpecs=0-D,1,2,3,4,5,6,B,8,9,7 1-D 2-D 3-E 4-E 5-C 6-C 7-G 8-9 9-A A-B B-C C-F D-R E-F F-R G-H H-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Join multi-lane crossings (#10637)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotJoinMultiLaneCrossings_commitSpecs=0-1,4,R 1-2,R 2-3,R 3-R 4-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotJoinMultiLaneCrossings_commitSpecs=0-6 1-6 2-6 3-6 4-R 5-7 6-R 7-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.JoinMultiLaneCrossings_commitSpecs=0-3,2 1-5 2-5 3-5 4-6 5-6 6-7,8 7-R 8-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.JoinMultiLaneCrossings_commitSpecs=0-3,2 1-5 2-5 3-5 4-R 5-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.JoinMultiLaneCrossings_commitSpecs=0-5,4 1-7 2-6 3-R 4-7 5-7 6-R 7-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.JoinMultiLaneCrossings_commitSpecs=0-R,3 1-2 2-8,7 3-4,5,6 4-R 5-R 6-R 7-8 8-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.UnfoldOneLaneShiftsToDiagonals_commitSpecs=0-D,1,2,3,4,5,6,B,8,9,7 1-D 2-D 3-E 4-E 5-C 6-C 7-G 8-9 9-A A-B B-C C-F D-R E-F F-R G-H H-R R.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Revert "Deactivate very slow handling of lane sharing (#11294)"
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
Due: production

Calculate LaneSharing without previous row (#11456)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphSegment.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphRowTests.cs
Due: production, tests

fix(FormPush): fix tracking detection broken
  GitUI/CommandsDialogs/FormPush.cs
Due: production

Shorten RevisionGraphTests file names
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotJoinMultiLaneCrossings_09dd3e56ae1c50b0.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotJoinMultiLaneCrossings_b97f92132474a407.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotUnfoldOneLaneShiftFollowedByDiagonal_441cc55da99e6bc5.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotUnfoldOneLaneShiftFollowedByDiagonal_4fb1fef29b0e238b.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotUnfoldOneLaneShiftFollowedByDiagonal_7537cc4ca35f9de1.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotUnfoldOneLaneShiftFollowedByDiagonal_940798199db0d740.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DoNotUnfoldOneLaneShiftFollowedByDiagonal_b87c62511630b752.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.JoinMultiLaneCrossings_20defeaf3beb5b97.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.JoinMultiLaneCrossings_2d5af10a3248e889.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.JoinMultiLaneCrossings_8eebb80bc9c1feb3.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.JoinMultiLaneCrossings_fae623d14c9304c9.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.UnfoldOneLaneShiftsToDiagonals_07cbfa07158b4ee9.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.UnfoldOneLaneShiftsToDiagonals_75b2760e90bcf3ef.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.UnfoldOneLaneShiftsToDiagonals_8ecbbefa1a682543.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.UnfoldOneLaneShiftsToDiagonals_d59434ea227fbd8f.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: tests

fixup! Shorten RevisionGraphTests file names
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotJoinMultiLaneCrossings.1.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotJoinMultiLaneCrossings.2.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotUnfoldOneLaneShiftFollowedByDiagonal.1.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotUnfoldOneLaneShiftFollowedByDiagonal.2.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotUnfoldOneLaneShiftFollowedByDiagonal.3.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotUnfoldOneLaneShiftFollowedByDiagonal.4.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotUnfoldOneLaneShiftFollowedByDiagonal.5.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/JoinMultiLaneCrossings.1.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/JoinMultiLaneCrossings.2.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/JoinMultiLaneCrossings.3.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/JoinMultiLaneCrossings.4.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/UnfoldOneLaneShiftsToDiagonals.1.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/UnfoldOneLaneShiftsToDiagonals.2.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/UnfoldOneLaneShiftsToDiagonals.3.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/UnfoldOneLaneShiftsToDiagonals.4.verified.txt
Due: tests

fixup! GitCommandLog: Hide '-c option="value with space"'
  GitCommands/Logging/CommandLog.cs
  UnitTests/GitCommands.Tests/CommandLogTests.cs
Due: production, tests

Fix avatars not loading behind a corporate proxy
  GitUI/Avatars/AvatarDownloader.cs
  contributors.txt
Due: production

Fix typo in contributors.txt
  contributors.txt
Due: none

Shorten RevisionGraphTests file names (#11594)
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotJoinMultiLaneCrossings.1.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotJoinMultiLaneCrossings.2.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotUnfoldOneLaneShiftFollowedByDiagonal.1.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotUnfoldOneLaneShiftFollowedByDiagonal.2.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotUnfoldOneLaneShiftFollowedByDiagonal.3.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotUnfoldOneLaneShiftFollowedByDiagonal.4.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/DoNotUnfoldOneLaneShiftFollowedByDiagonal.5.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/JoinMultiLaneCrossings.1.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/JoinMultiLaneCrossings.2.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/JoinMultiLaneCrossings.3.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/JoinMultiLaneCrossings.4.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/UnfoldOneLaneShiftsToDiagonals.1.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/UnfoldOneLaneShiftsToDiagonals.2.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/UnfoldOneLaneShiftsToDiagonals.3.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/UnfoldOneLaneShiftsToDiagonals.4.verified.txt
Due: tests

GitCommandLog: Hide '-c option="value with space"' (#11578)
  GitCommands/Logging/CommandLog.cs
  UnitTests/GitCommands.Tests/CommandLogTests.cs
Due: production, tests

Fix avatars not loading behind a corporate proxy (#11596)
  GitUI/Avatars/AvatarDownloader.cs
  contributors.txt
Due: production

OnRevisionRead: Silence cancellation of Observable
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

OnRevisionRead: Silence cancellation of Observable (#11601)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

RevDiff Find file clarification
  GitUI/CommandsDialogs/FormDiff.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Translation/English.xlf
Due: production

amend! RevDiff Find file clarification
  GitUI/CommandsDialogs/FormDiff.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Translation/English.xlf
Due: production

SubmoduleInfo: Do not quote empty ref
  GitCommands/RevisionReader.cs
Due: production

fix(CommitPickerSmallControl): fix commit count crash (#11610)
  GitUI/UserControls/CommitPickerSmallControl.cs
Due: production

fix(dashboard): fix state of git hosting menu item state (#11538)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

perfs(plugins): load plugins later so that revision grid loading is not blocked (#11538)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production
