Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

CommitDataBodyRendererTests: Use verbatim string literals (#10737)
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataBodyRendererTests.cs
Due: tests

Render_should_render_body_with_links: Test limits (#10737)
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataBodyRendererTests.cs
Due: tests

Sha1HashShortRegex: Do not match e-mail address (#10737)
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataBodyRendererTests.cs
Due: production, tests

CommitInfo: Parse hashes in message asynchronously (#10737)
  GitUI/CommitInfo/CommitInfo.cs
Due: production

Add command for creating an amend commit
  GitCommands/Git/GitVersion.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Highlight rebase commands with options
  GitUI/Editor/RebaseTodoHighlightingStrategy.cs
Due: production

Allow setting hotkeys for creating squash and amend commits
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Extract extension method GetPrefix for CommitKind enum
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
Due: production

Add support for 'amend!' commits
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/GitUICommands.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: production, tests

Fix url openings in plugins (#10727)
  GitCommands/Git/OsShellUtil.cs
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseUtil.cs
  GitUI/CommandsDialogs/BrowseDialog/FormDonate.cs
  GitUI/CommandsDialogs/BuildReportTabPageExtension.cs
  GitUI/GitExtensionsDialog.cs
  GitUI/UserControls/FolderBrowserButton.cs
  GitUI/UserControls/GotoUserManualControl.cs
  Plugins/Bitbucket/BitbucketPullRequestForm.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/Settings/SettingsUserControl.cs
  Plugins/GitFlow/GitFlowForm.cs
  Plugins/GitHub3/GitHub3Plugin.cs
  Plugins/Gource/GourceStart.cs
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
Due: production

Removed comments Message KeyDown event on FormCommit.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Fix: "Ctrl+Enter" creates commit when Enter is released, not pressed (#10742)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  contributors.txt
Due: production

Added fix to filter lines before hpos character on FileViewer.cs
  GitUI/Editor/FileViewer.cs
Due: production

Made tooltips on Pull form translatable (gitextensions/gitextensions#10532)
  GitUI/CommandsDialogs/FormPull.Designer.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/Translation/English.xlf
Due: production

Fixed probable typo in English translation of tooltip text
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/Translation/English.xlf
Due: production

Remove & from ToolTipText
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/Translation/English.xlf
Due: production

Toolbar: Remove "&" from ToolTipText (#10781)
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/Translation/English.xlf
Due: production

fix: use posix path on FormBrowse.InitMenusAndToolbars
  GitUI/CommandsDialogs/FormBrowse.cs
  contributors.txt
Due: production

fix: use posix path on FormBrowse.InitMenusAndToolbars (#10783)
  GitUI/CommandsDialogs/FormBrowse.cs
  contributors.txt
Due: production

Added my signoff to prove that I have read Git Extensions Project Contributors Certification of Origin and Rights
  contributors.txt
Due: none

Update button states after commit (#10699)
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

ReferenceRepository: Write git index (#10699)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: tests

FormCommit: Add soft reset for amending (#10699)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormCommit.resx
  GitUI/Translation/English.xlf
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: production, tests

Copy file paths in variants
  GitCommands/PathUtil.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormDiff.Designer.cs
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/Menus/CopyPathsToolStripMenuItem.Designer.cs
  GitUI/CommandsDialogs/Menus/CopyPathsToolStripMenuItem.cs
  GitUI/CommandsDialogs/Menus/ToolStripMenuItemEx.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Translation/English.xlf
Due: production

fixup! Copy file paths in variants
  GitCommands/PathUtil.cs
  GitUI/CommandsDialogs/Menus/CopyPathsToolStripMenuItem.cs
  GitUI/CommandsDialogs/Menus/ToolStripMenuItemEx.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

RevisionDiffControl.Designer: Reorder using Designer
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.resx
Due: production

GitStatusMonitor: Stop only if fails repeatedly
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
Due: production

GitStatusMonitor: Correctly handle cancellation
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
Due: production

RevisionGraph: Retry Sort if it stumbled upon rewritten Score
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Sign contributors.txt
  contributors.txt
Due: none

Sign contributors.txt (#10791)
  contributors.txt
Due: none

FIX: Periodic Background Fetch was not automatically refreshing the UI after a successful fetch (#9643)
  Plugins/BackgroundFetch/BackgroundFetchPlugin.cs
Due: production

Sign contributors.txt (#9643)
  contributors.txt
Due: none

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
