Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Call Application.EnableVisualStyles(); once per tests assembly
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/GlobalSetupOnce.cs
Due: tests

Add suggested ReferenceRepository style improvements
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: tests

Add comments to explain CorrectHeaderForRenamedFile innards
  GitCommands/Patches/PatchManager.cs
Due: production

Advanced filter: Change order of branch filter to match menus (#10272)
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

Fix resetting selected lines for renamed files in index (#10252)
  GitCommands/Patches/PatchManager.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Editor/FileViewer.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/GlobalSetupOnce.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: production, tests

Add bearer build server credential type
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/HelperDialogs/FormBuildServerCredentials.Designer.cs
  GitUI/HelperDialogs/FormBuildServerCredentials.cs
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsAdapter.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/BuildServerCredentials.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/BuildServerCredentialsType.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/IBuildServerCredentials.cs
Due: production

Add bearer token auth support to TeamCityAdapter
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
Due: production

Parse enum with fallback to default value
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
Due: production

Refresh the left panel when it's shown
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Inlined SuspendDrawing and ResumeDrawing methods
  GitUI/UserControls/ToolStripEx.cs
Due: production

Refresh the left panel when it's shown (#10285)
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Add support for bearer-token auth type in build server adapters (#10282)
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/HelperDialogs/FormBuildServerCredentials.Designer.cs
  GitUI/HelperDialogs/FormBuildServerCredentials.cs
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsAdapter.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/BuildServerCredentials.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/BuildServerCredentialsType.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/IBuildServerCredentials.cs
Due: production

Teach Run-BisectTest script --first-parent
  scripts/Run-BisectTest.ps1
Due: none

Add Help
  scripts/Bisect-Test.ps1
  scripts/Run-BisectTest.ps1
Due: none

preventing navigation on clicking hidden BaseBranchNodes to avoid popup about Revision X not being visible in the revision grid; fixes #10250
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

Revert "remembering clicked mouse button to have access to it during node selection events and used that to prevent popup about Revision not being visible in the revision grid; fixes 10250"
  GitUI/BranchTreePanel/BaseBranchNode.cs
  GitUI/BranchTreePanel/LocalBranchNode.cs
  GitUI/BranchTreePanel/Node.cs
  GitUI/BranchTreePanel/RemoteBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/SubmoduleNode.cs
  GitUI/BranchTreePanel/TagNode.cs
Due: production

using explicit types
  GitUI/BranchTreePanel/BaseBranchNode.cs
Due: production

remembering clicked mouse button to have access to it during node selection events and used that to prevent popup about Revision not being visible in the revision grid; fixes 10250
  GitUI/BranchTreePanel/BaseBranchNode.cs
  GitUI/BranchTreePanel/LocalBranchNode.cs
  GitUI/BranchTreePanel/Node.cs
  GitUI/BranchTreePanel/RemoteBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/SubmoduleNode.cs
  GitUI/BranchTreePanel/TagNode.cs
Due: production

simplified access
  GitUI/BranchTreePanel/BaseBranchNode.cs
Due: production

commented
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

Git 2.38.1
  GitCommands/Git/GitVersion.cs
Due: production

Git 2.38.1 (#10286)
  GitCommands/Git/GitVersion.cs
Due: production

Removed changes of PR #3833, suspend/resume redrawn of ToolStripEx when dropdown menu is opened/closed (#10260)
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Interops/Messages.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

Preventing popup "Revision X not being visible in the revision grid" on right mouse button click (#10283)
  GitUI/BranchTreePanel/BaseBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

Side panel: Refactor classes and names
  GitCommands/Git/GitModule.cs
  GitUI/BranchTreePanel/BaseBranchLeafNode.cs
  GitUI/BranchTreePanel/BasePathNode.cs
  GitUI/BranchTreePanel/BaseRefTree.cs
  GitUI/BranchTreePanel/BaseRevisionNode.cs
  GitUI/BranchTreePanel/BaseRevisionTree.cs
  GitUI/BranchTreePanel/LocalBranchNode.cs
  GitUI/BranchTreePanel/LocalBranchTree.cs
  GitUI/BranchTreePanel/NodeBase.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/BranchTreePanel/RemoteRepoFolderNode.cs
  GitUI/BranchTreePanel/RemoteRepoNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/SubmoduleFolderNode.cs
  GitUI/BranchTreePanel/SubmoduleNode.cs
  GitUI/BranchTreePanel/SubmoduleTree.cs
  GitUI/BranchTreePanel/TagNode.cs
  GitUI/BranchTreePanel/TagTree.cs
  GitUI/BranchTreePanel/Tree.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

SidePanel: Show Stashes
  GitCommands/Settings/AppSettings.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SettingsContextMenu.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/StashNode.cs
  GitUI/BranchTreePanel/StashTree.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/GitUICommands.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionLoadEventArgs.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.ReorderNodes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

SidePanel: Visibility for branches and tags was not updated.
  GitUI/BranchTreePanel/BaseRefTree.cs
  GitUI/BranchTreePanel/BaseRevisionTree.cs
  GitUI/BranchTreePanel/LocalBranchTree.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/TagTree.cs
  GitUI/BranchTreePanel/Tree.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

RemoteBranches: Show ahead/behind for remotes (10258)
  GitCommands/Git/AheadBehindDataProvider.cs
  GitUI/BranchTreePanel/BaseBranchLeafNode.cs
  GitUI/BranchTreePanel/LocalBranchNode.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/ToolStripPushButton.cs
  UnitTests/GitUI.Tests/UserControls/ToolStripPushButtonTests.cs
Due: production, tests

git settings: new setting to be able to enable rebase of dependent branches
  GitCommands/Git/GitVersion.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.cs
  GitUI/Translation/English.xlf
Due: production
