Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

FormCreateWorktree: Build potential worktree path using repository path (#10290)
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.Designer.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.cs
Due: production

FormBrowse: let the user add fetch/pull custom icons in the toolbar (#10293)
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
Due: production

Fixup #9059
  GitCommands/Git/GitModule.cs
Due: production

CommitInfo: Copy essential & stable data to clipboard
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/CommitInfoHeader.cs
  ResourceManager/CommitDataRenders/CommitDataHeaderRenderer.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererTests.cs
Due: production, tests

Fixup #9059 (#10418)
  GitCommands/Git/GitModule.cs
Due: production

Add comment
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

Fix 'Delete obsolete branches' plugin (#10396)
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

Simplify devex (#10402)
  appveyor.yml
  global.json
  scripts/RepoLayout.props
Due: none

Fix NRE while opening Settings dialog
  GitUI/CommandsDialogs/SettingsDialog/SettingsTreeViewUserControl.cs
Due: production

Add config to allow file protocol to be used
  GitCommands/Config/SettingKeyString.cs
  GitCommands/Git/Commands/GitCommandHelpers.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Get git version in build
  appveyor.yml
Due: none

Remove type qualifier
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: tests

Display the repo paths in debug output
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: tests

Rename to define what method actually does
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
Due: tests

Re-enable tests from 4ee6417f4a7bb00e30e13ccef639f5e247b3aae0
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: tests

CommitInfo: Copy essential & stable data to clipboard (#10422)
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/CommitInfoHeader.cs
  ResourceManager/CommitDataRenders/CommitDataHeaderRenderer.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererTests.cs
Due: production, tests

Quote file name for the File History form
  GitUI/GitUICommands.cs
Due: production

Do not store the default value of a NumberSetting
  Plugins/GitUIPluginInterfaces/Settings/NumberSetting.cs
Due: production

v4.0.1
  .tools/transifex/.tx/config
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Traditional Chinese.Plugins.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.xlf
  Setup/Product.wxs
  appveyor.yml
Due: production

Persist Current Branch setting
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
Due: production

Verify PuTTY executables exist before invoking those
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/BrowseForPrivateKey.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormRemotes.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  GitUI/HelperDialogs/FormRemoteProcess.cs
  GitUI/Infrastructure/Plink.cs
  GitUI/Infrastructure/PuttyHelpers.cs
  GitUI/Infrastructure/Telemetry/AppEnvironmentTelemetryInitializer.cs
  GitUI/MessageBoxes.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/EditboxBasedConsoleOutputControl.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitUI.Tests/Infrastructure/PlinkTests.cs
Due: production, tests

Do not store the default value of a NumberSetting (#10445)
  Plugins/GitUIPluginInterfaces/Settings/NumberSetting.cs
Due: production

squash! comments
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

async conflicted state
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
  UnitTests/GitUI.Tests/UserControls/InteractiveGitActionControlTests.cs
Due: production, tests

Set custom difftool list to empty if parsing is cancelled
  GitCommands/CustomDiffMergeToolCache.cs
Due: production

Persist Current Branch setting (#10431)
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Test for pullAction failed if defaults were changed
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormPullTests.cs
Due: tests
