Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Fix runtime errors
  GitExtensions.Extensibility/Git/GitItemStatus.cs
  GitExtensions.Extensibility/Settings/CredentialsManager.cs
  GitExtensions.Extensibility/Settings/CredentialsSetting.cs
Due: none

Fix translation app NRE
  TranslationApp/Program.cs
Due: none

Add GitExtensions.Extensibility to the installer
  Setup/Product.wxs
Due: none

Fix conditional precedence
  GitExtensions.Extensibility/Git/FilteredGitRefsProvider.cs
  GitExtensions.Extensibility/Git/GitSubmoduleStatus.cs
Due: none

Misc changes
  GitCommands/Git/GitModule.cs
  GitExtensions.Extensibility/ArgumentBuilder.cs
  GitExtensions.Extensibility/ArgumentString.cs
  GitExtensions.Extensibility/BuildServerIntegration/BuildInfo.cs
  GitExtensions.Extensibility/DebugHelpers.cs
  GitExtensions.Extensibility/Extensions/DateTimeExtensions.cs
  GitExtensions.Extensibility/FontParser.cs
  GitExtensions.Extensibility/Git/GitRevision.cs
  GitExtensions.Extensibility/Git/GitSubmoduleStatus.cs
  GitExtensions.Extensibility/Git/GitUIEventArgs.cs
  GitExtensions.Extensibility/Git/IGitModule.cs
  GitExtensions.Extensibility/Git/ObjectId.cs
  GitExtensions.Extensibility/Git/Patch.cs
  GitExtensions.Extensibility/Git/UntrackedFilesMode.cs
  GitExtensions.Extensibility/IExecutable.cs
  GitExtensions.Extensibility/Settings/ChoiceSetting.cs
  GitExtensions.Extensibility/Settings/NumberSetting.cs
  GitExtensions.Extensibility/Translations/ITranslation.cs
  GitExtensions.Extensibility/Translations/TranslationUtils.cs
  GitExtensions.Extensibility/Translations/Translator.cs
  GitExtensions.Extensibility/Translations/Xliff/TranslationCategory.cs
  GitExtensions.Extensibility/Translations/Xliff/TranslationFile.cs
  GitExtensions.Extensibility/Translations/Xliff/TranslationItem.cs
  GitExtensions.Extensibility/Translations/Xliff/TranslationSerializer.cs
  GitExtensions.Extensibility/Translations/Xliff/TranslationUtil.cs
  GitExtensions.ruleset
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/UserControls/BlameControl.cs
  GitUI/UserControls/BranchSelector.cs
  UnitTests/GitCommands.Tests/Git/GitDescribeProviderTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

fix: label "No changes" to no more hiding first file of the list
  GitUI/UserControls/FileStatusList.cs
Due: production

fix: label "No changes" to no more hiding first file of the list (#11724)
  GitUI/UserControls/FileStatusList.cs
Due: production

fix(diff): Don't crash if user customized git `diff.*Prefix` settings
  GitCommands/Git/SubmoduleHelpers.cs
  GitCommands/Patches/PatchProcessor.cs
  UnitTests/GitCommands.Tests/Git/SubmoduleHelpersTest.cs
  UnitTests/GitCommands.Tests/GitCommands.Tests.csproj
  UnitTests/GitCommands.Tests/Patches/PatchProcessorTest.cs
  UnitTests/GitCommands.Tests/Patches/testdata/color-prefix.diff
Due: production, tests

Top-level statements
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.cs
  GitUI/CommandsDialogs/BrowseDialog/ReleaseType.cs
  GitUI/CommandsDialogs/BrowseDialog/ReleaseVersion.cs
Due: production

Open GitHub release page for portable apps instead of downloading msi
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.cs
Due: production

Convert FormUpdates to use GitExtensionsDialog
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.cs
Due: production

fix(diff): Don't crash if user customized git `diff.*Prefix` settings (#11738)
  GitCommands/Git/SubmoduleHelpers.cs
  GitCommands/Patches/PatchProcessor.cs
  UnitTests/GitCommands.Tests/Git/SubmoduleHelpersTest.cs
  UnitTests/GitCommands.Tests/GitCommands.Tests.csproj
  UnitTests/GitCommands.Tests/Patches/PatchProcessorTest.cs
  UnitTests/GitCommands.Tests/Patches/testdata/color-prefix.diff
Due: production, tests

More meaningful and (I hope) pleasant default colors
  GitExtUtils/GitUI/Theming/AppColorDefaults.cs
  GitUI/Themes/invariant.css
Due: production

More meaningful and (I hope) pleasant default colors (#11748)
  GitExtUtils/GitUI/Theming/AppColorDefaults.cs
  GitUI/Themes/invariant.css
Due: production

Extract the working directory / recent repositories dropdown as a standalone component
  src/app/GitUI/CommandsDialogs/FormBrowse.Designer.cs
  src/app/GitUI/CommandsDialogs/FormBrowse.cs
  src/app/GitUI/CommandsDialogs/Menus/ToolStripMenuItemEx.cs
  src/app/GitUI/CommandsDialogs/Menus/WorkingDirectoryToolStripSplitButton.cs
Due: none

Add "Close (go to Dashboard) to repos dropdown
  src/app/GitUI/CommandsDialogs/FormBrowse.cs
  src/app/GitUI/CommandsDialogs/Menus/WorkingDirectoryToolStripSplitButton.cs
Due: none

Allow to filter the recent repositories dropdown
  src/app/GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  src/app/GitUI/CommandsDialogs/FormBrowse.cs
  src/app/GitUI/CommandsDialogs/Menus/WorkingDirectoryToolStripSplitButton.cs
  src/app/GitUI/Translation/English.xlf
Due: none

HACK: move the mouse if the DropDown is opened besides the split button
  src/app/GitUI/CommandsDialogs/Menus/WorkingDirectoryToolStripSplitButton.cs
Due: none

fix Hexa editor display of binary files
  src/app/GitCommands/Git/GitModule.cs
  src/app/GitExtensions.Extensibility/Git/IGitModule.cs
  src/app/GitUI/CommandsDialogs/FormVerify.cs
  src/app/GitUI/Editor/FileViewer.cs
Due: none

refactor display binary as hex dump
  src/app/GitUI/Editor/FileViewer.cs
  src/app/GitUI/Translation/English.xlf
Due: none

Filter: Add examples of invert grep filters
  src/app/GitUI/UserControls/FilterToolBar.cs
Due: none

Improve mouse hack:
  src/app/GitUI/CommandsDialogs/Menus/WorkingDirectoryToolStripSplitButton.cs
Due: none

fix duplication of favorites
  src/app/GitUI/CommandsDialogs/Menus/WorkingDirectoryToolStripSplitButton.cs
Due: none

Filter: Add examples of invert grep filters (#11749)
  src/app/GitUI/UserControls/FilterToolBar.cs
Due: none

fix Hexa editor display of binary files (#11747)
  src/app/GitCommands/Git/GitModule.cs
  src/app/GitExtensions.Extensibility/Git/IGitModule.cs
  src/app/GitUI/CommandsDialogs/FormVerify.cs
  src/app/GitUI/Editor/FileViewer.cs
  src/app/GitUI/Translation/English.xlf
Due: none

chore: fix update-loc.cmd script (following repo restructure)
  update-loc.cmd
Due: none

chore: fix update-loc.cmd script (following repo restructure) (#11754)
  update-loc.cmd
Due: none

feat(GitHub): Add commit message issue helper feature
  src/app/GitUI/Translation/English.Plugins.xlf
  src/plugins/Github3/GitHub3Plugin.cs
  src/plugins/Github3/GitHubHostedRemote.cs
  src/plugins/Github3/GitHubRepo.cs
Due: none

fix(diff): Script separator only if items
  src/app/GitUI/CommandsDialogs/RevisionDiffControl.cs
  src/app/GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
Due: none
