Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

added class diagram overviewing inheritance of and relations between sidebar nodes and trees
  GitUI/BranchTreePanel/Trees and nodes.cd
Due: production

added type modifiers to make the inheritance easier to understand
  GitUI/BranchTreePanel/BranchPathNode.cs
  GitUI/BranchTreePanel/DummyNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SettingsContextMenu.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/SubmoduleFolderNode.cs
  GitUI/BranchTreePanel/SubmoduleNode.cs
Due: production

moved click handling from SelectNode() to OnNodeClick() to separate concerns cleanly
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

reverted icon scale; fixes #9964
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
Due: production

Show no changes in grid for artificial commits
  GitUI/UserControls/RevisionGrid/ArtificialCommitChangeCount.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Show no changes in grid for artificial commits (#9958)
  GitUI/UserControls/RevisionGrid/ArtificialCommitChangeCount.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Show multi revision diff also with no HEAD
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

left panel: reverted menu icon scale to match item font size (#9966)
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
Due: production

Show multi revision diff also with no HEAD (#9947)
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

Do not assert for head when creating branches
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
Due: production

Reset pathfilter by disabling checkbox
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Add statistics for 1C Enterprise and 1Script files
  Plugins/Statistics/GitStatistics/GitStatisticsPlugin.cs
Due: production

Do not assert for head when creating branches (#9981)
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
Due: production

Reset pathfilter by disabling checkbox (#9982)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Enable artificial commits for empty repos
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Enable artificial commits for empty repos (#9985)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Load grid to selected revisions
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.BackgroundUpdater.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionLoadEventArgs.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
  IntegrationTests/UI.IntegrationTests/UITest.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

Show reword commit dialog only once
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Update to .NET 7.0
  Externals/NetSpell.SpellChecker/SpellChecker.csproj
  GitExtensions/GitExtensions.csproj
  global.json
  scripts/RepoLayout.props
Due: none

Update contributors.txt
  contributors.txt
Due: none

Add statistics for 1C Enterprise and 1Script files (#9983)
  Plugins/Statistics/GitStatistics/GitStatisticsPlugin.cs
  contributors.txt
Due: production

Show reword commit dialog only once (#9989)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Refresh regardless of formProcess results
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Comment for FormProcess.ShowDialog()
  GitUI/HelperDialogs/FormProcess.cs
Due: production

Refresh regardless of formProcess results (#9992)
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Use grayscaled icon for "Reset another branch to here"
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/ResetAnotherBranchToHere.png
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
  contributors.txt
Due: production

fixup! Load grid to selected revisions
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Add unit test for PNG requirements in resources
  GitUI/Resources/Icons/Donate.png
  Logo/GitExtensionsLogoWide.png
  UnitTests/GitUI.Tests/ResourcesTests.cs
Due: production, tests

Sign contributor pledge
  contributors.txt
Due: none

Add "Open Containing Folder" to merge conflict context menu (#9995)
  GitUI/CommandsDialogs/FormResolveConflicts.Designer.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
Due: production

Fix ToNativePath doc comment (#9995)
  GitCommands/PathUtil.cs
Due: production

Add merge conflict "Open Containing Folder" to xlf (#9995)
  GitUI/Translation/English.xlf
Due: production

Use grayscaled icon for "Reset another branch to here" (#10003)
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/Donate.png
  GitUI/Resources/Icons/ResetAnotherBranchToHere.png
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
  Logo/GitExtensionsLogoWide.png
  UnitTests/GitUI.Tests/ResourcesTests.cs
  contributors.txt
Due: production, tests

Fix contributor pledge date
  contributors.txt
Due: none

PR feedback - merge conflict folder text and icon (#9995)
  GitUI/CommandsDialogs/FormResolveConflicts.Designer.cs
  GitUI/Translation/English.xlf
Due: production

Add menu item "Show in explorer" in Resolve merge conflicts window (#10005)
  GitCommands/PathUtil.cs
  GitUI/CommandsDialogs/FormResolveConflicts.Designer.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/Translation/English.xlf
  contributors.txt
Due: production

fixup! FormResolveConflicts.Reset: Clearer texts
  GitUI/CommandsDialogs/FormResolveConflicts.Designer.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/Translation/English.xlf
Due: production

CommitInfo: Get link from sender RichTextBox
  GitUI/CommitInfo/CommitInfo.Designer.cs
  GitUI/CommitInfo/CommitInfo.cs
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
Due: production, tests

Load grid to selected revisions (#9948)
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.BackgroundUpdater.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionLoadEventArgs.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
  IntegrationTests/UI.IntegrationTests/UITest.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

CommitInfo: Get link from sender RichTextBox (#10011)
  GitUI/CommitInfo/CommitInfo.Designer.cs
  GitUI/CommitInfo/CommitInfo.cs
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
Due: production, tests

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
