Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Improve menu responsiveness with AddRanges
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormBrowseControllerTests.cs
Due: production, tests

fixup! Improve menu responsiveness with AddRanges
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Revert "fixup! Improve menu responsiveness with AddRanges"
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Revert "Improve menu responsiveness with AddRanges"
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormBrowseControllerTests.cs
Due: production, tests

Improve menu responsiveness with SuspendLayout
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/UserControls/RevisionGrid/CopyContextMenuItem.cs
Due: production

Create QuantumDecay Migration
  QuantumDecay Migration
Due: none

Support User local paths for VsCode merge tools
  GitCommands/DiffMergeTools/VsCode.cs
Due: production

BranchFilter text was added backwards
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Do not start NBug if mergetool exits with other than 0
  GitCommands/Git/GitModule.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
Due: production

fixup! Support User local paths for VsCode merge tools
  GitCommands/DiffMergeTools/VsCode.cs
Due: production

VS Code build support
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Improve menu responsiveness with SuspendLayout (#10125)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/UserControls/RevisionGrid/CopyContextMenuItem.cs
Due: production

VS Code build support (#10139)
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Support User local paths for VsCode merge tools (#10135)
  GitCommands/DiffMergeTools/VsCode.cs
Due: production

Do not start NBug if mergetool exits with other than 0 (#10137)
  GitCommands/Git/GitModule.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
Due: production

Add `rebase.autosquash` setting in Git Advanced settings panel (#10123)
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.resx
  GitUI/Translation/English.xlf
Due: production

BranchFilter text was added backwards (#10136)
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Set branchname in repo menu async (#10124)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormBrowseControllerTests.cs
Due: production, tests

Dashboard: Capture variable in RunAsync (#10128)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
Due: production

Branch filter dropdown shown too often
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

fixup! remove filter hardcoding
  GitUI/UserControls/FilterToolBar.cs
Due: production

squash! rename and reorder for readability
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Sidepanel: Keep revisions opening a new instance
  GitUI/BranchTreePanel/SubmoduleNode.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
  Plugins/GitUIPluginInterfaces/IBrowseRepo.cs
Due: production

Reword/Edit: Rebase on actual parent
  GitUI/UserControls/BlameControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Do not call DoDragDrop when mouse is up
  GitUI/UserControls/FileStatusList.Designer.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Set RuntimeFrameworkVersion for DotnetRuntimeBootstrapper
  GitExtensions/GitExtensions.csproj
  Packages.props
Due: none

Update GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! Set RuntimeFrameworkVersion for DotnetRuntimeBootstrapper
  GitExtensions/GitExtensions.csproj
  scripts/RepoLayout.props
Due: none

Update fabricbot.json
  .github/fabricbot.json
Due: none

Branch filter dropdown shown too often (#10140)
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Fix search not launching/working when changing filter selection
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

squash! No revision filter search when changing filter selection
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
Due: production
