Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Test to force same colors in AppColorDefaults and invariant.css
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
Due: tests

Update UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
Due: tests

Test to force same colors in AppColorDefaults and invariant.css (#8901)
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
Due: tests

Add UI improvements
  GitExtUtils/GitUI/ControlDpiExtensions.cs
  GitExtUtils/GitUI/Theming/OtherColors.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommitInfo/CommitInfo.Designer.cs
Due: production

fix tool strip border in dark theme
  GitExtUtils/GitUI/IMenuItemBackgroundFilter.cs
  GitExtUtils/GitUI/IToolStripEx.cs
  GitExtUtils/GitUI/Theming/ThemeAwareToolStripRenderer.cs
  GitExtUtils/GitUI/Theming/ThemeFix.cs
  GitExtUtils/GitUI/ToolStripExRenderer.cs
  GitExtUtils/GitUI/ToolStripExThemeAwareRenderer.cs
  GitExtUtils/GitUI/ToolStripExtensions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormEditor.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormStash.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/RevisionLinksSettingsPage.Designer.cs
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/UserControls/MenuStripEx.cs
  GitUI/UserControls/RevisionGrid/MenuUtil.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

RevDiff: Request GitStatus updates at file manipulations
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

fix tool strip border in dark theme (#8899)
  GitExtUtils/GitUI/IMenuItemBackgroundFilter.cs
  GitExtUtils/GitUI/IToolStripEx.cs
  GitExtUtils/GitUI/Theming/ThemeAwareToolStripRenderer.cs
  GitExtUtils/GitUI/Theming/ThemeFix.cs
  GitExtUtils/GitUI/ToolStripExRenderer.cs
  GitExtUtils/GitUI/ToolStripExThemeAwareRenderer.cs
  GitExtUtils/GitUI/ToolStripExtensions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormEditor.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormStash.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/RevisionLinksSettingsPage.Designer.cs
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/UserControls/MenuStripEx.cs
  GitUI/UserControls/RevisionGrid/MenuUtil.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

Don't crash if GE can't check IsDarkTheme
  GitUI/Theming/ThemeModule.cs
Due: production

Hide theme fields for serialization from public interface
  GitExtUtils/GitUI/Theming/IThemeSerializationFields.cs
  GitExtUtils/GitUI/Theming/Theme.cs
  GitUI/Theming/ThemeModule.cs
  GitUI/Theming/ThemePersistence.cs
Due: production

rename
  GitExtUtils/GitUI/Theming/IThemeSerializationData.cs
  GitExtUtils/GitUI/Theming/Theme.cs
  GitUI/Theming/ThemePersistence.cs
Due: production

Hide theme fields for serialization from public interface (#8907)
  GitExtUtils/GitUI/Theming/IThemeSerializationData.cs
  GitExtUtils/GitUI/Theming/Theme.cs
  GitUI/Theming/ThemeModule.cs
  GitUI/Theming/ThemePersistence.cs
Due: production

Apply experimental grid/list layout
  GitCommands/Settings/AppSettings.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Add ability to change GridListLayout setting
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/Translation/English.xlf
Due: production

Use null coalescing assignment
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageWithHeader.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/UserControls/BranchSelector.cs
  Plugins/GitHub3/GitHubHostedRemote.cs
  Plugins/GitHub3/GitHubPullRequest.cs
  UnitTests/GitCommands.Tests/Config/ConfigFileTest.cs
Due: production, tests

Merge sequential checks into pattern matching expressions
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeController.cs
  GitUI/MouseWheelRedirector.cs
Due: production

Remove unused field from RevisionDiffController
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

Use null propagation
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  ResourceManager/Xliff/TranslationUtil.cs
  UnitTests/CommonTestUtils/ConfigureJoinableTaskFactoryAttribute.cs
Due: production, tests

Remove redundant property setters
  GitCommands/Config/ConfigSection.cs
  GitCommands/CustomDiffMergeTool.cs
  GitCommands/CustomDiffMergeToolCache.cs
  GitCommands/UserRepositoryHistory/RecentRepoInfo.cs
  GitExtUtils/GitUI/Theming/BmpTransformation.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/CommandsDialogs/FormBlame.cs
  GitUI/CommandsDialogs/FormRevertCommit.cs
  GitUI/CommandsDialogs/SettingsDialog/GroupSettingsPage.cs
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/HelperDialogs/FormResetCurrentBranch.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphLaneColor.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphSegment.cs
  GitUI/WindowsThumbnailToolbarButton.cs
  Plugins/FindLargeFiles/GitObject.cs
  Plugins/GitUIPluginInterfaces/IGitRemoteCommand.cs
  Plugins/GitUIPluginInterfaces/Settings/BoolSetting.cs
  Plugins/GitUIPluginInterfaces/Settings/ChoiceSetting.cs
  Plugins/GitUIPluginInterfaces/Settings/NumberSetting.cs
  Plugins/GitUIPluginInterfaces/Settings/PasswordSetting.cs
  Plugins/GitUIPluginInterfaces/Settings/StringSetting.cs
  Plugins/Statistics/GitStatistics/PieChart/PieChart3D.cs
  ResourceManager/CommandEventArgs.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/GitUI.Tests/BranchTreePanel/GitRefMenuItemsTest.cs
Due: production, tests

Remove redundant property setters (#8929)
  GitCommands/Config/ConfigSection.cs
  GitCommands/CustomDiffMergeTool.cs
  GitCommands/CustomDiffMergeToolCache.cs
  GitCommands/UserRepositoryHistory/RecentRepoInfo.cs
  GitExtUtils/GitUI/Theming/BmpTransformation.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/CommandsDialogs/FormBlame.cs
  GitUI/CommandsDialogs/FormRevertCommit.cs
  GitUI/CommandsDialogs/SettingsDialog/GroupSettingsPage.cs
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/HelperDialogs/FormResetCurrentBranch.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphLaneColor.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphSegment.cs
  GitUI/WindowsThumbnailToolbarButton.cs
  Plugins/FindLargeFiles/GitObject.cs
  Plugins/GitUIPluginInterfaces/IGitRemoteCommand.cs
  Plugins/GitUIPluginInterfaces/Settings/BoolSetting.cs
  Plugins/GitUIPluginInterfaces/Settings/ChoiceSetting.cs
  Plugins/GitUIPluginInterfaces/Settings/NumberSetting.cs
  Plugins/GitUIPluginInterfaces/Settings/PasswordSetting.cs
  Plugins/GitUIPluginInterfaces/Settings/StringSetting.cs
  Plugins/Statistics/GitStatistics/PieChart/PieChart3D.cs
  ResourceManager/CommandEventArgs.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/GitUI.Tests/BranchTreePanel/GitRefMenuItemsTest.cs
Due: production, tests

Focus ComboBox Branches of FormResetAnotherBranch
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
Due: production

More generic ExternalOperationException properties
  GitCommands/Git/Executable.cs
  GitExtUtils/ExternalOperationException.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/NBugReports/BugReporter.cs
  GitUI/NBugReports/UserExternalOperationException.cs
  GitUI/Script/ScriptRunner.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: production, tests

Improve display of exceptions
  GitUI/NBugReports/BugReporter.cs
  GitUI/Strings.cs
  UnitTests/GitUI.Tests/NBugReports/BugReporterTests.cs
Due: production, tests

Substitute ExternalOperationException for FileDeleteException
  GitCommands/Git/FileDeleteException.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/IndexLockManager.cs
  GitExtUtils/FileSystemWrapper.cs
  GitExtUtils/GitExtUtils.csproj
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/IndexLockManagerTests.cs
Due: production, tests

Remove invalid solution items
  GitExtensions.sln
Due: none

Add missing solution items
  GitExtensions.sln
Due: none

Fix invalid boolean logic
  GitUI/UserControls/RevisionGrid/RevisionGridControl.RevisionGridInMemFilter.cs
Due: production

Prevent ArgumentNullException
  Plugins/GitUIPluginInterfaces/Settings/ChoiceSetting.cs
Due: production

Convert switch statements to switch expressions
  GitCommands/ArgumentBuilderExtensions.cs
  GitCommands/DiffMergeTools/DiffMergeToolConfigurationManager.cs
  GitCommands/Git/Commands/GitCreateTagCmd.cs
  GitExtUtils/GitUI/ControlHotkeyExtensions.cs
  GitUI/CommandsDialogs/DataGridViewCheckBoxHeaderCell.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormVerify.LostObject.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/RevisionLinks/CloudProviderExternalLinkDefinitionExtractorFactory.cs
  GitUI/Script/ScriptOptionsParser.cs
  GitUI/Theming/Renderers/ComboBoxRenderer.cs
  GitUI/Theming/Renderers/EditRenderer.cs
  GitUI/Theming/Renderers/HeaderRenderer.cs
  GitUI/Theming/Renderers/ListViewRenderer.cs
  GitUI/Theming/Renderers/ScrollBarRenderer.cs
  GitUI/Theming/Renderers/SpinRenderer.cs
  GitUI/Theming/Renderers/TreeViewRenderer.cs
  GitUI/WebBrowserEmulationMode.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/TfsHelper2015.cs
Due: production, tests

Convert if statements to switch expressions
  GitCommands/Patches/PatchManager.cs
  GitExtUtils/GitUI/Theming/HslColor.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/CommandsDialogs/BrowseDialog/GitFileTreeComparer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Editor/RichTextBoxXhtmlSupportExtension.cs
  GitUI/Script/SplitButton.cs
  GitUI/SpellChecker/EditNetSpell.cs
  GitUI/UserControls/RepoStateVisualiser.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/WebBrowserEmulationMode.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/TfsHelper2015.cs
Due: production

Prevent exception when running unit tests
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Due: production

Use pattern matching
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/CommitInfoHeader.cs
Due: production

Reorder conditions based on review feedback
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/CommitInfoHeader.cs
Due: production

More consistency between GetSubmoduleItemImage methods
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Remove IExecutable.GetOutput
  GitCommands/Git/Executable.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/Git/Gpg/GitGpgControllerTests.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormAddSubmoduleTests.cs
Due: production, tests

Fix invalid XML in DotSettings file
  GitExtensions.sln.DotSettings
Due: none

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
