Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

C+
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
Due: none

Rename build server plugins
  GitExtensions.sln
  Plugins/BuildServerIntegration/AppVeyorIntegration/GitExtensions.Plugins.AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/GitExtensions.Plugins.AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/GitExtensions.Plugins.JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/GitExtensions.Plugins.TeamCityIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/Properties/Resources.Designer.cs
  Plugins/GitFlow/GitExtensions.Plugins.GitFlow.csproj
  Setup/Product.wxs
  Setup/Setup.wixproj
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/AppVeyorIntegration.Tests.csproj
  UnitTests/Plugins/BuildServerIntegration/AzureDevOpsIntegration.Tests/AzureDevOpsIntegration.Tests.csproj
Due: production, tests

Remove reset and delete from commit working dir menu
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Translation/English.xlf
Due: production

Remove reset and delete from commit working dir menu (#10956)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Translation/English.xlf
Due: production

Rename build server plugins (#10953)
  GitExtensions.sln
  Plugins/BuildServerIntegration/AppVeyorIntegration/GitExtensions.Plugins.AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/GitExtensions.Plugins.AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/GitExtensions.Plugins.JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/GitExtensions.Plugins.TeamCityIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/Properties/Resources.Designer.cs
  Plugins/GitFlow/GitExtensions.Plugins.GitFlow.csproj
  Setup/Product.wxs
  Setup/Setup.wixproj
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/AppVeyorIntegration.Tests.csproj
  UnitTests/Plugins/BuildServerIntegration/AzureDevOpsIntegration.Tests/AzureDevOpsIntegration.Tests.csproj
Due: production, tests

Release 4.1
  GitExtensions.releases
Due: none

update Links to SignPath
  README.md
Due: none

update Links to SignPath (#10966)
  README.md
Due: none

Fixes #10969
  GitUI/CommandsDialogs/Menus/CopyPathsToolStripMenuItem.cs
Due: production

Search only for GitExtensions.Plugins.*.dll
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

RevDiff: Reset to HEAD for artificial
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

fixup! Search only for GitExtensions.Plugins.*.dll
  Plugins/GitUIPluginInterfaces/GitUIPluginInterfaces.csproj
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Fixes #10969 (#10977)
  GitUI/CommandsDialogs/Menus/CopyPathsToolStripMenuItem.cs
Due: production

Search only for GitExtensions.Plugins.*.dll (#10978)
  Plugins/GitUIPluginInterfaces/GitUIPluginInterfaces.csproj
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Restrict search to GitExtensions.Plugins.* only to the inbox plugins
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Restrict search to GitExtensions.Plugins.* only to the inbox plugins (#10982)
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Add support to build GE for Windows on Arm64 (WoA)
  Directory.Build.props
  GitExtSshAskPass/GitExtSshAskPass.sln
  GitExtSshAskPass/SshAskPass.vcxproj
  GitExtensions/Project.Publish.targets
  GitExtensionsShellEx/GitExtensionsShellEx.sln
  GitExtensionsShellEx/GitExtensionsShellEx.vcxproj
  contributors.txt
  scripts/native.proj
Due: none

Add support to build GE for Windows on Arm64 (WoA) (#10649)
  Directory.Build.props
  GitExtSshAskPass/GitExtSshAskPass.sln
  GitExtSshAskPass/SshAskPass.vcxproj
  GitExtensions/Project.Publish.targets
  GitExtensionsShellEx/GitExtensionsShellEx.sln
  GitExtensionsShellEx/GitExtensionsShellEx.vcxproj
  contributors.txt
  scripts/native.proj
Due: none

Use common ResetAllChanges method
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUICommands.cs
  GitUI/LeftPanel/SubmoduleTree.cs
Due: production

Common code for reset of individual files
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Handle reset of selected files from GE command line (#10960)
  GitCommands/Git/GitModule.cs
  GitUI/GitUICommands.cs
Due: production

Run ROT git-branch on worker thread
  GitUI/LeftPanel/RepoObjectsTree.cs
Due: production

amend! RevDiff: Reset to HEAD for artificial
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

amend! RevDiff: Limit reset to Index
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

fixup! review comments
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Reset from command line (#10960)
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUICommands.cs
  GitUI/LeftPanel/SubmoduleTree.cs
Due: production

Blame: select original line when blaming for "Blame this revision"
  GitUI/UserControls/BlameControl.cs
Due: production

Blame: try to select a better line when using "Blame previous revision"
  GitUI/UserControls/BlameControl.cs
Due: production

support rolling forward to sdk 7
  global.json
Due: none

omit Externals from inspections
  GitExtensions.sln.DotSettings
Due: none

environmentInfo cant be null
  BugReporter/ErrorReportUrlBuilder.cs
Due: none

WorkingDirectory can be null
  GitExtUtils/ExternalOperationException.cs
Due: production

ReferenceRepository can be null after ResetRepo
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: tests

remove duplicate dictionary lookups
  GitCommands/Config/ConfigSection.cs
  GitCommands/DiffMergeTools/RegisteredDiffMergeTools.cs
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FileStatusList.cs
  Plugins/Bitbucket/BitbucketPullRequestForm.cs
  Plugins/Statistics/GitImpact/ImpactControl.cs
Due: production

Update GitCommands/Config/ConfigSection.cs
  GitCommands/Config/ConfigSection.cs
Due: production

FormPush: No popup on Push All
  GitUI/CommandsDialogs/FormPush.cs
Due: production

fixup! review comments use CanResetTo*
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
