Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Rename detection for Advanced filter (#9413)
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

FileHistory: rename FileChanges to RevisionGrid
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
Due: production

Support `git-bash.exe` again (#9416)
  GitCommands/PathUtil.cs
  GitUI/Shells/BashShell.cs
Due: production

BashShell: Try git-bash.exe first
  GitCommands/PathUtil.cs
  GitUI/Shells/BashShell.cs
Due: production

Show artificial commits also when HEAD is filtered
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphSegment.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

Do not allow duplicate submodule paths (#9406)
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Show artificial commits also when HEAD is filtered (#9393)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphSegment.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

RevGrid commit count: Do not reset when creating artificial commits
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

BashShell: Try git-bash.exe first (#9430)
  GitCommands/PathUtil.cs
  GitUI/Shells/BashShell.cs
Due: production

Updated NuGet packages for all projects.
  Packages.props
Due: none

Fixed AppVeyor tests.
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/ApprovedFiles/AppVeyorAdapterTests.Should_return_a_build_Info_When_Json_content_is_the_one_of_a_master_build.approved.txt
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/ApprovedFiles/AppVeyorAdapterTests.Should_return_a_build_Info_When_Json_content_is_the_one_of_a_pull_request_build.approved.txt
Due: tests

Fixed CommitInfo window indents to align columns.
  ResourceManager/CommitDataRenders/TabbedHeaderLabelFormatter.cs
Due: production

Fixed Tests.
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererIntegrationTests.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/TabbedHeaderLabelFormatterTests.cs
Due: tests

RevGrid commit count: Do not reset when creating artificial commits (#9432)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Updated Nuget packages for all projects (#9443)
  Packages.props
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/ApprovedFiles/AppVeyorAdapterTests.Should_return_a_build_Info_When_Json_content_is_the_one_of_a_master_build.approved.txt
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/ApprovedFiles/AppVeyorAdapterTests.Should_return_a_build_Info_When_Json_content_is_the_one_of_a_pull_request_build.approved.txt
Due: tests

Fixed Commit info varying indents. Fixes #9164 (#9444)
  ResourceManager/CommitDataRenders/TabbedHeaderLabelFormatter.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererIntegrationTests.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/TabbedHeaderLabelFormatterTests.cs
Due: production, tests

v3.5.2
  GitUI/Resources/ChangeLog.md
  appveyor.yml
Due: production

Browse: Remove unused _artificialStatus
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Improve performance for GitModule.GetParents
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

FileHistory: Default text when no changes (#9425)
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusList.Designer.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

ToggleBetweenArtificialAndHeadCommits: Go to WorkTree if HEAD is hidden
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

RevGrid: Use default value for ShowUncommittedChangesIfPossible
  GitUI/CommandsDialogs/FormLog.Designer.cs
  GitUI/HelperDialogs/FormChooseCommit.cs
Due: production

GitHub PR template - merge strategies
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Remove use of FilterBranchHelper in FormBrowse
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/FilterBranchHelper.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/BranchFilterEventArgs.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Move filter toolbar into own class // deprecate FilterRevisionsHelper
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowse.resx
  GitUI/GitUI.csproj
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionFilterEventArgs.cs
Due: production

Remove FilterRevisionsHelper and FilterBranchHelper
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/FilterBranchHelper.cs
  GitUI/FilterRevisionsHelper.cs
Due: production

Remove dependency in FormFileHistory on FilterRevisionsHelper and FilterBranchHelper
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/FormFileHistory.resx
  GitUI/UserControls/FilterToolBar.Designer.cs
Due: production

Move branch load logic into FilterToolBar
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Move shared logic into RevisionGridControl
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionFilter.cs
  GitUI/UserControls/RevisionFilterEventArgs.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

Loc
  GitUI/Translation/English.xlf
Due: production

Feedback
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Move revision grid filtering logic into FilterToolBar
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/BranchFilterEventArgs.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionFilterEventArgs.cs
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Add selected tests
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests
