Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

fixup! Fixup 3-revision diff with artificial
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

fixup! add a GitStatusItem.Default() static constructor.
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
Due: production

fixup! Unclear parsing of skip worktree
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitItemStatusConverter.cs
Due: production

fixup! add test for GitItemStatus.Default
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.GitStatusDefault.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.cs
Due: tests

Add shift enter supported in list Shift Enter is replace to normal enter in revision list.
  GitCommands/RevisionReader.cs
Due: production

Update data in contributors
  contributors.txt
Due: none

use some patterns (#11010)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Editor/RebaseTodoHighlightingStrategy.cs
  GitUI/LeftPanel/ContextMenu/ContextMenuExtensions.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/ToolStripEx.cs
  Plugins/GitUIPluginInterfaces/ObjectId.cs
  Plugins/Statistics/GitStatistics/PieChart/ColorUtil.cs
Due: production

fixup! review comments
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetDefaultStatus.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.cs
Due: production, tests

Unclear parsing of skip worktree (#11011)
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitItemStatusConverter.cs
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetDefaultStatus.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.cs
Due: production, tests

Rename Conflict -> Unmerged
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitItemStatusConverter.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormAddToGitIgnore.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/Unmerged.png
  GitUI/UserControls/FileStatusList.cs
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetDefaultStatus.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=added_by_them.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=added_by_us.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=both_added.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=both_deleted.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=both_modified.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=deleted_by_them.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=deleted_by_us.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=fatal_error.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=status_ignored_files.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=status_modified_files.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=status_staged_files.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=status_untracked_files.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=status_with_spaces.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Check_that_spaces_are_not_trimmed_in_file_names.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Check_that_the_staged_status_is_None_if_not_IndexWorkTree1.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Check_that_the_staged_status_is_None_if_not_IndexWorkTree2.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Ignore_unmerged_in_conflict_if_revision_is_work_tree.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Include_unmerged_in_conflict_if_revision_is_index.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Rename_with_spaces.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=WorkTree1.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=WorkTree2.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=WorkTree3.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=WorkTree4.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=fatal_error.verified.json
Due: production, tests

Refactor RevisionGraphRow.BuildSegmentLanes
  GitUI/UserControls/RevisionGrid/Graph/IRevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
Due: production

Do not straighten re-used graph lanes
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Add LaneSharing for RevisionGraphRow
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/IRevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/Graph/Lane.cs
  GitUI/UserControls/RevisionGrid/Graph/LaneSharing.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphRowTests.cs
Due: production, tests

Straighten all visible graph segments
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Limit lookahead to revision count
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Straighten multiple segments, including when there are commits
  GitUI/UserControls/RevisionGrid/Graph/IRevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Factor out GraphDrawer and SegmentDrawer
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/GraphDrawer.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/SegmentDrawer.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/SegmentLanes.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/SegmentPoints.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Avoid drawing the same graph curve twice
  GitUI/UserControls/RevisionGrid/GraphDrawer/GraphDrawer.cs
Due: production

Store most important view settings on request only
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/BoolViewSettings.cs
  GitCommands/Settings/EnumViewSettings.cs
  GitCommands/Settings/IViewSetting.cs
  GitCommands/Settings/ViewSetting.cs
  GitUI/Editor/FileViewer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Add option to fan out all children lanes directly at parent
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/BrowseDialog/MenuCommand.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/GraphDrawer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Add handle vertical tab.
  GitCommands/RevisionReader.cs
  GitUI/SpellChecker/EditNetSpell.cs
Due: production

AutoComplete: Run git-status without locks
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Due: production

AutoComplete: Run git-status without locks (#11030)
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Due: production

AutoComplete: Ignore Git exceptions for git-status by file
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Due: production

#11032 Support jira personal access token
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
Due: production

#11032 Support jira personal access token, Update translation.
  GitUI/Translation/English.Plugins.xlf
Due: production

Update contributors.txt
  contributors.txt
Due: none

#11032 Support jira personal access token, update plugins translation.
  GitUI/Translation/English.Plugins.xlf
Due: production

Update GitCommands/RevisionReader.cs
  GitCommands/RevisionReader.cs
Due: production

Treat vertical tab (Shift-Enter) as line feed (#11020)
  GitCommands/RevisionReader.cs
  GitUI/SpellChecker/EditNetSpell.cs
  contributors.txt
Due: production

fixup! review comment
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Due: production

Render graph lines with diagonals
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/GraphDrawer.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/SegmentDrawer.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/SegmentLaneFlags.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/SegmentLanes.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

AutoComplete: Ignore Git exceptions for git-status by file (#11031)
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Due: production

Straighten multi-lane crossings
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/RevisionGrid/Graph/IRevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/Graph/Lane.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Debug straighten over commits
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Debug graph lines
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/RevisionGrid/Graph/LaneInfoProvider.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/SegmentDrawer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Join multi-lane crossings
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Debug optimized graph drawing
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/RevisionGrid/GraphDrawer/GraphDrawer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Rename Conflict -> Unmerged (#11024)
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitItemStatusConverter.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormAddToGitIgnore.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/Unmerged.png
  GitUI/UserControls/FileStatusList.cs
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetDefaultStatus.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=added_by_them.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=added_by_us.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=both_added.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=both_deleted.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=both_modified.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=deleted_by_them.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=deleted_by_us.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=fatal_error.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=status_ignored_files.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=status_modified_files.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=status_staged_files.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=status_untracked_files.verified.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString_testName=status_with_spaces.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Check_that_spaces_are_not_trimmed_in_file_names.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Check_that_the_staged_status_is_None_if_not_IndexWorkTree1.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Check_that_the_staged_status_is_None_if_not_IndexWorkTree2.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Ignore_unmerged_in_conflict_if_revision_is_work_tree.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Include_unmerged_in_conflict_if_revision_is_index.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=Rename_with_spaces.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=WorkTree1.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=WorkTree2.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=WorkTree3.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=WorkTree4.verified.json
  UnitTests/GitCommands.Tests/GitModuleTests.GetDiffChangedFilesFromString_testName=fatal_error.verified.json
Due: production, tests

fixup! unmerged index correction
  GitCommands/Git/GitModule.cs
Due: production
