Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Add comment for skip worktree together with assume unchanged
  GitCommands/Git/GitModule.cs
Due: production

fixup! Add comment for skip worktree together with assume unchanged
  GitCommands/Git/GitModule.cs
Due: production

Use RevisionReader to read GitRevision with Notes
  GitCommands/CommitDataManager.cs
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
  GitExtUtils/Delimiters.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitCommands.Tests/CommitDataManagerTest.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=notes_data.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=notes_empty.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=vertical_tab.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/notes_data.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/notes_empty.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/vertical_tab.bin
Due: production, tests

fixup! review comment
  GitCommands/RevisionReader.cs
Due: production

fixup! tests failed
  GitCommands/CommitDataManager.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  ResourceManager/LocalizationHelpers.cs
Due: production

editor: Add feature to move line up/down with ALT + UP/DOWN
  GitExtensions/Properties/launchSettings.json
  GitUI/Editor/FileViewer.cs
Due: production

Debug: replace debug launch argument that crash VisualStudio with "Object reference not set to an instance of an object"
  GitExtensions/Properties/launchSettings.json
Due: none

editor: Add feature to move line up/down with ALT + UP/DOWN (#11247)
  GitExtensions/Properties/launchSettings.json
  GitUI/Editor/FileViewer.cs
Due: production

Add comment for skip worktree together with assume unchanged (#11243)
  GitCommands/Git/GitModule.cs
Due: production

Use RevisionReader to read GitRevision with Notes (#11245)
  GitCommands/CommitDataManager.cs
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
  GitExtUtils/Delimiters.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  ResourceManager/LocalizationHelpers.cs
  UnitTests/GitCommands.Tests/CommitDataManagerTest.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=notes_data.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=notes_empty.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=vertical_tab.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/notes_data.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/notes_empty.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/vertical_tab.bin
Due: production, tests

Modernise FormCheckoutRevision (#11231)
  GitUI/CommandsDialogs/FormCheckoutRevision.Designer.cs
  GitUI/CommandsDialogs/FormCheckoutRevision.cs
Due: production

Update appveyor.yml
  appveyor.yml
Due: none

Fix build by removing random version suffix
  scripts/set_version_to.py
Due: none

Update translations at 75%
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.Plugins.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).Plugins.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Tamil.Plugins.xlf
  GitUI/Translation/Tamil.xlf
  GitUI/Translation/Traditional Chinese.Plugins.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.xlf
Due: production

Bump version to 4.3
  appveyor.yml
Due: none

Update translations
  .tools/transifex/.tx/config
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.Plugins.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).Plugins.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Tamil.Plugins.xlf
  GitUI/Translation/Tamil.xlf
  GitUI/Translation/Traditional Chinese.Plugins.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.xlf
  Setup/Product.wxs
Due: production

Update contributors
  GitUI/Properties/Resources.resx
Due: production

Update change log
  GitUI/Resources/ChangeLog.md
Due: production

Update translations (#11250)
  .tools/transifex/.tx/config
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.Plugins.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).Plugins.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Tamil.Plugins.xlf
  GitUI/Translation/Tamil.xlf
  GitUI/Translation/Traditional Chinese.Plugins.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.xlf
  Setup/Product.wxs
Due: production

﻿Generate GPG key in appveyor
  appveyor.yml
  scripts/gen-gpg.dat
Due: none

Setup Windows Sandbox
  .gitignore
  README.md
  scripts/Start-CleanMachineTesting.ps1
  scripts/wsb/Sandbox.Template
  scripts/wsb/Setup-Repo.ps1
  scripts/wsb/TestResults/.gitkeep
  scripts/wsb/readme.md
  scripts/wsb/setup.ps1
Due: none

Add gpg sign setting keys
  GitCommands/Config/SettingKeyString.cs
Due: production

Update GetEffectiveGitSetting to provide status and value
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  IntegrationTests/UI.IntegrationTests/Infrastructure/GitConfigTests.cs
  Plugins/GitUIPluginInterfaces/EffectiveGitSetting.cs
  Plugins/GitUIPluginInterfaces/GitConfigStatus.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production, tests

Setup Windows Sandbox for GPG
  appveyor.yml
  scripts/wsb/Setup-Repo.ps1
  scripts/wsb/gen-gpg.dat
  scripts/wsb/readme.md
  scripts/wsb/setup.ps1
Due: none

Get secret keys from GPG
  GitCommands/Git/Executable.cs
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/Gpg/CommitStatus.cs
  GitCommands/Git/Gpg/GitGpgController.cs
  GitCommands/Git/Gpg/IGitGpgContrller.cs
  GitCommands/Git/Gpg/TagStatus.cs
  GitCommands/Gpg/GitGpgController.cs
  GitCommands/Gpg/GpgKeyInfo.cs
  GitCommands/Gpg/GpgLine.Capabilities.cs
  GitCommands/Gpg/GpgLine.KeyValidity.cs
  GitCommands/Gpg/GpgLine.LineType.cs
  GitCommands/Gpg/GpgLine.cs
  GitCommands/Gpg/GpgSecretKeysParser.cs
  GitCommands/Gpg/IGitGpgController.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  GitUI/CommandsDialogs/GpgInfo.cs
  GitUI/CommandsDialogs/RevisionGpgInfoControl.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/Git/Gpg/GitGpgControllerTests.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormBrowseControllerTests.cs
Due: production, tests

Setup test git config
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
Due: tests

Add GPGKeysUIController to abstract out driving GitGpgController
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/GPGKeys/GPGKeysUIController.cs
  GitUI/UserControls/GPGKeys/GpgKeyDisplayInfo.cs
  UnitTests/GitUI.Tests/UserControls/GPGKeys/GPGKeysUIControllerTests.cs
Due: production, tests

Add GPG keys dropdown controls
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormCommit.resx
  GitUI/CommandsDialogs/FormCreateTag.Designer.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormCreateTag.resx
  GitUI/CommandsDialogs/FormMergeBranch.Designer.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormMergeBranch.resx
  GitUI/CommandsDialogs/FormRebase.Designer.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/Properties/DataSources/GitUI.UserControls.GPGKeys.GpgKeyDisplayInfo.datasource
  GitUI/Translation/English.xlf
  GitUI/UserControls/GPGKeys/GpgKeyDisplayInfo.cs
  GitUI/UserControls/GPGKeys/GpgSecretKeysSelector.Designer.cs
  GitUI/UserControls/GPGKeys/GpgSecretKeysSelector.cs
  GitUI/UserControls/GPGKeys/GpgSecretKeysSelector.resx
  GitUI/UserControls/GPGKeys/ToolStripGPGSecretKeysSelector.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormRebaseTests.cs
Due: production, tests

Use gpg-sign
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

wip mouse issues in ToolStripMenuItem
  GitUI/UserControls/GPGKeys/GpgSecretKeysSelector.Designer.cs
  GitUI/UserControls/GPGKeys/GpgSecretKeysSelector.cs
Due: production

Use MemoryCache to keep keys loaded
  GitCommands/GitCommands.csproj
  GitCommands/Gpg/GitGpgController.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/GPGKeys/GpgSecretKeysSelector.cs
  Packages.props
Due: production

Validate git signing is correct
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
