Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

FormCheckoutBranch: Handle no current checkout (#11500)
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
Due: production

Create .git/info/ before creating exclude file (#11550)
  GitUI/CommandsDialogs/FormAddToGitIgnore.cs
  GitUI/CommandsDialogs/FormGitIgnore.cs
Due: production

FormCheckoutBranch: Handle no current checkout (#11551)
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
Due: production

Ignore ListViewGroup accessibility exception
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

Ignore ListViewGroup accessibility exception (#11552)
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

Scripts: Last column size fit content
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
Due: production

CommitCount: Use HEAD for artificial
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/UserControls/BranchSelector.cs
  GitUI/UserControls/CommitPickerSmallControl.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production

Remove "Atom" editor that is no more maintained
  GitUI/CommandsDialogs/SettingsDialog/EditorHelper.cs
Due: production

Refactoring/Cleaning EditorHelper.cs
  GitUI/CommandsDialogs/SettingsDialog/EditorHelper.cs
Due: production

feat(settings): update to support for Sublime text 4
  GitUI/CommandsDialogs/SettingsDialog/EditorHelper.cs
Due: production

feat(settings): try to find user install of a text editor
  GitCommands/PathUtil.cs
Due: production

feat(settings): support for text editor in the PATH
  GitUI/CommandsDialogs/SettingsDialog/EditorHelper.cs
Due: production

CommitCount: Use HEAD for artificial (#11564)
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/UserControls/BranchSelector.cs
  GitUI/UserControls/CommitPickerSmallControl.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production

Dropdowns: auto-size of opened dropdowns to be readable
  GitUI/CommandsDialogs/BrowseDialog/FormOpenDirectory.cs
  GitUI/CommandsDialogs/FormRemotes.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Remotes: history should not be dependent of local repo history setting
  GitCommands/Settings/AppSettings.cs
  GitCommands/UserRepositoryHistory/RemoteRepositoryManager.cs
Due: production

Quote Git reference names
  GitCommands/CommitDataManager.cs
  GitCommands/Git/Commands.Arguments.cs
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormCommit.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/FindLargeFiles/FindLargeFilesForm.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

GetSubmoduleCommitHash: Quote refName
  GitCommands/Git/GitModule.cs
Due: production

fixup! Quote Git reference names
  GitCommands/Git/Commands.Arguments.cs
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
Due: production, tests

fixup! Quote Git reference names
  GitCommands/Git/Commands.Arguments.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
Due: production, tests

Update Directory.Build.props
  Directory.Build.props
Due: none

Quote Git reference names (#11570)
  GitCommands/CommitDataManager.cs
  GitCommands/Git/Commands.Arguments.cs
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormCommit.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/FindLargeFiles/FindLargeFilesForm.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Update Directory.Build.props (#11575)
  Directory.Build.props
Due: none

WIX 3.14.0
  Directory.Packages.props
Due: none

WIX 3.14.0 (#11576)
  Directory.Packages.props
Due: none

Clarify revision loading (#11521)
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.BackgroundUpdater.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

GitCommandLog: Hide '-c option="value with space"'
  GitCommands/Logging/CommandLog.cs
Due: production

Fix FormCherryPick sizing
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
  GitUI/GitUI.csproj
Due: production

Scale parent commit info column header width
  GitUI/CommandsDialogs/FormCherryPick.cs
Due: production

Split ColumnProvider.Refresh
  GitUI/UserControls/RevisionGrid/Columns/AuthorNameColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/AvatarColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/ColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/CommitIdColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/DateColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

FileStatusList updates
  GitUI/CommandsDialogs/FormStash.Designer.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.Designer.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/FileStatusList.resx
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FileStatusListTests.cs
Due: production, tests

Fix FormCherryPick sizing (#11581)
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
  GitUI/GitUI.csproj
Due: production

FileStatusList updates (#11472)
  GitUI/CommandsDialogs/FormStash.Designer.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.Designer.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/FileStatusList.resx
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FileStatusListTests.cs
Due: production, tests
