Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

squash! UITest.ProcessUntil: Double maxIterations
  IntegrationTests/UI.IntegrationTests/UITest.cs
Due: tests

Conemu: fix switch of repo folder in console tab
  GitUI/Shells/ConEmuControlExtensions.cs
Due: production

fixup! squash! UITest.ProcessUntil: Double maxIterations
  IntegrationTests/UI.IntegrationTests/UITest.cs
Due: tests

fixup! Fixes by update-loc.cmd after rebase on fresh master
  GitUI/Translation/English.Plugins.xlf
Due: production

Enable production of reference assemblies
  Directory.Build.props
  Externals/Directory.Build.props
Due: none

Opt in to Build Acceleration in Visual Studio
  Directory.Build.props
  Setup/Setup.wixproj
Due: none

9659 MEF assemblies fixes (for jira hint plugin) (#10524)
  GitUI/Translation/English.Plugins.xlf
  Packages.props
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
Due: production

Add misssing Turkish language
  transifex.yml
Due: none

Update translations
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Traditional Chinese.Plugins.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.xlf
Due: production

Stabilize FormBrowseTests regarding Left Panel (#10604)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UITest.cs
Due: tests

Disable loc-related warnings (e.g., LF will be replaced by CRLF the next time Git touches it)
  GitExtensions.sln
  GitExtensions/Project.Loc.targets
Due: none

Add high contrast theme file
  GitUI/Themes/highcontrast_dark.css
  Setup/Product.wxs
Due: production

fixup! Disable loc-related warnings (e.g., LF will be replaced by CRLF the next time Git touches it)
  GitExtensions/Project.Loc.targets
Due: none

fixup! Working directory
  GitExtensions/Project.Loc.targets
Due: none

fixup! crlf, year to CommonAssemblyInfo.cs,
  CommonAssemblyInfo.cs
  appveyor.experimental.yml
  appveyor.yml
  scripts/set_version_to.py
Due: none

fixup! also lf for .rc files
  scripts/set_version_to.py
Due: none

fixup! commit warning in pr
  appveyor.yml
Due: none

Update build scripts
  .gitattributes
  GitExtensions.sln
  GitExtensions/Project.Loc.targets
  GitExtensions/Project.Publish.targets
  appveyor.yml
Due: none

Update build scripts (#10618)
  .gitattributes
  GitExtensions.sln
  GitExtensions/Project.Loc.targets
  GitExtensions/Project.Publish.targets
  appveyor.yml
Due: none

Add high contrast theme file (#10621)
  GitUI/Themes/highcontrast_dark.css
  Setup/Product.wxs
Due: production

Update README.md
  README.md
Due: none

Update contributors.txt
  contributors.txt
Due: none

Update changelog
  GitUI/Resources/ChangeLog.md
  Setup/Prepare-Release.ps1
Due: production

Update build scripts
  .gitattributes
  GitExtensions/Project.Loc.targets
  GitExtensions/Project.Publish.targets
  appveyor.yml
Due: none

Ensure release builds are clean
  appveyor.yml
Due: none

Bump version to 4.0.3
  appveyor.yml
Due: none

Avoid "git : warning: in the working copy of '<file>', LF will be replaced by CRLF the next time Git touches it"
  appveyor.yml
Due: none

fixup! write version as lf
  scripts/set_version_to.py
Due: none

fixup! Avoid "git : warning: in the working copy of '<file>', LF will be replaced by CRLF the next time Git touches it"
  appveyor.yml
Due: none

Avoid "git : warning: in the working copy of '<file>', LF will be replaced by CRLF the next time Git touches it" (#10648)
  appveyor.yml
  scripts/set_version_to.py
Due: none

FormCommit: Add button text "Commit & force push" (#10587)
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Translation/English.xlf
Due: production

FormCommit: Fixup capitalization (#10587)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/Translation/English.xlf
Due: production

FormCommit: Make mnemonic Alt+T unique (#10587)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/Translation/English.xlf
Due: production

FormCommit: Support Tab for buttons (#10587)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
Due: production

Provide hotfix release v4.0.2 in auto update check
  GitExtensions.releases
Due: none

DeleteUnusedBranches plugin: Fix branch deletion
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
