Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

fixup! Syntax sugar
  GitUI/GitModuleControl.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Revert changes to `RunEventScripts`
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCheckoutRevision.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormDeleteTag.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: production, tests

Remove RevisionGraphRevision._parents
  GitUI/UserControls/RevisionGrid/Graph/BranchFinder.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
Due: production

Fix commit graph crash when commit message started with a new line
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=subject_starts_with_newline.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/subject_starts_with_newline.bin
Due: production, tests

Implement RevisionGraphRow.FirstParentOrSelf
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphSegment.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/LaneNodeLocatorTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphRowTests.cs
Due: production, tests

Fix commit graph crash when commit message started with a new line (#11313)
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=subject_starts_with_newline.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/subject_starts_with_newline.bin
Due: production, tests

Correctly reset unstaged changes without affecting staged (#11307)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/GitUICommands.cs
  GitUI/Translation/English.xlf
Due: production

Move tests to match folder structure
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.CreateTag.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.DeleteBranch.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
Due: tests

Sort lexicographically
  GitCommands/Git/Commands.Arguments.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
Due: production, tests

Move GitModule.Push* commands
  GitCommands/Git/Commands.Arguments.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormPush.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Move GitModule.Commit commands
  GitCommands/Git/Commands.Arguments.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Trigger RepoChangedNotifier after script / plugin (#11309)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Remove RevisionGraphRevision._parents (#11314)
  GitUI/UserControls/RevisionGrid/Graph/BranchFinder.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
Due: production

Remove CommandStatus
  GitCommands/CommandStatus.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production, tests

Scripts: add a new `{HEAD}` option
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/Script/ScriptOptionsParser.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: production, tests

Remove CommandStatus (#11279)
  GitCommands/CommandStatus.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production, tests

fixup! Remove `serviceProvider` parameter from `UserScriptContextMenuExtensions.AddUserScripts` since the information is already available and DI-friendly in `scriptHostControl`
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/LeftPanel/RepoObjectsTree.ContextActions.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Remove `IRunScript` and replace usage with `IScriptHostControl`
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/LeftPanel/RepoObjectsTree.ContextActions.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Rebased
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Remove `THostForm` from `RunScripts` and pass using `IScriptHostControl` instead
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCheckoutRevision.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormDeleteTag.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptOptionsParser.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: production, tests

Remove `IRunScript` and replace usage with `IScriptHostControl`
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/GitModuleControl.cs
  GitUI/LeftPanel/RepoObjectsTree.ContextActions.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/ScriptsEngine/IRunScript.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
Due: production, tests

Replace GitUICommands.Browse* functions
  GitUI/GitUICommands.cs
  GitUI/LeftPanel/BaseBranchLeafNode.cs
  GitUI/LeftPanel/BaseRevisionNode.cs
  GitUI/LeftPanel/SubmoduleNode.cs
Due: production

Replace GitUICommands.Browse* functions (#11323)
  GitUI/GitUICommands.cs
  GitUI/LeftPanel/BaseBranchLeafNode.cs
  GitUI/LeftPanel/BaseRevisionNode.cs
  GitUI/LeftPanel/SubmoduleNode.cs
Due: production

Move IScriptHostControl functions to IBrowseRepo
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptOptionsParser.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
  Plugins/GitUIPluginInterfaces/IBrowseRepo.cs
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: production, tests

Remove obsolete GitModuleForm.RevisionGridControl
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitModuleForm.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
Due: production

fixup! Move IScriptHostControl functions to IBrowseRepo
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
Due: production

Provide IServiceProvider instance to FormStatus
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/HelperDialogs/FormStatus.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
Due: production

fixup! Provide IServiceProvider instance to FormStatus
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
Due: production

Move IScriptHostControl functions to IBrowseRepo (#11324)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptOptionsParser.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
  Plugins/GitUIPluginInterfaces/IBrowseRepo.cs
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: production, tests

Provide IServiceProvider to FormStatus (#11320)
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/HelperDialogs/FormStatus.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
Due: production

Call ISetting<T>.Create<T> only once
  GitCommands/Settings/AppSettings.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Call ISetting<T>.Create<T> only once (#11326)
  GitCommands/Settings/AppSettings.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Remove IRunScript (#11325)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
  GitUI/LeftPanel/RepoObjectsTree.ContextActions.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/ScriptsEngine/IRunScript.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
Due: production, tests

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
