Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

fixup! rename unrelated variable back
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Change ShowMergeCommits to HideMergeCommits (#11069)
  GitCommands/Settings/AppSettings.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_expected.verified.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_with_Raw_expected.verified.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

#11054 Add option to clean submodules
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormCleanupRepository.Designer.cs
  GitUI/CommandsDialogs/FormCleanupRepository.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Update translations
  GitUI/Translation/English.xlf
Due: production

Add Clean Submodules behaviour to Preview
  GitUI/CommandsDialogs/FormCleanupRepository.cs
Due: production

Remove unused import
  GitUI/CommandsDialogs/FormCleanupRepository.cs
Due: production

Feature/i11054 clean submodules (#11101)
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormCleanupRepository.Designer.cs
  GitUI/CommandsDialogs/FormCleanupRepository.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

ConEmu 230724
  Packages.props
Due: none

Git 2.41.0
  GitCommands/Git/GitVersion.cs
Due: production

More user friendly handling for "Could not load file or assembly" exceptions
  GitUI/NBugReports/BugReportInvoker.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

fix: Close the application after reporting the issue
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

Git 2.41.0 (#11114)
  GitCommands/Git/GitVersion.cs
Due: production

Disabled hotkeys for creating new branches, tags and rebasing in scenarios where they were not intended(#11108)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
Due: production

#11108 Disabled hotkeys in scenarios where their usage was not intended
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Simplified conditions according to comments from code review (#11108)
  GitUI/GitUICommands.cs
Due: production

"Always create a new merge commit" disabled in UI when Squash is checked (#10992)
  GitUI/CommandsDialogs/FormMergeBranch.Designer.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
Due: production

Sign contributors.txt (#11121)
  contributors.txt
Due: none

Sign contributors.txt (#11121) (#11121)
  contributors.txt
Due: none

Disable hotkeys in scenarios where their usage was not intended (#11109)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
Due: production

ConEmu 230724 (#11112)
  Packages.props
Due: none

"Squash" checkbox disabled when "Always create a new merge commit" radio button is selected (#10992)
  GitUI/CommandsDialogs/FormMergeBranch.Designer.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
Due: production

Disable Squash if enforcing new merge commit (#11120)
  GitUI/CommandsDialogs/FormMergeBranch.cs
Due: production

Add winget
  README.md
Due: none

Add winget (#11126)
  README.md
Due: none

fixup! Use C# 9 pattern matching
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/PatchGrid.cs
Due: production

IDE0056 index operator
  GitCommands/Config/ConfigFile.cs
  GitCommands/Config/ConfigSection.cs
  GitCommands/Git/GitConvert.cs
  GitCommands/Git/GitModule.cs
  GitCommands/PathUtil.cs
  GitCommands/StringExtensions.cs
  GitExtUtils/GitUI/ListViewExtensions.cs
  GitExtUtils/StringBuilderExtensions.cs
  GitUI/Avatars/InitialsAvatarProvider.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/LeftPanel/BaseRevisionNode.cs
  GitUI/LeftPanel/Nodes.cs
  GitUI/LeftPanel/SubmoduleNode.cs
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
  GitUI/UserControls/RevisionGrid/Columns/CommitIdColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/Statistics/GitImpact/ImpactControl.cs
  Plugins/Statistics/GitStatistics/PieChart/Quadrilateral.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormOpenDirectoryTests.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionFileTreeControllerTests.cs
Due: production, tests

Hide build server status tab if not configured
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/IBuildServerSettings.cs
Due: production

Simplify RevisionGraphColumnProvider.RevisionGraphDrawStyle (#11123)
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/GraphRenderer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Avoid drawing the same graph curve twice (#11123)
  GitUI/UserControls/RevisionGrid/Graph/Rendering/GraphRenderer.cs
Due: production

IDE0056 index operator (#11130)
  GitCommands/Config/ConfigFile.cs
  GitCommands/Config/ConfigSection.cs
  GitCommands/Git/GitConvert.cs
  GitCommands/Git/GitModule.cs
  GitCommands/PathUtil.cs
  GitCommands/StringExtensions.cs
  GitExtUtils/GitUI/ListViewExtensions.cs
  GitExtUtils/StringBuilderExtensions.cs
  GitUI/Avatars/InitialsAvatarProvider.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/LeftPanel/BaseRevisionNode.cs
  GitUI/LeftPanel/Nodes.cs
  GitUI/LeftPanel/SubmoduleNode.cs
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
  GitUI/UserControls/RevisionGrid/Columns/CommitIdColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/Statistics/GitImpact/ImpactControl.cs
  Plugins/Statistics/GitStatistics/PieChart/Quadrilateral.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormOpenDirectoryTests.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionFileTreeControllerTests.cs
Due: production, tests

CA1826: Use property instead of Linq (#11131)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/RepoHosting/ForkAndCloneForm.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/RevisionLinksSettingsPage.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
Due: production

CA1826: Use property instead of Linq (#11131)
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/BrowseDialog/FormBisect.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RepoHosting/ForkAndCloneForm.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/LeftPanel/RepoObjectsTree.SettingsContextMenu.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/RevisionGrid/CopyContextMenuItem.cs
  GitUI/UserControls/RevisionGrid/Graph/LaneNodeLocator.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinkRevisionParserTests.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinksManagerIntegrationTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitUI.Tests/LeftPanel/GitRefMenuItemsTest.cs
Due: production, tests

Hide build server status tab if not configured (#11134)
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/IBuildServerSettings.cs
Due: production

Tweak the wording and presentation
  GitUI/NBugReports/BugReportInvoker.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production
