Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

FileStatusList: Expand group of item being selected (#10482)
  GitUI/UserControls/FileStatusList.cs
Due: production

Git 2.39 bugs out for fetch --jobs=0 (#10521)
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

FormBrowse: refresh revisions on main thread
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Change default hotkey of CheckoutBranch to Ctrl+.
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

Update GitUI/NBugReports/BugReportInvoker.cs
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

theme: remove dark themes from deliverables (#10516)
  GitUI/GitUI.csproj
  GitUI/Themes/README.md
  Setup/Product.wxs
  UnitTests/GitUI.Tests/Theming/CssUrlResolverTests.cs
Due: production, tests

Report git fatal errors as not app errors (#10484)
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

Prepare v4.0.1 release
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.xlf
Due: production

Bump to v4.0.2
  appveyor.yml
Due: none

Update translations
  GitUI/Translation/French.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Polish.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.xlf
Due: production

Release 4.0.1
  GitExtensions.releases
Due: none

ShellExtension: being able to hide some items in the contextual menu
  GitExtensionsShellEx/GitExtensionsShellEx.cpp
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
Due: production

ShellExtension: redesign setting page
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.resx
  GitUI/Translation/English.xlf
Due: production

Inverted logic is clearer
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

FormBrowse: Refresh revisions on main thread (#10525)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Change default hotkey of CheckoutBranch to Ctrl+. (#10526)
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

Misc fixes (#10309)
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/UserControls/RevisionGrid/IndexWatcher.cs
Due: production

Do not add BOM when commitEncoding is set to upcase UTF-8 (#10434)
  GitCommands/Settings/ConfigFileSettings.cs
  UnitTests/GitCommands.Tests/CommitMessageManagerTests.cs
Due: production, tests

First, check encodingName for null (#10475)
  GitCommands/Settings/ConfigFileSettings.cs
Due: production

Avoid losing git exception in background
  GitCommands/RevisionReader.cs
Due: production

update contributors.txt
  contributors.txt
Due: none

update contributors.txt (#10533)
  contributors.txt
Due: none

Do not wrap exceptions from revision reader
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Update version of Ubuntu for fix up check
  .github/workflows/git.yml
Due: none

Avoid losing git exception in background (#10532)
  GitCommands/RevisionReader.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Load/store console style settings
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.cs
Due: production

fixup! Load/store console style settings
  GitUI/CommandsDialogs/SettingsDialog/Pages/AdvancedSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceFontsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/CommitDialogSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/HotkeysSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/RevisionLinksSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
Due: production

Avoid double quoting while showing File History dialog
  GitExtensions/Properties/launchSettings.json
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
Due: production, tests

Bump Microsoft.VisualStudio.Composition version
  Packages.props
Due: none

fixup! Bump Microsoft.VisualStudio.Composition version
  Setup/Product.wxs
Due: none

GitFlow: Do not throw if git-flow is not init (#10341)
  Plugins/GitFlow/GitFlowForm.cs
Due: production

Bump Microsoft.VisualStudio.Composition version (#10548)
  Packages.props
  Setup/Product.wxs
Due: none

fixup! Load/store console style settings
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Plugins/PluginRootIntroductionPage.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
