Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

ResolveConflicts: Incorrect evaluation of mergetool path
  GitCommands/PathUtil.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
Due: production

Use verb "open" in case of UseShellExecute
  GitCommands/Git/Executable.cs
Due: production

Create git.yml
  .github/workflows/git.yml
Due: none

Fix borders when app run in >100% scaling factor
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitModuleControl.cs
  GitUI/Interops/Messages.cs
Due: production

Enable C#9 lanuage features
  Directory.Build.props
  README.md
Due: none

C#7 null-coalescing assignment
  GitExtUtils/GitArgumentBuilder.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/SettingsDialog/RevisionLinks/AzureDevopsExternalLinkDefinitionExtractor.cs
  GitUI/CommandsDialogs/SettingsDialog/RevisionLinks/GitHubExternalLinkDefinitionExtractor.cs
  GitUI/SpellChecker/EditNetSpell.cs
  GitUI/UserControls/ExListView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Enable ability to select full row in Left Panel
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
Due: production

RevisionDiff: Stage/Unstage selected lines
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUIExtensions.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
  UnitTests/GitUI.Tests/Editor/FileViewerTextTests.cs
Due: production, tests

Set one style (icon height and size) for Left Pane tree row and Grid row height
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/UserControls/RevisionGrid/Columns/AvatarColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Sign contributors.txt
  contributors.txt
Due: none

StageAll and UnstageAll text and icon improvement #8596
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/StageAllFiltered.png
  GitUI/Resources/Icons/UnstageAllFiltered.png
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusList.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: production, tests

Agree to The Developer Certificate of Origin (#8744)
  contributors.txt
Due: none

fix: Select diff when there are staged and unstaged files
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Add able to save Shell parameters to AppSettings
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.cs
  GitUI/Configuring/Shell.cs
  GitUI/Configuring/ShellRepository.cs
  GitUI/Configuring/ShellService.cs
  GitUI/GitUI.csproj
Due: production

Refresh default shell on toolbar after save settings
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Add Shell refreshing after save settings
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Add Shell refreshing after "exit" command
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Add the ability to add, remove shells
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.ShellProxy.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.ShellsExecutableFileNameEditor.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.cs
  GitUI/Configuring/Shell.cs
  GitUI/Configuring/ShellRepository.cs
  GitUI/Configuring/ShellService.cs
  GitUI/ResourceImagesTypeConverter.cs
  GitUI/ResourceImagesTypeEditor.cs
  GitUI/Shells/BashShell.cs
  GitUI/Shells/CmdShell.cs
  GitUI/Shells/ConEmuControlExtensions.cs
  GitUI/Shells/IHaveId.cs
  GitUI/Shells/IShellDescriptor.cs
  GitUI/Shells/PowerShellShell.cs
  GitUI/Shells/PwshShell.cs
  GitUI/Shells/ResourceImagesProvider.cs
  GitUI/Shells/Shell.cs
  GitUI/Shells/ShellConstants.cs
  GitUI/Shells/ShellDescriptor.cs
  GitUI/Shells/ShellProvider.cs
  GitUI/Shells/ShellRepository.cs
  GitUI/Shells/ShellService.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/Shells/ShellRepositoryTests.cs
  UnitTests/GitUI.Tests/Shells/ShellServiceTests.cs
  UnitTests/GitUI.Tests/Shells/ShellTests.cs
Due: production, tests

+
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Show both bisect and git operation notifications
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
Due: production

Factor out GitUICommands.Launch and LaunchBrowse
  GitUI/CommandsDialogs/FormBrowseController.cs
  GitUI/CommandsDialogs/FormMergeSubmodule.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/GitUICommands.cs
  GitUI/UserControls/FileStatusList.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Return inapplicable hotkeys as unhandled
  GitUI/Editor/FileViewer.cs
Due: production

fix crash on refresh when submodule nodes selected
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
Due: production

Factor out GitUICommands.Launch and LaunchBrowse (#8738)
  GitUI/CommandsDialogs/FormBrowseController.cs
  GitUI/CommandsDialogs/FormMergeSubmodule.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/GitUICommands.cs
  GitUI/UserControls/FileStatusList.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Return inapplicable hotkeys as unhandled (#8754)
  GitUI/Editor/FileViewer.cs
Due: production

Show both bisect and git operation notifications (#8751)
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
Due: production

Compare TranslationItem.Source, not empty .Value
  ResourceManager/Xliff/TranslationBody.cs
Due: production

Add TooTipText to English.xlf
  GitUI/Translation/English.xlf
Due: production

fix: Select diff when there are staged and unstaged files (#8748)
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Update appveyor.yml
  appveyor.yml
Due: none

Git 2.30.0
  GitCommands/Git/GitVersion.cs
Due: production

Review feedback on StageAll,UnstageAll #8731
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusList.cs
Due: production

Put user scripts in their own toolbar
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowse.resx
  GitUI/Translation/English.xlf
Due: production

Revert ability for move and show/hide toolbars
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Improve build times
  GitUI/GitUI.csproj
  UnitTests/GitCommands.Tests/GitCommands.Tests.csproj
  UnitTests/Plugins/GitUIPluginInterfaces.Tests/GitUIPluginInterfaces.Tests.csproj
Due: production, tests
