Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

fixup! link to github issue
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Tests: Disable some commonly failed tests (#10169)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Set branchfilter from sidepanel without checking dropdown (#10168)
  GitUI/UserControls/FilterToolBar.cs
Due: production

Separate RefFilterOptions to own file
  GitCommands/RevisionReader.RefFilterOptions.cs
  GitCommands/RevisionReader.cs
Due: production

Set RuntimeFrameworkVersion for DotnetRuntimeBootstrapper (#10154)
  Packages.props
  scripts/RepoLayout.props
Due: none

Cleanup git-log filter option handling (#10129)
  GitCommands/RevisionReader.RefFilterOptions.cs
  GitCommands/RevisionReader.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_with_Raw_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Open new instance if double click on current submodule
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/BranchTreePanel/SubmoduleNode.cs
Due: production

fixup! review comment
  GitUI/BranchTreePanel/SubmoduleNode.cs
Due: production

Open new instance if double click on current submodule (#10145)
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/BranchTreePanel/SubmoduleNode.cs
Due: production

Sidepanel: Keep revisions opening a new instance (#10146)
  GitUI/BranchTreePanel/SubmoduleNode.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
  Plugins/GitUIPluginInterfaces/IBrowseRepo.cs
Due: production

Eliminate static methods in RevisionReader
  GitCommands/RevisionReader.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
Due: production, tests

Remove RevisionNodeFlags from data grid (#10130)
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphMultiThreadingTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Decouple filter options
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Decouple filter options (#10172)
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Restore WindowState if minimized in Taskbar
  ResourceManager/GitExtensionsFormBase.cs
Due: production

fixup! Restore WindowState if minimized in Taskbar
  GitCommands/Settings/AppSettings.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

Use any installed .NET 6.0
  global.json
Due: none

Set RuntimeFrameworkVersion for DotnetRuntimeBootstrapper
  scripts/RepoLayout.props
Due: none

squash! Use any installed .NET 6.0
  global.json
Due: none

AzureDevOps CI: Cache finished builds results (to prevent a costly call at every grid revision refresh)
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/BuildsCache.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/CacheAzureDevOps.cs
  Plugins/BuildServerIntegration/TfsIntegration/TfsAdapter.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/IBuildServerAdapter.cs
Due: production

Cache azuredevops build results (#8790)
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/BuildsCache.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/CacheAzureDevOps.cs
  Plugins/BuildServerIntegration/TfsIntegration/TfsAdapter.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/IBuildServerAdapter.cs
Due: production

Restore WindowState when activating (#10119)
  GitCommands/Settings/AppSettings.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

Blame: fix blame revision older revision when the file has been renamed
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/UserControls/BlameControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Blame: fix path displayed in the gutter
  GitUI/UserControls/BlameControl.cs
Due: production

Tests: Disable some commonly failed tests
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests
