Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Replace LINQ First/Last with indexer
  GitUI/CommandsDialogs/RevisionDiffController.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/RevisionLinksSettingsPage.cs
  GitUI/GitUICommands.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
  Plugins/GitUIPluginInterfaces/Settings/ChoiceSetting.cs
  Plugins/Statistics/GitImpact/ImpactControl.cs
  UnitTests/GitUI.Tests/Editor/Diff/LinePrefixHelperFixture.cs
  UnitTests/GitUI.Tests/Editor/FindAndReplaceFormTests.cs
Due: production, tests

Feature/i11099-skip-file-paths
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormCleanupRepository.Designer.cs
  GitUI/CommandsDialogs/FormCleanupRepository.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  contributors.txt
Due: production, tests

Replace more LINQ First/Last with indexer (#11141)
  GitUI/CommandsDialogs/RevisionDiffController.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/RevisionLinksSettingsPage.cs
  GitUI/GitUICommands.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
  Plugins/GitUIPluginInterfaces/Settings/ChoiceSetting.cs
  Plugins/Statistics/GitImpact/ImpactControl.cs
  UnitTests/GitUI.Tests/Editor/Diff/LinePrefixHelperFixture.cs
  UnitTests/GitUI.Tests/Editor/FindAndReplaceFormTests.cs
Due: production, tests

TaskManager.FileAndForget: Remove arg fileOnlyIf (#11136)
  GitExtUtils/GitUI/TaskManager.cs
  GitExtUtils/GitUI/ThreadHelper.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/ThreadHelperTests.cs
Due: production, tests

Refactor TaskManager.FileAndForget() (#11136)
  GitExtUtils/GitUI/TaskManager.cs
  GitExtUtils/GitUI/ThreadHelper.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
Due: production

Prevent from breaking FormCommit designer
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! mstv review comment
  GitUI/CommandsDialogs/FormCleanupRepository.cs
Due: production

fixup! bad merge
  GitUI/CommandsDialogs/FormCleanupRepository.cs
Due: production

fixup! review comment to to use string interpolating
  GitUI/CommandsDialogs/FormCleanupRepository.cs
Due: production

fixup! Use common code for cleanup
  GitUI/CommandsDialogs/FormCleanupRepository.cs
Due: production

Prevent from breaking FormCommit designer (#11144)
  GitUI/UserControls/FileStatusList.cs
Due: production

Straighten multiple segments, including when there are commits
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DetachedSingleRevision.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedIfThisCausesAShiftForPrimarySegment.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightened.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightenedAlthoughThisCausesWidthIncrease.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithCommitsAreStraightened.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithIncomingMergesAreStraightened.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingPrimaryMergesAreStraightened.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingSecondaryMergesAreNotStraightened.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Straighten multiple segments, including when there are commits (#11059)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DetachedSingleRevision.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedIfThisCausesAShiftForPrimarySegment.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightened.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightenedAlthoughThisCausesWidthIncrease.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithCommitsAreStraightened.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithIncomingMergesAreStraightened.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingPrimaryMergesAreStraightened.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingSecondaryMergesAreNotStraightened.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Clean working directory skip paths (#11102)
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormCleanupRepository.Designer.cs
  GitUI/CommandsDialogs/FormCleanupRepository.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  contributors.txt
Due: production, tests

More user friendly handling for "Could not load file or assembly" exceptions (#11074)
  GitUI/NBugReports/BugReportInvoker.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Debug duplicate graph segments
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphMultiThreadingTests.cs
Due: production, tests

Debug sort error in BuildOrderedNodesCache
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

_loadNodesLookAhead
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphMultiThreadingTests.cs
Due: production, tests

Update GetEffectiveGitSetting to provide status and value
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  Plugins/GitUIPluginInterfaces/GitConfigResult.cs
  Plugins/GitUIPluginInterfaces/GitConfigStatus.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production, tests

fixup! IDE0057 simplify substring
  Externals/NetSpell.SpellChecker/Spelling.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
Due: production

FormCommitTests: Disable AppSettings.ProvideAutocompletion
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: tests

FormCommitTests: Disable AppSettings.ProvideAutocompletion (#11157)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: tests

LeftPanel: Fixup loading on early Dispose
  GitUI/LeftPanel/BaseRevisionTree.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/LeftPanel/StashTree.cs
  GitUI/LeftPanel/Tree.cs
Due: production

StashTree: Fixup too early release of _updateSemaphore
  GitUI/LeftPanel/StashTree.cs
Due: production

Auto-updated by VS
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
  GitUI/CommandsDialogs/FormCherryPick.resx
Due: production

Switch to GitExtensionsDialog
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
Due: production

Update layout
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
  GitUI/CommandsDialogs/FormCherryPick.resx
Due: production

Fix taborder
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
  GitUI/CommandsDialogs/FormCherryPick.resx
Due: production

Rename controls
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
Due: production

Update layout
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
Due: production

Add "Abort" button to cancel cherry-pick sequence
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
Due: production

Add help button
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
Due: production

Update locs
  GitUI/Translation/English.xlf
Due: production

fixup! Update GetEffectiveGitSetting to provide status and value
  GitCommands/Git/GitModule.cs
Due: production

Update Plugins/GitUIPluginInterfaces/GitConfigStatus.cs
  Plugins/GitUIPluginInterfaces/GitConfigStatus.cs
Due: production

fixup! Update GetEffectiveGitSetting to provide status and value
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: tests

Avoid always caught exception for unset settings
  GitCommands/Settings/Setting.cs
Due: production
