Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Stop AsyncLoader passing null on cancellation
  GitCommands/AsyncLoader.cs
  GitUI/CommandsDialogs/FormAddToGitIgnore.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RepoHosting/CreatePullRequestForm.cs
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.cs
  GitUI/CommandsDialogs/SearchControl.cs
  GitUI/Editor/FileViewer.cs
Due: production

Improve switch expression via tuple operand
  GitUI/UserControls/RepoStateVisualiser.cs
Due: production

Stop transitive consumption of JetBrains.Annotations
  Directory.Build.targets
  GitUI/GitUI.csproj
  Plugins/Bitbucket/Bitbucket.csproj
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityIntegration.csproj
  Plugins/BuildServerIntegration/TfsIntegration/TfsIntegration.csproj
  Plugins/ReleaseNotesGenerator/ReleaseNotesGenerator.csproj
  ResourceManager/ResourceManager.csproj
  UnitTests/CommonTestUtils/CommonTestUtils.csproj
  UnitTests/GitUI.Tests/GitUI.Tests.csproj
Due: production, tests

Annotate ResourceManager project
  GitUI/CommandsDialogs/BrowseDialog/MenuCommandsBase.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/SettingsDialog/Plugins/PluginSettingsPage.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Plugin/GitPluginSettingsContainer.cs
  GitUI/Plugin/PluginRegistry.cs
  GitUI/Script/ScriptRunner.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  Plugins/GitUIPluginInterfaces/IGitPlugin.cs
  Plugins/GitUIPluginInterfaces/IGitPluginSettingsContainer.cs
  ResourceManager/CommandEventArgs.cs
  ResourceManager/CommitDataRenders/CommitDataHeaderRenderer.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsFormBase.cs
  ResourceManager/GitPluginBase.cs
  ResourceManager/HotkeyCommand.cs
  ResourceManager/ITranslation.cs
  ResourceManager/LinkFactory.cs
  ResourceManager/LocalizationHelpers.cs
  ResourceManager/ResourceManager.csproj
  ResourceManager/TranslationUtils.cs
  ResourceManager/Translator.cs
  ResourceManager/Xliff/TranslationBody.cs
  ResourceManager/Xliff/TranslationCategory.cs
  ResourceManager/Xliff/TranslationFile.cs
  ResourceManager/Xliff/TranslationItem.cs
  ResourceManager/Xliff/TranslationSerializer.cs
  ResourceManager/Xliff/TranslationUtil.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataBodyRendererTests.cs
Due: production, tests

Remove redundant null check
  GitUI/CommitInfo/CommitInfo.cs
Due: production

Apply experimental grid/list layout
  GitExtUtils/GitUI/Theming/AppColorDefaults.cs
  GitUI/Themes/invariant.css
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridRefRenderer.cs
Due: production

Left panel: Make "Expand" and "Collapse" based on selected node
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/Translation/English.xlf
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
Due: production, tests

File Tree: Make "Expand" and "Collapse" based on selected node
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Translation/English.xlf
Due: production

File Tree: improve loading when changing from revision
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

File Tree: Keep "Collapse All" instead of "Collapse"
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Translation/English.xlf
Due: production

Left Panel: Display "Expand" before "Collapse" in the menu
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
Due: production, tests

Use null coalescing assignment
  GitCommands/ArgumentBuilderExtensions.cs
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
  GitExtensions/Program.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageBase.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUICommands.cs
  GitUI/HelperDialogs/FormBuildServerCredentials.cs
  GitUI/MessageBoxes.cs
  GitUI/NBugReports/Serialization/SerializableException.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/FolderBrowserButton.cs
  GitUI/UserControls/RevisionGrid/Graph/BranchFinder.cs
  GitUI/UserControls/RevisionGrid/MenuUtil.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/WindowPositionManager.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  Plugins/GitHub3/GitHub3Plugin.cs
  TranslationApp/TranslationHelpers.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Focus ComboBox Branches of FormResetAnotherBranch
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
Due: production

Left panel: Make "Expand" and "Collapse" based on selected node
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Translation/English.xlf
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
Due: production, tests

Disable CodeCov integration
  scripts/tools/NUnit/NUnit.targets
Due: none

Stop loading custom diff tools during tests
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.ReorderNodes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  Plugins/GitUIPluginInterfaces/Settings/PseudoSetting.cs
Due: production, tests

Disable CodeCov integration (#8950)
  scripts/tools/NUnit/NUnit.targets
Due: none

Add borders in Commit Form and set splitter width like in VS
  GitExtUtils/GitUI/ControlDpiExtensions.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/SplitterManager.cs
Due: production

Disable save/restore splitter positions
  GitUI/SplitterManager.cs
  UnitTests/GitUI.Tests/SplitterManagerTest.cs
Due: production, tests

Stop loading custom diff tools during tests (#8949)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.ReorderNodes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  Plugins/GitUIPluginInterfaces/Settings/PseudoSetting.cs
Due: production, tests

RevDiff: Show worktree/index changes similar to FormCommit
  GitCommands/Git/GitModule.cs
Due: production

Remove return value from AsyncLoader
  GitCommands/AsyncLoader.cs
Due: production

Don't overwrite default text
  GitUI/CommandsDialogs/FormResolveConflicts.cs
Due: production

Use switch expression (#8935)
  GitCommands/ArgumentBuilderExtensions.cs
  GitCommands/DiffMergeTools/DiffMergeToolConfigurationManager.cs
  GitCommands/Git/Commands/GitCreateTagCmd.cs
  GitCommands/Patches/PatchManager.cs
  GitExtUtils/GitUI/ControlHotkeyExtensions.cs
  GitExtUtils/GitUI/Theming/HslColor.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/CommandsDialogs/BrowseDialog/GitFileTreeComparer.cs
  GitUI/CommandsDialogs/DataGridViewCheckBoxHeaderCell.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/FormVerify.LostObject.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/RevisionLinks/CloudProviderExternalLinkDefinitionExtractorFactory.cs
  GitUI/Editor/RichTextBoxXhtmlSupportExtension.cs
  GitUI/Script/ScriptOptionsParser.cs
  GitUI/Script/SplitButton.cs
  GitUI/SpellChecker/EditNetSpell.cs
  GitUI/Theming/Renderers/ComboBoxRenderer.cs
  GitUI/Theming/Renderers/EditRenderer.cs
  GitUI/Theming/Renderers/HeaderRenderer.cs
  GitUI/Theming/Renderers/ListViewRenderer.cs
  GitUI/Theming/Renderers/ScrollBarRenderer.cs
  GitUI/Theming/Renderers/SpinRenderer.cs
  GitUI/Theming/Renderers/TreeViewRenderer.cs
  GitUI/UserControls/RepoStateVisualiser.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/WebBrowserEmulationMode.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/TfsHelper2015.cs
Due: production, tests

Remove redundant await
  GitUI/Editor/FileViewer.cs
Due: production

Report SaveBlobAs errors without crashing the app
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/FormVerify.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
Due: production

Update contributors + changelog
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
Due: production

Improve revision graph drawing
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
Due: production

Optimize calling ColumnProvider and RevisionGraphColumnProvider
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Move Build Server integration to plugin
  GitExtensions.sln
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPage.cs
  GitUI/Translation/English.xlf
  Plugins/BuildServer/GitExtensions.Plugins.BuildServer.csproj
  Plugins/BuildServer/Plugin.cs
  Plugins/BuildServer/Properties/AssemblyInfo.cs
  Plugins/BuildServer/Properties/Resources.Designer.cs
  Plugins/BuildServer/Properties/Resources.resx
  Plugins/BuildServer/Resources/Integration.png
  Plugins/BuildServer/Setting.cs
  Plugins/BuildServer/SettingsPage.Designer.cs
  Plugins/BuildServer/SettingsPage.cs
  Plugins/BuildServer/SettingsPage.resx
Due: production

Change BuildStatus type to dynamic
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  Plugins/GitUIPluginInterfaces/GitUIPluginInterfaces.csproj
Due: production

Move BuildStatusColumnProvider form BuildServerWatcher
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/IBuildServerWatcher.cs
Due: production

Move classes from GitUIPluginInterfaces.BuildServerIntegration to GitExtensions.Plugins.BuildServer.Core
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  Plugins/BuildServer/Core/BuildDurationFormatter.cs
  Plugins/BuildServer/Core/BuildServerAdapterMetadataAttribute.cs
  Plugins/BuildServer/Core/BuildServerSettingsHelper.cs
  Plugins/BuildServer/Core/BuildServerSettingsUserControlMetadata.cs
  Plugins/BuildServer/Core/IBuildServerSettingsUserControl.cs
  Plugins/BuildServer/SettingsPage.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorBuildInfo.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AppVeyorIntegration/Settings/AppVeyorSettingsUserControl.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/Settings/IntegrationSettings.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/Settings/ProjectUrlHelper.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/Settings/SettingsUserControl.cs
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsAdapter.cs
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/Settings/JenkinsSettingsUserControl.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/Settings/TeamCitySettingsUserControl.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityIntegration.csproj
  Plugins/BuildServerIntegration/TfsIntegration/Settings/TfsSettingsUserControl.cs
  Plugins/BuildServerIntegration/TfsIntegration/TfsAdapter.cs
  Plugins/BuildServerIntegration/TfsIntegration/TfsIntegration.csproj
Due: production

Remove RevisionDataGridView dependency from BuildServerWatcher
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Stop using _launchCancellation as redundant
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
Due: production

Remove RevisionGridControl dependency from BuildServerWatcher
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/IBuildServerWatcher.cs
Due: production

Throw ExternalOperationException if RunBatchCommand fails
  GitCommands/Git/ExecutableExtensions.cs
  UnitTests/GitCommands.Tests/Git/ExecutableExtensionsTests.cs
Due: production, tests
