Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Add most recent repos to recent list
  GitCommands/Settings/AppSettings.cs
  GitCommands/UserRepositoryHistory/RecentRepoInfo.cs
  GitCommands/UserRepositoryHistory/Repository.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesListController.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/RepositoryStorageTests.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/RepositoryXmlSerialiserTests.Serialize_recent_repositories.approved.xml
  UnitTests/GitCommands.Tests/UserRepositoryHistory/RepositoryXmlSerialiserTests.cs
Due: production, tests

Add most recent repos to recent list
  GitCommands/Settings/AppSettings.cs
  GitCommands/UserRepositoryHistory/RecentRepoInfo.cs
  GitCommands/UserRepositoryHistory/Repository.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesListController.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/MockData/CategorisedRepositories01.xml
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/MockData/CategorisedRepositories02.xml
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/RepositoryCategorySerialiserTests.Verify_backwards_compatibility_of_object_graph.approved.xml
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/RepositoryCategoryXmlSerialiserTests.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/RepositoryStorageTests.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/RepositoryStorageTests.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/RepositoryXmlSerialiserTests.Serialize_recent_repositories.approved.xml
  UnitTests/GitCommands.Tests/UserRepositoryHistory/RepositoryXmlSerialiserTests.cs
Due: production, tests

Allow highlight branch by Alt+Click in the grid
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Use WinForms API to check for minimized
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Interops/User32/IsIconic.cs
Due: production

fix: Cannot cherry-pick new file from stash
  GitUI/Editor/FileViewer.cs
Due: production

Use WinForms API to check for minimized (#10088)
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Interops/User32/IsIconic.cs
Due: production

Add Transifex logo
  GitUI/Resources/Icons/originals/transifex.png
  README.md
Due: production

Fix Transifex shield.io image
  GitUI/Resources/Icons/originals/transifex.png
  README.md
Due: production

FormDiff: Set HEAD for diff calculator (#10072)
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/FormLog.cs
  GitUI/UserControls/CommitDiff.cs
  GitUI/UserControls/FileStatusDiffCalculator.FileStatusDiffCalculatorInfo.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Blame: No change of control at double click (#10073)
  GitUI/UserControls/BlameControl.cs
Due: production

RevisionGrid: Cleanup PerformRefreshRevisions (#10030)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Git 2.37.1 (#10085)
  GitCommands/Git/GitVersion.cs
Due: production

ConEmu 220418 (#10086)
  Packages.props
Due: none

Improve the clarity of tooltips for Rebase UI date options (#10079)
  GitUI/CommandsDialogs/FormRebase.Designer.cs
Due: production

RevGrid: Optimize onlyFirstParent handling (#10082)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Exclude boundary commits with --grep (#10076)
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

Select remote branch on [Ctrl+]Alt+Click in ROT (#10083)
  GitUI/BranchTreePanel/BaseBranchNode.cs
  GitUI/BranchTreePanel/BranchTree.cs
Due: production

Allow highlight branch by Alt+Click in the grid (#8452)
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Add most recent repos to all recent list (#10084)
  GitCommands/Settings/AppSettings.cs
  GitCommands/UserRepositoryHistory/RecentRepoInfo.cs
  GitCommands/UserRepositoryHistory/Repository.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesListController.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/MockData/CategorisedRepositories01.xml
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/MockData/CategorisedRepositories02.xml
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/RepositoryCategorySerialiserTests.Verify_backwards_compatibility_of_object_graph.approved.xml
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/RepositoryCategoryXmlSerialiserTests.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/RepositoryStorageTests.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/RepositoryStorageTests.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/RepositoryXmlSerialiserTests.Serialize_recent_repositories.approved.xml
  UnitTests/GitCommands.Tests/UserRepositoryHistory/RepositoryXmlSerialiserTests.cs
Due: production, tests

squash! Adjust rule to allow line patches from new files
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  GitUI/Editor/FileViewer.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

RevDiff: Align rules for hotkey execution to menu items
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Allow merge base to parent with three selected
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

fixup! added comments
  GitUI/Editor/FileViewer.cs
Due: production

Show tags by default in side panel
  GitCommands/Settings/AppSettings.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

RevDiff: Align rules for hotkey execution to menu items (#10101)
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Allow cherry-pick from new file (#10090)
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  GitUI/Editor/FileViewer.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

Allow merge base to parent with three selected (#10116)
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

Set branchname in repo menu async
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormBrowseControllerTests.cs
Due: production, tests

Update Transifex image
  GitUI/Resources/Icons/originals/transifex.png
  GitUI/Resources/Icons/originals/transifex.svg
  README.md
Due: production

Set branchname in repo menu async (#10124)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormBrowseControllerTests.cs
Due: production, tests

Add `rebase.autosquash` setting in Git Advanced settings panel
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.resx
  GitUI/Translation/English.xlf
Due: production

Dashboard: Capture variable in RunAsync
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
Due: production

Dashboard: Capture variable in RunAsync (#10128)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
