Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Update packages
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/GitUIPluginInterfaces/CredentialsManager.cs
  Solution.Versions.props
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphMultiThreadingTests.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererTests.cs
Due: production, tests

Convert to .NET Core / .NET Standard
  BugReporter/BugReporter.csproj
  Directory.Build.props
  Externals/Directory.Build.props
  Externals/NetSpell.SpellChecker/SpellChecker.csproj
  GitCommands/GitCommands.csproj
  GitExtUtils/GitExtUtils.csproj
  GitExtensions.sln
  GitExtensions/GitExtensions.csproj
  GitUI/CommandsDialogs/FormCleanupRepository.cs
  GitUI/GitUI.csproj
  GitUI/Infrastructure/Telemetry/DiagnosticsClient.cs
  GitUI/OsShellUtil.cs
  GitUI/Properties/Settings.Designer.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  IntegrationTests/BugReporter.IntegrationTests/BugReporter.IntegrationTests.csproj
  IntegrationTests/Directory.Build.props
  IntegrationTests/UI.IntegrationTests/UI.IntegrationTests.csproj
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/Directory.Build.props
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityIntegration.csproj
  Plugins/Directory.Build.props
  Plugins/GitHub3/GitExtensions.Plugins.GitHub3.csproj
  Plugins/GitUIPluginInterfaces/GitUIPluginInterfaces.csproj
  Plugins/Statistics/Directory.Build.props
  Plugins/Statistics/GitStatistics/PieChart/PieChartControl.resx
  ResourceManager/ResourceManager.csproj
  Solution.Versions.props
  TranslationApp/TranslationApp.csproj
  UnitTests/CommonTestUtils/CommonTestUtils.csproj
  UnitTests/Directory.Build.props
  UnitTests/Plugins/BuildServerIntegration/Directory.Build.props
  UnitTests/Plugins/Directory.Build.props
Due: production, tests

Fix commit info message display
  GitUI/CommitInfo/CommitInfo.cs
Due: production

TODO: namespace/name clash
  Plugins/Statistics/GitStatistics/LineCounter.cs
Due: production

Remove TFS plugins due to incompatibility
  GitExtensions.sln
  Plugins/BuildServerIntegration/TfsIntegration/ITfsHelper.cs
  Plugins/BuildServerIntegration/TfsIntegration/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/TfsIntegration/Settings/TfsSettingsUserControl.Designer.cs
  Plugins/BuildServerIntegration/TfsIntegration/Settings/TfsSettingsUserControl.cs
  Plugins/BuildServerIntegration/TfsIntegration/Settings/TfsSettingsUserControl.resx
  Plugins/BuildServerIntegration/TfsIntegration/TfsIntegration.csproj
  Plugins/BuildServerIntegration/TfsIntegration/app.config
  Plugins/BuildServerIntegration/TfsInterop.Common/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/TfsInterop.Common/TfsHelper.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2012/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2012/TfsInterop.Vs2012.csproj
  Plugins/BuildServerIntegration/TfsInterop.Vs2012/app.config
  Plugins/BuildServerIntegration/TfsInterop.Vs2013/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2013/TfsInterop.Vs2013.csproj
  Plugins/BuildServerIntegration/TfsInterop.Vs2013/app.config
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/Properties/AssemblyInfo.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/TfsHelper2015.cs
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/TfsInterop.Vs2015.csproj
  Plugins/BuildServerIntegration/TfsInterop.Vs2015/app.config
Due: production

Disable theming (no remoting)
  GitExtensions.sln
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/FormEditor.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/Editor/Diff/CombinedDiffHighlightService.cs
  GitUI/Editor/Diff/DiffHighlightService.cs
  GitUI/Editor/Diff/DiffViewerLineNumberControl.cs
  GitUI/Editor/Diff/RangeDiffHighlightService.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/GitExtensionsForm.cs
  GitUI/GitUI.csproj
  GitUI/Infrastructure/Telemetry/ThemingTelemetryInitializer.cs
  GitUI/Theming/Renderers/ThemeRenderer.cs
  GitUI/Theming/ThemeLoader.cs
  GitUI/Theming/ThemeModule.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridRefRenderer.cs
  UnitTests/GitUI.Tests/GitUI.Tests.csproj
Due: production, tests

Fix most unit tests
  GitCommands/EnvironmentPathsProvider.cs
  UnitTests/BugReporter.Tests/SerializableExceptionTests.ToString.ForScenario.NestedException.approved.txt
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/EnvironmentPathsProviderTests.cs
  UnitTests/GitCommands.Tests/FullPathResolverTests.cs
  UnitTests/GitCommands.Tests/Git/GitBranchNameOptionsTest.cs
  UnitTests/GitCommands.Tests/Git/Gpg/GitGpgControllerTests.cs
  UnitTests/GitCommands.Tests/Remote/ConfigFileRemoteSettingsManagerTests.cs
  UnitTests/GitCommands.Tests/Settings/FileSettingsCacheTests.cs
  UnitTests/GitExtUtils.Tests/TableLayoutPanelExtensionsTests.cs
  UnitTests/GitUI.Tests/ControlThreadingExtensionsTests.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
  UnitTests/GitUI.Tests/ThreadHelperTests.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererTests.cs
Due: production, tests

Fix RTB links rendering
  GitUI/Editor/RichTextBoxXhtmlSupportExtension.cs
  ResourceManager/LinkFactory.cs
  UnitTests/GitUI.Tests/Editor/RichTextBoxXhtmlSupportExtensionTests.cs
Due: production, tests

Disable loading plugins
  GitUI/Plugin/PluginRegistry.cs
  Plugins/BuildServerIntegration/Directory.Build.props
  Plugins/Directory.Build.props
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
  Plugins/Statistics/Directory.Build.props
Due: production

Disable VSTHRD001, VSTHRD002, VSTHRD003, VSTHRD004, VSTHRD101, VSTHRD103
  GitExtUtils/GitUI/ControlThreadingExtensions.cs
  GitExtUtils/GitUI/ThreadHelper.cs
  GitUI/Avatars/GithubAvatarProvider.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUIExtensions.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/MainThreadScheduler.cs
  GitUI/UserControls/RevisionGrid/Columns/AvatarColumnProvider.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  UnitTests/CommonTestUtils/ConfigureJoinableTaskFactoryAttribute.cs
  UnitTests/GitUI.Tests/ControlThreadingExtensionsTests.cs
Due: production, tests

Restore default colours
  GitExtUtils/ArrayExtensions.cs
  GitExtUtils/GitCommandConfiguration.cs
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/FormEditor.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/Editor/Diff/CombinedDiffHighlightService.cs
  GitUI/Editor/Diff/DiffHighlightService.cs
  GitUI/Editor/Diff/DiffViewerLineNumberControl.cs
  GitUI/Editor/Diff/RangeDiffHighlightService.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/GitExtensionsForm.cs
  GitUI/GitUI.csproj
  GitUI/Infrastructure/Telemetry/ThemingTelemetryInitializer.cs
  GitUI/Theming/LocalHook.cs
  GitUI/Theming/ThemeLoader.cs
  GitUI/Theming/ThemeModule.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridRefRenderer.cs
  Solution.Versions.props
  UnitTests/GitUI.Tests/GitUI.Tests.csproj
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
  UnitTests/GitUI.Tests/Theming/ThemeLoaderTests.cs
Due: production, tests

Report tests on AppVeyor
  Directory.Build.props
  Directory.Build.targets
  IntegrationTests/Directory.Build.props
  IntegrationTests/Tests.targets
  RepoLayout.props
  UnitTests/CommonTestUtils/CommonTestUtils.csproj
  UnitTests/Directory.Build.props
  UnitTests/GitUI.Tests/UserControls/CommitInfo/BranchComparerTests.cs
  UnitTests/Tests.targets
  appveyor.yml
  global.json
Due: tests

Disable NRT annotations until completion
  BugReporter/BugReporter.csproj
  Directory.Build.props
  GitCommands/GitCommands.csproj
  GitExtUtils/GitExtUtils.csproj
  GitExtensions/GitExtensions.csproj
  GitUI/GitUI.csproj
  IntegrationTests/Directory.Build.props
  Plugins/Directory.Build.props
  ResourceManager/ResourceManager.csproj
  TranslationApp/TranslationApp.csproj
  UnitTests/CommonTestUtils/CommonTestUtils.csproj
  UnitTests/Directory.Build.props
Due: production, tests

Fix tests
  GitCommands/EnvironmentPathsProvider.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormInitTests.cs
  Solution.Versions.props
  UnitTests/GitCommands.Tests/EnvironmentPathsProviderTests.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Use Microsoft.Build.CentralPackageVersions
  BugReporter/BugReporter.csproj
  Directory.Build.props
  Directory.Build.targets
  Externals/Directory.Build.props
  Externals/Directory.Build.targets
  GitCommands/GitCommands.csproj
  GitExtUtils/GitExtUtils.csproj
  GitExtensions/GitExtensions.csproj
  GitUI/GitUI.csproj
  IntegrationTests/Tests.targets
  Packages.props
  Plugins/AutoCompileSubmodules/GitExtensions.Plugins.AutoCompileSubmodules.csproj
  Plugins/BackgroundFetch/GitExtensions.Plugins.BackgroundFetch.csproj
  Plugins/Bitbucket/GitExtensions.Plugins.Bitbucket.csproj
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityIntegration.csproj
  Plugins/GitUIPluginInterfaces/GitUIPluginInterfaces.csproj
  Plugins/JiraCommitHintPlugin/GitExtensions.Plugins.JiraCommitHintPlugin.csproj
  Plugins/ReleaseNotesGenerator/GitExtensions.Plugins.ReleaseNotesGenerator.csproj
  ResourceManager/ResourceManager.csproj
  Solution.Versions.props
  UnitTests/CommonTestUtils/CommonTestUtils.csproj
  UnitTests/GitCommands.Tests/GitCommands.Tests.csproj
  UnitTests/GitExtUtils.Tests/GitExtUtils.Tests.csproj
  UnitTests/GitUI.Tests/GitUI.Tests.csproj
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/AppVeyorIntegration.Tests.csproj
  UnitTests/Tests.targets
  scripts/tools/NUnit/NUnit.targets
Due: production, tests

feat: add dot command to GitUICommands (functional)
  GitUI/CommandsDialogs/FormCommandlineHelp.resx
  GitUI/GitUICommands.cs
Due: production

fix: remove unused functions
  GitUI/Theming/ThemeLoader.cs
  GitUI/Theming/ThemeModule.cs
  UnitTests/GitUI.Tests/Theming/ThemeLoaderTests.cs
Due: production, tests

OpenSSH presented as OtherSSH in settings
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/SshPathLocator.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  UnitTests/GitCommands.Tests/SshPathLocatorTest.cs
Due: production, tests

OpenSSH presented as OtherSSH in settings (#9149)
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/SshPathLocator.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  UnitTests/GitCommands.Tests/SshPathLocatorTest.cs
Due: production, tests

Ignore failure getting Process.Id for ShellExecute (#9173)
  GitCommands/Git/Executable.cs
Due: production

sign cla | change email
  contributors.txt
Due: none

sign cla | change email (#9186)
  contributors.txt
Due: none

Ignore failure getting Process.Id for ShellExecute
  GitCommands/Git/Executable.cs
Due: production

Do not attempt to switch to a not created worktree (#9172)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Diff/Commit: Do not show Open for deleted items
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Do not try to show deleted images in diffviewer
  GitUI/GitUIExtensions.cs
Due: production

FormCreateBranche: Fix branches list display on 2 lines
  GitUI/UserControls/CommitSummaryUserControl.Designer.cs
Due: production

Diff/Commit: Do not show Open for deleted items (#9197)
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Set GIT_SSH only if path exists
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
Due: production

Set GIT_SSH only if path exists (#9182)
  GitCommands/Git/GitSshHelpers.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
Due: production

Speed up tests (don't load all difftools)
  UnitTests/CommonTestUtils/TestAppSettingsAttribute.cs
Due: tests

Join async operations before disposing CommitInfo
  GitExtUtils/GitUI/ThreadHelper.cs
  GitUI/CommitInfo/CommitInfo.Designer.cs
  GitUI/CommitInfo/CommitInfo.cs
Due: production

Call UpdateRevisionInfo from UI thread
  GitUI/CommitInfo/CommitInfo.cs
Due: production

LogCaptureCallStacks in AppSettings
  GitCommands/Logging/CommandLog.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.cs
Due: production

Merge pull request #9205 from mstv/fix/net5_tests
  GitExtUtils/GitUI/ThreadHelper.cs
  GitUI/CommitInfo/CommitInfo.Designer.cs
  GitUI/CommitInfo/CommitInfo.cs
  UnitTests/CommonTestUtils/TestAppSettingsAttribute.cs
Due: production, tests

LogCaptureCallStacks in AppSettings (#9203)
  GitCommands/Logging/CommandLog.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
