Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Revision filter combobox (#10239)
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Custom options to git-log
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Custom options to git-log (#10240)
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Agreed to CONTRIBUTING.md and signed contributors.txt
  contributors.txt
Due: none

Agreed to CONTRIBUTING.md and signed contributors.txt (#10259)
  contributors.txt
Due: none

Git Executable: return stderr also if not throwOnErrorExit is suppressed
  GitCommands/Git/Executable.cs
Due: production

Hotkey: Add a hotkey for "Stash Staged" menu item (#10248)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

fixup! Restore the order of the branch view options
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

fixup! Restore the order of the branch view options
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.cs
Due: production

Redo selection of the first item to fix shift-select of multiple items (#10253)
  GitUI/UserControls/FileStatusList.cs
Due: production

worktree: Don't close form when the creation failed
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.cs
  GitUI/GitUICommands.cs
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
Due: production

worktree: Refresh the revision grid even when not opening a new worktree
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.cs
Due: production

Restore the order of the branch view options (#10234)
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Cleanup handling of AllOutput for processes
  GitCommands/Git/GitGpgController.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SystemEncodingReader.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.cs
  Plugins/GitFlow/GitFlowForm.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/Git/Gpg/GitGpgControllerTests.cs
Due: production, tests

Add Bisect-Test scripts
  scripts/Bisect-Test.ps1
  scripts/Run-BisectTest.ps1
Due: none

Git Executable: return stderr also if not throwOnErrorExit is suppressed (#10261)
  GitCommands/Git/Executable.cs
Due: production

fixup! annotation
  UnitTests/CommonTestUtils/MockExecutable.cs
Due: tests

Cleanup handling of AllOutput for processes (#10262)
  GitCommands/Git/GitGpgController.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SystemEncodingReader.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.cs
  Plugins/GitFlow/GitFlowForm.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/Git/Gpg/GitGpgControllerTests.cs
Due: production, tests

fixup! Advanced filter: Change order of branch filter to match menus
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

Removed changes of PR #3833, suspend/resume redrawn of ToolStripEx when dropdown menu is opened/closed
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

Reused existing SendMEssageW, added TRUE, FALSE and WM_SETREDRAW message
  GitUI/Interops/Messages.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

Fixed merge conflict resolution mistake
  GitUI/UserControls/FilterToolBar.cs
Due: production

Removed now unnecessary using
  GitUI/UserControls/ToolStripEx.cs
Due: production

Add Bisect-Test scripts (#10273)
  scripts/Bisect-Test.ps1
  scripts/Run-BisectTest.ps1
Due: none

Add a test that FileViewer.Command.ResetLines doesn't revert file rename
  GitUI/Editor/FileViewer.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: production, tests

Enable tests to await rescanning of FormCommit
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Revert "Enable tests to await rescanning of FormCommit"
  GitUI/CommandsDialogs/FormCommit.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: production, tests

Add an overload to CreateCommit for single file
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: tests

Use ThreadHelper.JoinPendingOperations(); to wait for operations to finish
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: tests

Use TaskDialog instead of MessageBox.Show for reset selected lines confirmation
  GitUI/Editor/FileViewer.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: production, tests

Add a workaround for tests to skip confirmation dialog for FileViewer.Command.ResetLines
  GitUI/Editor/FileViewer.cs
Due: production

Rename _confirmResetLines to _unitTestConfirmResetLines
  GitUI/Editor/FileViewer.cs
Due: production

Fix resetting selected lines for renamed files in index
  GitCommands/Patches/PatchManager.cs
  GitUI/Editor/FileViewer.cs
Due: production

Add DeleteRepoFile to ReferenceRepository
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: tests

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
