Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Convenient way to handle dialog result
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/InvalidRepositoryRemover.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
Due: production

set SizeToContent of TaskDialogPage to true
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/InvalidRepositoryRemover.cs
  GitUI/CommandsDialogs/RepoHosting/CreatePullRequestForm.cs
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.cs
  GitUI/MessageBoxes.cs
  GitUI/NBugReports/BugReportInvoker.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Various minor changes, spelling
  GitCommands/CommitMessageManager.cs
  GitCommands/CustomDiffMergeToolCache.cs
  GitCommands/ExternalLinks/ExternalLinksStorage.cs
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/AppSettings.cs
  GitCommands/StringPool.cs
  GitExtensions.sln.DotSettings
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/Infrastructure/Telemetry/DiagnosticsClient.cs
  TranslationApp/Program.cs
Due: production

Replace deprecated SmtpClient with Mailkit
  GitUI/CommandsDialogs/FormFormatPatch.cs
  GitUI/GitUI.csproj
  Packages.props
Due: production

Various minor changes, spelling (#8996)
  GitCommands/CommitMessageManager.cs
  GitCommands/CustomDiffMergeToolCache.cs
  GitCommands/ExternalLinks/ExternalLinksStorage.cs
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/AppSettings.cs
  GitCommands/StringPool.cs
  GitExtensions.sln.DotSettings
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/Infrastructure/Telemetry/DiagnosticsClient.cs
  TranslationApp/Program.cs
Due: production

Git commands should never have colors
  GitCommands/Git/AheadBehindDataProvider.cs
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitExtUtils/GitCommandConfiguration.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

FileViewer: Remove unnecessary null check
  GitUI/Editor/FileViewer.cs
Due: production

AutoCompletion for .groovy
  GitExtensions/AutoCompleteRegexes.txt
Due: none

Align git-diff -M -C arguments
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Use fullPathResolver for viewing local files
  GitUI/Editor/FileViewer.cs
Due: production

Use fullPathResolver for viewing local files (#9216)
  GitUI/Editor/FileViewer.cs
Due: production

ViewChangesAsync async handling
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SubmoduleHelpers.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormDiff.Designer.cs
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/FormLog.Designer.cs
  GitUI/CommandsDialogs/FormLog.cs
  GitUI/CommandsDialogs/FormStash.Designer.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUIExtensions.cs
  GitUI/UserControls/CommitDiff.Designer.cs
  GitUI/UserControls/CommitDiff.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: production, tests

Ignore obscure bug which may be causing random app crashes
  GitUI/UserControls/FileStatusList.cs
Due: production

Compile VC++ from VS and cli
  GitExtSshAskPass/SshAskPass.vcxproj
  GitExtensions/Project.Build.targets
  GitExtensions/Project.Publish.targets
  GitExtensionsShellEx/GitExtensionsShellEx.vcxproj
  appveyor.yml
  scripts/native.proj
Due: none

Fix translations
  GitUI/Translation/English.xlf
Due: production

Use static/cached GitVersion to resolve Git path
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
Due: production

Reset GitVersion cache when setting Git path
  GitCommands/Git/GitVersion.cs
  GitCommands/Settings/AppSettings.cs
Due: production

Ignore `Image.FromHbitmap` failure (#9245)
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! pattern matching check
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
Due: production

Accessibility revision grid branch colors
  GitExtUtils/GitUI/Theming/AppColorDefaults.cs
  GitUI/Themes/invariant.css
Due: production

squash! Accessibility revision grid branch colors
  GitExtUtils/GitUI/Theming/AppColorDefaults.cs
  GitUI/Themes/invariant.css
Due: production

Log errors (#9227)
  GitCommands/Settings/AppSettings.cs
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

Multiline indicator only shown if Body is available
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
Due: production

RevGrid tooltip: Only show "click to load" for multiline
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
Due: production

Update Clone dialog's handling of clipboard text
  GitCommands/PathUtil.cs
  GitCommands/UserRepositoryHistory/LocalRepositoryManager.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormPush.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCloneTests.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
  contributors.txt
Due: production, tests

Enable CA1416: Validate platform compatibility
  .editorconfig
  CommonAssemblyInfo.cs
  Directory.Build.props
  UnitTests/GitCommands.Tests/Properties/AssemblyInfo.cs
  UnitTests/GitExtUtils.Tests/Properties/AssemblyInfo.cs
  UnitTests/GitUI.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/BuildServerIntegration/AzureDevOpsIntegration.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/DeleteUnusedBranches.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/GitUIPluginInterfaces.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/ReleaseNotesGenerator.Tests/Properties/AssemblyInfo.cs
  UnitTests/ResourceManager.Tests/Properties/AssemblyInfo.cs
Due: tests

FormCheckoutBranch add mnemonics
  GitUI/CommandsDialogs/FormCheckoutBranch.Designer.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/Translation/English.xlf
Due: production

Enable CA1416: Validate platform compatibility (#9264)
  .editorconfig
  CommonAssemblyInfo.cs
  Directory.Build.props
  UnitTests/GitCommands.Tests/Properties/AssemblyInfo.cs
  UnitTests/GitExtUtils.Tests/Properties/AssemblyInfo.cs
  UnitTests/GitUI.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/BuildServerIntegration/AzureDevOpsIntegration.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/DeleteUnusedBranches.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/GitUIPluginInterfaces.Tests/Properties/AssemblyInfo.cs
  UnitTests/Plugins/ReleaseNotesGenerator.Tests/Properties/AssemblyInfo.cs
  UnitTests/ResourceManager.Tests/Properties/AssemblyInfo.cs
Due: tests

Limit superproject refs in rev grid
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Limit superproject refs in rev grid (#9256)
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Update Clone dialog's handling of clipboard text
  GitCommands/PathUtil.cs
  GitCommands/UserRepositoryHistory/LocalRepositoryManager.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormPush.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCloneTests.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Update Clone dialog's handling of clipboard text (#9266)
  GitCommands/PathUtil.cs
  GitCommands/UserRepositoryHistory/LocalRepositoryManager.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormPush.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCloneTests.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

FormCheckoutBranch add mnemonics (#9265)
  GitUI/CommandsDialogs/FormCheckoutBranch.Designer.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/Translation/English.xlf
Due: production

Allow rollForward=feature for .NET 5.0 SDK
  global.json
Due: none

Allow rollForward=feature for .NET 5.0 SDK (#9268)
  global.json
Due: none

Stash: Refresh grid also after partial operations
  GitUI/GitUICommands.cs
Due: production

Display appropriate message when deleting branch checked out at another worktree (#7669)
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/WorkTrees/GitWorkTree.cs
  GitCommands/Git/WorkTrees/HeadType.cs
  GitCommands/Git/WorkTrees/ListWorkTreeOutputParser.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/Git/WorkTree/ListWorkTreeOutputParserTests.cs
  UnitTests/GitCommands.Tests/Git/WorkTree/MockData/List_worktree_output.txt
  UnitTests/GitCommands.Tests/GitCommands.Tests.csproj
Due: production, tests

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
