Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Disable tests in DEBUG for DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending
  UnitTests/GitUI.Tests/Editor/FileViewerTextTests.cs
Due: tests

ScriptsSettingsPage theming tweaks
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/Themes/dark.css
Due: production

Allow deletion of untracked directories in FormCommit
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Allow deletion of untracked directories
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

Tweak commit hash of portable build
  GitExtensions/Project.Publish.targets
  appveyor.yml
Due: none

Tweak commit hash of portable build (#8015)
  GitExtensions/Project.Publish.targets
  appveyor.yml
Due: none

Redesign script config (#7981)
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.ScriptInfoProxy.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.resx
  GitUI/Design/ExecutableFileNameEditor.cs
  GitUI/Design/PropertyOrderAttribute.cs
  GitUI/Design/PropertySorter.cs
  GitUI/GitUI.csproj
  GitUI/Script/ScriptEvent.cs
  GitUI/Script/ScriptInfo.cs
  GitUI/Script/ScriptManager.cs
  GitUI/Themes/dark.css
  GitUI/Translation/English.xlf
Due: production

Fixed access modifiers for WSL path utils
  GitCommands/PathUtil.cs
Due: production

Fix compatibility with WSL (\\wsl$\) network resource #7438
  GitCommands/FullPathResolver.cs
  GitCommands/PathUtil.cs
  GitUI/CommandsDialogs/FormClone.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
  contributors.txt
Due: production, tests

Rename AppSettings.RefreshCommitDialogOnFormFocus
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Update artificial commit on WM_ACTIVATEAPP
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

test
  contributors.txt
Due: none

Apply dark theme for check boxes in NativeListView
  GitUI/Interops/DTBGOPTS.cs
  GitUI/Theming/Renderers/ListViewRenderer.cs
  GitUI/Theming/Renderers/ThemeRenderer.cs
  GitUI/Theming/Win32ThemeDelegates.cs
  GitUI/Theming/Win32ThemeHooks.cs
  GitUI/UserControls/NativeListView.cs
Due: production

Update GitUI/Interops/DTBGOPTS.cs
  GitUI/Interops/DTBGOPTS.cs
Due: production

Apply dark theme for check boxes in NativeListView (#8037)
  GitUI/Interops/DTBGOPTS.cs
  GitUI/Theming/Renderers/ListViewRenderer.cs
  GitUI/Theming/Renderers/ThemeRenderer.cs
  GitUI/Theming/Win32ThemeDelegates.cs
  GitUI/Theming/Win32ThemeHooks.cs
  GitUI/UserControls/NativeListView.cs
Due: production

Remove debugging code
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

Remove debugging code (#8039)
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

Ignore Microsoft.WindowsAPICodePack.Shell.ShellException
  GitUI/WindowsJumpListManager.cs
Due: production

Chore: move members to give some logical order
  GitUI/Editor/FileViewer.cs
Due: production

Chore: remove unused members
  GitUI/Editor/FileViewer.cs
Due: production

fix: Can't have quotes in merge-commit message
  GitCommands/CommitMessageManager.cs
  GitCommands/CommitMessageType.cs
  GitCommands/Git/GitCommandHelpers.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  UnitTests/GitCommands.Tests/CommitMessageManagerTests.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
Due: production, tests

fix: Tighten git-merge log condition
  GitCommands/Git/GitCommandHelpers.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
Due: production, tests

Cleanup git status before calling TranslationApp
  GitExtensions/Project.Publish.targets
  appveyor.experimental.yml
  appveyor.yml
  scripts/build.ps1
Due: none

Restore broken AutoCRLF tests
  .gitattributes
  GitCommands/Settings/AutoCRLFType.cs
  GitCommands/Settings/SettingsKind.cs
  GitCommands/Utils/AutoCrlfHelper.cs
  GitUI/Editor/FileViewer.cs
  UnitTests/GitCommands.Tests/GitCommands.Tests.csproj
  UnitTests/GitCommands.Tests/Helpers/AutoCrlfExtensionsTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.MacLines.false.approved.txt
  UnitTests/GitCommands.Tests/Helpers/AutoCrlfExtensionsTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.MacLines.input.approved.txt
  UnitTests/GitCommands.Tests/Helpers/AutoCrlfExtensionsTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.MacLines.true.approved.txt
  UnitTests/GitCommands.Tests/Helpers/AutoCrlfExtensionsTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.UnixLines.false.approved.txt
  UnitTests/GitCommands.Tests/Helpers/AutoCrlfExtensionsTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.UnixLines.input.approved.txt
  UnitTests/GitCommands.Tests/Helpers/AutoCrlfExtensionsTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.UnixLines.true.approved.txt
  UnitTests/GitCommands.Tests/Helpers/AutoCrlfExtensionsTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.WindowsLines.false.approved.txt
  UnitTests/GitCommands.Tests/Helpers/AutoCrlfExtensionsTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.WindowsLines.input.approved.txt
  UnitTests/GitCommands.Tests/Helpers/AutoCrlfExtensionsTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.WindowsLines.true.approved.txt
  UnitTests/GitCommands.Tests/Helpers/AutoCrlfExtensionsTests.cs
  UnitTests/GitCommands.Tests/Helpers/MockData/MacLines.bin
  UnitTests/GitCommands.Tests/Helpers/MockData/UnixLines.bin
  UnitTests/GitCommands.Tests/Helpers/MockData/WindowsLines.bin
  UnitTests/GitUI.Tests/Editor/FileViewerTextTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.UnixLines.input.approved.txt
  UnitTests/GitUI.Tests/Editor/FileViewerTextTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.UnixLines.true.approved.txt
  UnitTests/GitUI.Tests/Editor/FileViewerTextTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.WindowsLines.false.approved.txt
  UnitTests/GitUI.Tests/Editor/FileViewerTextTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.WindowsLines.input.approved.txt
  UnitTests/GitUI.Tests/Editor/FileViewerTextTests.DoAutoCRLF_should_not_unnecessarily_duplicate_line_ending.ForScenario.WindowsLines.true.approved.txt
  UnitTests/GitUI.Tests/Editor/FileViewerTextTests.cs
  UnitTests/GitUI.Tests/GitUI.Tests.csproj
Due: production, tests

Ignore GitHub API rate limit induced errors when searching for app updates
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.cs
Due: production

fixup! Cleanup git status before calling TranslationApp
  appveyor.experimental.yml
  appveyor.yml
Due: none

Rebrand as v3.4
  appveyor.yml
Due: none

FileStatusList: Allow multiple selected/second revisions
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/FormLog.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  GitUI/GitUIExtensions.cs
  GitUI/UserControls/CommitDiff.cs
  GitUI/UserControls/FileStatusItem.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/GitItemStatusWithParent.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FileStatusListTests.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

RevDiff: Show Unique files BASE->first(A)
  GitUI/UserControls/FileStatusList.cs
Due: production

Update README.md
  README.md
Due: none

Split pull button in 3 buttons
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
  GitUI/Translation/English.xlf
Due: production

Support reverse diffs in ParseSubmoduleStatus
  GitCommands/Git/GitCommandHelpers.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
Due: production, tests
