Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Turn IScriptHostControl into IScriptOptionsProvider (#11325)
  GitUI/GitModuleControl.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/ScriptsEngine/IScriptOptionsProvider.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptOptionsParser.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: production, tests

Support empty SettingsPath (#10851)
  GitCommands/Settings/SettingsPath.cs
Due: production

Store most important view settings on request only (#10851)
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/BoolRuntimeSetting.cs
  GitCommands/Settings/EnumRuntimeSetting.cs
  GitCommands/Settings/IRuntimeSetting.cs
  GitCommands/Settings/ISetting.cs
  GitCommands/Settings/RuntimeSetting.cs
  GitCommands/Settings/Setting.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SortingSettingsPage.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitCommands.Tests/Settings/RuntimeSettingTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

Call all ReloadHotkeys from OnRuntimeLoad
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Editor/FileViewer.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Cleaning: remove settings logic no more used
  GitUI/GitUI.csproj
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Properties/Settings.Designer.cs
  GitUI/Properties/Settings.settings
  GitUI/app.config
Due: production

BugReportForm: Remove badly used `DpiUtil.Scale()`
  BugReporter/BugReportForm.cs
Due: none

Override documention version to 4.0
  GitCommands/Settings/AppSettings.cs
Due: production

Git 2.42.0
  GitCommands/Git/GitVersion.cs
Due: production

fixup! correct override of version
  GitCommands/Settings/AppSettings.cs
Due: production

fixup! compile
  GitCommands/Settings/AppSettings.cs
Due: production

Fixup ISettings<T> tests
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: tests

Add conditionals to script parameters
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/ScriptsEngine/ScriptOptionsParser.cs
  GitUI/Translation/English.xlf
Due: production

Git 2.42.0 (#11340)
  GitCommands/Git/GitVersion.cs
Due: production

Fixup ISettings<T> tests (#11341)
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: tests

Cleaning: remove settings logic no more used (#11332)
  GitUI/GitUI.csproj
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Properties/Settings.Designer.cs
  GitUI/Properties/Settings.settings
  GitUI/app.config
Due: production

Load hotkeys consistently (#11330)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Editor/FileViewer.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

DetailedSettingsPage rewritten by MSVS
  GitUI/CommandsDialogs/SettingsDialog/Pages/DetailedSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DetailedSettingsPage.resx
Due: production

Add option to fan out all children lanes directly at parent (#11327)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DetailedSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DetailedSettingsPage.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/Context.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/GraphRenderer.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/SegmentRenderer.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphConfig.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphRowTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Sort StartSegments in order to reduce crossings (#11327)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphConfig.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DetachedSingleRevision_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.DetachedSingleRevision_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedIfThisCausesAShiftForPrimarySegment_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreNotStraightenedIfThisCausesAShiftForPrimarySegment_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightenedAlthoughThisCausesWidthIncrease_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightenedAlthoughThisCausesWidthIncrease_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithCommitsAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithCommitsAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithIncomingMergesAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithIncomingMergesAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingPrimaryMergesAreStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingPrimaryMergesAreStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingSecondaryMergesAreNotStraightened_mergeGraphLanesHavingCommonParent=False.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.SegmentsWithOutgoingSecondaryMergesAreNotStraightened_mergeGraphLanesHavingCommonParent=True.verified.txt
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

SetDocumentationBaseUrl using ProductVersion
  GitCommands/Settings/AppSettings.cs
  GitExtensions/Program.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/UserManual/StandardHtmlUserManualFixture.cs
Due: production, tests

fixup! Working directory
  GitCommands/Settings/AppSettings.cs
Due: production

SetDocumentationBaseUrl using ProductVersion (#11348)
  GitCommands/Settings/AppSettings.cs
  GitExtensions/Program.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/UserManual/StandardHtmlUserManualFixture.cs
Due: production, tests

Update translations and changelog
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Tamil.xlf
  GitUI/Translation/Traditional Chinese.Plugins.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.xlf
Due: production

v4.2 release
  GitExtensions.releases
Due: none

FormCommit always has a _currentFilesList
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Rename to GetPathForGitExecution (#11362)
  GitCommands/Git/GitModule.cs
  GitCommands/Git/Tag/GitTagController.cs
  GitCommands/PathUtil.cs
  GitCommands/Remotes/ConfigFileRemoteSettingsManager.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/RepoHosting/ForkAndCloneForm.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitCommands.Tests/Git/Tag/GitTagControllerTest.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Force all callers to pass GetPathForGitExecution (#11362)
  GitCommands/Git/Commands.Arguments.cs
  GitCommands/Git/Commands.cs
  GitCommands/Git/Tag/GitTagController.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/RepoHosting/ForkAndCloneForm.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.CreateTag.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
Due: production, tests

FormCommit always has a _currentFilesList (#11363)
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Let git deny the commit if committer is not specified
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Do not throw for git-log no key exists
  GitCommands/Git/GitModule.cs
Due: production

squash! Do not throw for git-log no key exists
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  Plugins/GitUIPluginInterfaces/ExecutionResult.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production

fixup! squash! Do not throw for git-log no key exists
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
Due: tests

Use static Regex in a few more situations
  GitUI/UserControls/FileStatusList.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/ApiClient.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

fixup! squash! Do not throw for git-log no key exists
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

fixup! Use static Regex in a few more situations
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

Use static Regex in a few more situations (#11370)
  GitUI/UserControls/FileStatusList.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/ApiClient.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

Let git deny the commit if committer is not specified (#11369)
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  Plugins/GitUIPluginInterfaces/ExecutionResult.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production, tests

Makes GetBranchNames() support worktrees
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/DeleteUnusedBranches/GitBranchOutputCommandParser.cs
  UnitTests/Plugins/DeleteUnusedBranches.Tests/GitBranchOutputCommandParserTests.cs
Due: production, tests

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
