Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Goto current line when opening internal text editor (#11191)
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormEditor.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormEditorTests.cs
Due: production, tests

Option to confirm checkout branch using left panel (#11116)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.cs
  GitUI/LeftPanel/LocalBranchNode.cs
  GitUI/LeftPanel/RemoteBranchNode.cs
  GitUI/MessageBoxes.cs
  GitUI/Translation/English.xlf
Due: production

Applied suggested changes (#11116)
  GitCommands/Settings/AppSettings.cs
  GitUI/LeftPanel/LocalBranchNode.cs
  GitUI/LeftPanel/RemoteBranchNode.cs
  GitUI/MessageBoxes.cs
Due: production

Applied suggested format (#11116)
  GitUI/LeftPanel/LocalBranchNode.cs
  GitUI/MessageBoxes.cs
Due: production

Force OpenSSH to use SSH_ASKPASS if a password is requested
  GitCommands/Git/EnvironmentConfiguration.cs
Due: production

Option - ask for confirmation on branch checkout (#11186)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.cs
  GitUI/LeftPanel/LocalBranchNode.cs
  GitUI/LeftPanel/RemoteBranchNode.cs
  GitUI/MessageBoxes.cs
  GitUI/Translation/English.xlf
Due: production

Fixed padding of the revision grid in the file history window
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
Due: production

Remove impossible result from OpenWithDifftool*
  GitCommands/Git/GitModule.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Kill cancelled processes
  GitCommands/Git/Executable.cs
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitCommandRunner.cs
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
  Plugins/GitUIPluginInterfaces/IGitCommandRunner.cs
  Plugins/GitUIPluginInterfaces/IProcess.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/ExecutableTests.cs
  UnitTests/GitCommands.Tests/Git/AheadBehindDataProviderTests.cs
Due: production, tests

Fixed padding of the revision grid in the file history window (#11201)
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
Due: production

fixup! Kill cancelled processes
  GitCommands/Git/Executable.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
Due: production, tests

FormDiff: Let DiffFiles decide about the diff groups
  GitUI/CommandsDialogs/FormDiff.cs
Due: production

FormDiff: Let DiffFiles decide about the diff groups (#11203)
  GitUI/CommandsDialogs/FormDiff.cs
Due: production

Force OpenSSH to use SSH_ASKPASS if a password is requested (#11199)
  GitCommands/Git/EnvironmentConfiguration.cs
Due: production

Optimize ObjectId parsing
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
  Plugins/GitUIPluginInterfaces/ObjectId.cs
  UnitTests/GitCommands.Tests/Git/ObjectIdTests.cs
  UnitTests/GitCommands.Tests/GitRevisionInfoProviderTests.cs
Due: production, tests

Build arm64 in CI
  appveyor.yml
Due: none

Update appveyor.yml
  appveyor.yml
Due: none

Make ExecuteAsync cancellable and kill canceled processes (#11194)
  GitCommands/Git/Executable.cs
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitCommandRunner.cs
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
  Plugins/GitUIPluginInterfaces/IGitCommandRunner.cs
  Plugins/GitUIPluginInterfaces/IProcess.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/ExecutableTests.cs
  UnitTests/GitCommands.Tests/Git/AheadBehindDataProviderTests.cs
Due: production, tests

Cancel pending git status monitor operations on form dispose
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  IntegrationTests/UI.IntegrationTests/UITest.cs
Due: production, tests

LeftPanel: Replace _updateSemaphore with ExclusiveTaskRunner
  GitExtUtils/GitUI/ExclusiveTaskRunner.cs
  GitExtUtils/GitUI/TaskManager.cs
  GitExtUtils/GitUI/ThreadHelper.cs
  GitUI/LeftPanel/BaseRefTree.cs
  GitUI/LeftPanel/BaseRevisionTree.cs
  GitUI/LeftPanel/StashTree.cs
  GitUI/LeftPanel/SubmoduleTree.cs
  GitUI/LeftPanel/Tree.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
Due: production, tests

fixup! consistently use Slice
  Plugins/GitUIPluginInterfaces/ObjectId.cs
Due: production

fixup! currentCommitId
  GitCommands/Git/GitModule.cs
Due: production

Rebase: improve perfs when displaying list of commits
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
Due: production

Cancel pending GitStatusMonitor operations on form dispose (#11187)
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  IntegrationTests/UI.IntegrationTests/UITest.cs
Due: production, tests

LeftPanel: Replace _updateSemaphore with ExclusiveTaskRunner (#11162)
  GitExtUtils/GitUI/ExclusiveTaskRunner.cs
  GitExtUtils/GitUI/TaskManager.cs
  GitExtUtils/GitUI/ThreadHelper.cs
  GitUI/LeftPanel/BaseRefTree.cs
  GitUI/LeftPanel/BaseRevisionTree.cs
  GitUI/LeftPanel/StashTree.cs
  GitUI/LeftPanel/SubmoduleTree.cs
  GitUI/LeftPanel/Tree.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
Due: production, tests

Replace InvokeSync() and InvokeAsync() (#11152)
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/CommitInfoHeader.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUIExtensions.cs
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/UserControls/EditboxBasedConsoleOutputControl.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Remove impossible result from OpenWithDifftool* (#11202)
  GitCommands/Git/GitModule.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

FormGitCommandLog rewritten by MSVS
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.resx
Due: production

fixup! GitCommandLog: Add git verb, copy, shortcuts
  GitCommands/Logging/CommandLog.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.cs
  GitUI/Translation/English.xlf
Due: production

GitCommandLog: Add git verb, copy, shortcuts
  GitCommands/Logging/CommandLog.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.cs
  GitUI/Translation/English.xlf
Due: production

RevisionGridControl: Hide tooltip on Escape
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridToolTipProvider.cs
Due: production

squash! RevisionGridControl: Hide tooltip on Escape
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridToolTipProvider.cs
Due: production

fixup! RevisionGridControl: Hide tooltip on Escape
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridToolTipProvider.cs
Due: production

Add hotkey to ToolStripButton Default Pull/Fetch
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Hotkey/KeysExtensions.cs
Due: production

Adjust tab indexes for Gitlab Settings control(#11104)
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.Designer.cs
Due: production

Add hotkey to ToolStripButton Default Pull/Fetch (#11219)
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Hotkey/KeysExtensions.cs
Due: production

Git Command Log: Show git verb; extend context menu (#11215)
  GitCommands/Logging/CommandLog.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.resx
  GitUI/Translation/English.xlf
Due: production

Feature/gitlab integration (#11105)
  GitExtensions.sln
  GitUI/Translation/English.Plugins.xlf
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClientBase.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClientFactory.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/GitlabPipeline.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/GitlabProject.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/PagedResponse.cs
  Plugins/BuildServerIntegration/GitlabIntegration/GitExtensions.Plugins.GitlabIntegration.csproj
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabIntegrationMetadataAttribute.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabRemoteParser.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.Designer.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.resx
  Setup/Product.wxs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/BuildInfoEqualityComparer.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabAdapterTestData.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabAdapterTests.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabIntegration.Tests.csproj
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabRemoteParserTests.cs
  contributors.txt
Due: production, tests
