Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Use MVVM for revisions refresh notification
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUI.csproj
  GitUI/GitUICommands.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Packages.props
  Plugins/GitUIPluginInterfaces/GitUIPluginInterfaces.csproj
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
  Plugins/GitUIPluginInterfaces/ViewModels/GitRepoViewModel.cs
  Setup/Product.wxs
Due: production

fixup! Use MVVM for revisions refresh notification
  GitExtUtils/GitExtUtils.csproj
  GitExtUtils/ServiceContainerRegistry.cs
  GitExtUtils/ServiceProviderExtensions.cs
  GitExtensions/ServiceContainerRegistry.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  IntegrationTests/UI.IntegrationTests/GlobalServiceContainer.cs
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
  Plugins/GitUIPluginInterfaces/ServiceContainerRegistry.cs
  Plugins/GitUIPluginInterfaces/ViewModels/GitRepoViewModel.cs
  Plugins/GitUIPluginInterfaces/ViewModels/RepoModifiedMessage.cs
Due: production, tests

Do not launch debugger on Debug.Fail in test run
  GitExtUtils/DebugHelpers.cs
Due: production

Warning for IDE0008 Use explicit type instead of var
  .editorconfig
Due: none

RevisionGrid: Separate add/insert of artificial commits
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/LaneInfoProviderTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphMultiThreadingTests.cs
Due: production, tests

fixup! review comment adding revisions
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

fixup! hide the parent score check in tests
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/LaneInfoProviderTests.cs
Due: production, tests

Do not launch debugger on Debug.Fail in test run (#11287)
  GitExtUtils/DebugHelpers.cs
Due: production

Update contributors.txt
  contributors.txt
Due: none

Update contributors.txt (#11289)
  contributors.txt
Due: none

Bypassing hotkeys processing when inside SearchControl
  GitUI/LeftPanel/RepoObjectsTree.cs
Due: production

Bypassing hotkeys processing when inside SearchControl (#11290)
  GitUI/LeftPanel/RepoObjectsTree.cs
Due: production

Red background for filter button when a filter is active
  GitUI/Resources/Icons/FunnelExclamation.png
Due: production

GitLab exception with concurrent access
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
Due: production

GitLab exception with concurrent access (#11283)
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
Due: production

Always assign LaneSharing.ExclusiveOrPrimary
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Warning for IDE0008 Use explicit type instead of var (#11288)
  .editorconfig
Due: none

RevisionGrid: Separate add/insert of artificial commits (#11267)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/LaneInfoProviderTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphMultiThreadingTests.cs
Due: production, tests

Deactivate very slow handling of lane sharing (#11294)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

fixup! Use MVVM for revisions refresh notification
  Plugins/GitUIPluginInterfaces/ServiceContainerRegistry.cs
  Plugins/GitUIPluginInterfaces/ViewModels/GitRepoViewModel.cs
  Plugins/GitUIPluginInterfaces/ViewModels/RepoModifiedMessage.cs
Due: production

RevisionGraph: improve internal structures
  GitUI/UserControls/RevisionGrid/Columns/ColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/LaneInfo.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/LaneInfoProviderTests.cs
Due: production, tests

amend! RevisionGraph: improve internal structures
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

RevisionGraph: improve internal structures (#11268)
  GitUI/UserControls/RevisionGrid/Columns/ColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/LaneInfo.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/LaneInfoProviderTests.cs
Due: production, tests

Reset selection when opening a repo without a checkout
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Show/hide headers in detailed view
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.resx
Due: production

Symbolic links to .git in WSL
  GitCommands/Git/GitDirectoryResolver.cs
  GitCommands/Git/GitModule.cs
  GitCommands/PathUtil.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/FormCleanupRepository.cs
  UnitTests/GitCommands.Tests/Git/GitDirectoryResolverTests.cs
Due: production, tests

Correctly reset unstaged changes without affecting staged
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Translation/English.xlf
Due: production

Reset selection when opening a repo without a checkout (#11306)
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Symbolic links to .git in WSL (#11305)
  GitCommands/Git/GitDirectoryResolver.cs
  GitCommands/Git/GitModule.cs
  GitCommands/PathUtil.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/FormCleanupRepository.cs
  UnitTests/GitCommands.Tests/Git/GitDirectoryResolverTests.cs
Due: production, tests

fixup! Correctly reset unstaged changes without affecting staged
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

fixup! documentation touchup, incorrect argument name
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/GitUICommands.cs
Due: production

Trigger RepoChangedNotifier after script / plugin
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Remove CommandStatus
  GitCommands/CommandStatus.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production, tests

Remove `IRunScript` and replace usage with `IScriptHostControl`
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/GitModuleControl.cs
  GitUI/LeftPanel/RepoObjectsTree.ContextActions.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/ScriptsEngine/IRunScript.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
Due: production, tests

fixup! Remove `IRunScript` and replace usage with `IScriptHostControl`
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/LeftPanel/RepoObjectsTree.ContextActions.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Rebased
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Remove `THostForm` from `RunScripts` and pass using `IScriptHostControl` instead
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCheckoutRevision.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormDeleteTag.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
  GitUI/ScriptsEngine/IScriptHostControl.cs
  GitUI/ScriptsEngine/IScriptsRunner.cs
  GitUI/ScriptsEngine/ScriptOptionsParser.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: production, tests

fixup! Remove `serviceProvider` parameter from `UserScriptContextMenuExtensions.AddUserScripts` since the information is already available and DI-friendly in `scriptHostControl`
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/LeftPanel/RepoObjectsTree.ContextActions.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production
