Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Remove unused interop definitions
  GitUI/Interops/Libraries.cs
  GitUI/Interops/NMHDR.cs
  GitUI/Interops/User32/ShowCaret.cs
Due: production

Use CsWin32 for List View interop
  GitUI/Interops/LVGA.cs
  GitUI/Interops/LVGF.cs
  GitUI/Interops/LVGROUPW.cs
  GitUI/Interops/LVGS.cs
  GitUI/Interops/LVHITTESTINFO.cs
  GitUI/Interops/ListViewGroupMask.cs
  GitUI/NativeMethods.txt
  GitUI/UserControls/ExListView.cs
Due: production

Use CsWin32 for Kernel32
  GitUI/CommandsDialogs/FormFileHistoryController.cs
  GitUI/Interops/Kernel32/GetLongPathNameW.cs
  GitUI/Interops/Kernel32/GetShortPathNameW.cs
  GitUI/Interops/Libraries.cs
  GitUI/NativeMethods.txt
Due: production

Quick search Body instead of Subject if available (#9320)
  GitCommands/Git/GitRevisionTester.cs
Due: production

Store GitRevision CommitDate in native unix time
  GitCommands/DateTimeUtils.cs
  GitCommands/Git/GitModule.cs
  GitCommands/RevisionReader.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/CopyContextMenuItemTests.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/LaneInfoProviderTests.cs
Due: production, tests

TryParseRevision add unit tests
  .gitattributes
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/GitCommands.Tests.csproj
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.multi_pathfilter.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.no_subject.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.normal.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.simple_pathfilter.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.subject_no_body.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/bad_parentid.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/bad_parentid_length.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/bad_sha.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/empty.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/illegal_timestamp.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/multi_pathfilter.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/no_encoding.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/no_subject.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/normal.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/short_sha.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/simple_pathfilter.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/subject_no_body.bin
Due: production, tests

RevisionReader: Parse raw commit body
  GitCommands/Git/GitModule.cs
  GitCommands/GitCommands.csproj
  GitCommands/RevisionReader.cs
  GitCommands/StringPool.cs
  GitUI/CommandsDialogs/FormVerify.LostObject.cs
  Packages.props
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  Plugins/GitUIPluginInterfaces/ObjectId.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/StringPoolTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/LaneInfoProviderTests.cs
Due: production, tests

FileHistory: Show grid graph for submodules and directories
  GitUI/CommandsDialogs/FormFileHistory.cs
Due: production

Basic scaffolding for MEF
  GitCommands/AppTitleGenerator.cs
  GitCommands/Git/GitDirectoryResolver.cs
  GitCommands/UserRepositoryHistory/RepositoryDescriptionProvider.cs
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Script/ScriptOptionsParser.cs
  GitUI/WindowsJumpListManager.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.ReorderNodes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockAppTitleGenerator.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockRepositoryDescriptionProvider.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockWindowsJumpListManager.cs
  Packages.props
  Plugins/GitUIPluginInterfaces/ManagedExtensibility.cs
  UnitTests/CommonTestUtils/CommonTestUtils.csproj
  UnitTests/CommonTestUtils/MEF/ExportProviderCache.Scope.cs
  UnitTests/CommonTestUtils/MEF/ExportProviderCache.SimpleAssemblyLoader.cs
  UnitTests/CommonTestUtils/MEF/ExportProviderCache.SingleExportProviderFactory.cs
  UnitTests/CommonTestUtils/MEF/ExportProviderCache.cs
  UnitTests/CommonTestUtils/MEF/TestComposition.Hash.cs
  UnitTests/CommonTestUtils/MEF/TestComposition.cs
  UnitTests/GitCommands.Tests/AppTitleGeneratorTests.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: production, tests

Move full history arguments to RevisionReader
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
Due: production

FormFilter: Show graph also with Git filters
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
Due: production, tests

FormFilter: Only show max count when user overridden
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

Browse: Toolbar button for Advanced filter
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/FunnelPencil.png
  GitUI/Translation/English.xlf
Due: production

Update to latest conemu fork with fontname support and console add font setting
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.resx
  GitUI/Translation/English.xlf
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Update GitExtensions.releases
  GitExtensions.releases
Due: none

Update ChangeLog.md
  GitUI/Resources/ChangeLog.md
Due: production

Fixup gitBashToolStripMenuItem action
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Tell Executable to create a window for ps scripts
  GitUI/Script/PowerShellHelper.cs
Due: production

Fixup user scripts running PS in foreground (#9351)
  GitUI/Script/PowerShellHelper.cs
Due: production

Fixup main menu item `Git bash` (#9350)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Remove no more used BinaryFormatter for commit template.
  GitCommands/CommitTemplateItem.cs
Due: production

Remove no more used BinaryFormatter for commit template. (#9344)
  GitCommands/CommitTemplateItem.cs
Due: production

Breakout ROT classes into own files
  GitUI/BranchTreePanel/RepoObjectsTree.BaseBranchLeafNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.BaseBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.BasePathNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.BranchPathNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.BranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.LocalBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteRepoFolderNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteRepoNode.cs
Due: production

Tell Executable to create a window for ps scripts (#9356)
  GitUI/Script/PowerShellHelper.cs
Due: production

Fixup gitBashToolStripMenuItem action (#9357)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

AheadBehindDataProvider: Return null on non-zero git exit code
  GitCommands/Git/AheadBehindDataProvider.cs
  UnitTests/GitCommands.Tests/Git/AheadBehindDataProviderTests.cs
Due: production, tests

Fixup GitModule.UpdateIndex
  GitCommands/Git/GitModule.cs
Due: production

GitRef LocalName should not throw if Remote is not prefix of Name
  GitCommands/Git/GitRef.cs
  UnitTests/GitCommands.Tests/Git/GitRefTests.cs
Due: production, tests

GitRef LocalName should not throw if Remote is not prefix of Name (#9342)
  GitCommands/Git/GitRef.cs
  UnitTests/GitCommands.Tests/Git/GitRefTests.cs
Due: production, tests

RevisionReader allow empty subject
  GitCommands/RevisionReader.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.empty_commit.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/empty_commit.bin
Due: production, tests

GetMergedBranchesAsync: Ignore (git exit code and) StandardError
  GitCommands/Git/GitModule.cs
Due: production

GetRefs: Return empty list on non-zero git exit code
  GitCommands/Git/GitModule.cs
Due: production

GetRemotesAsync: Return empty list on non-zero git exit code
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
Due: production

Run loc check after everything has been built
  appveyor.yml
Due: none

Throw on non-0 exit code and on stderror output
  GitCommands/CommitDataManager.cs
  GitCommands/FileHelper.cs
  GitCommands/Git/AheadBehindDataProvider.cs
  GitCommands/Git/Executable.cs
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SubmoduleHelpers.cs
  GitCommands/Git/SystemEncodingReader.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/Editor/FileViewer.cs
  GitUI/OsShellUtil.cs
  Plugins/GitUIPluginInterfaces/IExecutable.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/Config/ConfigFileTest.cs
  UnitTests/GitCommands.Tests/Git/AheadBehindDataProviderTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: production, tests

TryGetParents: Ignore git errors
  GitCommands/Git/ExecutableExtensions.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Restore the working loc verification
  appveyor.yml
Due: none

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
