Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Skip check if DontConfirmDeleteUnmergedBranch
  GitUI/CommandsDialogs/FormDeleteBranch.cs
Due: production

fixup! Skip check if DontConfirmDeleteUnmergedBranch
  GitUI/CommandsDialogs/FormDeleteBranch.cs
Due: production

rewrote handler to use sender instead of menuMain reference
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

working around context menu strip being positioned incorrectly on first open (#10197)
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

ConEmu 220807
  Packages.props
Due: none

Suggest Markdown Preview Enhanced vscode extension
  .vscode/extensions.json
Due: none

Suggest markdownlint vscode extension
  .vscode/extensions.json
Due: none

Suggest Markdown Theme Kit vscode extension
  .vscode/extensions.json
Due: none

Add gource readme
  README.md
  assets/gource plugin.png
  gource video.md
Due: none

Add gource readme (#10209)
  README.md
  assets/gource plugin.png
  gource video.md
Due: none

Suggest Markdown Preview Enhanced extension (#10210)
  .vscode/extensions.json
Due: none

ConEmu v22.8.7 (#10208)
  Packages.props
Due: none

FormDeleteRemoteBranch: GetMergedRemoteBranches() in background (#10203)
  GitExtUtils/GitUI/TaskManager.cs
  GitExtUtils/GitUI/ThreadHelper.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
Due: production

Move revision filters to advanced filter form
  GitCommands/RevisionReader.RefFilterOptions.cs
  GitCommands/RevisionReader.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/ShowOnlyFirstParent.png
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterChangedEventArgs.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.resx
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/RefFilterOptionsEventArgs.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_with_Raw_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

Move revision filters to advanced filter form (#10205)
  GitCommands/RevisionReader.RefFilterOptions.cs
  GitCommands/RevisionReader.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/ShowOnlyFirstParent.png
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterChangedEventArgs.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.resx
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/RefFilterOptionsEventArgs.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_with_Raw_expected.approved.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

Update release notes and translations
  .tools/transifex/.tx/config
  .tools/transifex/DownloadTransifexTranslations.ps1
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/Dutch.xlf
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.Plugins.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Polish.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.xlf
  GitUI/Translation/en_pseudo.Plugins.xlf
  GitUI/Translation/en_pseudo.xlf
  Setup/Prepare-Release.ps1
  Setup/Product.wxs
Due: production

Disable reloading of Explorer when uninstalling.
  Setup/Product.wxs
  contributors.txt
Due: none

Register LinkFactory in MEF
  GitExtensions/Program.cs
Due: none

Disable reloading of Explorer when uninstalling. (#10216)
  Setup/Product.wxs
  contributors.txt
Due: none

Ignore .gitmodules without path
  GitCommands/Git/GitModule.cs
Due: production

Protect AppSettings saving using global mutex (#10193)
  GitCommands/Settings/AppSettings.cs
Due: production

fixup! Ignore .gitmodules without path
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: tests

Do not cache current GetRevision data
  GitCommands/Git/GitModule.cs
Due: production

Update to latest 6.0 .Net Runtime/SDK
  global.json
  scripts/RepoLayout.props
Due: none

Update to latest 6.0 .Net Runtime/SDK (#10229)
  global.json
  scripts/RepoLayout.props
Due: none

ShellExtension: rename item in the setting form with same name it have in sheel extension menu
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/Translation/English.xlf
Due: production

ShellExtension: Do not translate menu items because they are not in file explorer contextual menu
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
  GitUI/Translation/English.xlf
Due: production

fixup! Do not cache current GetRevision data
  GitCommands/Git/GitModule.cs
Due: production

Do not cache current GetRevision data (#10227)
  GitCommands/Git/GitModule.cs
Due: production
