Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

You said "quotes"?
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: tests

Do not migrate empty settings
  GitCommands/UserRepositoryHistory/Legacy/RepositoryStorage.cs
Due: production

Delete unused branch plugin: Makes GetBranchNames() support worktrees (#11376)
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/DeleteUnusedBranches/GitBranchOutputCommandParser.cs
  UnitTests/Plugins/DeleteUnusedBranches.Tests/GitBranchOutputCommandParserTests.cs
Due: production, tests

Scripts: better user input UX (i.e. `{UserInput}` with custom label)
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/ScriptsEngine/FilePromptCreator.cs
  GitUI/ScriptsEngine/FormFilePrompt.cs
  GitUI/ScriptsEngine/IUserInputPrompt.cs
  GitUI/ScriptsEngine/ScriptOptionsParser.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/SimplePrompt.Designer.cs
  GitUI/ScriptsEngine/SimplePrompt.cs
  GitUI/ScriptsEngine/SimplePrompt.resx
  GitUI/ScriptsEngine/SimplePromptCreator.cs
  GitUI/ServiceContainerRegistry.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  UnitTests/GitUI.Tests/Script/ScriptsManagerScriptRunnerTests.cs
Due: production, tests

GitExtSshAskPass: Ensure chars are outputed as UTF8 chars
  GitExtSshAskPass/SshAskPass.cpp
Due: none

Let git deny the commit if committer is not specified (#11369)
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  Plugins/GitUIPluginInterfaces/ExecutionResult.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production, tests

Script user input improvement (#11281)
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/ScriptsEngine/FilePromptCreator.cs
  GitUI/ScriptsEngine/FormFilePrompt.cs
  GitUI/ScriptsEngine/IUserInputPrompt.cs
  GitUI/ScriptsEngine/ScriptOptionsParser.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/SimplePrompt.Designer.cs
  GitUI/ScriptsEngine/SimplePrompt.cs
  GitUI/ScriptsEngine/SimplePrompt.resx
  GitUI/ScriptsEngine/SimplePromptCreator.cs
  GitUI/ServiceContainerRegistry.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
  UnitTests/GitUI.Tests/Script/ScriptsManagerScriptRunnerTests.cs
Due: production, tests

GitExtSshAskPass: Ensure chars are outputed as UTF8 chars (#11381)
  GitExtSshAskPass/SshAskPass.cpp
Due: none

Update to .NET 8
  .vscode/launch.json
  BugReporter/Serialization/SerializableDictionary.cs
  Directory.Build.props
  Externals/Directory.Build.props
  Externals/NetSpell.SpellChecker/SpellChecker.csproj
  GitCommands/XmlSerializableDictionary.cs
  GitExtUtils/GitUI/TaskManager.cs
  GitExtensions/GitExtensions.csproj
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  IntegrationTests/Directory.Build.props
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.SplitterPositionsShouldBeDefault.verified.json
  Packages.props
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  UnitTests/CommonTestUtils/MEF/ExportProviderCache.SimpleAssemblyLoader.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/Directory.Build.props
  UnitTests/GitCommands.Tests/ExecutableTests.cs
  UnitTests/GitUI.Tests/CancellationTokenSequenceTests.cs
  UnitTests/GitUI.Tests/ControlThreadingExtensionsTests.cs
  global.json
  scripts/RepoLayout.props
  scripts/Update-DotnetVersion.ps1
Due: production, tests

GPG: don't crash on artificial commits
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Avoid popup resetting new file to index
  GitCommands/Git/GitModule.cs
Due: production

fixup! Do not migrate empty settings
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/RepositoryStorageTests.cs
Due: tests

Do not migrate empty settings (#11384)
  GitCommands/UserRepositoryHistory/Legacy/RepositoryStorage.cs
  UnitTests/GitCommands.Tests/UserRepositoryHistory/Legacy/RepositoryStorageTests.cs
Due: production, tests

Avoid popup resetting new file to index (#11393)
  GitCommands/Git/GitModule.cs
Due: production

GPG: don't crash on artificial commits (#11389)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Update to .NET 8 (#11240)
  .vscode/launch.json
  BugReporter/Serialization/SerializableDictionary.cs
  Directory.Build.props
  Externals/Directory.Build.props
  Externals/NetSpell.SpellChecker/SpellChecker.csproj
  GitCommands/XmlSerializableDictionary.cs
  GitExtUtils/GitUI/TaskManager.cs
  GitExtensions/GitExtensions.csproj
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  IntegrationTests/Directory.Build.props
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.SplitterPositionsShouldBeDefault.verified.json
  Packages.props
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  UnitTests/CommonTestUtils/MEF/ExportProviderCache.SimpleAssemblyLoader.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/Directory.Build.props
  UnitTests/GitCommands.Tests/ExecutableTests.cs
  UnitTests/GitUI.Tests/CancellationTokenSequenceTests.cs
  UnitTests/GitUI.Tests/ControlThreadingExtensionsTests.cs
  global.json
  scripts/RepoLayout.props
  scripts/Update-DotnetVersion.ps1
Due: production, tests

Update README.md
  README.md
Due: none

Enable C# 12
  Directory.Build.props
Due: none

Update README.md (#11394)
  README.md
Due: none

Release 4.2.1
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/Tamil.xlf
  GitUI/Translation/Traditional Chinese.xlf
  GitUI/Translation/Turkish.xlf
  appveyor.yml
Due: production

v4.2.1
  GitExtensions.releases
Due: none

fixup! verifyer changes
  UnitTests/BugReporter.Tests/SerializableExceptionTests.ToString_should_be_same_from_round_trip_testName=NestedException.verified.txt
  UnitTests/BugReporter.Tests/SerializableExceptionTests.ToString_should_be_same_from_round_trip_testName=SimpleException.verified.txt
  UnitTests/BugReporter.Tests/SerializableExceptionTests.ToString_testName=NestedException.verified.txt
  UnitTests/BugReporter.Tests/SerializableExceptionTests.ToString_testName=SimpleException.verified.txt
Due: tests

Add option to set category to FormClone/FormInit
  GitUI/CommandsDialogs/FormClone.Designer.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormInit.Designer.cs
  GitUI/CommandsDialogs/FormInit.cs
Due: production

Refactor highlighting
  GitUI/Editor/Diff/CombinedDiffHighlightService.cs
  GitUI/Editor/Diff/DiffHighlightService.cs
  GitUI/Editor/Diff/ITextHighlightService.cs
  GitUI/Editor/Diff/RangeDiffHighlightService.cs
  GitUI/Editor/Diff/TextHighlightService.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/Editor/IFileViewer.cs
Due: production

Separate internals to FileViewerInternal (#11349)
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/Editor/IFileViewer.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormEditorTests.cs
Due: production, tests

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
