Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Prevent ArgumentOutOfRangeException
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

fixup! Allow "save as..." multiple files
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

Check output of every git command when exit code is different than 0
  GitCommands/Git/ExecutableExtensions.cs
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

fix: remove old hosting provider menu items adding the new ones
  Plugins/GitHub3/GitHub3Plugin.cs
Due: production

Update Plugins/GitHub3/GitHub3Plugin.cs
  Plugins/GitHub3/GitHub3Plugin.cs
Due: production

fixup! Allow "save as..." multiple files
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: tests

Allow "save as..." multiple files (#10961)
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

Register git hosters after repo opened (#11057)
  GitUI/CommandsDialogs/FormBrowse.cs
  Plugins/GitHub3/GitHub3Plugin.cs
Due: production

Always set RevGrid RowCount on LoadingCompleted
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Fix typo
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

fixup! review comment
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
Due: production

Check output of every git command when exit code is different than 0 (#11062)
  GitCommands/Git/ExecutableExtensions.cs
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

RevDiff: popup for failed reset (#11035)
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUICommands.cs
  UnitTests/GitCommands.Tests/Git/ExecutableExtensionsTests.cs
Due: production, tests

Change ShowMergeCommits to NoMergeCommits
  GitCommands/Settings/AppSettings.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_expected.verified.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_with_Raw_expected.verified.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Filemode incorrect for Tamil translations
  GitUI/Translation/Tamil.Plugins.xlf
  GitUI/Translation/Tamil.xlf
  global.json
  scripts/RepoLayout.props
Due: production

Improve revision grid scrolling (#11046)
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Filemode incorrect for Tamil translations (#11070)
  GitUI/Translation/Tamil.Plugins.xlf
  GitUI/Translation/Tamil.xlf
  global.json
  scripts/RepoLayout.props
Due: production

#11032 Support jira personal access token (#11033)
  GitUI/Translation/English.Plugins.xlf
  Plugins/GitUIPluginInterfaces/UserControls/CredentialsControl.cs
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
  contributors.txt
Due: production

Always set RevGrid RowCount on LoadingCompleted (#11067)
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Factor out GraphRenderer and SegmentRenderer (#10915)
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/GraphRenderer.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/SegmentLanesInfo.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/SegmentPointsInfo.cs
  GitUI/UserControls/RevisionGrid/Graph/Rendering/SegmentRenderer.cs
Due: production

Avoid drawing the same graph curve twice (#10915)
  GitUI/UserControls/RevisionGrid/Graph/Rendering/GraphRenderer.cs
Due: production

Make all exceptions serializable
  GitCommands/Config/GitConfigurationException.cs
  GitCommands/Git/FileDeleteException.cs
  GitCommands/Git/GitException.cs
  GitCommands/Git/RefsWarningException.cs
  GitCommands/Settings/SaveSettingsException.cs
  GitExtUtils/ExternalOperationException.cs
  GitUI/NBugReports/UserExternalOperationException.cs
  GitUI/Theming/ThemeCssUrlResolverException.cs
  GitUI/Theming/ThemeException.cs
Due: production

Rename DistributedSettings from RepoDistSettings (#11068)
  GitCommands/ExternalLinks/ConfiguredLinkDefinitionsProvider.cs
  GitCommands/ExternalLinks/ExternalLinksManager.cs
  GitCommands/ExternalLinks/ExternalLinksStorage.cs
  GitCommands/ExternalLinks/GitRevisionExternalLinksParser.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/ConfigFileSettingsCache.cs
  GitCommands/Settings/DistributedSettings.cs
  GitCommands/Settings/FileSettingsCache.cs
  GitCommands/Settings/GitExtSettingsCache.cs
  GitCommands/Settings/SettingsCache.cs
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/AutoLayoutSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
  GitUI/CommandsDialogs/SettingsDialog/CommonLogic.cs
  GitUI/CommandsDialogs/SettingsDialog/DistributedSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/DistributedSettingsPage.resx
  GitUI/CommandsDialogs/SettingsDialog/DistributedSettingsSet.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DetailedSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/RevisionLinksSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/RepoDistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/RepoDistSettingsSet.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageHeader.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/SpellChecker/EditNetSpell.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ConfiguredLinkDefinitionsProviderTests.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinksManagerIntegrationTests.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinksStorageIntegrationTests.cs
  UnitTests/GitCommands.Tests/Git/ExecutableExtensionsTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitCommands.Tests/Settings/BuildServerSettingsTests.cs
  UnitTests/GitCommands.Tests/Settings/SettingTests.cs
Due: production, tests

Rename argument allowCache (#11068)
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/ConfigFileSettingsCache.cs
  GitCommands/Settings/DistributedSettings.cs
  GitCommands/Settings/GitExtSettingsCache.cs
Due: production

Refactor: Remove unused property ConfigFile.Local (#11068)
  GitCommands/Config/ConfigFile.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/ConfigFileSettingsCache.cs
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.cs
  UnitTests/GitCommands.Tests/Config/ConfigFileTest.cs
  UnitTests/GitUI.Tests/CommandsDialogs/BrowseDialog/FormUpdateFixture.cs
Due: production, tests

Name arguments; use explicit types (#11068)
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/ConfigFileSettingsCache.cs
  GitCommands/Settings/DistributedSettings.cs
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/CommandsDialogs/BrowseDialog/FormUpdates.cs
  GitUI/CommandsDialogs/SettingsDialog/CommonLogic.cs
  UnitTests/GitCommands.Tests/Config/ConfigFileTest.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ConfiguredLinkDefinitionsProviderTests.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinksManagerIntegrationTests.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinksStorageIntegrationTests.cs
  UnitTests/GitCommands.Tests/Git/ExecutableExtensionsTests.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitCommands.Tests/Settings/BuildServerSettingsTests.cs
  UnitTests/GitCommands.Tests/Settings/SettingTests.cs
  UnitTests/GitUI.Tests/CommandsDialogs/BrowseDialog/FormUpdateFixture.cs
Due: production, tests

Declare SettingsSets as readonly record struct (#11068)
  GitUI/CommandsDialogs/SettingsDialog/CommonLogic.cs
  GitUI/CommandsDialogs/SettingsDialog/ConfigFileSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/ConfigFileSettingsSet.cs
  GitUI/CommandsDialogs/SettingsDialog/DistributedSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/DistributedSettingsSet.cs
Due: production

SettingsPageHeader: Rename arrow labels; remove TabIndex (#11068)
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageHeader.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageHeader.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageHeader.resx
Due: production

Add "reset to default" button
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

Mark CommonTestUtils as "not a test project/container"
  UnitTests/CommonTestUtils/CommonTestUtils.csproj
Due: tests

Mark CommonTestUtils as "not a test project/container" (#11081)
  UnitTests/CommonTestUtils/CommonTestUtils.csproj
Due: tests

Auto-set GE as editor only in current environment
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
  GitUI/CommandsDialogs/SettingsDialog/CommonLogic.cs
Due: production

Auto-set GE as editor only in current environment (#11053)
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
  GitUI/CommandsDialogs/SettingsDialog/CommonLogic.cs
Due: production

GitFlow plugin exception if no head
  Plugins/GitFlow/GitFlowForm.cs
Due: production

Sign contributors.txt
  contributors.txt
Due: none

Sign contributors.txt (#11090)
  contributors.txt
Due: none

Revert "Add "reset to default" button"
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

fixup! changeNoMerge to HideMerge
  GitCommands/Settings/AppSettings.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_expected.verified.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.FilterInfo_ctor_with_Raw_expected.verified.txt
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

fixup! Show only first parent
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
Due: production

GitFlow plugin exception if no head (#11089)
  Plugins/GitFlow/GitFlowForm.cs
Due: production
