Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

squash! BlameControl: Add tests for goto line
  GitUI/Editor/FileViewerInternal.cs
Due: production

squash! FileViewer Goto line: scroll to middle
  GitUI/Editor/FileViewerInternal.cs
Due: production

fixup! squash! BlameControl: Add tests for goto line
  GitUI/Editor/FileViewerInternal.cs
Due: production

Offload refs and revision loading to background thread
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Add git stash --staged (#9848)
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/GitUICommands.cs
  GitUI/Translation/English.xlf
Due: production

RevisionGrid: Use Hotkeys for navigation
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Blame: Start on line also when control already exists (#9805)
  GitCommands/CommitData.cs
  GitCommands/CommitDataManager.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/UserControls/BlameControl.cs
  ResourceManager/CommitDataRenders/CommitDataHeaderRenderer.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
Due: production, tests

Separate GetRefs() from RevisionReader
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Separate GetRefs() from RevisionReader
  GitCommands/RevisionReader.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Avoid async from async
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! more async
  GitCommands/Git/GitRefName.cs
  GitCommands/RevisionReader.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
Due: production, tests

fixup! review comments
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! document spinners, show (async) text spinner
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! Translation update after changed name of control
  GitUI/Translation/English.xlf
Due: production

fixup! test failures
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! simplify UpdateSelectedRef
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

FileTree: Goto line in Blame from RevDiff
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

FileTree: Goto line in FileTree Blame from RevDiff (#9842)
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

fixup! doc, navigationhistory
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Tests: Recreate RefRepos if reset fails
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCloneTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormEditorTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormInitTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormPullTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormPushTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormRebaseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPageTests.NoPlugins.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPageTests.WithPlugins.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitCommands.Tests/CommitMessageManagerTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormOpenDirectoryTests.cs
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
Due: tests

Disable unstable test (#9856)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormEditorTests.cs
Due: tests

FileHistory mode at browse startup
  GitUI/CommandsDialogs/FormBrowse.BrowseArguments.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
Due: production

FileHistory mode at browse startup (#9862)
  GitUI/CommandsDialogs/FormBrowse.BrowseArguments.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
Due: production

Add diff group with changes to default branch of default remote
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! Add diff group with changes to default branch of default remote
  GitCommands/Git/GitModule.cs
Due: production

IndexWatcher: Use for refresh icon only
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/IndexWatcher.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

RevGrid: Show popup when a revision is not in the revision grid
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/HelperDialogs/FormChooseCommit.cs
  GitUI/MessageBoxes.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/BlameControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

RevGrid: Show popup when a revision is not in the revision grid (#9833)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/HelperDialogs/FormChooseCommit.cs
  GitUI/MessageBoxes.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/BlameControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

IndexWatcher: Use for refresh icon only (#9871)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/IndexWatcher.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

IsTextEditKey: Add missing hotkeys combined with Control
  ResourceManager/GitExtensionsControl.cs
Due: production

RevisionDiffControl: Add SelectFirstGroupChanges hotkey
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

Hardcode Ctrl+A handling for RevisionGridControl
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

Add SelectNextForkPointAsDiffBase hotkey
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

RefreshGrid: async reading refs and logs in parallel
  GitCommands/Git/GitRefName.cs
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormBrowse.InitCommitDetails.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
Due: production, tests

RefreshGrid: async reading refs and logs in parallel (#9864)
  GitCommands/Git/GitRefName.cs
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/FormBrowse.InitCommitDetails.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
Due: production, tests
