Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Separate the GE "blamehistory" and "filehistory" commands
  GitUI/Commands/FileHistoryGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Separate the GE "commit" command
  GitUI/Commands/CommitGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "viewdiff" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/ViewDiffGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "checkout" and "checkoutbranch" commands
  GitUI/Commands/CheckoutGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "settings" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/SettingsGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "pull" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/PullGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "init" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/InitGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "openrepo" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "uninstall" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/UninstallGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "formatpatch" command
  GitUI/Commands/FormatPatchGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "cleanup" command
  GitUI/Commands/CleanupGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "revert" and "reset" commands
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/ResetGitExtensionCommand.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Separate the GE "remotes" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/RemotesGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "fileeditor" command
  GitUI/Commands/FileEditorGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Separate the GE "viewpatch" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/ViewPatchGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "add" and "addfiles" commands
  GitUI/Commands/AddFilesGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "mergeconflicts" and "mergetool" commands
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/MergeToolGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "tag" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/TagGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "stash" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/StashGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "cherry" command
  GitUI/Commands/CherryGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "push" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/PushGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "difftool" command
  GitUI/Commands/DifftoolGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Separate the GE "branch" command
  GitUI/Commands/BranchGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE "gitignore" command
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/Commands/GitIgnoreGitExtensionCommand.cs
  GitUI/GitUICommands.cs
Due: production

Separate the GE commandline help command
  GitExtensions/Program.cs
  GitUI/Commands/CommandlineHelpGitExtensionCommand.cs
  GitUI/Commands/GitExtensionCommandFactory.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  UnitTests/GitUI.Tests/GitUICommands/NormalizeFileNameTests.cs
Due: production, tests

RangeDiff: Commit count in name
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

RangeDiff: Commit count in name (#8628)
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

Default debug startup arguments
  GitExtensions/GitExtensions.csproj
  GitExtensions/Properties/launchSettings.json
Due: none

FormResetAnotherBranch: display local tracking branches first
  GitCommands/Git/GitRef.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  Plugins/GitUIPluginInterfaces/IGitRef.cs
  UnitTests/GitCommands.Tests/Git/GitRefTests.cs
Due: production, tests

Interactive rebase: Highlight 4 byte sha
  GitUI/Editor/RebaseTodoHighlightingStrategy.cs
Due: production

Gitmodule compiled
  GitCommands/Git/GitModule.cs
Due: production

Submodule context menus: Only show if dir exists
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

Add paddings and borders for panels
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FullBleedTabControl.cs
Due: production

Sign CLA
  contributors.txt
Due: none

Sign CLA (#8657)
  contributors.txt
Due: none

Remove support for UTF-7
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/FormAvailableEncodings.cs
Due: production

fixup! Remove support for UTF-7
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/FormAvailableEncodings.cs
Due: production

Rebase commit grid adjustments...
  GitCommands/Git/GitModule.cs
  GitCommands/Patches/PatchFile.cs
  GitUI/CommandsDialogs/FormRebase.Designer.cs
  GitUI/GitUICommands.cs
  GitUI/UserControls/PatchGrid.Designer.cs
  GitUI/UserControls/PatchGrid.cs
  GitUI/UserControls/PatchGrid.resx
Due: production

Store and restore skipped commits/patches
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/UserControls/PatchGrid.cs
Due: production
