Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Restore splitter persistence (#9102)
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/SplitterManager.cs
  UnitTests/GitUI.Tests/SplitterManagerTest.cs
Due: production, tests

Fix stage/unstage implementations
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormCommitTests.cs
  UnitTests/CommonTestUtils/MockExecutable.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Restore splitter persistence
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/SplitterManager.cs
  UnitTests/CommonTestUtils/MemorySettings.cs
  UnitTests/CommonTestUtils/MemorySettingsCache.cs
  UnitTests/GitUI.Tests/SplitterManagerTest.cs
Due: production, tests

Update translations and changelog
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/Turkish.Plugins.xlf
  GitUI/Translation/Turkish.xlf
Due: production

Let installer not activate disabled telemetry
  Bin/set-telemetry.ps1
Due: none

Install Newtonsoft.Json.dll not only for plugins
  Setup/Product.wxs
Due: none

Workaround for splitter persistence in FormBrowse
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/SplitterManager.cs
Due: production

Install Newtonsoft.Json.dll not only for plugins (#9124)
  Setup/Product.wxs
Due: none

Workaround for splitter persistence in FormBrowse (#9125)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/SplitterManager.cs
Due: production

Let installer not activate disabled telemetry (#9123)
  Bin/set-telemetry.ps1
Due: none

Install Newtonsoft.Json.dll not only for plugins (#9129)
  Setup/Product.wxs
Due: none

Quote path for opening with Explorer.exe
  GitUI/OsShellUtil.cs
Due: production

Use fixed culture en-US in SerializableExceptionTests
  UnitTests/BugReporter.Tests/SerializableExceptionTests.cs
Due: tests

Send GitHub authentication when fetching diff data
  Plugins/GitHub3/GitHubPullRequest.cs
Due: production

Use fixed culture en-US in SerializableExceptionTests (#9132)
  UnitTests/BugReporter.Tests/SerializableExceptionTests.cs
Due: tests

Update README
  README.md
Due: none

FileViewer: Remove decoration of default encoding
  GitUI/Editor/FileViewer.cs
Due: production

fix: position setting window always in the window centerscreen
  GitUI/CommandsDialogs/FormSettings.Designer.cs
Due: production

Move detached settings from RepoDistSettings
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/DetachedServerSettings.cs
  GitCommands/Settings/RepoDistSettings.cs
  GitCommands/Settings/SettingsSourceExtension.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/SpellChecker/EditNetSpell.cs
  Plugins/GitUIPluginInterfaces/Settings/IDetachedSettings.cs
Due: production

Fix settings saving for "Detailed" section by selected setting source
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/DetailedSettings.cs
  GitCommands/Settings/RepoDistSettings.cs
  GitCommands/Settings/SettingsSourceExtension.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DetailedSettingsPage.cs
  Plugins/GitUIPluginInterfaces/Settings/IDetailedSettings.cs
Due: production

Eliminate integration server settings dependency from RepoDistSettings
  GitCommands/Settings/BuildServerSettings.cs
  GitCommands/Settings/RepoDistSettings.cs
  GitCommands/Settings/SettingsSourceExtension.cs
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/CommandsDialogs/BuildReportTabPageExtension.cs
  GitUI/CommandsDialogs/SettingsDialog/AutoLayoutSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPage.cs
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  Plugins/GitUIPluginInterfaces/Settings/IBuildServerSettings.cs
Due: production

FileViewer: Remove decoration of default encoding (#9141)
  GitUI/Editor/FileViewer.cs
Due: production

sign off from @MrJithil
  contributors.txt
Due: none

sign off from @MrJithil (#9148)
  contributors.txt
Due: none

View changed submodule could hang GE
  GitUI/GitUIExtensions.cs
Due: production

fixup! View changed submodule could hang GE
  GitUI/GitUIExtensions.cs
Due: production

Add BugReporter.exe to installer
  Setup/Product.wxs
Due: none

Update contributors.txt
  contributors.txt
Due: none

Update contributors.txt (#9170)
  contributors.txt
Due: none

Stash: Refresh grid also after partial operations
  GitUI/GitUICommands.cs
Due: production

Do not attempt to switch to a not created worktree
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Add BugReporter.exe to installer (#9167)
  Setup/Product.wxs
Due: none

Refactor ExternalLinksManager class
  GitCommands/ExternalLinks/ExternalLinksManager.cs
  GitCommands/ExternalLinks/ExternalLinksStorage.cs
  GitCommands/Settings/RepoDistSettingsSet.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/RevisionLinksSettingsPage.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinksManagerIntegrationTests.cs
Due: production, tests

Refactor RepoDistSettingsSet class
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/RepoDistSettingsSet.cs
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
  GitUI/CommandsDialogs/SettingsDialog/CommonLogic.cs
  GitUI/CommandsDialogs/SettingsDialog/RepoDistSettingsPage.cs
Due: production

Ignore failure getting Process.Id for ShellExecute
  GitCommands/Git/Executable.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
