Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

perfs(FormPush): Load local branches combobox on demand
  GitUI/CommandsDialogs/FormPush.Designer.cs
  GitUI/CommandsDialogs/FormPush.cs
Due: production

perfs(FormPush): Improve performance of adding items in ComboBoxes
  GitUI/CommandsDialogs/FormPush.cs
Due: production

Fixup limits by RevisionGraph.Count (#11515)
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Simplify RevisionDataGridView.LoadingCompleted (#11516)
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Clarify revision loading
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

fixup! Clarify revision loading
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.BackgroundUpdater.cs
Due: production

FileViewer: Shortcuts missing in context menu
  GitUI/Editor/FileViewer.cs
Due: production

Add Notes column.
  GitCommands/CommitDataManager.cs
  GitCommands/RevisionReader.cs
  GitCommands/Settings/AppSettings.cs
  GitExtUtils/GitUI/UIExtensions.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/NotesColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  Plugins/GitUIPluginInterfaces/CommitData.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  ResourceManager/CommitDataRenders/CommitDataBodyRenderer.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=empty_commit.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=multi_pathfilter.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=no_subject.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=normal.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=notes_data.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=notes_empty.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=reflogselector.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=reflogselector_empty.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=simple_pathfilter.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=subject_no_body.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=subject_starts_with_newline.verified.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test_testName=vertical_tab.verified.json
  UnitTests/GitCommands.Tests/TestData/RevisionReader/notes_data.bin
  UnitTests/GitCommands.Tests/TestData/RevisionReader/notes_empty.bin
  UnitTests/GitExtUtils.Tests/UiExtensionsTests.cs
Due: production, tests

perfs: better perf for ObjectId.ToShortString()
  Plugins/GitUIPluginInterfaces/ObjectId.cs
  UnitTests/GitCommands.Tests/Git/ObjectIdTests.cs
Due: production, tests

Check for cancellation before accessing non-locals (#11482)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Do not straighten graph if it is too wide
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphConfig.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Do not update graph cache if row unavailable
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

FileViewer: Shortcuts missing in context menu (#11524)
  GitUI/Editor/FileViewer.cs
Due: production

FileViewer: ShowSyntaxHighlighting hotkey and context menu
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
Due: production

amend! FileViewer: ShowSyntaxHighlighting hotkey and context menu
  GitUI/Editor/FileViewer.Designer.cs
Due: production

Do not update graph cache if row unavailable (#11529)
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

amend! FileViewer: ShowSyntaxHighlighting hotkey and context menu
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
Due: production

fixup! Do not straighten graph if it is too wide
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphConfig.cs
Due: production

RevisionFileTreeControl: Ignore ReloadHotkeys
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

FileViewer: ShowSyntaxHighlighting hotkey and context menu (#11530)
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
Due: production

amend! RevisionFileTreeControl: Ignore ReloadHotkeys
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Editor/FileViewer.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

amend! RevisionFileTreeControl: Ignore ReloadHotkeys
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitModuleControl.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  ResourceManager/GitExtensionsControl.cs
Due: production

amend! RevisionFileTreeControl: Ignore ReloadHotkeys
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageBase.cs
  GitUI/GitModuleControl.cs
  ResourceManager/GitExtensionsControl.cs
Due: production

cancellationToken for Git patch commands
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SubmoduleHelpers.cs
  GitUI/GitUIExtensions.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production

chore(sln): nuget packages file has been renamed
  GitExtensions.sln
Due: none

.gitignore: Add CodeRush hidden folder
  .gitignore
Due: none

chore: add "Commit dialog" debug target
  GitExtensions/Properties/launchSettings.json
Due: none

Splitters: Fix crash when restoring size
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

fixup! cancellationToken for Git patch commands
  GitCommands/Git/GitModule.cs
  GitUI/GitUIExtensions.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production

cancellationToken for Git patch commands (#11535)
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SubmoduleHelpers.cs
  GitUI/GitUIExtensions.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
Due: production

Diff for filtered file between selected commits
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Signed The Developer Certificate of Origin
  contributors.txt
Due: none

Updated text to not include "folders" since it currently does not work with folders
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
Due: production

Updated localization
  GitUI/Translation/English.xlf
Due: production

Create .git/info/ before creating exclude file (#11442)
  GitUI/CommandsDialogs/FormAddToGitIgnore.cs
  GitUI/CommandsDialogs/FormGitIgnore.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
