Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

FormCleanupRepository: unset form AcceptButton
  GitUI/CommandsDialogs/FormCleanupRepository.Designer.cs
Due: production

FormCleanupRepository: unset form AcceptButton (#11181)
  GitUI/CommandsDialogs/FormCleanupRepository.Designer.cs
Due: production

Fix checkbox order
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
Due: production

Fix tab order
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
Due: production

Update cherrypick dialog (#11158)
  GitUI/CommandsDialogs/FormCherryPick.Designer.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
  GitUI/CommandsDialogs/FormCherryPick.resx
  GitUI/Translation/English.xlf
Due: production

Signed contributors.txt
  contributors.txt
Due: none

Signed contributors.txt (#11184)
  contributors.txt
Due: none

Allow configuring editor for local files
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.cs
  GitUI/GitUICommands.cs
  GitUI/Translation/English.xlf
Due: production

Gitlab integration settings control (#11104)
  GitExtensions.sln
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/GitlabPipeline.cs
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.Designer.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.resx
Due: production

Fixed paging loading (#11104)
  GitExtensions/Properties/launchSettings.json
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/GitlabPipeline.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/PagedResponse.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/ProjectGitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
Due: production

Added Gitlab piplines plugin draft (#11104)
  GitExtensions.sln
  GitUI/GitModuleForm.resx
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/Settings/SettingsUserControl.Designer.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/GitlabPipeline.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/PagedResponse.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/ProjectGitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/GitExtensions.Plugins.GitlabIntegration.csproj
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabIntegrationMetadataAttribute.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.Designer.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.resx
  Plugins/BuildServerIntegration/TeamCityIntegration/Settings/TeamCityBuildChooser.resx
  ResourceManager/GitExtensionsFormBase.resx
Due: production

Refactor Gitlab api client + unit tests (#11104)
  GitExtensions.sln
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClientBase.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClientFactory.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/GitlabPipeline.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/PagedResponse.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/ProjectGitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/BuildInfoEqualityComparer.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabAdapterTestData.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabAdapterTests.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabIntegration.Tests.csproj
Due: production, tests

Sign contributors agreement (#11104)
  contributors.txt
Due: none

Fix pipeline status update, added unit test (#11104)
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabAdapterTestData.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabAdapterTests.cs
Due: production, tests

Fix Gitlab adapter unit tests (#11104)
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabAdapterTestData.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabAdapterTests.cs
Due: tests

Fix build order (#11104)
  GitExtensions.sln
Due: none

Improve pipelines download when total pages is not presented (#11104)
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClientBase.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/PagedResponse.cs
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
Due: production

update GitlabRemoteParserTests (#11104)
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabRemoteParserTests.cs
Due: tests

Added cancellation token to API client (#11104)
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClientBase.cs
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
Due: production

Fixed settings control loading (#11104)
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.cs
Due: production

Code review fixes (#11104)
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.Designer.cs
Due: production

Added English translations (#11104)
  GitUI/Translation/English.Plugins.xlf
Due: production

Added pages limit setting for Gitlab adapter (#11104)
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabAdapterTests.cs
Due: production, tests

Update Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/GitlabPipeline.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/GitlabPipeline.cs
Due: production

Rollback accidentally touched files (#11104)
  GitExtensions/Properties/launchSettings.json
  GitUI/GitModuleForm.resx
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/Settings/SettingsUserControl.Designer.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/Settings/SettingsUserControl.resx
  Plugins/BuildServerIntegration/TeamCityIntegration/Settings/TeamCityBuildChooser.resx
  ResourceManager/GitExtensionsFormBase.resx
Due: production

Added installer component (#11104)
  Setup/Product.wxs
Due: none

Fixed project id loading from settings (#11104)
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.cs
Due: production

revert GitExtensions.sln (#11104)
  GitExtensions.sln
Due: none

Code review fixes (#11104)
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClientFactory.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/GitlabPipeline.cs
  Plugins/BuildServerIntegration/GitlabIntegration/GitlabAdapter.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.Designer.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabAdapterTestData.cs
Due: production, tests

settings control improvements (#11104)
  GitUI/Translation/English.Plugins.xlf
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClient.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/GitlabApiClientBase.cs
  Plugins/BuildServerIntegration/GitlabIntegration/ApiClient/Models/GitlabProject.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabRemoteParser.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.Designer.cs
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.cs
  UnitTests/Plugins/BuildServerIntegration/GitlabIntegration.Tests/GitlabRemoteParserTests.cs
Due: production, tests

Added Gitlab plugin to installer (#11104)
  Setup/Product.wxs
Due: none

Set default Gitlab pipelines pages limit as 0 (#11104)
  Plugins/BuildServerIntegration/GitlabIntegration/Settings/GitlabSettingsUserControl.cs
Due: production

Added password text box to remote console window
  GitCommands/Git/EnvironmentConfiguration.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/HelperDialogs/FormRemoteProcess.cs
  GitUI/HelperDialogs/FormStatus.Designer.cs
  GitUI/HelperDialogs/FormStatus.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
  GitUI/UserControls/ConsoleOutputControl.cs
  GitUI/UserControls/EditboxBasedConsoleOutputControl.cs
Due: production

Goto current line when opening internal text editor
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormEditor.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Editor/FileViewerInternal.cs
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormEditorTests.cs
Due: production, tests

fixup! review comment for setter
  GitUI/CommandsDialogs/FormEditor.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Editor/FileViewerInternal.cs
Due: production

fixup! review comment, use line in ViewAsync
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormEditor.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Editor/FileViewerInternal.cs
Due: production

fixup! line when opening editor from blame in revdiff
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Better report test hangs
  UnitTests/CommonTestUtils/ConfigureJoinableTaskFactoryAttribute.cs
  appveyor.yml
Due: tests

Better report test hangs (#11192)
  UnitTests/CommonTestUtils/ConfigureJoinableTaskFactoryAttribute.cs
  appveyor.yml
Due: tests

Cancel loading custom diff/merge tools when the control is diposed
  GitCommands/CustomDiffMergeToolCache.cs
  GitUI/CustomDiffMergeToolProvider.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
