Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Unneeded rev-list for submodule status
  GitCommands/Git/GitCommandHelpers.cs
Due: production

git-diff override diff.mnemonicprefix=true
  GitExtUtils/GitCommandConfiguration.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Ignore inaccessible file in GetSelectedBranchFast
  GitCommands/Git/GitModule.cs
Due: production

Correct filemode for source files
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConfirmationsSettingsPage.Designer.cs
Due: production

Reset RevisionGridControl.InitialObjectId after use
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Toggle RevisionGrid selection if Ctrl is pressed
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Minor fixup NativeTreeViewExplorerNavigationDecorator
  GitUI/UserControls/NativeTreeViewExplorerNavigationDecorator.cs
Due: production

Fix up check for last visible row in SetSelectedIndex
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Respect Casing In SaveRemote
  GitCommands/Remotes/ConfigFileRemoteSettingsManager.cs
Due: production

Prevent CaseInsensitive-AutoComplete on Remote URL
  GitUI/CommandsDialogs/FormRemotes.Designer.cs
  GitUI/UserControls/CaseSensitiveComboBox.cs
Due: production

Update contributors.txt
  contributors.txt
Due: none

Update contributors.txt (#8062)
  contributors.txt
Due: none

Align folder/copy for submodule
  GitUI/CommandsDialogs/FormCommit.Designer.cs
Due: production

Avoid pointless new GitRevision for
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Toggle selection from Left Panel only
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/IBrowseRepo.cs
Due: production

Include PluginManager into portable artifact
  GitExtensions/Project.Publish.targets
  Setup/Setup.wixproj
  appveyor.yml
Due: none

Prepare release 3.4
  .tools/transifex/DownloadTransifexTranslations.ps1
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/Czech.Plugins.xlf
  GitUI/Translation/Czech.xlf
  GitUI/Translation/Dutch.Plugins.xlf
  GitUI/Translation/Dutch.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Latvian.xlf
  GitUI/Translation/Polish.Plugins.xlf
  GitUI/Translation/Polish.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Portuguese (Brazil).xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/en_pseudo.Plugins.xlf
  GitUI/Translation/en_pseudo.xlf
  Setup/Prepare-Release.ps1
  Setup/Product.wxs
  appveyor.yml
Due: production

Signoff is made optional when applying patch (issue #8055).
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormApplyPatch.Designer.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
  contributors.txt
Due: production, tests

Catch all types of exception thrown by ReadAllText
  GitCommands/Git/GitModule.cs
Due: production

Ignore all types of exception thrown by ReadAllText (#8075)
  GitCommands/Git/GitModule.cs
Due: production

Ignore all types of exception thrown by ReadAllText (#8080)
  GitCommands/Git/GitModule.cs
Due: production

fix app crash due System.Reactive x-thread access
  GitUI/UserControls/FileStatusList.cs
Due: production

Update version
  appveyor.yml
Due: none

fix app crash due System.Reactive x-thread access (#8102)
  GitUI/UserControls/FileStatusList.cs
Due: production

SettingsDialog: display info icon next to some settings with tooltips
  GitUI/CommandsDialogs/SettingsDialog/Pages/AdvancedSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AdvancedSettingsPage.resx
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.cs
  GitUI/UserControls/Settings/SettingsCheckBox.Designer.cs
  GitUI/UserControls/Settings/SettingsCheckBox.cs
  GitUI/UserControls/Settings/SettingsCheckBox.resx
Due: production

Limit number of diff revisions
  GitUI/UserControls/FileStatusList.cs
Due: production

Improve tooltip for diff selection
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.cs
  GitUI/Translation/English.xlf
Due: production

Refactor: Align FirstParentId name
  GitCommands/CommitData.cs
  GitCommands/CommitDataManager.cs
  GitCommands/Git/GitRevision.cs
  GitUI/GitUIExtensions.cs
  GitUI/RevisionDiffInfoProvider.cs
  GitUI/UserControls/BlameControl.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  ResourceManager/CommitDataRenders/CommitDataHeaderRenderer.cs
  UnitTests/GitCommands.Tests/CommitDataManagerTest.cs
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererIntegrationTests.cs
Due: production, tests

Add extension methods for FileStatusItem
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/UserControls/FileStatusItemExtensions.cs
  GitUI/UserControls/FileStatusList.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FileStatusListTests.cs
Due: production, tests

RevDiff: FirstRevision is null for the initial commit
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Use "--root" for first revision if null
  GitUI/RevisionDiffInfoProvider.cs
  UnitTests/GitUI.Tests/Helpers/DiffKindRevisionTests.cs
Due: production, tests

Fixup NREs for user scripts without icon
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/Script/ScriptInfo.cs
Due: production

Display shortcuts assigned to scripts
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
Due: production

Fixup condition for showing scripts args cheat sheet
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
Due: production
