Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Remove bad shortcut association (rebase on pull-rebase)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

PerformRefreshRevisions: Cancel and restart reload
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

fixup! PerformRefreshRevisions: Cancel and restart reload
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Remove bad shortcut association (rebase on pull-rebase) (#11408)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

UseWaitCursor when waiting for Impact Graph results (#11409)
  Plugins/Statistics/GitImpact/ImpactControl.cs
Due: production

Fix failure to add repository path as safe directory
  GitUI/NBugReports/BugReportInvoker.cs
Due: production

Added name to contributors.txt
  contributors.txt
Due: none

Add bdukes to contributors list
  contributors.txt
Due: none

Remove redundant GitUICommands.GitModule
  GitCommands/Git/Tag/GitTagController.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/FormReflog.cs
  GitUI/CommandsDialogs/FormSparseWorkingCopyViewModel.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.cs
  GitUI/GitUICommands.cs
  GitUI/LeftPanel/RepoObjectsTree.ContextActions.cs
  GitUI/ScriptsEngine/ScriptOptionsParser.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
  Plugins/BackgroundFetch/BackgroundFetchPlugin.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/GitHub3/GitHub3Plugin.cs
  Plugins/GitUIPluginInterfaces/GitUIEventArgs.cs
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
  ResourceManager/GitPluginBase.cs
  UnitTests/GitCommands.Tests/Git/Tag/GitTagControllerTest.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
  UnitTests/GitUI.Tests/Script/ScriptsManagerScriptRunnerTests.cs
Due: production, tests

Remove redundant GitUICommands.GitModule (#11416)
  GitCommands/Git/Tag/GitTagController.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/FormReflog.cs
  GitUI/CommandsDialogs/FormSparseWorkingCopyViewModel.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.cs
  GitUI/GitUICommands.cs
  GitUI/LeftPanel/RepoObjectsTree.ContextActions.cs
  GitUI/ScriptsEngine/ScriptOptionsParser.cs
  GitUI/ScriptsEngine/ScriptsManager.ScriptRunner.cs
  GitUI/ScriptsEngine/ScriptsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/ScriptEngine/ScriptRunnerTests.cs
  Plugins/BackgroundFetch/BackgroundFetchPlugin.cs
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
  Plugins/GitHub3/GitHub3Plugin.cs
  Plugins/GitUIPluginInterfaces/GitUIEventArgs.cs
  Plugins/GitUIPluginInterfaces/IGitUICommands.cs
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
  ResourceManager/GitPluginBase.cs
  UnitTests/GitCommands.Tests/Git/Tag/GitTagControllerTest.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
  UnitTests/GitUI.Tests/Script/ScriptsManagerScriptRunnerTests.cs
Due: production, tests

UseWaitCursor when waiting for Impact Graph results (#11409) (#11410)
  Plugins/Statistics/GitImpact/ImpactControl.cs
  contributors.txt
Due: production

FormResetAnotherBranch: if there is only 1 similar remote, select it by default
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
Due: production

FormResetAnotherBranch: improve list available
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
Due: production

FormResetAnotherBranch: open dropdown when starting interacting with it
  GitUI/HelperDialogs/FormResetAnotherBranch.Designer.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
Due: production

Use always the same font that support unicode
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
Due: production

CI: more meaningful icon instead of displaying a circle
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/BuildInfo.cs
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/ApprovedFiles/AppVeyorAdapterTests.Should_return_a_build_Info_When_Json_content_is_the_one_of_a_master_build.verified.txt
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/ApprovedFiles/AppVeyorAdapterTests.Should_return_a_build_Info_When_Json_content_is_the_one_of_a_pull_request_build.verified.txt
Due: production, tests

Commit: Add Commit message metadata provider
  GitUI/AutoCompletion/CommitMessageMetadataProvider.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Autocomplete: reduce word in completion
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Due: production

EditNetSpell: Automatically close the autocompletion popup
  GitUI/SpellChecker/EditNetSpell.cs
  GitUI/SpellChecker/SpellCheckerHelper.cs
Due: production

FormResetAnotherBranch: if there is only 1 similar remote, select it … (#11390)
  GitUI/HelperDialogs/FormResetAnotherBranch.Designer.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
Due: production

CI: more meaningful icon instead of displaying a circle (#10893)
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/BuildInfo.cs
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/ApprovedFiles/AppVeyorAdapterTests.Should_return_a_build_Info_When_Json_content_is_the_one_of_a_master_build.verified.txt
  UnitTests/Plugins/BuildServerIntegration/AppVeyorIntegration.Tests/ApprovedFiles/AppVeyorAdapterTests.Should_return_a_build_Info_When_Json_content_is_the_one_of_a_pull_request_build.verified.txt
Due: production, tests

Use CPM
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  Externals/Directory.Build.props
  Externals/Directory.Build.targets
  GitExtensions.sln
  GitExtensions/GitExtensions.csproj
  GitExtensions/Project.Publish.targets
  Packages.props
  appveyor.yml
  codecov.yml
  scripts/Tests.targets
  scripts/native.proj
Due: none

Use CPM (#11420)
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  Externals/Directory.Build.props
  Externals/Directory.Build.targets
  GitExtensions.sln
  GitExtensions/GitExtensions.csproj
  GitExtensions/Project.Publish.targets
  Packages.props
  appveyor.yml
  codecov.yml
  scripts/Tests.targets
  scripts/native.proj
Due: none

Pull PluginManager from NuGet instead of AppVeyor
  Directory.Packages.props
  GitExtensions/GitExtensions.csproj
  GitExtensions/Project.Publish.targets
  Setup/Setup.wixproj
  appveyor.yml
  scripts/Download-PluginManager.ps1
Due: none

Plugins: Fail to load a plugin no more prevent loading of all others
  GitUI/Plugin/FailedPluginWrapper.cs
  GitUI/Plugin/PluginRegistry.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Ignore fetch/push options in GetRemotesAsync
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

fixup! Ignore fetch/push options in GetRemotesAsync
  GitCommands/Git/GitModule.cs
Due: production

Ignore fetch/push options in GetRemotesAsync (#11425)
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Ignore fetch/push options in RemoteVerboseLineRegex
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

fixup! Ignore fetch/push options in RemoteVerboseLineRegex
  GitCommands/Git/GitModule.cs
Due: production

Plugins: Fail to load a plugin no more prevent loading of all others (#11412)
  GitUI/Plugin/FailedPluginWrapper.cs
  GitUI/Plugin/PluginRegistry.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Settings: refactor getting true/false settings
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/ConfigFileSettingsCache.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigAdvancedSettingsPage.cs
  Plugins/GitUIPluginInterfaces/IConfigFile.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  Plugins/GitUIPluginInterfaces/ISettingsValueGetter.cs
Due: production

Use RebaseOptions
  GitCommands/Git/Commands.Arguments.cs
  GitCommands/Git/Commands.RebaseOptions.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
Due: production, tests

Form Rebase: Add rebase dependent branches `--update-refs` rebase option
  GitCommands/Git/Commands.Arguments.cs
  GitUI/CommandsDialogs/FormRebase.Designer.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/Translation/English.xlf
  UnitTests/GitCommands.Tests/Git/CommandsTests.cs
Due: production, tests

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
