Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

range-diff: Handle artificial commits
  GitCommands/Git/GitModule.cs
  GitUI/GitUIExtensions.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

range-diff: Handle artificial commits (#9762)
  GitCommands/Git/GitModule.cs
  GitUI/GitUIExtensions.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

Settings could not be read from \\wsl$
  GitCommands/Settings/GitExtSettingsCache.cs
Due: production

WSL: Remotes for filepaths could not be saved
  GitCommands/Remotes/ConfigFileRemoteSettingsManager.cs
Due: production

WSL: Git internal paths were incorrectly resolved
  GitCommands/Git/GitModule.cs
  GitCommands/PathUtil.cs
Due: production

WSL: force-push was inserted incorrectly (#9760)
  GitUI/CommandsDialogs/FormPush.cs
Due: production

Fix #8918: Mergetool and difftool commands are now populated if paths are manually configured.
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
Due: production

Fix #8918: modifications after code review
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
Due: production

Fix #8918: modifications after code review - command is now altered only for built-in tools
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
Due: production

signed CLA
  contributors.txt
Due: none

signed CLA (#9781)
  contributors.txt
Due: none

Fix #8918: modifications after code review - reordered entries from designer, reduced nesting in methods.
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
Due: production

Load app colors from CSS themes
  GitExtensions/Program.cs
  GitUI/Theming/LocalHook.cs
  GitUI/Theming/ThemeLoader.cs
  GitUI/Theming/ThemeModule.cs
  Packages.props
  UnitTests/GitUI.Tests/Theming/ThemeLoaderTests.cs
Due: production, tests

Load app colors from CSS themes (#9784)
  GitExtensions/Program.cs
  GitUI/Theming/LocalHook.cs
  GitUI/Theming/ThemeLoader.cs
  GitUI/Theming/ThemeModule.cs
  Packages.props
  UnitTests/GitUI.Tests/Theming/ThemeLoaderTests.cs
Due: production, tests

Mergetool and difftool commands are now populated if paths are manually configured (#9780)
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
Due: production

PostRepository change: Shared GitRefs()
  GitUI/BranchTreePanel/RepoObjectsTree.BranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/FilteredGitRefsProvider.cs
  Plugins/GitUIPluginInterfaces/GitUIEventArgs.cs
  Plugins/GitUIPluginInterfaces/IFilteredGitRefsProvider.cs
  UnitTests/GitCommands.Tests/Git/FilteredGitRefsProviderTests.cs
Due: production, tests

PostRepository change: Shared GitRefs() (#9735)
  GitUI/BranchTreePanel/RepoObjectsTree.BranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/GitUIPluginInterfaces/FilteredGitRefsProvider.cs
  Plugins/GitUIPluginInterfaces/GitUIEventArgs.cs
  Plugins/GitUIPluginInterfaces/IFilteredGitRefsProvider.cs
  UnitTests/GitCommands.Tests/Git/FilteredGitRefsProviderTests.cs
Due: production, tests

Theming readme update
  GitUI/Themes/README.md
Due: production

FileHistory: Launch commandline in FormBrowse
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

fixup! FileHistory: Launch commandline in FormBrowse
  GitUI/GitUICommands.cs
Due: production

Do not report Git error for a command seemingly executed in the background
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
Due: production

Replace AppSettings.UseFastChecks with ShowGitStatusInBrowseToolbar
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/IndexWatcher.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Conemu 210912
  Packages.props
Due: none

Conemu 210912 (#9793)
  Packages.props
Due: none

fixup! Do not report Git error for a command seemingly executed in the background
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
Due: production

make ToolStripEx use ToolStripExSystemRenderer by default as before #9608
  GitExtUtils/GitUI/Theming/ThemeFix.cs
  GitExtUtils/GitUI/ToolStripExProfessionalRenderer.cs
  GitExtUtils/GitUI/ToolStripExSystemRenderer.cs
  GitExtUtils/GitUI/ToolStripExThemeAwareRenderer.cs
  GitExtUtils/GitUI/ToolStripExtensions.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

Theming readme update (#9787)
  GitUI/Themes/README.md
Due: production

Replace AppSettings.UseFastChecks with ShowGitStatusInBrowseToolbar (#9791)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/IndexWatcher.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

FileHistory: Launch commandline in FormBrowse (#9788)
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

Apply UseSystemRenderer to GitExtensionsFormBase inheritors
  ResourceManager/GitExtensionsFormBase.cs
Due: production

Mitigeate anchor bug in WinForms
  GitUI/CommandsDialogs/FormCreateBranch.Designer.cs
  GitUI/CommandsDialogs/FormPush.Designer.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/UserControls/BranchComboBox.Designer.cs
  GitUI/UserControls/BranchComboBox.cs
Due: production

Decrease CustomDiffMergeToolProvider start delay
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CustomDiffMergeToolProvider.cs
Due: production

follow up Flip the colors of the branches (ce45d0)
  GitUI/Themes/bright.css
  GitUI/Themes/dark.css
  GitUI/Themes/darksilver.css
Due: production

Support colorblind variation for default theme
  GitExtUtils/GitUI/Theming/AppColorDefaults.cs
  GitExtUtils/GitUI/Theming/Theme.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPageController.cs
  GitUI/Theming/ThemeModule.cs
  UnitTests/GitUI.Tests/CommandsDialogs/SettingsDialog/Pages/ColorsPageSettingsPageControllerTests.cs
Due: production, tests

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
