Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Adapt BugReportForm to different exception types
  GitUI/NBugReports/BugReportForm.Designer.cs
  GitUI/NBugReports/BugReportForm.cs
  GitUI/NBugReports/BugReporter.cs
  GitUI/Translation/English.xlf
Due: production

Handle errors accessing the amend state file
  GitCommands/CommitMessageManager.cs
  UnitTests/GitCommands.Tests/CommitMessageManagerTests.cs
Due: production, tests

squash! Report SaveBlobAs errors without crashing the app
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/FormVerify.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
Due: production

Report SaveBlobAs errors without crashing the app
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommandsDialogs/FormVerify.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/GitModuleControl.cs
  GitUI/GitModuleForm.cs
Due: production

Updated contributors.txt
  contributors.txt
Due: none

Updated contributors.txt (#9045)
  contributors.txt
Due: none

Straighten lanes
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphRowTests.cs
Due: production, tests

Clearer BuildOrderedRowCache loop; DebuggerDisplay
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRow.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphSegment.cs
Due: production

Use array instead of List<RevisionGraphRevision>
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Do not straighten if (expecting) too many lanes
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

Add LaneInfo class
  GitUI/UserControls/RevisionGrid/Columns/RevisionGraphColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Graph/LaneInfo.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphRevision.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphSegment.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: production, tests

Ensure lane colors are not equal to lane they are merged to
  GitUI/UserControls/RevisionGrid/Graph/LaneInfo.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraphLaneColor.cs
Due: production

Suppress ThrowIfNotOnUIThread for BugReportForm
  GitUI/GitExtensionsForm.cs
  GitUI/NBugReports/BugReportForm.cs
  ResourceManager/GitExtensionsControlInitialiser.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

fixup! Suppress ThrowIfNotOnUIThread for BugReportForm
  GitUI/GitExtensionsForm.cs
  GitUI/NBugReports/BugReportForm.cs
  ResourceManager/GitExtensionsControlInitialiser.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

Throw ExternalOperationException if RunBatchCommand fails
  GitCommands/Git/ExecutableExtensions.cs
  UnitTests/GitCommands.Tests/Git/ExecutableExtensionsTests.cs
Due: production, tests

Fix ColorSettingsPage.cs event handlers broken in fcdf2a8777e8755af3fcaa92c5a18b912bb7f729
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
Due: production

fix false positive "Restart needed" in ColorSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
Due: production

Color settings page events (#9053)
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
Due: production

squash! Suppress ThrowIfNotOnUIThread for BugReportForm
  GitUI/NBugReports/BugReporter.cs
  ResourceManager/GitExtensionsControlInitialiser.cs
Due: production

Added dialog to select empty commit behavior
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

English translation updated
  GitUI/Translation/English.xlf
Due: production

Added support for '--allow-empty' option in commit command
  GitCommands/Git/GitModule.cs
Due: production

rev-parse should use --quiet --verify
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Suppress "Theme not found" if setting is empty
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
Due: production

Factor out local ContainsSh in SolveLinuxToolsDir
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
Due: production

Do not reset a valid AppSettings.GitBinDir
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
Due: production

Do not scramble gitpath in SolveLinuxToolsDir
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
Due: production

Use correct setting in ExecutableExtensionsTests
  UnitTests/GitCommands.Tests/Git/ExecutableExtensionsTests.cs
Due: tests

fix tab control rendering issues with high dpi
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
Due: production

Revert "Fix tab control border in high dpi (#8815)"
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
  GitExtUtils/GitUI/Theming/TabControlRenderer.cs
  GitExtUtils/GitUI/Theming/ThemeFix.cs
  GitUI/Theming/Renderers/TabRenderer.cs
  GitUI/Theming/Win32ThemeHooks.cs
Due: production

review
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
  GitUI/UserControls/RevisionGrid/RevisionGridRefRenderer.cs
Due: production

fix inconsistent tab / tab page background color
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
Due: production

fix inconsistent selected tab header size in 200% DPI
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
Due: production

Color settings page events (#9053) (#9054)
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
Due: production

move theme-related logic to ColorsSettingsPageController
  GitCommands/Settings/AppSettings.cs
  GitExtUtils/GitUI/Theming/ThemeId.cs
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPage.resx
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPageController.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/IColorsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
  GitUI/GitUI.csproj.DotSettings
  GitUI/Theming/ThemeModule.cs
  GitUI/Theming/ThemeRepository.cs
Due: production

tests for ColorsSettingsPageController
  GitUI/Theming/ThemeModule.cs
  UnitTests/GitUI.Tests/CommandsDialogs/SettingsDialog/Pages/ColorsPageSettingsPageControllerTests.cs
Due: production, tests

Fix tab control flickering in dark theme (#9049)
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitExtUtils/GitUI/Theming/TabControlPaintContext.cs
  GitExtUtils/GitUI/Theming/TabControlRenderer.cs
  GitExtUtils/GitUI/Theming/ThemeFix.cs
  GitUI/Theming/Renderers/TabRenderer.cs
  GitUI/Theming/Win32ThemeHooks.cs
  GitUI/UserControls/RevisionGrid/RevisionGridRefRenderer.cs
Due: production
