Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

SidePanel: Context menu at no selection (#10340)
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

SidePanel: AheadBehind null check (#10339)
  GitCommands/Git/AheadBehindDataProvider.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

GitFlow: Do not throw if git-flow is not init (#10341)
  Plugins/GitFlow/GitFlowForm.cs
Due: production

Fixup standalone blame (#10316)
  GitExtensions/Properties/launchSettings.json
  GitUI/UserControls/BlameControl.cs
Due: production

.NET 6.0.10 (#10338)
  global.json
  scripts/RepoLayout.props
Due: none

Fixed an issue that caused an exception when switching languages.(#10332)
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  contributors.txt
Due: production

Fixed an issue that caused an exception when switching languages.(#10332) (#10335)
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  contributors.txt
Due: production

FormBrowse: let the user add fetch/pull custom icons in the toolbar
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
Due: production

Keep recent repositories in the same order when filtering
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesListController.cs
Due: production

Keep recent repositories in the same order when filtering (#10380)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesListController.cs
Due: production

SidePanel: Context menu at no selection
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

SidePanel: Context menu at no selection (#10388)
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

FormClone: Check that current module is valid
  GitUI/CommandsDialogs/FormClone.cs
Due: production

Move merge strategies help tooltip to online documentation, open link on click (#10297)
  GitUI/CommandsDialogs/FormMergeBranch.Designer.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormMergeBranch.resx
  GitUI/Translation/English.xlf
Due: production

FormClone: Check that current module is valid (#10390)
  GitUI/CommandsDialogs/FormClone.cs
Due: production

Update changelog for the auto-updater.
  GitUI/Resources/ChangeLog.md
Due: production

Disable tests that fail after git v2.38.1 disabled file protocol
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: tests

Update changelog for the auto-updater. (#10393)
  GitUI/Resources/ChangeLog.md
Due: production

Retain only Microsoft.WindowsDesktop.App in *.runtimeconfig.json
  GitExtensions/Project.Publish.targets
  scripts/Patch-RuntimeConfigJsonFiles.ps1
Due: none

Get installed dotnet desktop runtimes
  GitUI/UserEnvironmentInformation.cs
Due: production

Get installed dotnet desktop runtimes (#10378)
  GitUI/UserEnvironmentInformation.cs
Due: production

Fix 'Delete obsolete branches' plugin
  Plugins/DeleteUnusedBranches/DeleteUnusedBranchesForm.cs
Due: production

Retain only Microsoft.WindowsDesktop.App in *.runtimeconfig.json (#10355)
  GitExtensions/Project.Publish.targets
  scripts/Patch-RuntimeConfigJsonFiles.ps1
Due: none

Disable failing tests after git v2.38.1 disabled file protocol
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: tests

Disable tests that fail after git v2.38.1 disabled file protocol (#10394)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: tests

Improve recent repository list keyboard navigation
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
Due: production

Simplify devex
  appveyor.yml
  global.json
  scripts/RepoLayout.props
Due: none

Reduce nesting
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
Due: production

Improve recent repository list keyboard navigation (#10400)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
Due: production

Update global.json
  global.json
Due: none
