Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Don't update filters or issue CD command to the terminal (#9623)
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Remove rename menu item for remote branches
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchNode.cs
Due: production

Remove `Rename` menu item for remote branches from Repo Tree (#9625)
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchNode.cs
Due: production

Add support for Del key to RepoObjectsTree nodes
  GitUI/BranchTreePanel/ContextMenu/MenuItemsGenerator.cs
  GitUI/BranchTreePanel/RepoObjectsTree.LocalBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

Add support for Del key to RepoObjectsTree nodes (#9630)
  GitUI/BranchTreePanel/ContextMenu/MenuItemsGenerator.cs
  GitUI/BranchTreePanel/RepoObjectsTree.LocalBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

Fix #9119: Value was either too large or too small for an Int32
  Plugins/GitUIPluginInterfaces/Settings/NumberSetting.cs
Due: production

Fix #6276: "Show messages of annotated tags" truncates to ten lines without notice
  GitCommands/Git/GitModule.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix #9634: Minor PR template issue: body text being rendered as a header (#9635)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Centralize sortable binding list logic
  GitUI/CommandsDialogs/FormReflog.cs
  GitUI/CommandsDialogs/FormRemotes.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/FormVerify.SortableLostObjectsList.cs
  GitUI/CommandsDialogs/FormViewPatch.cs
  GitUI/SortableBindingList.cs
  GitUI/UserControls/PatchGrid.cs
  Plugins/DeleteUnusedBranches/SortableBranchesList.cs
  Plugins/FindLargeFiles/SortableObjectsList.cs
Due: production

Ensure all grid views can be sorted (#9611)
  GitUI/CommandsDialogs/FormReflog.cs
  GitUI/CommandsDialogs/FormRemotes.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/CommandsDialogs/FormVerify.SortableLostObjectsList.cs
  GitUI/CommandsDialogs/FormViewPatch.cs
  GitUI/SortableBindingList.cs
  GitUI/UserControls/PatchGrid.cs
  Plugins/DeleteUnusedBranches/SortableBranchesList.cs
  Plugins/FindLargeFiles/SortableObjectsList.cs
  contributors.txt
Due: production

Fix #9119: Value was either too large or too small for an Int32 (#9632)
  Plugins/GitUIPluginInterfaces/Settings/NumberSetting.cs
Due: production

Fixup splitter persistence for CommitInfo
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
Due: production, tests

Update issue template and update BugReporter to use the new template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  BugReporter/BugReportForm.cs
  BugReporter/ErrorReportMarkDownBodyBuilder.cs
  BugReporter/ErrorReportUrlBuilder.cs
  BugReporter/GitHubUrlBuilder.cs
  UnitTests/BugReporter.Tests/ErrorReportUrlBuilderTests.cs
Due: tests

Update changelog and readme
  GitUI/Resources/ChangeLog.md
  README.md
Due: production

Update issue template and update BugReporter to use the new template (#9638)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  BugReporter/BugReportForm.cs
  BugReporter/ErrorReportMarkDownBodyBuilder.cs
  BugReporter/ErrorReportUrlBuilder.cs
  BugReporter/GitHubUrlBuilder.cs
  UnitTests/BugReporter.Tests/ErrorReportUrlBuilderTests.cs
Due: tests

Update changelog and readme (#9640)
  GitUI/Resources/ChangeLog.md
  README.md
Due: production

Refactor CGitExtensionsShellEx::QueryContextMenu
  GitExtensionsShellEx/GitExtensionsShellEx.cpp
  GitExtensionsShellEx/GitExtensionsShellEx.h
Due: none

Add ellipses to context menu items
  GitUI/BranchTreePanel/ContextMenu/MenuItemsStrings.cs
  GitUI/Translation/English.xlf
  contributors.txt
Due: production

Align context menu labels with labels in the Commands menu and the revisions context menu
  GitUI/BranchTreePanel/ContextMenu/MenuItemsStrings.cs
  GitUI/Translation/English.xlf
Due: production

Add ellipsis to the "Undo last commit" Command menu item, as it has a confirmation dialog
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/Translation/English.xlf
Due: production

Remove unused code
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Check for dequeue timeout without causing an exception in the app code
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Add ellipses (...) to branch context menu items which require additional steps to complete; update item labels to match other menus (#9645)
  GitUI/BranchTreePanel/ContextMenu/MenuItemsStrings.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/Translation/English.xlf
  contributors.txt
Due: production

Package plugins
  GitExtensions/GitExtensions.csproj
  GitExtensions/Project.Publish.targets
  Packages.props
  Plugins/AutoCompileSubmodules/GitExtensions.Plugins.AutoCompileSubmodules.csproj
  Plugins/BackgroundFetch/GitExtensions.Plugins.BackgroundFetch.csproj
  Plugins/Bitbucket/GitExtensions.Plugins.Bitbucket.csproj
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorIntegration.csproj
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsIntegration.csproj
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsIntegration.csproj
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityIntegration.csproj
  Plugins/CreateLocalBranches/GitExtensions.Plugins.CreateLocalBranches.csproj
  Plugins/DeleteUnusedBranches/GitExtensions.Plugins.DeleteUnusedBranches.csproj
  Plugins/Directory.Build.props
  Plugins/FindLargeFiles/GitExtensions.Plugins.FindLargeFiles.csproj
  Plugins/GitFlow/GitExtensions.Plugins.GitFlow.csproj
  Plugins/GitHub3/GitExtensions.Plugins.GitHub3.csproj
  Plugins/Gource/GitExtensions.Plugins.Gource.csproj
  Plugins/JiraCommitHintPlugin/GitExtensions.Plugins.JiraCommitHintPlugin.csproj
  Plugins/ProxySwitcher/GitExtensions.Plugins.ProxySwitcher.csproj
  Plugins/ReleaseNotesGenerator/GitExtensions.Plugins.ReleaseNotesGenerator.csproj
  Plugins/Statistics/GitImpact/GitExtensions.Plugins.GitImpact.csproj
  Plugins/Statistics/GitStatistics/GitExtensions.Plugins.GitStatistics.csproj
  UnitTests/Plugins/BuildServerIntegration/AzureDevOpsIntegration.Tests/AzureDevOpsIntegration.Tests.csproj
  appveyor.yml
  scripts/Publish.targets
Due: production, tests

Extract ISettingsSource interface from ISettingsSource class
  GitCommands/ExternalLinks/ExternalLinksStorage.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/SettingsContainer.cs
  GitCommands/Settings/SettingsPath.cs
  GitUI/Editor/GitHighlightingStrategyBase.cs
  GitUI/Plugin/GitPluginSettingsContainer.cs
  Plugins/GitUIPluginInterfaces/ISettingsSource.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
Due: production, tests

Pull dialog mnemonic changes: “Merge” back to M, “Manage remotes” back to G
  GitUI/CommandsDialogs/FormPull.Designer.cs
  GitUI/CommandsDialogs/FormPull.cs
Due: production

Flip B and R mnemonics in Apply Patch (as requested by RussKie)
  GitUI/CommandsDialogs/FormApplyPatch.Designer.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/Translation/English.xlf
Due: production

Add configurable hotkey commands for: Create Branch, Create Tag, Merge Branches, Pull or Fetch, Push, and Rebase
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

Update English.xlf
  GitUI/Translation/English.xlf
Due: production

fixup! Fixup splitter persistence for CommitInfo
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
Due: production, tests

Update GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Implement PR Feedback
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Fix issues with unstable integration tests.
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.BackgroundUpdater.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UITest.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: production, tests

await this.InvokeAsync(NotifyProvidersVisibleRowRangeChanged);
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production
