Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

fixup! review comment
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

sign contributors
  contributors.txt
Due: none

sign contributors (#11004)
  contributors.txt
Due: none

WorkingDirectory can be null (#10997)
  GitExtUtils/ExternalOperationException.cs
Due: production

remove duplicate dictionary lookups (#10999)
  GitCommands/Config/ConfigSection.cs
  GitCommands/DiffMergeTools/RegisteredDiffMergeTools.cs
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/FileStatusList.cs
  Plugins/Bitbucket/BitbucketPullRequestForm.cs
  Plugins/Statistics/GitImpact/ImpactControl.cs
Due: production

omit Externals from inspections (#10995)
  GitExtensions.sln.DotSettings
Due: none

environmentInfo cant be null (#10996)
  BugReporter/ErrorReportUrlBuilder.cs
Due: none

ReferenceRepository can be null after ResetRepo (#10998)
  UnitTests/CommonTestUtils/ReferenceRepository.cs
Due: tests

use Array.Empty where possible
  GitExtUtils/GitUI/ControlHotkeyExtensions.cs
  GitUI/Theming/Win32ThemeHooks.cs
  UnitTests/GitUI.Tests/LinqExtensionsTests.cs
Due: production, tests

remove some un-used members
  BugReporter/Info/AssemblyInfo.cs
  BugReporter/Info/ConfigurationInfo.cs
  BugReporter/Info/SystemInfo.cs
  GitCommands/Settings/SettingsKind.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/RepositoryEventArgs.cs
  GitUI/Interops/LVGROUPW.cs
  GitUI/Interops/LVHITTESTINFO.cs
  GitUI/Interops/ListViewGroupMask.cs
  GitUI/Interops/NMHDR.cs
  GitUI/Theming/Renderers/ButtonRenderer.cs
  GitUI/Theming/Renderers/ComboBoxRenderer.cs
  GitUI/Theming/Renderers/EditRenderer.cs
  GitUI/Theming/Renderers/HeaderRenderer.cs
  GitUI/Theming/Renderers/ListViewRenderer.cs
  GitUI/Theming/Renderers/ScrollBarRenderer.cs
  GitUI/Theming/Renderers/SpinRenderer.cs
  GitUI/Theming/Renderers/TooltipRenderer.cs
Due: production

add some missing NotNullWhen
  GitCommands/CommitDataManager.cs
  GitCommands/Settings/SettingsCache.cs
  GitCommands/Settings/SettingsContainer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
  GitUI/LeftPanel/ContextMenu/IMenuItemsGenerator.cs
  GitUI/LeftPanel/ContextMenu/MenuItemsGenerator.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  Plugins/GitUIPluginInterfaces/CredentialsManager.cs
Due: production

remove closure over pathName
  GitCommands/AppTitleGenerator.cs
Due: production

remove-closures
  GitCommands/Config/ConfigFile.cs
  GitUI/GitUICommands.cs
Due: production

use some patterns
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Editor/RebaseTodoHighlightingStrategy.cs
  GitUI/LeftPanel/ContextMenu/ContextMenuExtensions.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/ToolStripEx.cs
  Plugins/GitUIPluginInterfaces/ObjectId.cs
  Plugins/Statistics/GitStatistics/PieChart/ColorUtil.cs
Due: production

ConfigFileSettings use AppSettings.GitCommand (#10948)
  GitCommands/Settings/ConfigFileSettings.cs
Due: production

Rename AppSettings.LinuxToolsDir from GitBinDir (#10948)
  GitCommands/Git/EnvironmentConfiguration.cs
  GitCommands/Git/GitModule.cs
  GitCommands/PathUtil.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitSettingsPage.cs
Due: production

Rename GitSettingsPage.LinuxToolsDir from GitBinPath (#10948)
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitSettingsPage.cs
  GitUI/Translation/English.xlf
Due: production

FormPush: No popup on Push All (#11003)
  GitUI/CommandsDialogs/FormPush.cs
Due: production

RevDiff: Limit reset to Index (#10979)
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Remove closures (#11008)
  GitCommands/AppTitleGenerator.cs
  GitCommands/Config/ConfigFile.cs
  GitUI/GitUICommands.cs
Due: production

Use Array.Empty where possible (#11005)
  GitExtUtils/GitUI/ControlHotkeyExtensions.cs
  GitUI/Theming/Win32ThemeHooks.cs
  UnitTests/GitUI.Tests/LinqExtensionsTests.cs
Due: production, tests

Update Plugins/Statistics/GitStatistics/PieChart/ColorUtil.cs
  Plugins/Statistics/GitStatistics/PieChart/ColorUtil.cs
Due: production

Update RevisionDataGridView.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

add some missing NotNullWhen (#11007)
  GitCommands/CommitDataManager.cs
  GitCommands/Settings/SettingsCache.cs
  GitCommands/Settings/SettingsContainer.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
  GitUI/LeftPanel/ContextMenu/IMenuItemsGenerator.cs
  GitUI/LeftPanel/ContextMenu/MenuItemsGenerator.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  Plugins/GitUIPluginInterfaces/CredentialsManager.cs
Due: production

Update GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Update GitUI/LeftPanel/RepoObjectsTree.cs
  GitUI/LeftPanel/RepoObjectsTree.cs
Due: production

Fixup 3-revision diff with artificial
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

FileStatusList: No group for diff to stash untracked
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

FileStatusList: Always show diff groups if multiple
  GitUI/UserControls/FileStatusList.cs
Due: production

Unclear parsing of skip worktree
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitItemStatusConverter.cs
  GitCommands/Git/GitModule.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
