Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Blame: Fix path displayed in the gutter (#10188)
  GitUI/UserControls/BlameControl.cs
Due: production

fixup! Set RuntimeFrameworkVersion for DotnetRuntimeBootstrapper
  scripts/RepoLayout.props
Due: none

Tests: Disable some commonly failed tests (#10190)
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests

Blame: fix blame revision older revision when the file has been renamed
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/UserControls/BlameControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Update .NET references (#10180)
  global.json
  scripts/RepoLayout.props
Due: none

Update Transifex image
  GitUI/Resources/Icons/originals/transifex.svg
  README.md
Due: production

Add Update-DotnetVersion script
  scripts/Update-DotnetVersion.ps1
Due: none

Allow for build to use latest version of .NET SDK/Runtime with flag
  appveyor.yml
  scripts/Mark-RepoClean.ps1
Due: none

Show stashes in the revision grid
  GitCommands/RevisionReader.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/GitUICommands.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.empty_commit.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.multi_pathfilter.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.no_subject.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.normal.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.reflogselector.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.subject_no_body.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/reflogselector.bin
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Show stashes in the revision grid (#10138)
  GitCommands/RevisionReader.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/GitUICommands.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.empty_commit.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.multi_pathfilter.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.no_subject.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.normal.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.reflogselector.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.TryParseRevision_test.ForScenario.subject_no_body.approved.json
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitCommands.Tests/TestData/RevisionReader/reflogselector.bin
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Protect AppSettings saving using global mutex
  GitCommands/Settings/AppSettings.cs
Due: production

Reorder and group items in View menu
  GitCommands/RevisionReader.RefFilterOptions.cs
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/BrowseDialog/MenuCommand.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/MenuUtil.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

Ensure the form can be always displayed when owner is in a different screen
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/GitUICommands.cs
Due: production

Fix #10121 - Commit form appear out of screen in dual monitor setup
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Added to contributors file
  contributors.txt
Due: none

fixup! Protect AppSettings saving using global mutex
  GitCommands/Settings/AppSettings.cs
Due: production

working around context menu strip being positioned incorrectly on first open; fixes #10165
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

Skip check if DontConfirmDeleteUnmergedBranch
  GitUI/CommandsDialogs/FormDeleteBranch.cs
Due: production

Follow some c# style guideline raccomendations
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/GitUICommands.cs
Due: production

Early null check as suggested
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

FormDeleteRemoteBranch: GetMergedRemoteBranches() in background
  GitExtUtils/GitUI/TaskManager.cs
  GitExtUtils/GitUI/ThreadHelper.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
Due: production

fixup! FormDeleteRemoteBranch: GetMergedRemoteBranches() in background
  GitExtUtils/GitUI/ThreadHelper.cs
Due: production

Reorder and group items in View menu (#10189)
  GitCommands/RevisionReader.RefFilterOptions.cs
  GitCommands/RevisionReader.cs
  GitUI/CommandsDialogs/BrowseDialog/MenuCommand.cs
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/IRevisionGridFilter.cs
  GitUI/UserControls/RevisionGrid/MenuUtil.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterToolBarTests.cs
Due: production, tests

fixup! Skip check if DontConfirmDeleteUnmergedBranch
  GitUI/CommandsDialogs/FormDeleteBranch.cs
Due: production

fixup! FormDeleteRemoteBranch: GetMergedRemoteBranches() in background
  GitExtUtils/GitUI/ThreadHelper.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
Due: production

reworded comment and shortened link
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

reformatted comment
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production

simplified
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
Due: production
