Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Pass 'skip' parameter
  GitExtUtils/GitUI/ControlUtil.cs
Due: production

Fix SA1629 Documentation text should end with a period
  GitCommands/FullPathResolver.cs
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/ExecutableExtensions.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitRefName.cs
  GitCommands/PathUtil.cs
  GitCommands/Remotes/ConfigFileRemoteSettingsManager.cs
  GitCommands/Settings/RepoDistSettings.cs
  GitCommands/StringExtensions.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitCommands/UserRepositoryHistory/RepositoryDescriptionProvider.cs
  GitExtUtils/ArgumentBuilder.cs
  GitExtUtils/FileUtility.cs
  GitExtUtils/GitArgumentBuilder.cs
  GitExtUtils/GitUI/ControlHotkeyExtensions.cs
  GitExtUtils/GitUI/ControlUtil.cs
  GitExtUtils/GitUI/ListViewExtensions.cs
  GitExtUtils/GitUI/Theming/AppColor.cs
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitExtUtils/GitUI/Theming/HslColor.cs
  GitExtUtils/GitUI/Theming/Theme.cs
  GitExtUtils/GitUI/Win32ApiUtil.cs
Due: production

C#9 Pattern matching enhancements
  GitCommands/Git/GitBranchNameNormaliser.cs
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  GitCommands/StringPool.cs
  GitCommands/Utils/WeakRefCache.cs
  GitExtUtils/GitUI/Theming/Theme.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/RepoHosting/ForkAndCloneForm.cs
  GitUI/CommandsDialogs/RepoHosting/ViewPullRequestsForm.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceFontsSettingsPage.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUICommands.cs
  GitUI/Interops/UxTheme/SetWindowTheme.cs
  GitUI/MouseWheelRedirector.cs
  GitUI/Script/ScriptRunner.cs
  GitUI/Script/SplitButton.cs
  GitUI/SpellChecker/EditNetSpell.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
  GitUI/UserControls/NativeTreeViewDoubleClickDecorator.cs
  GitUI/UserControls/NativeTreeViewExplorerNavigationDecorator.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
  Plugins/Statistics/GitStatistics/PieChart/EdgeColor.cs
  Plugins/Statistics/GitStatistics/PieChart/PieChart3D.cs
  Plugins/Statistics/GitStatistics/PieChart/PieSlice.cs
  ResourceManager/GitExtensionsControl.cs
  Solution.Versions.props
  UnitTests/GitCommands.Tests/Git/GitBranchNameNormaliserTest.cs
Due: production, tests

Add mnemonics to RevisionGrid context menu
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
Due: production

SidePanel: Open submodule with changed commit ids
  GitCommands/Submodules/DetailedSubmoduleInfo.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitUICommands.cs
  Plugins/GitUIPluginInterfaces/IBrowseRepo.cs
Due: production

SubmoduleHelpers: Cleanup ParseSubmoduleStatus
  GitCommands/Git/GitModule.cs
  GitCommands/Git/SubmoduleHelpers.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  ResourceManager/LocalizationHelpers.cs
Due: production

Refactor ChangeCount to separate file, review comments
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/UserControls/RevisionGrid/ArtificialCommitChangeCount.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Status tooltip also for submodules that are only dirty
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  ResourceManager/LocalizationHelpers.cs
Due: production

Refactor ChangeCount to separate file
  GitUI/UserControls/RevisionGrid/ChangeCount.cs
  GitUI/UserControls/RevisionGrid/Columns/MessageColumnProvider.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

SidePanel: Show WorkTree status as tooltip for topmodule
  GitCommands/Submodules/SubmoduleInfoResult.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
Due: production

SidePanel submodules: Tooltip for changed modules
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  ResourceManager/LocalizationHelpers.cs
Due: production

SidePanel submodules: Add more actions
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/Translation/English.xlf
Due: production

change commit ui
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  contributors.txt
Due: production

trim whitespaces
  GitUI/CommandsDialogs/FormCommit.Designer.cs
Due: production

Add test accessors borrowed from https://github.com/dotnet/winforms/
  UnitTests/CommonTestUtils/ITestAccessor.cs
  UnitTests/CommonTestUtils/TestAccessor.cs
  UnitTests/CommonTestUtils/TestAccessors.cs
Due: tests

Update open directory
  GitUI/CommandsDialogs/BrowseDialog/FormOpenDirectory.Designer.cs
  contributors.txt
Due: production

Replace GitExtensionsFormTestAccessor with TestAccessor
  GitUI/GitExtensionsForm.cs
  UnitTests/GitUI.Tests/GitExtensionsFormTests.cs
Due: production, tests

Strongly type the test accessor
  UnitTests/GitUI.Tests/GitExtensionsFormTests.cs
Due: tests

Update UnitTests/CommonTestUtils/TestAccessor.cs
  UnitTests/CommonTestUtils/TestAccessor.cs
Due: tests

Add test accessors borrowed from https://github.com/dotnet/winforms/ (#8787)
  GitUI/GitExtensionsForm.cs
  UnitTests/CommonTestUtils/ITestAccessor.cs
  UnitTests/CommonTestUtils/TestAccessor.cs
  UnitTests/CommonTestUtils/TestAccessors.cs
  UnitTests/GitUI.Tests/GitExtensionsFormTests.cs
Due: production, tests

Constrain child windows to monitor bounds
  GitUI/GitExtensionsForm.cs
  GitUI/WindowPositionManager.cs
  UnitTests/GitUI.Tests/GitExtensionsFormTests.cs
  UnitTests/GitUI.Tests/WindowPositionManagerTests.cs
Due: production, tests

Correct ownership of progress dialogs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/GitUICommands.cs
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Pull down latest Transifex translations with 75% bar
  GitUI/Translation/Czech.xlf
  GitUI/Translation/Dutch.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Italian.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Korean.xlf
  GitUI/Translation/Latvian.xlf
  GitUI/Translation/Polish.xlf
  GitUI/Translation/Portuguese (Brazil).Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish (Argentina).xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/en_pseudo.Plugins.xlf
  GitUI/Translation/en_pseudo.xlf
  Setup/Product.wxs
Due: production

Agree to The Developer Certificate of Origin
  contributors.txt
Due: none

Revert "Add test accessors borrowed from https://github.com/dotnet/winforms/ (#8787)"
  GitUI/GitExtensionsForm.cs
  UnitTests/CommonTestUtils/ITestAccessor.cs
  UnitTests/CommonTestUtils/TestAccessor.cs
  UnitTests/CommonTestUtils/TestAccessors.cs
  UnitTests/GitUI.Tests/GitExtensionsFormTests.cs
Due: production, tests

Fix filter by branch with globbing characters *?[]
  GitCommands/RevisionReader.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Update open directory (#8786)
  GitUI/CommandsDialogs/BrowseDialog/FormOpenDirectory.Designer.cs
  contributors.txt
Due: production

Fix compilation errors in WindowPositionManagerTests
  GitUI/WindowPositionManager.cs
  UnitTests/GitUI.Tests/WindowPositionManagerTests.cs
Due: production, tests

Introduce new interface for named git refs
  GitCommands/Git/GitItem.cs
  GitCommands/Git/GitModule.cs
  GitCommands/GitRevisionInfoProvider.cs
  GitUI/CommandsDialogs/RevisionFileTreeController.cs
  Plugins/GitUIPluginInterfaces/IGitItem.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  Plugins/GitUIPluginInterfaces/IGitRef.cs
  UnitTests/GitCommands.Tests/GitRevisionInfoProviderTests.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionFileTreeControllerTests.cs
Due: production, tests

Show submodule pictogram in recent repositories list, #7082
  GitCommands/UserRepositoryHistory/RecentRepoInfo.cs
  GitCommands/Worktrees/WorktreeInfo.cs
  GitCommands/Worktrees/WorktreeInfoResult.cs
  GitCommands/Worktrees/WorktreeStatusEventArgs.cs
  GitCommands/Worktrees/WorktreeStatusProvider.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesListController.cs
  GitUI/CommandsDialogs/BrowseDialog/FormRecentReposSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/WorkTreeDeleted.png
  UnitTests/GitUI.Tests/CommandsDialogs/FormBrowseControllerTests.cs
Due: production, tests

Fix review issue by @gerhardol and by @RussKie, fix merge conflicts (moslty related to nullable types)
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/UserRepositoryHistory/RecentRepoInfo.cs
  GitCommands/Worktrees/WorktreeHeadType.cs
  GitCommands/Worktrees/WorktreeInfo.cs
  GitCommands/Worktrees/WorktreeInfoResult.cs
  GitCommands/Worktrees/WorktreeStatusEventArgs.cs
  GitCommands/Worktrees/WorktreeStatusProvider.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/CommonTestUtils/WorktreeTestHelpers.cs
  UnitTests/GitCommands.Tests/Worktrees/WorktreeStatusProviderTests.cs
  UnitTests/GitUI.Tests/CommandsDialogs/FormBrowseControllerTests.cs
Due: production, tests

Destroy build cache when moving to another repository
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/CacheAzureDevOps.cs
Due: production

AzureDevOps CI: Take finished builds from cache
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/CacheAzureDevOps.cs
Due: production

AzureDevOps CI: Keep in cache only the last finished build per commit
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
Due: production

Cache finished builds results (to prevent a costly call at every grid revision refresh)
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/CacheAzureDevOps.cs
Due: production

fix some builds result not displayed
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
Due: production

BuildServerAdapter: add a new method called when changing from repository
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/AzureDevOpsAdapter.cs
  Plugins/BuildServerIntegration/AzureDevOpsIntegration/CacheAzureDevOps.cs
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsAdapter.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/BuildServerIntegration/TfsIntegration/TfsAdapter.cs
  Plugins/GitUIPluginInterfaces/BuildServerIntegration/IBuildServerAdapter.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
