Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Reset files corrections
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUICommands.cs
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString_testName=fatal_error.verified.txt
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_deleted.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_getdefaults.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_new.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_none.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_renamed.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_unmerged.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Sort StartSegments in order to reduce crossings
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

fixup! Merge branch 'feature/sort_graph' into debug/feature/less_curves
  GitUI/UserControls/RevisionGrid/Graph/RevisionGraph.cs
Due: production

0 ms delay for BackgroundUpdater
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

fixup! Debug graph lines
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/LaneInfoProviderTests.cs
Due: tests

fixup! Store most important view settings on request only
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

fixup! Sort StartSegments in order to reduce crossings
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphMultiThreadingTests.cs
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphTests.cs
Due: tests

Deactivate filter tests temporarily
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: tests

Sort references by version
  GitCommands/Git/Commands/GitCommandHelpers.cs
  Plugins/GitUIPluginInterfaces/GitRefsOrder.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Update config for Tamil
  .tools/transifex/.tx/config
Due: none

#11032 Support jira personal access token, update var name and hide UserName on PAT selected.
  Plugins/GitUIPluginInterfaces/UserControls/CredentialsControl.cs
  Plugins/JiraCommitHintPlugin/JiraCommitHintPlugin.cs
Due: production

fixup! review comment to disable if only modified files
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Tamil Config and Translation files updated
  .tools/transifex/.tx/config
  GitUI/Translation/Tamil.Plugins.xlf
  GitUI/Translation/Tamil.xlf
Due: production

Create Tamil.gif
  GitUI/Translation/Tamil.gif
Due: production

fixup! reset to index for new
  GitCommands/Git/GitModule.cs
Due: production

Update Product.wxs
  Setup/Product.wxs
Due: none

fixup! review comments InvertStatus
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.cs
Due: production, tests

Simplify revision grid repainting
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Improve revision grid scrolling
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Correctly calculate number of visible grid rows
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Define and use constant wheelDeltaPerRow
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Sort references by version (#11038)
  GitCommands/Git/Commands/GitCommandHelpers.cs
  Plugins/GitUIPluginInterfaces/GitRefsOrder.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Update GitCommands/Git/GitModule.cs
  GitCommands/Git/GitModule.cs
Due: production

Remove unused files
  BugReporter/Info/SystemInfo.cs
  GitCommands/Settings/SettingsKind.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/RepositoryEventArgs.cs
Due: production

Theme pragma SUPPORT_THEME_HOOKS
  GitUI/Interops/LVGROUPW.cs
  GitUI/Interops/LVHITTESTINFO.cs
  GitUI/Interops/ListViewGroupMask.cs
  GitUI/Interops/NMHDR.cs
  GitUI/Theming/Renderers/ButtonRenderer.cs
  GitUI/Theming/Renderers/ComboBoxRenderer.cs
  GitUI/Theming/Renderers/EditRenderer.cs
  GitUI/Theming/Renderers/HeaderRenderer.cs
  GitUI/Theming/Renderers/ListViewRenderer.cs
  GitUI/Theming/Renderers/ScrollBarRenderer.cs
  GitUI/Theming/Renderers/SpinRenderer.cs
  GitUI/Theming/Renderers/TooltipRenderer.cs
Due: production

fixup! FileStatusList: No group for diff to stash untracked
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

Improve SplitterPersistenceTests (#10968)
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
Due: tests

Restore splitter collapsed state before distance (#10968)
  GitUI/SplitterManager.cs
Due: production

Rework SplitterPersistenceTests (#10968)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/SplitterManager.cs
  GitUI/WindowPositionManager.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.SplitterPositionsShouldBeDefault.verified.json
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.SplitterPositionsShouldBeSaved_commitInfoPosition=BelowList.verified.json
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.SplitterPositionsShouldBeSaved_commitInfoPosition=LeftwardFromList.verified.json
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.SplitterPositionsShouldBeSaved_commitInfoPosition=RightwardFromList.verified.json
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
  IntegrationTests/UI.IntegrationTests/Properties/VerifyModuleInitializer.cs
  UnitTests/CommonTestUtils/TestAppSettingsAttribute.cs
Due: production, tests

Add Tamil translation (#11042)
  .tools/transifex/.tx/config
  GitUI/Translation/Tamil.Plugins.xlf
  GitUI/Translation/Tamil.gif
  GitUI/Translation/Tamil.xlf
  Setup/Product.wxs
Due: production

FileStatusList: Always show diff groups if multiple (#11018)
  GitUI/UserControls/FileStatusList.cs
Due: production

Fixup 3-revision diff with artificial (#11014)
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
Due: production

Update GitUI/Theming/Renderers/ButtonRenderer.cs
  GitUI/Theming/Renderers/ButtonRenderer.cs
Due: production

Update GitUI/Theming/Renderers/EditRenderer.cs
  GitUI/Theming/Renderers/EditRenderer.cs
Due: production

Update GitUI/Theming/Renderers/SpinRenderer.cs
  GitUI/Theming/Renderers/SpinRenderer.cs
Due: production

Don't apply rowDelta if grid is empty
  GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
Due: production

Reset files corrections (#10980)
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/GitUICommands.cs
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString_testName=fatal_error.verified.txt
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_deleted.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_getdefaults.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_new.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_none.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_renamed.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.ReverseSelection_expected_changes_unmerged.verified.json
  UnitTests/GitCommands.Tests/Git/GitRevisionTesterTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests
