Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Prevent NRE when getting AppVeyor build duration
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
Due: production

AppVeyor Exception at init
  Plugins/BuildServerIntegration/AppVeyorIntegration/AppVeyorAdapter.cs
Due: production

Allow launch the app once it has been built
  scripts/build.ps1
Due: none

Make scripts execution safer
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Script/ScriptRunner.cs
Due: production

fixup! Make scripts execution safer
  GitUI/Script/ScriptRunner.cs
Due: production

Move Reset Another branch from Current to Other group
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Designer.cs
Due: production

Correct display for 'Show file differences for all parents' menu
  GitUI/UserControls/FileStatusList.cs
Due: production

FileStatusList context menu order
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

Make scripts execution safer (#8182)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Script/ScriptRunner.cs
Due: production

Update translations and changelog
  .tools/transifex/.tx/config
  .tools/transifex/DownloadTransifexTranslations.ps1
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/French.Plugins.xlf
  GitUI/Translation/French.xlf
  GitUI/Translation/German.Plugins.xlf
  GitUI/Translation/German.xlf
  GitUI/Translation/Japanese.Plugins.xlf
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Polish.xlf
  GitUI/Translation/Russian.Plugins.xlf
  GitUI/Translation/Russian.xlf
  GitUI/Translation/Simplified Chinese.Plugins.xlf
  GitUI/Translation/Simplified Chinese.xlf
  GitUI/Translation/Spanish.Plugins.xlf
  GitUI/Translation/Spanish.xlf
  GitUI/Translation/en_pseudo.Plugins.xlf
  GitUI/Translation/en_pseudo.xlf
  Setup/Prepare-Release.ps1
Due: production

Increase version to 4.0.0
  CommonAssemblyInfo.cs
Due: none

fixup! Merge branch 'release/3.4'
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommit.cs
  appveyor.yml
Due: production

Do not use Cursor.Position in Mouse event handlers
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Tooltip for merged branches
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
Due: production

Submodule status: Throttle instead of drop frequent updates
  GitCommands/Submodules/SubmoduleInfoResult.cs
  GitCommands/Submodules/SubmoduleStatusProvider.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/CommonTestUtils/SubmoduleTestHelpers.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: production, tests

Do not use Cursor.Position in Mouse event handlers (#8195)
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Use DataGridViewCellMouseEventArgs.RowIndex
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Revert incomplete translations
  Setup/Product.wxs
Due: none

fix ignoring app.manifest
  GitExtensions/GitExtensions.csproj
Due: none

Update to v3.4.1
  GitUI/Resources/ChangeLog.md
  GitUI/Translation/Japanese.xlf
  GitUI/Translation/Simplified Chinese.xlf
  appveyor.yml
Due: production

fix ignoring app.manifest (#8216)
  GitExtensions/GitExtensions.csproj
Due: none

Release 3.4.1
  GitExtensions.releases
Due: none

Centrally handle user script errors
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Script/ScriptRunner.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: production, tests

Make WindowsJumpListManager calls safer
  GitUI/WindowsJumpListManager.cs
Due: production

fixup! Make WindowsJumpListManager calls safer
  GitUI/WindowsJumpListManager.cs
Due: production

Update to v3.4.2 / build release from tags
  appveyor.yml
Due: none

Make WindowsJumpListManager calls safer (#8240)
  GitUI/WindowsJumpListManager.cs
Due: production

Centrally handle user script errors (#8231)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Script/ScriptRunner.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: production, tests

Update packages. Fix coding style.
  GitCommands/StringPool.cs
  GitUI/GitUIExtensions.cs
  GitUI/Interops/UxTheme/SetWindowTheme.cs
  Plugins/BuildServerIntegration/TeamCityIntegration/TeamCityAdapter.cs
  Plugins/GitUIPluginInterfaces/CredentialsManager.cs
  Solution.Versions.props
  UnitTests/GitUI.Tests/UserControls/RevisionGrid/Graph/RevisionGraphMultiThreadingTests.cs
Due: production, tests

ResetAnotherBranch: Quote path arguments
  GitCommands/Git/GitCommandHelpers.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
Due: production, tests

Disable, don't hide important context menu items
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Display 'Plugin Manager" next to "Plugin settings" in the menu
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production
