Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Move GitCommandHelpers under Git/Commands
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GetAllChangedFilesOutputParser.cs
  GitCommands/Git/GitModule.cs
  GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
  GitUI/CommandsDialogs/BrowseDialog/FormBisect.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutRevision.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
  GitUI/CommandsDialogs/FormCleanupRepository.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormCreateBranch.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormRebase.cs
  GitUI/CommandsDialogs/FormRevertCommit.cs
  GitUI/CommandsDialogs/FormSubmodules.cs
  GitUI/CommandsDialogs/RepoHosting/ForkAndCloneForm.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/SubmodulesDialog/FormAddSubmodule.cs
  GitUI/GitUICommands.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  GitUI/HelperDialogs/FormResetCurrentBranch.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/CommonTestUtils/GitModuleTestHelper.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Submodules/SubmoduleStatusProviderTests.cs
Due: production, tests

Prevent a crash when opening the settings
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
Due: production

Dark title bar when using a dark theme on recent versions of Win10
  GitUI/GitExtensionsForm.cs
  GitUI/Interops/DwmApi/DwmApi.cs
  GitUI/Theming/ThemeModule.cs
Due: production

Update contributors.txt
  contributors.txt
Due: none

Don't expand branches node on refresh
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
Due: production

Add dispatch of Updated event after AppSettings (Setting<T>) value update
  GitCommands/GitCommands.csproj
  GitCommands/Settings/BasicSettingTypes.cs
  GitCommands/Settings/Setting.cs
Due: production

Add (back) Araxis diff/merge tool on request with new configuration style.
  GitCommands/DiffMergeTools/Araxis.cs
Due: production

Extend unit tests for araxis diff/merge tool in RegisteredDiffMergeToolsTests.cs
  UnitTests/GitCommands.Tests/DiffMergeTools/RegisteredDiffMergeToolsTests.cs
Due: tests

Provide ability to sort/order branches
  .gitignore
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGoToCommit.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteTag.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/Translation/English.xlf
  Plugins/GitUIPluginInterfaces/GitRefsOrder.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Expose sort by/order in the left panel
  GitCommands/IDiffListSortService.cs
  GitUI/BranchTreePanel/ContextMenu/GitRefsSortByContextMenuItem.cs
  GitUI/BranchTreePanel/ContextMenu/GitRefsSortOrderContextMenuItem.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/SortDiffListContextMenuItem.cs
  UnitTests/GitUI.Tests/BranchTreePanel/ContextMenu/GitRefsSortByContextMenuItemTests.cs
  UnitTests/GitUI.Tests/BranchTreePanel/ContextMenu/GitRefsSortOrderContextMenuItemTests.cs
  UnitTests/GitUI.Tests/UserControls/SortDiffListContextMenuItemTests.cs
Due: production, tests

Cleanup Setting<T> class
  GitCommands/Settings/AppSettings.cs
  GitCommands/Settings/BasicSettingTypes.cs
  GitCommands/Settings/ConfigFileSettings.cs
  GitCommands/Settings/RepoDistSettings.cs
  GitCommands/Settings/Setting.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BuildServerIntegrationSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageBase.cs
Due: production

Sign contributors.txt "2020/09/13, hoborm, Mihaly Hobor, mail{{at]]hobor.xyz"
  contributors.txt
Due: none

Fix 8351 - "Araxis does not show up in Mergetool/Difftool dropdown box" (#8454)
  GitCommands/DiffMergeTools/Araxis.cs
  UnitTests/GitCommands.Tests/DiffMergeTools/RegisteredDiffMergeToolsTests.cs
  contributors.txt
Due: production, tests

fix tree view rendering in dark theme
  GitUI/Theming/Renderers/TreeViewRenderer.cs
Due: production

Add "Commit Info" panel on "Create Branch Dialog"
  GitUI/CommandsDialogs/FormCreateBranch.Designer.cs
  GitUI/CommandsDialogs/FormCreateBranch.cs
  GitUI/UserControls/CommitPickerSmallControl.cs
Due: production

Introduce a new console styles settings page under Appearance and remove the controls from the "Browse Repo Window" page
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.resx
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.cs
  GitUI/Translation/English.xlf
  contributors.txt
Due: production

Revert "Add checkbox to prune tags"
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormPull.Designer.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/Translation/English.xlf
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormPullTests.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Prevent adding "--prune --prune-tags" when run from toolbar
  GitUI/CommandsDialogs/FormPull.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormPullTests.cs
Due: production, tests

Don't use "AddSettingBinding" in "FormBrowseRepoSettingsPage"
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.cs
Due: production

Drop ValueOrDefault property and add IsUnset property
  GitCommands/Git/GitModule.cs
  GitCommands/Settings/RepoDistSettings.cs
  GitCommands/Settings/Setting.cs
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  GitUI/CommandsDialogs/BuildReportTabPageExtension.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Infrastructure/Telemetry/FormBrowseDiagnosticsReporter.cs
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  UnitTests/GitCommands.Tests/Settings/SettingTests.cs
Due: production, tests

Change "{at]" on "(at)"
  contributors.txt
Due: none

Update contributors.txt (#8442)
  contributors.txt
Due: none

#8441: Add shortcut for "Show this branch only"
  GitUI/BranchTreePanel/RepoObjectsTree.cs
Due: production

Show empty diffs as patch, not text
  GitUI/GitUIExtensions.cs
Due: production

fix: Resolve script "c"-variables
  GitCommands/ExternalLinks/ExternalLinkFormat.cs
  GitCommands/ExternalLinks/ExternalLinkRevisionParser.cs
  GitCommands/ExternalLinks/GitRevisionExternalLinksParser.cs
  GitCommands/Git/Extensions/GitRevisionExtensions.cs
  GitCommands/Git/GitRefName.cs
  GitCommands/Git/RevisionDiffProvider.cs
  GitUI/CommandsDialogs/FormArchive.cs
  GitUI/CommandsDialogs/FormBlame.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
  GitUI/CommandsDialogs/FormFormatPatch.Designer.cs
  GitUI/CommandsDialogs/FormFormatPatch.cs
  GitUI/CommandsDialogs/FormRevertCommit.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/HelperDialogs/FormResetCurrentBranch.cs
  GitUI/RevisionDiffInfoProvider.cs
  GitUI/Script/IScriptHostControl.cs
  GitUI/Script/ScriptOptionsParser.cs
  GitUI/UserControls/CommitSummaryUserControl.cs
  GitUI/UserControls/FileStatusItem.cs
  GitUI/UserControls/RevisionGrid/Columns/AuthorNameColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/AvatarColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/ColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/DateColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/MultilineIndicator.cs
  GitUI/UserControls/RevisionGrid/CopyContextMenuItem.cs
  GitUI/UserControls/RevisionGrid/DoubleClickRevisionEventArgs.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitCommands.Tests/Git/Extensions/GitRevisionExtensionsTests.cs
  UnitTests/GitCommands.Tests/Git/RevisionDiffProviderTest.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: production, tests

Reset filter when switch repos
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

fixup! fix: Resolve script "c"-variables
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
Due: tests

fix: Resolve script "c"-variables (#8487)
  GitCommands/ExternalLinks/ExternalLinkFormat.cs
  GitCommands/ExternalLinks/ExternalLinkRevisionParser.cs
  GitCommands/ExternalLinks/GitRevisionExternalLinksParser.cs
  GitCommands/Git/Extensions/GitRevisionExtensions.cs
  GitCommands/Git/GitRefName.cs
  GitCommands/Git/RevisionDiffProvider.cs
  GitUI/CommandsDialogs/FormArchive.cs
  GitUI/CommandsDialogs/FormBlame.cs
  GitUI/CommandsDialogs/FormBrowseController.cs
  GitUI/CommandsDialogs/FormCherryPick.cs
  GitUI/CommandsDialogs/FormFormatPatch.Designer.cs
  GitUI/CommandsDialogs/FormFormatPatch.cs
  GitUI/CommandsDialogs/FormRevertCommit.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/HelperDialogs/FormResetCurrentBranch.cs
  GitUI/RevisionDiffInfoProvider.cs
  GitUI/Script/IScriptHostControl.cs
  GitUI/Script/ScriptOptionsParser.cs
  GitUI/UserControls/CommitSummaryUserControl.cs
  GitUI/UserControls/FileStatusItem.cs
  GitUI/UserControls/RevisionGrid/Columns/AuthorNameColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/AvatarColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/ColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/DateColumnProvider.cs
  GitUI/UserControls/RevisionGrid/Columns/MultilineIndicator.cs
  GitUI/UserControls/RevisionGrid/CopyContextMenuItem.cs
  GitUI/UserControls/RevisionGrid/DoubleClickRevisionEventArgs.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
  Plugins/GitUIPluginInterfaces/GitRevision.cs
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitCommands.Tests/Git/Extensions/GitRevisionExtensionsTests.cs
  UnitTests/GitCommands.Tests/Git/RevisionDiffProviderTest.cs
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: production, tests

Add tests for AppSettings
  GitCommands/Settings/AppSettings.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

Add script options {sSubject} and {cSubject}
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/Script/ScriptOptionsParser.cs
  GitUI/Translation/English.xlf
  UnitTests/GitUI.Tests/Script/ScriptOptionsParserTests.cs
Due: production, tests

.css inheritance in themes
  GitCommands/Settings/AppSettings.cs
  GitExtUtils/GitUI/Theming/AppColor.cs
  GitExtUtils/GitUI/Theming/Theme.cs
  GitExtUtils/GitUI/Theming/ThemeModifiers.cs
  GitExtUtils/Properties/AssemblyInfo.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
  GitUI/GitUI.csproj
  GitUI/Themes/README.md
  GitUI/Themes/bright-colobrlind.css
  GitUI/Themes/bright.css
  GitUI/Themes/dark-colorblind.css
  GitUI/Themes/dark.css
  GitUI/Themes/darksilver-colorblind.css
  GitUI/Themes/darksilver.css
  GitUI/Themes/invariant.css
  GitUI/Themes/win10default.css
  GitUI/Theming/ThemeCssUrlResolver.cs
  GitUI/Theming/ThemeCssUrlResolverException.cs
  GitUI/Theming/ThemeException.cs
  GitUI/Theming/ThemeFileReader.cs
  GitUI/Theming/ThemeLoader.cs
  GitUI/Theming/ThemeModule.cs
  GitUI/Theming/ThemePathProvider.cs
  GitUI/Theming/ThemePersistence.cs
  GitUI/Theming/ThemeRepository.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  Setup/Product.wxs
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
  UnitTests/GitUI.Tests/Theming/CssUrlResolverTests.cs
  UnitTests/GitUI.Tests/Theming/ThemeFileReaderTests.cs
  UnitTests/GitUI.Tests/Theming/ThemeLoaderTests.cs
  UnitTests/GitUI.Tests/Theming/ThemePathProviderInstalledAppTests.cs
  UnitTests/GitUI.Tests/Theming/ThemePathProviderPortableAppTests.cs
  UnitTests/GitUI.Tests/Theming/ThemePersistenceTests.cs
  UnitTests/GitUI.Tests/Theming/WhatSystemColorsAreThemeableTests.cs
Due: production, tests

.css inheritance in themes (#8424)
  GitCommands/Settings/AppSettings.cs
  GitExtUtils/GitUI/Theming/AppColor.cs
  GitExtUtils/GitUI/Theming/Theme.cs
  GitExtUtils/GitUI/Theming/ThemeModifiers.cs
  GitExtUtils/Properties/AssemblyInfo.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
  GitUI/GitUI.csproj
  GitUI/Themes/README.md
  GitUI/Themes/bright-colobrlind.css
  GitUI/Themes/bright.css
  GitUI/Themes/dark-colorblind.css
  GitUI/Themes/dark.css
  GitUI/Themes/darksilver-colorblind.css
  GitUI/Themes/darksilver.css
  GitUI/Themes/invariant.css
  GitUI/Themes/win10default.css
  GitUI/Theming/ThemeCssUrlResolver.cs
  GitUI/Theming/ThemeCssUrlResolverException.cs
  GitUI/Theming/ThemeException.cs
  GitUI/Theming/ThemeFileReader.cs
  GitUI/Theming/ThemeLoader.cs
  GitUI/Theming/ThemeModule.cs
  GitUI/Theming/ThemePathProvider.cs
  GitUI/Theming/ThemePersistence.cs
  GitUI/Theming/ThemeRepository.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  Setup/Product.wxs
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
  UnitTests/GitUI.Tests/Theming/CssUrlResolverTests.cs
  UnitTests/GitUI.Tests/Theming/ThemeFileReaderTests.cs
  UnitTests/GitUI.Tests/Theming/ThemeLoaderTests.cs
  UnitTests/GitUI.Tests/Theming/ThemePathProviderInstalledAppTests.cs
  UnitTests/GitUI.Tests/Theming/ThemePathProviderPortableAppTests.cs
  UnitTests/GitUI.Tests/Theming/ThemePersistenceTests.cs
  UnitTests/GitUI.Tests/Theming/WhatSystemColorsAreThemeableTests.cs
Due: production, tests

colorblind transformation in syntax higlighting
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitExtUtils/GitUI/Theming/ThemeSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
  GitUI/Theming/ThemeModule.cs
Due: production

colorblind transformation in syntax higlighting (#8426)
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitExtUtils/GitUI/Theming/ThemeSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
  GitUI/Theming/ThemeModule.cs
Due: production

Jenkins: Present most recent interesting build info
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsAdapter.cs
Due: production

fix: Write and read enum setting as string not number
  GitCommands/Settings/Setting.cs
  UnitTests/GitCommands.Tests/Settings/SettingTests.cs
Due: production, tests

fix: Branch filter isn't truly reset
  GitCommands/RevisionReader.cs
  GitUI/FilterBranchHelper.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  GitUI/UserControls/RevisionGrid/RefFilterOptionsEventArgs.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  UnitTests/CommonTestUtils/ReferenceRepository.cs
  UnitTests/GitCommands.Tests/RevisionReaderTests.cs
Due: production, tests

Fix JumpList being created too soon
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/WindowsJumpListManager.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
