Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

Update Codecov version (#7987)
  codecov.yml
  scripts/tools/NUnit/NUnit.targets
Due: none

Fix local dev plugin name resolution
  Plugins/BuildServerIntegration/Directory.Build.props
  Plugins/Directory.Build.props
  Plugins/Statistics/Directory.Build.props
Due: production

Adapt artifacts path to tests
  appveyor.experimental.yml
  appveyor.yml
Due: none

Keep test artifacts before overwritten by next run
  appveyor.experimental.yml
Due: none

Deleted files presented as Unkown
  GitUI/UserControls/FileStatusList.cs
Due: production

Ignore Git error messages when parsing
  GitCommands/Git/GitCommandHelpers.cs
  UnitTests/GitCommands.Tests/Git/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.fatal_error.approved.json
Due: production, tests

Add Git error messages as 'error' GitItems
  GitCommands/Git/GitCommandHelpers.cs
  GitCommands/Git/GitItemStatus.cs
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/Editor/FileViewer.cs
  GitUI/GitUIExtensions.cs
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_spaces_are_not_trimmed_in_file_names.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree1.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Check_that_the_staged_status_is_None_if_not_IndexWorkTree2.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Ignore_unmerged_in_conflict_if_revision_is_work_tree.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Include_unmerged_in_conflict_if_revision_is_index.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.Rename_with_spaces.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree1.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree2.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree3.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.WorkTree4.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetDiffChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.fatal_error.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_ignored_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_modified_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_staged_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_untracked_files.approved.json
  UnitTests/GitCommands.Tests/Git/GitCommandsHelperTest.TestGetStatusChangedFilesFromString.ForScenario.status_with_spaces.approved.json
Due: production, tests

Set theme jekyll-theme-architect
  _config.yml
Due: none

Add files via upload
  CodeMap1_1_1_1.dgml
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Add files via upload
  desktop.ini
Due: none

Redesign script configuration settings
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.ScriptInfoProxy.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.resx
  GitUI/Design/ExecutableFileNameEditor.cs
  GitUI/Design/PropertyOrderAttribute.cs
  GitUI/Design/PropertySorter.cs
  GitUI/GitUI.csproj
  GitUI/Script/ScriptEvent.cs
  GitUI/Script/ScriptInfo.cs
  GitUI/Script/ScriptManager.cs
  GitUI/Translation/English.xlf
Due: production

Add hotkey for "Show reflog references"
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Increase responsiveness
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Add hotkey for toggling between artificial and HEAD commits (#7888)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/ToggleBetweenArtificialAndHeadCommitsTests.cs
Due: production, tests

OpenRemoteUrlInBrowser: Issue (#7439)
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/Globe.png
  GitUI/Translation/English.xlf
  contributors.txt
Due: production

Factor out ILinkFactory.ParseInternalScheme
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/CommitInfoHeader.cs
  ResourceManager/CommandEventArgs.cs
  ResourceManager/LinkFactory.cs
  UnitTests/ResourceManager.Tests/LinkFactoryFixture.cs
Due: production, tests

Refactor ILinkFactory.ParseLink to yield Uri
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/CommitInfoHeader.cs
  ResourceManager/LinkFactory.cs
  UnitTests/ResourceManager.Tests/LinkFactoryFixture.cs
Due: production, tests

Handle showall links in CommitInfo directly
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/CommitInfoHeader.cs
  ResourceManager/LinkFactory.cs
  UnitTests/ResourceManager.Tests/LinkFactoryFixture.cs
Due: production, tests

Fix naming issue in ThemeFix.cs
  GitExtUtils/GitUI/Theming/ThemeFix.cs
Due: production

Fix up double plural in ResourceManager.Strings
  GitUI/Translation/English.xlf
  ResourceManager/Strings.cs
Due: production

tweak grid
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
Due: production

fix propertygrid selection
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
Due: production

fix layout
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
Due: production

fixup! fix propertygrid selection
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
Due: production

fix image
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
Due: production

locs
  GitUI/Translation/English.xlf
Due: production

Fix compatibility with WSL (\\wsl$\) network resource #7438
  GitCommands/FullPathResolver.cs
  GitCommands/PathUtil.cs
  GitUI/CommandsDialogs/FormClone.cs
  UnitTests/GitCommands.Tests/PathTests.cs
  contributors.txt
Due: production, tests

code review nitpicks
  GitCommands/FullPathResolver.cs
  GitCommands/PathUtil.cs
  GitUI/CommandsDialogs/FormClone.cs
  UnitTests/GitCommands.Tests/PathTests.cs
Due: production, tests

Delete multiple file at a time with popup menu
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  GitUI/Translation/English.xlf
  ResourceManager/Strings.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

Don't allow hotkey Del with deleted files
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

added tests for ArgumentNullException, removed redundant qualifier
  GitCommands/PathUtil.cs
  UnitTests/GitCommands.Tests/PathTests.cs
Due: production, tests

Use ArgumentException instead of ArgumentNullException, merged PathTests.cs into already existing PathUtilTest.cs
  GitCommands/PathUtil.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
  UnitTests/GitCommands.Tests/PathTests.cs
Due: production, tests

Fix #7937 Reflog form : index was out of range.
  GitUI/CommandsDialogs/FormReflog.cs
Due: production

Allow deletion of untracked directories
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionDiffController.cs
  UnitTests/GitUI.Tests/CommandsDialogs/RevisionDiffControllerTests.cs
Due: production, tests

First commit
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
Due: production

Allow deletion of untracked directories in FormCommit
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Separated method for handling WSL case, removed RegExp
  GitCommands/PathUtil.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Fixed method description style
  GitCommands/PathUtil.cs
Due: production
