Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

TweakPng for some icons
  GitUI/Resources/Icons/BranchFilter.png
  GitUI/Resources/Icons/StageAllFiltered.png
  GitUI/Resources/Icons/UnstageAllFiltered.png
Due: production

GitUI/Translation - fix 34 typos
  GitUI/Translation/Russian.xlf
Due: production

signed contributors.txt
  contributors.txt
Due: none

signed contributors.txt (#9722)
  contributors.txt
Due: none

TweakPng for some icons (#9719)
  GitUI/Resources/Icons/BranchFilter.png
  GitUI/Resources/Icons/StageAllFiltered.png
  GitUI/Resources/Icons/UnstageAllFiltered.png
Due: production

Debug: Add project to launch to Dashboard
  GitExtensions/Properties/launchSettings.json
Due: none

AppTitle was set to previous repo branch (#9725)
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
Due: production

PathFilter: Set FallbackFollowedFile at every filter update
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

appveyor: avoid warnings about crlf
  appveyor.yml
Due: none

Added DotnetRuntimeBootstrapper NuGet package.
  GitExtensions/GitExtensions.csproj
  Packages.props
Due: none

Generate .NET installer
  Directory.Build.props
  GitExtensions/GitExtensions.csproj
  GitExtensions/Project.Publish.targets
  GitExtensions/app.config
  Packages.props
  Setup/Config.wxi
  Setup/EnableUpgrades.wxi
  Setup/Product.wxs
  appveyor.yml
  scripts/native.proj
Due: none

appveyor: avoid warnings about crlf (#9732)
  appveyor.yml
Due: none

PathFilter: Set FallbackFollowedFile at every filter update (#9733)
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Remove PuTTY binaries
  Bin/pageant.exe
  Bin/plink.exe
  Bin/puttygen.exe
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  Setup/Product.wxs
  Setup/Setup.wixproj
  Setup/UI/SSHClientDlg.wxs
  Setup/UI/WixUI.wxs
Due: production

Conditionally publish MSI for pull requests
  appveyor.yml
Due: none

Make the Debug build debuggable
  GitExtensions/GitExtensions.csproj
Due: none

Correct path to our executable under DotnetRuntimeBootstrapper
  GitCommands/Settings/AppSettings.cs
Due: production

Avoid exception for checking of "middle of merge" (#9702)
  GitCommands/Git/GitModule.cs
Due: production

Support WSL Git
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/Executable.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/Tag/GitTagController.cs
  GitCommands/Logging/CommandLog.cs
  GitCommands/PathUtil.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormApplyPatch.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormFormatPatch.cs
  GitUI/CommandsDialogs/FormMergeBranch.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/RepoHosting/ForkAndCloneForm.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ChecklistSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitSettingsPage.Designer.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.cs
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/HelperDialogs/FormResetAnotherBranch.cs
  GitUI/Translation/English.xlf
  Plugins/GitUIPluginInterfaces/IGitModule.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

GitVersion support for WSL Git
  GitCommands/DiffMergeTools/DiffMergeToolConfigurationManager.cs
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
Due: production, tests

Adjust Debug.Assert for tests
  GitCommands/Git/Commands/GitCommandHelpers.cs
Due: production

Adjust Debug.Assert for tests (#9745)
  GitCommands/Git/Commands/GitCommandHelpers.cs
Due: production

Fix tests
  GitCommands/Settings/AppSettings.cs
Due: production

Fix tests (#9747)
  GitCommands/Settings/AppSettings.cs
Due: production

Allow running TranslationApp in Debug
  GitCommands/Settings/AppSettings.cs
Due: production

Allow running TranslationApp in Debug (#9749)
  GitCommands/Settings/AppSettings.cs
Due: production

Remove PuTTY binaries from installer (#9386)
  Bin/pageant.exe
  Bin/plink.exe
  Bin/puttygen.exe
  GitUI/CommandsDialogs/SettingsDialog/Pages/SshSettingsPage.cs
  Setup/Product.wxs
  Setup/Setup.wixproj
  Setup/UI/SSHClientDlg.wxs
  Setup/UI/WixUI.wxs
Due: production

FormBrowse: FallbackFollowedFile was stripped of quotes incorrectly
  GitUI/CommandsDialogs/FormBrowse.InitRevisionGrid.cs
Due: production

RevisionFilter: Indicate filters with button state and tooltip
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterChangedEventArgs.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

RevisionFilter: Hotkey to disable filters (#9728)
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.Command.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

RevDiff: Disable FilterInGrid if no selection
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
