Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

fixup! review comments
  GitUI/CommandsDialogs/FormFormatPatch.Designer.cs
Due: production

Merge conflicts: Only list files in worktree
  GitCommands/Git/GetAllChangedFilesOutputParser.cs
Due: production

Reset renamed index files
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

fixup! status v1 parsing
  GitCommands/Git/GetAllChangedFilesOutputParser.cs
Due: production

Rename to "LeftPanel" in hotkeys
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

fixup! adding parsing test
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.both_modified.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.deleted_by_them.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.deleted_by_us.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.cs
Due: tests

Git 2.40.0
  GitCommands/Git/GitVersion.cs
Due: production

fixup! adding parsing test
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.added_by_them.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.added_by_us.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.both_added.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.TestGetStatusChangedFilesFromString.ForScenario.both_deleted.approved.json
  UnitTests/GitCommands.Tests/Git/GetAllChangedFilesOutputParserTest.cs
Due: tests

Git 2.40.0 (#10858)
  GitCommands/Git/GitVersion.cs
Due: production

IScriptHostControl.CurrentBranch() to decrease overhead (#10849)
  GitUI/BranchTreePanel/LocalBranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/Script/IScriptHostControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Restore from minimized: Configurable avoid async Git (#10847)
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

LeftPanel: Prioritize branches and remotes (#8741)
  GitCommands/Settings/AppSettings.cs
  GitUI/BranchTreePanel/BaseRefTree.cs
  GitUI/BranchTreePanel/LocalBranchTree.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SortingSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SortingSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SortingSettingsPage.resx
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Translation/English.xlf
  UnitTests/GitUI.Tests/UserControls/CommitInfo/BranchComparerTests.cs
Due: production, tests

Reset renamed index files (#10853)
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Reset conflicted files
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
Due: production

Filter toolbar: Shof reflog first and default
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
Due: production

fixup! Filter toolbar: Shof reflog first and default
  GitUI/UserControls/FilterToolBar.Designer.cs
Due: production

fixup! using constants for status characters
  GitCommands/Git/GetAllChangedFilesOutputParser.cs
  GitCommands/Git/GitItemStatusConverter.cs
Due: production

fixup! review comments, comments and constants
  GitUI/CommitInfo/CommitInfo.cs
Due: production

Filter toolbar: Show reflog first and default (#10863)
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
Due: production

fixup! cleanup comments
  GitUI/CommitInfo/CommitInfo.cs
Due: production

fixup! review comments
  GitCommands/Git/GetAllChangedFilesOutputParser.cs
Due: production

amend! Prioritize branches and remotes in LeftPanel and CommitInfo
  GitUI/CommandsDialogs/SettingsDialog/Pages/SortingSettingsPage.cs
  GitUI/Translation/English.xlf
Due: production

Rename to "LeftPanel" in hotkeys (#10857)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

Bump vNext to 4.2
  appveyor.yml
Due: none

Prioritize branches and remotes in LeftPanel and CommitInfo (#10828)
  GitCommands/Settings/AppSettings.cs
  GitUI/BranchTreePanel/BaseRefTree.cs
  GitUI/BranchTreePanel/LocalBranchTree.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SortingSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SortingSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/SortingSettingsPage.resx
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/Translation/English.xlf
  UnitTests/GitUI.Tests/UserControls/CommitInfo/BranchComparerTests.cs
Due: production, tests

Update contributors and changelog
  GitUI/Properties/Resources.resx
  GitUI/Resources/ChangeLog.md
  Setup/Prepare-Release.ps1
Due: production

Avatars: Always obtain the same Author initials image
  GitUI/Avatars/InitialsAvatarProvider.cs
Due: production

Avatars: Add a setting to be able to configure Author Initials backgrounds
  GitCommands/Settings/AppSettings.cs
  GitUI/Avatars/InitialsAvatarProvider.cs
Due: production

Refactoring Settings files
  GitCommands/Settings/AppSettings.cs
  Plugins/GitUIPluginInterfaces/ISettingsSource.cs
Due: production

Avatars: increase a lot perf to download avatars
  GitUI/Avatars/AvatarDownloader.cs
Due: production

Avatars: return more meaningfull author initials
  GitUI/Avatars/InitialsAvatarProvider.cs
  UnitTests/GitUI.Tests/Avatars/InitialsAvatarGeneratorTests.cs
Due: production, tests

Avatars: make that cache never expire for avatar that never changes
  GitUI/Avatars/FileSystemAvatarCache.cs
Due: production

Avatars: Perf optimization of GravatarProvider
  GitUI/Avatars/GravatarProvider.cs
Due: production

Avatars: prevent requesting the same avatar multiple times
  GitUI/Avatars/AvatarMemoryCache.cs
Due: production

Improve float setting handling
  GitCommands/Settings/AppSettings.cs
  Plugins/GitUIPluginInterfaces/ISettingsSource.cs
Due: production

Avatars: fix serialization that was broken for some avatars
  GitUI/Avatars/FileSystemAvatarCache.cs
Due: production

Avatars: saner performance default values
  GitCommands/Settings/AppSettings.cs
  GitUI/Avatars/AvatarService.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
  UnitTests/GitUI.Tests/Avatars/AvatarPersistentCacheTests.cs
Due: production, tests

Avatars: Calculate foreground color based on background color luminance
  GitCommands/Settings/AppSettings.cs
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitUI/Avatars/InitialsAvatarProvider.cs
  UnitTests/GitExtUtils.Tests/ColorTransformationTests.cs
Due: production, tests

Settings: Adjust to sentence case
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/DiffViewerSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GeneralSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.ScriptInfoProxy.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/Translation/English.Plugins.xlf
  GitUI/Translation/English.xlf
  Plugins/AutoCompileSubmodules/AutoCompileSubModulesPlugin.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
