Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

Set KeyID to load the correct key and retrieve selected KeyID
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.cs
  GitUI/UserControls/GPGSecretKeysComboboxControl.cs
Due: production

Don't store KeyID in design time
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
  GitUI/UserControls/GPGSecretKeysComboboxControl.cs
Due: production

wip check settings
  GitUI/CommandsDialogs/SettingsDialog/CheckSettingsLogic.cs
Due: production

Rename and organize
  GitUI/GitUI.csproj
  GitUI/Properties/DataSources/GitUI.UserControls.GPGSecretKeysComboboxControl+GpgKeyDisplayInfo.datasource
  GitUI/UserControls/GPGKeys/GPGKeysUIController.cs
  GitUI/UserControls/GPGKeys/GPGSecretKeysCombobox.Designer.cs
  GitUI/UserControls/GPGKeys/GPGSecretKeysCombobox.cs
  GitUI/UserControls/GPGKeys/GPGSecretKeysCombobox.resx
  GitUI/UserControls/GPGKeys/ToolStripGPGSecretKeysComboBox.cs
  GitUI/UserControls/GPGSecretKeysComboboxControl.cs
Due: production

Use GPGSecretKeysCombobox in FormCreateTag
  GitUI/CommandsDialogs/FormCreateTag.Designer.cs
  GitUI/CommandsDialogs/FormCreateTag.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/GitConfigSettingsPage.Designer.cs
Due: production

wip use GPG Dropdown in frmCommit
  GitUI/CommandsDialogs/FormCommit.Designer.cs
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

Update Translations
  GitUI/Translation/English.xlf
Due: production

Sign CLA
  contributors.txt
Due: none

Restore FileStatusList focus after GoToChild/Parent
  GitUI/CommandsDialogs/FormBrowse.cs
Due: production

Sign CLA (#8288)
  contributors.txt
Due: none

Apply also font size setting to the ConEmu popup
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
Due: production

Apply also font size setting to the ConEmu popup (#8215)
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
Due: production

Use TaskDialog from Microsoft.WindowsAPICodePack
  Bin/PSTaskDialog.dll
  GitExtensions/GitExtensions.csproj
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/InvalidRepositoryRemover.cs
  GitUI/GitUI.csproj
  GitUI/MessageBoxes.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Setup/Product.wxs
Due: production

Disable Finish button while loading branches in GitFlow form.
  Plugins/GitFlow/GitFlowForm.cs
Due: production

Customise GitHub issue templates
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update contributors.txt
  contributors.txt
Due: none

Sign CLA #8296 (#8299)
  contributors.txt
Due: none

Disable Finish button while loading branches in GitFlow form. (#8296)
  Plugins/GitFlow/GitFlowForm.cs
Due: production

fixup! Use TaskDialog from Microsoft.WindowsAPICodePack
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
Due: production

Use TaskDialog from Microsoft.WindowsAPICodePack (#8291)
  Bin/PSTaskDialog.dll
  GitExtensions/GitExtensions.csproj
  GitExtensions/Program.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormPull.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/FormStash.cs
  GitUI/CommandsDialogs/InvalidRepositoryRemover.cs
  GitUI/GitUI.csproj
  GitUI/MessageBoxes.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  Setup/Product.wxs
Due: production

Fit footer size of FormGitCommandLog to content
  GitUI/CommandsDialogs/BrowseDialog/FormGitCommandLog.Designer.cs
Due: production

Log exceptions in CommandLog
  GitCommands/Git/Executable.cs
  GitCommands/Logging/CommandLog.cs
  GitUI/Script/PowerShellHelper.cs
  GitUI/UserControls/ConsoleEmulatorOutputControl.cs
  GitUI/UserControls/EditboxBasedConsoleOutputControl.cs
Due: production

FormBrowse: Add all supported shells to the toolbar
  GitCommands/PathUtil.cs
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.cs
  GitUI/GitUI.csproj
  GitUI/MessageBoxes.cs
  GitUI/Properties/Images.Designer.cs
  GitUI/Properties/Images.resx
  GitUI/Resources/Icons/cmd.png
  GitUI/Resources/Icons/powershell.png
  GitUI/Resources/Icons/pwsh.png
  GitUI/Script/ScriptRunner.cs
  GitUI/ShellHelper.cs
  GitUI/Shells/BashShell.cs
  GitUI/Shells/CmdShell.cs
  GitUI/Shells/ConEmuControlExtensions.cs
  GitUI/Shells/IShellDescriptor.cs
  GitUI/Shells/PowerShellShell.cs
  GitUI/Shells/PwshShell.cs
  GitUI/Shells/ShellDescriptor.cs
  GitUI/Shells/ShellProvider.cs
  GitUI/Translation/English.xlf
Due: production

Remove GitModule.RunBash()
  GitCommands/Git/GitModule.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCommandlineHelp.resx
  GitUI/GitUICommands.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
Due: production, tests

fixup! Rework FormStatus, FormProgress and FormRemoteProgress
  GitUI/CommandsDialogs/BrowseDialog/FormBisect.cs
  GitUI/CommandsDialogs/FormSubmodules.cs
Due: production

fixup! Rework FormStatus, FormProgress and FormRemoteProgress
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/HelperDialogs/FormRemoteProcess.cs
  GitUI/HelperDialogs/FormStatus.cs
Due: production

Refactor: replace magic hash with variable
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererTests.cs
Due: tests

Refactor to replace magic hash string with variable (#8305)
  UnitTests/ResourceManager.Tests/CommitDataRenders/CommitDataHeaderRendererTests.cs
Due: tests

Recovery lost objects: Add a preview panel
  GitUI/CommandsDialogs/FormVerify.Designer.cs
  GitUI/CommandsDialogs/FormVerify.cs
  GitUI/CommandsDialogs/FormVerify.resx
Due: production

Enable syntax highlighting in preview panel
  GitUI/CommandsDialogs/FormVerify.cs
Due: production

Update GitUI/CommandsDialogs/BrowseDialog/FormBisect.cs
  GitUI/CommandsDialogs/BrowseDialog/FormBisect.cs
Due: production

RevDiff: Hotkey to stage/unstage/reset
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/MessageBoxes.cs
  GitUI/Translation/English.xlf
Due: production

Parse dereferenced tags
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Avoid IEnumerable<> in test case signature
  UnitTests/GitUI.Tests/Editor/FindAndReplaceFormTests.cs
Due: tests

Dialogs layout alignment - `FormInit` and `FormClone`
  GitUI/CommandsDialogs/FormClone.Designer.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormInit.Designer.cs
  GitUI/CommandsDialogs/FormInit.cs
  GitUI/GitExtensionsDialog.Designer.cs
  GitUI/GitExtensionsDialog.cs
  GitUI/GitExtensionsDialog.resx
  GitUI/GitModuleForm.cs
  GitUI/Translation/English.xlf
Due: production

Dialogs layout alignment - `FormStatus` and descendants
  GitUI/GitExtensionsDialog.Designer.cs
  GitUI/HelperDialogs/FormProcess.cs
  GitUI/HelperDialogs/FormRemoteProcess.cs
  GitUI/HelperDialogs/FormStatus.Designer.cs
  GitUI/HelperDialogs/FormStatus.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Clean up of status reporting of failed operations
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormMergeSubmodule.cs
  GitUI/CommandsDialogs/FormResolveConflicts.cs
  GitUI/HelperDialogs/FormStatus.Designer.cs
  GitUI/HelperDialogs/FormStatus.cs
  GitUI/TaskbarProgress.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
