Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

reorder colors in darksilver.css to match dark.css
  GitUI/Themes/darksilver.css
Due: production

remove unused property IsChoosingThemeVariationsEnabled
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/IColorsSettingsPage.cs
  UnitTests/GitUI.Tests/CommandsDialogs/SettingsDialog/Pages/ColorsPageSettingsPageControllerTests.cs
Due: production, tests

Support colorblind variation for default theme
  GitExtUtils/GitUI/Theming/AppColorDefaults.cs
  GitExtUtils/GitUI/Theming/Theme.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettings/ColorsSettingsPageController.cs
  GitUI/Theming/ThemeModule.cs
  UnitTests/GitUI.Tests/CommandsDialogs/SettingsDialog/Pages/ColorsPageSettingsPageControllerTests.cs
Due: production, tests

follow up Flip the colors of the branches (ce45d0)
  GitUI/Themes/bright.css
  GitUI/Themes/dark.css
  GitUI/Themes/darksilver.css
Due: production

Add Blame Settings page
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.resx
  GitUI/Translation/English.xlf
Due: production

Updated tooltip for ShowDiffForAllParents
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Updated tooltip for ShowDiffForAllParents (#9789)
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Adjust BrowseRepoSettings
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.resx
Due: production

ShowFullHistory in View menu
  GitUI/CommandsDialogs/BrowseDialog/MenuCommand.cs
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

FileSystemWatcher does not report changes in WSL
  GitCommands/PathUtil.cs
  GitCommands/Remotes/ConfigFileRemoteSettingsManager.cs
  GitCommands/Settings/FileSettingsCache.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

FileSystemWatcher does not report changes in WSL (#9798)
  GitCommands/PathUtil.cs
  GitCommands/Remotes/ConfigFileRemoteSettingsManager.cs
  GitCommands/Settings/FileSettingsCache.cs
  GitUI/CommandsDialogs/BrowseDialog/GitStatusMonitor.cs
  UnitTests/GitCommands.Tests/Helpers/PathUtilTest.cs
Due: production, tests

Decrease CustomDiffMergeToolProvider start delay (#9797)
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/CustomDiffMergeToolProvider.cs
Due: production

Adjust BrowseRepoSettings (#9800)
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.resx
Due: production

ShowFullHistory in View menu (#9803)
  GitUI/CommandsDialogs/BrowseDialog/MenuCommand.cs
  GitUI/CommandsDialogs/FormFileHistory.Designer.cs
  GitUI/CommandsDialogs/FormFileHistory.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
Due: production

Add Blame Settings page (#9801)
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.resx
  GitUI/Translation/English.xlf
Due: production

ShowSimplifyByDecoration: Not dependent on branch filter
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

ShowSimplifyByDecoration: Not dependent on branch filter (#9808)
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

Update README.md
  README.md
Due: none

Do not report Git error for a command seemingly executed in the background (#9790)
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/InteractiveGitActionControl.cs
Due: production

Blame settings: Auto size for checkboxes
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.Designer.cs
Due: production

fixup! Blame settings: Auto size for checkboxes
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.Designer.cs
Due: production

fixup! Designer suggested changes - back to 19pt
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.Designer.cs
Due: production

Blame settings: Auto size for checkboxes (#9817)
  GitUI/CommandsDialogs/SettingsDialog/Pages/BlameViewerSettingsPage.Designer.cs
Due: production

Allow move toolstrips (take 2)
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/GitExtensionsForm.cs
  GitUI/ToolStripExSettings.cs
  GitUI/ToolStripExSettingsManager.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/ToolStripEx.cs
Due: production

Handle default and invalid settings
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/ToolStripExSettingsManager.cs
Due: production

Correctly restore locations
  GitCommands/Settings/AppSettings.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/Theming/AppColorExtension.cs
  GitUI/ToolStripExSettings.cs
  GitUI/ToolStripExSettingsManager.cs
Due: production

Allow to reset toolstrips to the default layout
  GitUI/CommandsDialogs/BrowseDialog/FormBrowseMenus.cs
  GitUI/CommandsDialogs/FormBrowse.InitMenusAndToolbars.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/ToolStripExSettingsManager.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Add mnemonics to FilterToolBar
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
Due: production

fixup! Add mnemonics to FilterToolBar
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
Due: production

FormBrowse: Route hotkeys to all visible controls
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  ResourceManager/GitExtensionsControl.cs
  ResourceManager/GitExtensionsFormBase.cs
Due: production

FormCommit: Route hotkeys also to diff viewer
  GitUI/CommandsDialogs/FormCommit.cs
Due: production

FileViewer: Add hotkeys
  GitUI/Editor/FileViewer.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

AppTitle: File name in path filter first
  GitCommands/AppTitleGenerator.cs
  UnitTests/GitCommands.Tests/AppTitleGeneratorTests.cs
Due: production, tests

GitNotes: Reduce overhead when Body exists
  GitCommands/CommitDataManager.cs
  GitUI/CommitInfo/CommitInfo.cs
Due: production

GitNotes: Reduce overhead when Body exists (#9786)
  GitCommands/CommitDataManager.cs
  GitUI/CommitInfo/CommitInfo.cs
Due: production

AppTitle: File name in path filter first (#9806)
  GitCommands/AppTitleGenerator.cs
  UnitTests/GitCommands.Tests/AppTitleGeneratorTests.cs
Due: production, tests

Minor cleanup of tests
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.ReorderNodes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  UnitTests/CommonTestUtils/MEF/ExportProviderCache.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ConfiguredLinkDefinitionsProviderTests.cs
Due: tests

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
