Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

FileViewer: Display error text rather than popup
  GitUI/Editor/FileViewer.cs
Due: production

Reduce Linq overhead in ArgumentBuilder
  GitExtUtils/ArgumentBuilder.cs
Due: production

git-fetch --jobs==0 if no configuration
  GitCommands/Git/GitModule.cs
Due: production

fixup! review comment, fixed tests and adding config tests
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

FileViewer: Display error text rather than popup (#9949)
  GitUI/Editor/FileViewer.cs
Due: production

git-fetch --jobs==0 if no configuration (#9956)
  GitCommands/Git/GitModule.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
Due: production, tests

Select and filter for multiple branches and tags from repo objects tree in left panel (#9723)
  GitUI/BranchTreePanel/ContextMenu/ContextMenuExtensions.cs
  GitUI/BranchTreePanel/ContextMenu/LocalBranchMenuItems.cs
  GitUI/BranchTreePanel/Interfaces/IGitRefActions.cs
  GitUI/BranchTreePanel/NodeExtensions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.BaseBranchLeafNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.BaseBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.BranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Designer.cs
  GitUI/BranchTreePanel/RepoObjectsTree.LocalBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.NodeBase.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Submodules.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.RemoteBranchTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.resx
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/UserScriptContextMenuExtensions.cs
  GitUI/Translation/English.xlf
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  UnitTests/GitUI.Tests/BranchTreePanel/GitRefMenuItemsTest.cs
Due: production, tests

Ensure commit message textbox is visible
  GitUI/CommitInfo/CommitInfo.cs
Due: production

Ensure commit message textbox is visible (#9962)
  GitUI/CommitInfo/CommitInfo.cs
Due: production

Migrates FabricBot automation to "Config-as-Code"
  .github/fabricbot.json
Due: none

Remove designer-specific workarounds
  GitUI/CommandsDialogs/FormCheckoutBranch.Designer.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.resx
  GitUI/CommandsDialogs/FormClone.Designer.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormClone.resx
  GitUI/CommandsDialogs/FormCreateBranch.Designer.cs
  GitUI/CommandsDialogs/FormCreateBranch.cs
  GitUI/CommandsDialogs/FormCreateBranch.resx
  GitUI/CommandsDialogs/FormDeleteBranch.Designer.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.Designer.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.resx
  GitUI/CommandsDialogs/FormInit.Designer.cs
  GitUI/CommandsDialogs/FormInit.cs
  GitUI/CommandsDialogs/FormInit.resx
  GitUI/HelperDialogs/FormStatus.Designer.cs
  GitUI/HelperDialogs/FormStatus.cs
  GitUI/HelperDialogs/FormStatus.resx
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

Migrates FabricBot automation to "Config-as-Code" (#9963)
  .github/fabricbot.json
Due: none

Remove designer-specific workarounds (#9965)
  GitUI/CommandsDialogs/FormCheckoutBranch.Designer.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.resx
  GitUI/CommandsDialogs/FormClone.Designer.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormClone.resx
  GitUI/CommandsDialogs/FormCreateBranch.Designer.cs
  GitUI/CommandsDialogs/FormCreateBranch.cs
  GitUI/CommandsDialogs/FormCreateBranch.resx
  GitUI/CommandsDialogs/FormDeleteBranch.Designer.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.Designer.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.cs
  GitUI/CommandsDialogs/FormDeleteRemoteBranch.resx
  GitUI/CommandsDialogs/FormInit.Designer.cs
  GitUI/CommandsDialogs/FormInit.cs
  GitUI/CommandsDialogs/FormInit.resx
  GitUI/HelperDialogs/FormStatus.Designer.cs
  GitUI/HelperDialogs/FormStatus.cs
  GitUI/HelperDialogs/FormStatus.resx
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.Designer.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
Due: production

Fix FormCreateBranch layout
  GitUI/CommandsDialogs/FormCreateBranch.Designer.cs
  GitUI/CommandsDialogs/FormCreateBranch.cs
Due: production

fixup! Fix FormCreateBranch layout
  GitUI/CommandsDialogs/FormClone.Designer.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormCreateBranch.cs
  GitUI/CommandsDialogs/FormDeleteBranch.Designer.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/GitExtensionsDialog.cs
Due: production

moved types into separate files (copying original to have git track the move)
  GitUI/BranchTreePanel/RepoObjectsTree.DummyNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Node.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SubmoduleFolderNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SubmoduleNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.TagNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Tree.cs
Due: production

renamed files to match class names
  GitUI/BranchTreePanel/RepoObjectsTree.SubmoduleTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.TagTree.cs
Due: production

cleaned up
  GitUI/BranchTreePanel/RepoObjectsTree.DummyNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Node.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SubmoduleFolderNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SubmoduleNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.TagNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Tree.cs
Due: production

More xml-related fixes
  GitCommands/ExternalLinks/ExternalLinksStorage.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Script/ScriptManager.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptManagerTests.Can_save_settings.approved.txt
  IntegrationTests/UI.IntegrationTests/Script/ScriptManagerTests.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinksStorageIntegrationTests.Can_save_settings.approved.xml
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinksStorageIntegrationTests.cs
  UnitTests/GitUI.Tests/Hotkey/HotkeySettingsManagerTests.Can_save_settings.approved.txt
  UnitTests/GitUI.Tests/Hotkey/HotkeySettingsManagerTests.cs
Due: production, tests

fixup! More xml-related fixes
  GitUI/Script/ScriptManager.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptManagerTests.cs
Due: production, tests

Left panel: split up large code files (#9967)
  GitUI/BranchTreePanel/RepoObjectsTree.DummyNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Node.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SubmoduleFolderNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SubmoduleNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.SubmoduleTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.TagNode.cs
  GitUI/BranchTreePanel/RepoObjectsTree.TagTree.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Tree.cs
Due: production

More xml-related fixes (#9968)
  GitCommands/ExternalLinks/ExternalLinksStorage.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
  GitUI/Script/ScriptManager.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptManagerTests.Can_save_settings.approved.txt
  IntegrationTests/UI.IntegrationTests/Script/ScriptManagerTests.cs
  IntegrationTests/UI.IntegrationTests/Script/ScriptRunnerTests.cs
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinksStorageIntegrationTests.Can_save_settings.approved.xml
  UnitTests/GitCommands.Tests/ExternalLinks/ExternalLinksStorageIntegrationTests.cs
  UnitTests/GitUI.Tests/Hotkey/HotkeySettingsManagerTests.Can_save_settings.approved.txt
  UnitTests/GitUI.Tests/Hotkey/HotkeySettingsManagerTests.cs
Due: production, tests

Correct label alignment
  GitUI/CommandsDialogs/FormPush.Designer.cs
  GitUI/CommandsDialogs/FormPush.resx
Due: production

fixup! Correct label alignment
  GitUI/CommandsDialogs/FormPush.Designer.cs
Due: production

Fix FormCreateBranch layout (#9961)
  GitUI/CommandsDialogs/FormClone.Designer.cs
  GitUI/CommandsDialogs/FormClone.cs
  GitUI/CommandsDialogs/FormCreateBranch.Designer.cs
  GitUI/CommandsDialogs/FormCreateBranch.cs
  GitUI/CommandsDialogs/FormDeleteBranch.Designer.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/GitExtensionsDialog.cs
Due: production

Correct label alignment (#9960)
  GitUI/CommandsDialogs/FormPush.Designer.cs
  GitUI/CommandsDialogs/FormPush.resx
Due: production

Make SetDiffsAsync cancellable
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

fixup! Replace ShortcutKeys Ctrl+F with Hotkeys
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
Due: production

CommitInfo: Pragmatic workaround for "[Show all]"
  GitUI/CommitInfo/CommitInfo.cs
Due: production

React to link clicks in RTB
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/CommitInfoHeader.cs
  GitUI/Editor/RichTextBoxXhtmlSupportExtension.cs
Due: production

Clean up ILinkFactory API surface
  GitUI/CommitInfo/CommitInfo.cs
  ResourceManager/LinkFactory.cs
  UnitTests/ResourceManager.Tests/LinkFactoryTests.cs
Due: production, tests

Add tests
  GitUI/CommitInfo/CommitInfo.Designer.cs
  GitUI/CommitInfo/CommitInfo.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.ReorderNodes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockAppTitleGenerator.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockLinkFactory.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_handle_ShowAll_branches_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_handle_ShowAll_tags_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_render_links_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
  ResourceManager/LinkFactory.cs
  UnitTests/GitUI.Tests/TranslationTest.cs
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
Due: production, tests

fixup!
  GitExtensions/Program.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  TranslationApp/Program.cs
Due: tests

fixup! Add tests
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_handle_ShowAll_branches_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_handle_ShowAll_tags_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_render_links_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
Due: tests

Make SetDiffsAsync cancellable (#9970)
  GitCommands/Git/GitModule.cs
  GitUI/UserControls/FileStatusDiffCalculator.cs
  GitUI/UserControls/FileStatusList.cs
Due: production

Replace `ShortcutKeys` `Ctrl+F` with Hotkeys (#9931)
  GitUI/BranchTreePanel/RepoObjectsTree.Command.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/RevisionDiffControl.Designer.cs
  GitUI/CommandsDialogs/RevisionDiffControl.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.Designer.cs
  GitUI/CommandsDialogs/RevisionFileTreeControl.cs
  GitUI/Editor/FileViewer.Designer.cs
  GitUI/Editor/FileViewer.cs
  GitUI/Hotkey/HotkeySettingsManager.cs
Due: production

fixup!
  GitExtensions/Program.cs
Due: none

fixup! React to link clicks in RTB
  GitUI/CommitInfo/CommitInfo.cs
Due: production

CommitInfo: Workaround for `Show all tags` (#9943)
  GitExtensions/Program.cs
  GitUI/CommitInfo/CommitInfo.Designer.cs
  GitUI/CommitInfo/CommitInfo.cs
  GitUI/CommitInfo/CommitInfoHeader.cs
  GitUI/Editor/RichTextBoxXhtmlSupportExtension.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Remotes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.ReorderNodes.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.Submodules.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowse.LeftPanelTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockAppTitleGenerator.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/Mocks/MockLinkFactory.cs
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/SplitterPersistenceTests.cs
  IntegrationTests/UI.IntegrationTests/GitUICommands/RunCommandTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_handle_ShowAll_branches_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_handle_ShowAll_tags_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.ReloadCommitInfo_should_render_links_correctly.approved.txt
  IntegrationTests/UI.IntegrationTests/UserControls/CommitInfo/CommitInfoTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
  ResourceManager/LinkFactory.cs
  TranslationApp/Program.cs
  UnitTests/GitUI.Tests/TranslationTest.cs
  UnitTests/GitUI.Tests/UserControls/BlameControlTests.cs
  UnitTests/ResourceManager.Tests/LinkFactoryTests.cs
Due: production, tests

renamed files dropping prefixes
  GitUI/BranchTreePanel/BaseBranchLeafNode.cs
  GitUI/BranchTreePanel/BaseBranchNode.cs
  GitUI/BranchTreePanel/BasePathNode.cs
  GitUI/BranchTreePanel/BranchPathNode.cs
  GitUI/BranchTreePanel/BranchTree.cs
  GitUI/BranchTreePanel/DummyNode.cs
  GitUI/BranchTreePanel/LocalBranchNode.cs
  GitUI/BranchTreePanel/Node.cs
  GitUI/BranchTreePanel/NodeBase.cs
  GitUI/BranchTreePanel/Nodes.cs
  GitUI/BranchTreePanel/RemoteBranchNode.cs
  GitUI/BranchTreePanel/RemoteBranchTree.cs
  GitUI/BranchTreePanel/RemoteRepoFolderNode.cs
  GitUI/BranchTreePanel/RemoteRepoNode.cs
  GitUI/BranchTreePanel/SubmoduleFolderNode.cs
  GitUI/BranchTreePanel/SubmoduleNode.cs
  GitUI/BranchTreePanel/SubmoduleTree.cs
  GitUI/BranchTreePanel/TagNode.cs
  GitUI/BranchTreePanel/TagTree.cs
  GitUI/BranchTreePanel/Tree.cs
Due: production

Path conditions:
  production: any of: GitCommands/, GitExtUtils/, GitUI/, NetSpell.SpellChecker/, Plugins/, ResourceManager/
  tests: any of: UnitTests/, IntegrationTests/
