Repository gitextensions/gitextensions: changes, and which Codecov flags are due for each by the changed paths.
All: production, tests

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff,flags"

flags:
  production:
    paths:
      - GitCommands/
      - GitExtUtils/
      - GitUI/
      - NetSpell.SpellChecker/
      - Plugins/
      - ResourceManager/
  tests:
    paths:
      - UnitTests/
      - IntegrationTests/

squash! No revision filter search when changing filter selection
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Due: production

Fix search not launching/working when changing filter selection (#10127)
  GitUI/Translation/English.xlf
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Due: production, tests

Set RuntimeFrameworkVersion for DotnetRuntimeBootstrapper (#10154)
  Packages.props
  scripts/RepoLayout.props
Due: none

Settings: Don't clear setting search when leaving the search box
  GitUI/CommandsDialogs/SettingsDialog/SettingsTreeViewUserControl.cs
Due: production

Settings: Translate "Type to find" string
  GitUI/CommandsDialogs/SettingsDialog/SettingsTreeViewUserControl.cs
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Settings: Replace custom place holder by new native `PlaceholderText`
  GitUI/CommandsDialogs/SettingsDialog/SettingsTreeViewUserControl.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsTreeViewUserControl.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsTreeViewUserControl.resx
Due: production

Settings: Optimize search
  GitUI/CommandsDialogs/SettingsDialog/SettingsPageBase.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsTreeViewUserControl.cs
Due: production

FormStash: Display index of stashes
  GitCommands/Git/GitStash.cs
  GitUI/CommandsDialogs/FormStash.cs
Due: production

Insert artificial commits if filter without any matches is applied
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

RevGrid: Custom tools were only loaded at settings changes
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Sign CLA
  contributors.txt
Due: none

Do not call DoDragDrop when mouse is up (#10153)
  GitUI/UserControls/FileStatusList.Designer.cs
  GitUI/UserControls/FileStatusList.cs
  contributors.txt
Due: production

fixup! Sidepanel: Keep revisions opening a new instance
  GitUI/BranchTreePanel/SubmoduleNode.cs
  GitUI/GitUICommands.cs
Due: production

fixup! Insert artificial commits if filter without any matches is applied
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Show tags by default in side panel (#10117)
  GitCommands/Settings/AppSettings.cs
  UnitTests/GitCommands.Tests/Settings/AppSettingsTests.cs
Due: production, tests

FormDiff: Show range diff with set merge base (#10118)
  GitUI/CommandsDialogs/FormDiff.cs
Due: production

FormDiff: Rename base->first, head->second
  GitUI/CommandsDialogs/FormDiff.Designer.cs
  GitUI/CommandsDialogs/FormDiff.cs
  GitUI/Translation/English.xlf
Due: production

FormStash: Display index of stashes (#10161)
  GitCommands/Git/GitStash.cs
  GitUI/CommandsDialogs/FormStash.cs
Due: production

Reword/Edit: Rebase on actual parent (#10149)
  GitUI/UserControls/BlameControl.cs
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

RevGrid: Custom tools were only loaded at settings changes (#10164)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Insert artificial commits if filter without any matches is applied (#10163)
  GitUI/UserControls/RevisionGrid/RevisionGridControl.cs
Due: production

Settings: Don't clear setting search when leaving the search box
  GitUI/CommandsDialogs/SettingsDialog/SettingsTreeViewUserControl.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsTreeViewUserControl.cs
  GitUI/CommandsDialogs/SettingsDialog/SettingsTreeViewUserControl.resx
  GitUI/TranslatedStrings.cs
  GitUI/Translation/English.xlf
Due: production

Set branchfilter from sidepanel without checking dropdown
  GitUI/UserControls/FilterToolBar.cs
Due: production

Tests: Disable some commonly failed tests
  IntegrationTests/UI.IntegrationTests/CommandsDialogs/FormBrowseTests.cs
  IntegrationTests/UI.IntegrationTests/UserControls/RevisionGrid/RevisionGridControlTests.cs
Due: tests
